.sp-darkblue {
    background: #304269;
}

.sp-darkblue-text {
    color: #304269;
}

.sp-darkblue-border {
    border: 1px solid #304269;
}

.sp-gray-border {
    border: 1px solid #cccccc;
}

.sp-blue {
    color: #6DA9E4;
}

.sp-blue-bg {
    background: #6DA9E4;
}

.sp-blue-border {
    border: 1px solid #6DA9E4;
    padding-top:20px;
    padding-bottom:20px;
}

.sp-blue-border-nopadding {
    border: 1px solid #6DA9E4;
}

.sp-lightblue {
    color: #D9E8F5;
}

.sp-white {
    color:#FFFFFF;
}

.sp-green {
    color: #00CC87;
}

.sp-darkgreen {
    color: #007F54;
}

.sp-accent {
    color: rgb(255,64,129);
}

.sp-accent-bg {
    background: rgb(255,64,129);
}

.sp-accent-light {
    color: #DF5A49;
}