.sp-darkblue {
    background: #0A3F54;
}

.sp-darkblue-text {
    color: #0A3F54;
}

.sp-darkblue-border {
    border: 1px solid #0A3F54;
}

.sp-blue-100-border {
    border: 2px solid rgb(63,81,181);
}


.sp-gray-border {
    border: 1px solid #cccccc;
}

.sp-blue {
    color: #4386A0;
}

.sp-blue-bg {
    background: #4386A0;
}

.sp-blue-border {
    border: 1px solid #4386A0;
    padding-top:20px;
    padding-bottom:20px;
    background: #FAFAFA;
}

.sp-blue-border-nopadding {
    border: 1px solid #4386A0;
}

.sp-lightblue {
    color: #D9E8F5;
}

.sp-white {
    color:#FFFFFF;
}

.sp-green {
    color: #39b54a;
}

.sp-darkgreen {
    color: #007F54;
}

.sp-accent {
    color: rgb(255,64,129);
}

.sp-accent-bg {
    background: rgb(255,64,129);
}

.sp-accent-light {
    color: #DF5A49;
}