.sp-darkblue {
    background: #304269;
}

.sp-blue {
    color: #91BED4;
}

.sp-blue-bg {
    background: #91BED4;
}

.sp-lightblue {
    color: #D9E8F5;
}

.sp-white {
    color:#FFFFFF;
}

.sp-green {
    color: #00CC87;
}

.sp-darkgreen {
    color: #007F54;
}

.sp-accent {
    color: #CC2800;
}

.sp-accent-light {
    color: #DF5A49;
}