<div flex class="page-container" ng-controller="EditorCtrl as ctrl">
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">

        <div layout-fill>
            <md-tabs md-dynamic-height md-border-bottom md-selected="ctrl.selectedTab">

                <md-tab ng-repeat="tab in ctrl.tabs"
                        label="{{tab.title}}"
                        md-on-select="ctrl.loadCurrentElements(tab.type)">
                    <md-tab-label>
                        {{tab.title}}
                        <md-icon md-svg-icon="navigation:ic_arrow_forward_24px"></md-icon>
                    </md-tab-label>

                </md-tab>

            </md-tabs>
        </div>
        <div flex="30" layout="row" layout-align="end center"
             style="padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
            <md-button class="md-icon-button" ng-show="!ctrl.minimizedEditorStand" ng-click="ctrl.toggleEditorStand()">
                <i class="material-icons" style="color: rgb(63,81,181);">arrow_drop_up</i>
                <md-tooltip md-direction="top">
                    Hide
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-show="ctrl.minimizedEditorStand" ng-click="ctrl.toggleEditorStand()">
                <i class="material-icons" style="color: rgb(63,81,181);">arrow_drop_down</i>
                <md-tooltip md-direction="top">
                    Show
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <div ng-show="!ctrl.minimizedEditorStand" style="background-color:#f6f6f6;padding:0px;border-bottom:1px solid #ccc">
        <pipeline-element-icon-stand active-type="ctrl.activeType" current-elements="ctrl.currentElements"></pipeline-element-icon-stand>
    </div>
    <pipeline-assembly pipeline-model="ctrl.pipelineModel" all-elements="ctrl.allElements"></pipeline-assembly>
</div>
