<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div *ngIf="!staticProperty.horizontalRendering" fxLayout="column">
    <sp-app-static-property
        *ngFor="let property of staticProperty.staticProperties; let i = index"
        [adapterId]="adapterId"
        [parentForm]="parentForm"
        [staticProperties]="staticProperties"
        [fieldName]="fieldName + '-' + property.internalName + '-' + i"
        [showBorder]="false"
        [eventSchemas]="eventSchemas"
        [staticProperty]="property"
        [displayRecommended]="displayRecommended"
        (updateEmitter)="handleConfigurationUpdate($event)"
        class="test fullWidth"
    >
    </sp-app-static-property>
</div>

<div
    *ngIf="staticProperty.horizontalRendering"
    fxLayout="row"
    fxLayoutAlign="space-between center"
>
    <ng-container
        *ngFor="let property of staticProperty.staticProperties; let i = index"
    >
        <span *ngIf="i > 0" style="margin-left: 10px"></span>
        <sp-app-static-property
            [adapterId]="adapterId"
            [parentForm]="parentForm"
            [staticProperties]="staticProperties"
            [showBorder]="false"
            [fieldName]="fieldName + '-' + property.internalName + '-' + i"
            [eventSchemas]="eventSchemas"
            [staticProperty]="property"
            [displayRecommended]="displayRecommended"
            class="test fullWidth"
        >
        </sp-app-static-property>
    </ng-container>
</div>
