<div flex="100" fxLayout="row">
    <dashboard-status-filled fxFlex="25" [label]="'Shipped'" [statusValue]="shippedTime"
                             [color]="'rgb(156, 156, 156)'"></dashboard-status-filled>
    <dashboard-status-filled fxFlex="25" [label]="'Delivered'" [statusValue]="deliveredTime"
                             [color]="'rgb(156, 156, 156)'"></dashboard-status-filled>
    <dashboard-status-filled fxFlex="25" [label]="'Took'" [statusValue]="tookTime"
                             [color]="'rgb(156, 156, 156)'"></dashboard-status-filled>
    <dashboard-status-filled fxFlex="25"[label]="'Status'" [statusValue]="'OK'" [color]="'green'"></dashboard-status-filled>
</div>