<div flex="100" fxLayout="row">
    <dashboard-status-filled fxFlex="25" [label]="'Shipped'" [statusValue]="'13:06:59'"
                             [color]="'rgb(156, 156, 156)'"></dashboard-status-filled>
    <dashboard-status-filled fxFlex="25" [label]="'Delivered'" [statusValue]="'13:08:59'"
                             [color]="'rgb(156, 156, 156)'"></dashboard-status-filled>
    <dashboard-status-filled fxFlex="25" [label]="'Time'" [statusValue]="'120 sec'"
                             [color]="'rgb(156, 156, 156)'"></dashboard-status-filled>
    <dashboard-status-filled fxFlex="25"[label]="'Status'" [statusValue]="'OK'" [color]="'green'"></dashboard-status-filled>
</div>