<div fxLayout="column" fxLayoutAlign="space-evenly stretched" >
  <ul id="event-property-list-id" style="min-height: 50px;" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="row-border" attr.id="{{property.runTimeName}}" *ngFor="let property of eventProperties; let i=index">
      <div class="schema"  *ngIf="isEventPropertyNested(property)">
        <!--placeholder for nested-properties-->
        <app-event-property-nested [index]="i + 1"
                                   [eventPropertyNested]="property"
                                   [domainPropertyGuess]="getDomainProbability(property.runTimeName)"
                                   [domainPropertyGuesses]="domainPropertyGuesses"
                                   [isEditable]="isEditable"
                                   (delete)=deletePropertyNested($event)></app-event-property-nested>
      </div>
      <div *ngIf="isEventPropertyPrimitive(property)">
        <app-event-property-primitive (delete)=deletePropertyPrimitive($event)
                                      (addPrimitive)="addStaticValueProperty($event)"
                                      [domainPropertyGuess]="getDomainProbability(property.runTimeName)"
                                      [isEditable]="isEditable"
                                      [property]="property">
        </app-event-property-primitive>
      </div>
      <div *ngIf="isEventPropertyList(property)">
        <app-event-property-list (delete)=deletePropertyList($event)
                                      [isEditable]="isEditable"
                                      [property]="property">
        </app-event-property-list>
      </div>
      <!--<app-event-propoerty-list (delete)=// deleteProperty($event)-->
      <!--[eventPropertyList]="property"-->
      <!--[index]="i + 1"></app-event-propoerty-list>-->
      <!--</div>-->
    </div>
  </ul>
  <div fxFlexAlign="start" class="addSchema">
    <button [disabled]="!isEditable" color="primary" mat-button (click)=addNestedProperty()>
      <mat-icon matTooltip="Add a Nested Property">queue</mat-icon>
    </button>
    <button [disabled]="!isEditable" *ngIf="!eventPropertyNested" color="primary" mat-button (click)="addStaticValueProperty()">
      <mat-icon matTooltip="Add a static value to event">add</mat-icon>
    </button>
    <button [disabled]="!isEditable"  *ngIf="!eventPropertyNested" color="primary" mat-button (click)=addTimestampProperty()>
      <mat-icon matTooltip="Add timestamp to event schema">access_time</mat-icon>
    </button>
    <!-- <button mat-button (click)=addListProperty()>
      <mat-icon matTooltip="add listproperty">save</mat-icon>
    </button> -->

  </div>
</div>
