<div fxLayout="column" fxLayoutAlign="space-evenly stretched" >
  <ul style="min-height: 50px;" [dragula]='"event-property-bag"'[dragulaModel]='eventProperties' [dragulaOptions]="dragularOptions">
    <div *ngFor="let property of eventProperties; let i=index">
      <div class="schema"  *ngIf="isEventPropertyNested(property)">
         <!--placeholder for nested-properties-->
        <app-event-property-nested [index]="i + 1"
                                   [eventPropertyNested]="property"
                                   (delete)=deleteProperty($event)></app-event-property-nested>
      </div>
      <div *ngIf="isEventPropertyPrimitive(property)">
        <!-- placeholder for event-properties -->
        <app-event-property-primitive (delete)=deleteProperty($event)
                                      (addPrimitive)=addPrimitiveProperty($event)
                                      [property]="property">
        </app-event-property-primitive>
      </div>
      <!--<div *ngIf="isEventPropertyList(property)">-->
        <!--<app-event-propoerty-list (delete)=// deleteProperty($event)-->
                                  <!--[eventPropertyList]="property"-->
                                  <!--[index]="i + 1"></app-event-propoerty-list>-->
      <!--</div>-->
    </div>
  </ul>
  <div fxFlexAlign="start">
    <button mat-button (click)=addNestedProperty()>
      <mat-icon matTooltip="add nested property">queue</mat-icon>
    </button>
    <button mat-button (click)=addPrimitiveProperty()>
      <mat-icon matTooltip="add primitive property">add</mat-icon>
    </button>
    <button mat-button (click)=addListProperty()>
      <mat-icon matTooltip="add listproperty">save</mat-icon>
    </button>

  </div>
</div>
