<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div
    fxLayout="column"
    fxFlex="100"
    [ngStyle]="{
        background: dataExplorerWidget.baseAppearanceConfig.backgroundColor,
        color: dataExplorerWidget.baseAppearanceConfig.textColor,
    }"
>
    @if (showNoDataInDateRange) {
        <sp-no-data-in-date-range [viewDateRange]="timeSettings" class="h-100">
        </sp-no-data-in-date-range>
    }

    @if (showTooMuchData) {
        <sp-too-much-data
            [amountOfEvents]="amountOfTooMuchEvents"
            (loadDataWithTooManyEventsEmitter)="loadDataWithTooManyEvents()"
            class="h-100"
        >
        </sp-too-much-data>
    }

    @if (showData) {
        <div class="analytics-table-shell" fxLayout="column" fxFlex>
            <div class="analytics-table-scroll" fxFlex>
                <table data-cy="data-explorer-table" class="analytics-table">
                    <thead>
                        <tr>
                            @for (
                                column of columnNames;
                                track trackColumn($index, column)
                            ) {
                                <th
                                    [ngClass]="{
                                        'time-column': column === 'time',
                                        'numeric-cell': isNumericColumn(column),
                                        'highlighted-column':
                                            isHighlightedColumn(column),
                                    }"
                                >
                                    <button
                                        type="button"
                                        class="sort-trigger"
                                        (click)="sortBy(column)"
                                    >
                                        <span>
                                            @if (column === 'time') {
                                                {{ 'Time' | translate }}
                                            } @else {
                                                {{ headerLabel(column) }}
                                            }
                                        </span>
                                        <mat-icon class="sort-icon">
                                            {{ sortIcon(column) }}
                                        </mat-icon>
                                    </button>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (pagedRows.length > 0) {
                            @for (
                                row of pagedRows;
                                track trackRow($index, row)
                            ) {
                                <tr>
                                    @for (
                                        column of columnNames;
                                        track trackColumn($index, column)
                                    ) {
                                        <td
                                            [ngClass]="{
                                                'time-column':
                                                    column === 'time',
                                                'numeric-cell':
                                                    isNumericColumn(column),
                                                'highlighted-column':
                                                    isHighlightedColumn(column),
                                            }"
                                            [ngStyle]="
                                                getCellStyle(row, column)
                                            "
                                            [attr.data-cy]="
                                                column === 'time'
                                                    ? 'data-explorer-table-row-timestamp'
                                                    : 'data-explorer-table-row-' +
                                                      column
                                            "
                                        >
                                            @if (column === 'time') {
                                                {{
                                                    row[column]
                                                        | date
                                                            : 'yyyy-MM-dd HH:mm:ss.SSS'
                                                }}
                                            } @else {
                                                {{
                                                    formatCellValue(
                                                        column,
                                                        row[column]
                                                    )
                                                }}
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        } @else {
                            <tr>
                                <td
                                    class="table-empty-row"
                                    [attr.colspan]="columnNames.length"
                                >
                                    {{
                                        'No table rows match the current filter.'
                                            | translate
                                    }}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <mat-paginator
                color="accent"
                [length]="filteredRows.length"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                [showFirstLastButtons]="true"
                aria-label="Select page"
                (page)="onPage($event)"
            >
            </mat-paginator>
        </div>
    }
</div>
