<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div
    fxLayout="column"
    fxFlex="100"
    [ngStyle]="{
        background: dataExplorerWidget.baseAppearanceConfig.backgroundColor,
        color: dataExplorerWidget.baseAppearanceConfig.textColor,
        position: 'relative',
    }"
>
    @if (showNoDataInDateRange) {
        <sp-no-data-in-date-range [viewDateRange]="timeSettings" class="h-100">
        </sp-no-data-in-date-range>
    }

    @if (showTooMuchData) {
        <sp-too-much-data
            [amountOfEvents]="amountOfTooMuchEvents"
            (loadDataWithTooManyEventsEmitter)="loadDataWithTooManyEvents()"
            class="h-100"
        >
        </sp-too-much-data>
    }

    @if (showData) {
        <div class="analytics-table-shell" fxLayout="column" fxFlex>
            <div class="analytics-table-scroll" fxFlex>
                <table
                    data-cy="data-explorer-table"
                    class="analytics-table"
                    [ngClass]="{
                        'sticky-headers':
                            dataExplorerWidget.visualizationConfig
                                .stickyHeaders,
                    }"
                >
                    <thead>
                        <tr
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            [cdkDropListDisabled]="!editMode"
                            [cdkDropListData]="getReorderableColumnNames()"
                            (cdkDropListDropped)="dropSelectedColumn($event)"
                        >
                            @for (
                                column of columnNames;
                                track trackColumn($index, column)
                            ) {
                                <th
                                    cdkDrag
                                    cdkDragLockAxis="x"
                                    [cdkDragData]="column"
                                    [cdkDragDisabled]="
                                        !editMode ||
                                        !isReorderableColumn(column)
                                    "
                                    [ngClass]="{
                                        'time-column': column === 'time',
                                        'numeric-cell': isNumericColumn(column),
                                        'reorderable-column':
                                            isReorderableColumn(column),
                                        'highlighted-column':
                                            isHighlightedColumn(column),
                                    }"
                                >
                                    <div class="th-inner">
                                        <button
                                            type="button"
                                            class="sort-trigger"
                                            (click)="sortBy(column)"
                                        >
                                            <span>
                                                @if (column === 'time') {
                                                    {{ 'Time' | translate }}
                                                } @else {
                                                    {{ headerLabel(column) }}
                                                }
                                            </span>
                                            <mat-icon class="sort-icon">
                                                {{ sortIcon(column) }}
                                            </mat-icon>
                                        </button>
                                        <button
                                            type="button"
                                            class="column-filter-trigger"
                                            [attr.data-cy]="
                                                'column-filter-trigger-' +
                                                column
                                            "
                                            [ngClass]="{
                                                'filter-active':
                                                    hasActiveFilter(column),
                                                'filter-open':
                                                    isColumnFilterOpen(column),
                                            }"
                                            (click)="
                                                toggleColumnFilter(
                                                    column,
                                                    $event
                                                )
                                            "
                                        >
                                            <mat-icon
                                                class="column-filter-icon"
                                            >
                                                filter_list
                                            </mat-icon>
                                        </button>
                                        @if (
                                            editMode &&
                                            isReorderableColumn(column)
                                        ) {
                                            <button
                                                type="button"
                                                class="column-drag-trigger"
                                                cdkDragHandle
                                                [attr.aria-label]="
                                                    'Reorder ' +
                                                        headerLabel(column)
                                                        | translate
                                                "
                                                (click)="
                                                    $event.stopPropagation()
                                                "
                                            >
                                                <mat-icon
                                                    class="column-drag-icon"
                                                >
                                                    drag_indicator
                                                </mat-icon>
                                            </button>
                                        }
                                    </div>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (pagedRows.length > 0) {
                            @for (
                                row of pagedRows;
                                track trackRow($index, row)
                            ) {
                                <tr>
                                    @for (
                                        column of columnNames;
                                        track trackColumn($index, column)
                                    ) {
                                        <td
                                            [ngClass]="{
                                                'time-column':
                                                    column === 'time',
                                                'numeric-cell':
                                                    isNumericColumn(column),
                                                'highlighted-column':
                                                    isHighlightedColumn(column),
                                            }"
                                            [ngStyle]="
                                                getCellStyle(row, column)
                                            "
                                            [attr.data-cy]="
                                                column === 'time'
                                                    ? 'data-explorer-table-row-timestamp'
                                                    : 'data-explorer-table-row-' +
                                                      column
                                            "
                                        >
                                            @if (column === 'time') {
                                                {{
                                                    row[column]
                                                        | date
                                                            : 'yyyy-MM-dd HH:mm:ss.SSS'
                                                }}
                                            } @else {
                                                {{
                                                    formatDisplayCellValue(
                                                        column,
                                                        row[column]
                                                    )
                                                }}
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        } @else {
                            <tr>
                                <td
                                    class="table-empty-row"
                                    [attr.colspan]="columnNames.length"
                                >
                                    {{
                                        'No table rows match the current filter.'
                                            | translate
                                    }}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <mat-paginator
                data-cy="data-explorer-table-paginator"
                color="accent"
                [length]="filteredRows.length"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                [showFirstLastButtons]="true"
                aria-label="Select page"
                (page)="onPage($event)"
            >
            </mat-paginator>
        </div>
    }
    @if (openFilterColumn) {
        <div
            class="column-filter-dropdown"
            [ngStyle]="dropdownStyle"
            (click)="onFilterDropdownClick($event)"
        >
            @if (hasActiveFilter(openFilterColumn)) {
                <button
                    type="button"
                    class="clear-filter-btn"
                    (click)="clearColumnFilter(openFilterColumn)"
                >
                    <mat-icon class="clear-filter-icon"
                        >filter_list_off</mat-icon
                    >
                    Clear Filter
                </button>
            }
            <button
                type="button"
                class="advanced-filter-btn"
                data-cy="column-advanced-filter-expand-btn"
                (click)="toggleAdvancedPanel(openFilterColumn, $event)"
            >
                {{ getAdvancedFilterLabel(openFilterColumn) }}
                <mat-icon class="advanced-arrow-icon">{{
                    showAdvancedPanel === openFilterColumn
                        ? 'expand_more'
                        : 'chevron_right'
                }}</mat-icon>
            </button>
            @if (showAdvancedPanel === openFilterColumn) {
                <div class="advanced-filter-panel">
                    <div class="advanced-filter-options">
                        @for (
                            opt of getAdvancedFilterOptions(openFilterColumn);
                            track opt
                        ) {
                            <button
                                type="button"
                                class="advanced-option-btn"
                                [ngClass]="{
                                    'advanced-option-selected':
                                        selectedAdvancedType === opt,
                                }"
                                (click)="selectAdvancedType(opt)"
                            >
                                {{ opt }}
                            </button>
                        }
                    </div>
                    @if (selectedAdvancedType) {
                        <div class="advanced-filter-inputs">
                            @if (needsInput(selectedAdvancedType)) {
                                <div
                                    [class.ts-mask-wrapper]="
                                        openFilterColumn === 'time'
                                    "
                                >
                                    @if (openFilterColumn === 'time') {
                                        <div
                                            class="ts-overlay"
                                            aria-hidden="true"
                                        >
                                            <span>{{
                                                getTimestampTyped(
                                                    advancedInputValue
                                                )
                                            }}</span
                                            ><span class="ts-faded">{{
                                                getTimestampTemplate(
                                                    advancedInputValue
                                                )
                                            }}</span>
                                        </div>
                                    }
                                    <input
                                        type="text"
                                        [class]="
                                            openFilterColumn === 'time'
                                                ? 'advanced-input ts-input'
                                                : 'advanced-input'
                                        "
                                        title="Filter value"
                                        [placeholder]="
                                            openFilterColumn === 'time'
                                                ? ''
                                                : 'Value...'
                                        "
                                        [ngModel]="advancedInputValue"
                                        (input)="
                                            openFilterColumn === 'time'
                                                ? onTimestampInput(
                                                      'value',
                                                      $event
                                                  )
                                                : null
                                        "
                                        (ngModelChange)="
                                            openFilterColumn !== 'time'
                                                ? (advancedInputValue = $event)
                                                : null
                                        "
                                        (mousedown)="
                                            openFilterColumn === 'time'
                                                ? repositionToEnd($event)
                                                : null
                                        "
                                        (click)="$event.stopPropagation()"
                                        (keydown)="
                                            onAdvancedInputKeydown(
                                                $event,
                                                openFilterColumn,
                                                1
                                            )
                                        "
                                    />
                                </div>
                            }
                            @if (needsSecondInput(selectedAdvancedType)) {
                                <span class="advanced-and-label">and</span>
                                <div
                                    [class.ts-mask-wrapper]="
                                        openFilterColumn === 'time'
                                    "
                                >
                                    @if (openFilterColumn === 'time') {
                                        <div
                                            class="ts-overlay"
                                            aria-hidden="true"
                                        >
                                            <span>{{
                                                getTimestampTyped(
                                                    advancedInputValue2
                                                )
                                            }}</span
                                            ><span class="ts-faded">{{
                                                getTimestampTemplate(
                                                    advancedInputValue2
                                                )
                                            }}</span>
                                        </div>
                                    }
                                    <input
                                        type="text"
                                        [class]="
                                            openFilterColumn === 'time'
                                                ? 'advanced-input ts-input'
                                                : 'advanced-input'
                                        "
                                        title="Filter value"
                                        [placeholder]="
                                            openFilterColumn === 'time'
                                                ? ''
                                                : 'Value...'
                                        "
                                        [ngModel]="advancedInputValue2"
                                        (input)="
                                            openFilterColumn === 'time'
                                                ? onTimestampInput(
                                                      'value2',
                                                      $event
                                                  )
                                                : null
                                        "
                                        (ngModelChange)="
                                            openFilterColumn !== 'time'
                                                ? (advancedInputValue2 = $event)
                                                : null
                                        "
                                        (mousedown)="
                                            openFilterColumn === 'time'
                                                ? repositionToEnd($event)
                                                : null
                                        "
                                        (click)="$event.stopPropagation()"
                                        (keydown)="
                                            onAdvancedInputKeydown(
                                                $event,
                                                openFilterColumn,
                                                2
                                            )
                                        "
                                    />
                                </div>
                            }
                            <div class="advanced-filter-actions">
                                <button
                                    type="button"
                                    class="advanced-apply-btn"
                                    data-cy="column-advanced-filter-apply-btn"
                                    (click)="
                                        applyAdvancedFilter(openFilterColumn)
                                    "
                                >
                                    OK
                                </button>
                                <button
                                    type="button"
                                    class="advanced-cancel-btn"
                                    (click)="cancelAdvancedPanel()"
                                >
                                    Cancel
                                </button>
                                @if (hasAdvancedFilter(openFilterColumn)) {
                                    <button
                                        type="button"
                                        class="advanced-clear-btn"
                                        (click)="
                                            clearAdvancedFilter(
                                                openFilterColumn
                                            )
                                        "
                                    >
                                        Clear
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            <div [class.ts-mask-wrapper]="openFilterColumn === 'time'">
                @if (openFilterColumn === 'time') {
                    <div class="ts-overlay" aria-hidden="true">
                        <span>{{
                            getTimestampTyped(
                                columnSearchTerms[openFilterColumn] || ''
                            )
                        }}</span
                        ><span class="ts-faded">{{
                            getTimestampTemplate(
                                columnSearchTerms[openFilterColumn] || ''
                            )
                        }}</span>
                    </div>
                }
                <input
                    type="text"
                    class="column-filter-search"
                    [class.ts-input]="openFilterColumn === 'time'"
                    title="Search"
                    [placeholder]="
                        openFilterColumn === 'time' ? '' : 'Search...'
                    "
                    [ngModel]="columnSearchTerms[openFilterColumn]"
                    (ngModelChange)="
                        openFilterColumn !== 'time'
                            ? onColumnSearchChange(openFilterColumn, $event)
                            : null
                    "
                    (input)="
                        openFilterColumn === 'time'
                            ? onTimestampSearchInput($event)
                            : null
                    "
                    (mousedown)="
                        openFilterColumn === 'time'
                            ? repositionToEnd($event)
                            : null
                    "
                    (click)="$event.stopPropagation()"
                    (keydown)="onSearchKeydown($event)"
                />
            </div>
            <div class="column-filter-controls">
                <mat-checkbox
                    [checked]="areAllValuesSelected(openFilterColumn)"
                    [indeterminate]="
                        !areAllValuesSelected(openFilterColumn) &&
                        columnFilters[openFilterColumn]?.size > 0
                    "
                    (change)="toggleAllValues(openFilterColumn)"
                >
                    (Select All)
                </mat-checkbox>
                @if (hasSearchOrAdvanced(openFilterColumn)) {
                    <mat-checkbox
                        [checked]="areDisplayedValuesSelected(openFilterColumn)"
                        (change)="toggleDisplayedValues(openFilterColumn)"
                    >
                        (Select All Displayed)
                    </mat-checkbox>
                }
            </div>
            <div
                class="filter-list-wrapper"
                [class.no-overflow-hint]="filterListScrollEnd"
            >
                <div
                    class="column-filter-list"
                    (scroll)="onFilterListScroll($event)"
                >
                    @for (
                        value of getFilteredUniqueValues(openFilterColumn);
                        track value
                    ) {
                        <mat-checkbox
                            class="filter-checkbox"
                            [title]="value"
                            [checked]="isValueChecked(openFilterColumn, value)"
                            (change)="toggleValue(openFilterColumn, value)"
                        >
                            {{ value }}
                        </mat-checkbox>
                    }
                </div>
            </div>
        </div>
    }
</div>
