<!-- Liste von EventProperties -->
<div class="header" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxFlex="100">
        <div fxFlex="80" fxLayoutAlign="start">
            <b>
                {{getLabel()}}
            </b>
        </div>
        <div fxFlex="20" fxLayoutAlign="end">
            <button mat-button (click)=OnClickOpen()>
                <div *ngIf=open>
                    <mat-icon>expand_less</mat-icon>
                </div>
                <div *ngIf=!open>
                    <mat-icon>expand_more</mat-icon>
                </div>
            </button>
        </div>
    </div>
</div>
<!-- body start -->
<div class="body">
    <div [hidden]=!open>
        <app-event-property [domainPropertyGuess]="domainPropertyGuess"
                            [property]="eventPropertyNested"></app-event-property>
    </div>

    <div style="padding-left: 50px; border-left: 4px dotted black;">
        <app-event-property-bag [domainPropertyGuesses]="domainPropertyGuesses"
                                [eventProperties]="eventPropertyNested.eventProperties">
        </app-event-property-bag>
    </div>
</div>
