<!-- Liste von EventProperties -->
<div class="header" fxLayout="row" fxLayoutAlign="start center">
    <div class="onhover" fxLayout="row" fxFlex="100">
        <div fxFlex="80" fxLayoutAlign="start">
            <b>
                {{getLabel()}}
            </b>
        </div>
        <div fxFlex="20" fxLayoutAlign="end">
            <button [disabled]="!isEditable" color="primary" mat-button (click)=emitAddNestedProperty()>
                <mat-icon matTooltip="Add a Nested Property">queue</mat-icon>
            </button>
        </div>
    </div>
</div>