.nestedProperty {
  margin-left: 8%;
  border-left: solid;
  /* border-bottom: dotted;
  border-right: dotted;
  border-top: dotted; */
}
ul {
  list-style-type: none;
  /* border-style: solid; */
  min-height: 10px;

}


.onhover:hover {
  background-color: darkgrey;
}