<div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center"
     class="about-container">
    <div fxFlex="50" fxLayoutAlign="center center" fxLayout="column"
         style="color:white;"><img
            alt="icon" src="assets/img/login/logo.png" class="about-logo">
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" style="margin-top:20px;">
        <div fxFlex="100">
            <div class="assemblyOptions sp-blue-bg" style="padding:5px;">
                <h4>Resources</h4>
            </div>
            <div class="sp-blue-border md-padding">
                <ul>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>description</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>Find the documentation at <a href="https://docs.streampipes.org">https://docs.streampipes.org</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>language</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5> Find our website at <a
                                        href="https://www.streampipes.org">https://streampipes.org</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <img height="24" width="24"
                                     src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg"/>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5> Find the source
                                    code at <a
                                            href="https://github.com/streampipes">https://github.com/streampipes</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <img height="24" width="24"
                                     src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/docker.svg"/>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5> Find the docker
                                    images at <a
                                            href="https://hub.docker.com/u/streampipes">https://hub.docker.com/u/streampipes</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex="100" style="margin-top:10px;">
            <div class="assemblyOptions sp-blue-bg" style="padding:5px;">
                <h4>Community & Support</h4>
            </div>
            <div class="sp-blue-border md-padding">
                <ul>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <img height="24" width="24"
                                     src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg"/>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>Follow us on <a
                                        href="https://twitter.com/streampipes">Twitter</a> to get the latest news!
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>email</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>Drop us an email if you'd like to give <a
                                        href="mailto:feedback@streampipes.org">feedback</a>!
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <img height="24" width="24"
                                     src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg"/>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>If you like
                                    StreamPipes, give us a star at <a
                                            href="https://github.com/streampipes-ce">Github</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>