<div fxFlex="100" fxLayout="column" class="m-20">
    <div fxLayout="row wrap" style="margin-bottom:20px;" *ngIf="editMode">
        <button mat-button mat-raised-button color="primary" (click)="updateDashboardAndCloseEditMode()"
                style="margin-right:10px;">Save
        </button>
        <button mat-button mat-raised-button color="primary" (click)="addWidget()" [disabled]="!editMode">Add
            visualization</button>
    </div>

    <dashboard-grid [editMode]="editMode" [dashboard]="dashboard" [options]="options" class="h-100"></dashboard-grid>
</div>