<div flex layout-fill>
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
        <div layout-fill>
            <md-tabs md-dynamic-height md-border-bottom>

                <md-tab ng-repeat="tab in tabs"
                        label="{{tab.title}}"
                        md-on-select="loadCurrentElements(tab.type)">
                    <md-tab-label>
                        {{tab.title}}
                    </md-tab-label>
                    <md-content layout-padding class="md-whiteframe-z2">


                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
    <div style="margin-top:30px;">
        <md-list>
            <md-list-item ng-repeat="item in currentElements | orderBy:'+name'">

                <div flex="100" layout="row" style="border:1px solid darkblue;margin-bottom:10px;background:white;margin-left:30px;margin-right:30px;">
                    <div flex="20" layout="row" style="margin:10px;">
                        <img ng-src="{{item.iconUrl}}" class="md-card-image connectable-element" alt="{{item.name}}"
                             ng-show="(item.iconUrl != null && item.iconUrl != 'http://localhost:8080/img')"/>
						<span class="connectable-element"
                              ng-show="(item.iconUrl == null || item.iconUrl == 'http://localhost:8080/img')">{{elementTextIcon(item.name)}}</span>
                        </span>
                    </div>
                    <div flex="80" layout="row">
                        <div flex="100" layout="column" layout-align="left">
                            <div layout="row">
                                <div flex layout="column">
                                    <h2 class="md-title">{{item.name}}</h2>
                                    <p>{{item.description}}</p>
                                </div>
                                <div flex layout="column" layout-algin="end top">
                                    <div ng-show="item.favorite" class="top right">
                                        <md-icon md-svg-icon="action:ic_favorite_24px" aria-label="Action"
                                                 class="md-accent" style="width: 36px; height: 36px"></md-icon>
                                    </div>
                                </div>
                            </div>
                            <div flex layout="row">
								<span flex flex-order="1" layout="row" layout-align="center center">
									<md-button aria-label="As Favorite" class="md-accent"
                                               ng-click="toggleFavorite(getElementId(item), currentTabType)">
										<md-icon md-svg-icon="toggle:ic_star_24px" aria-label="Action"></md-icon> As Favorite 
									</md-button> 
								</span>								
								<span flex flex-order="2" layout="row" layout-align="center center">
									<md-button aria-label="JSON-LD" class="md-accent"
                                               ng-click="jsonld($event, getElementId(item))">
										<md-icon md-svg-icon="action:ic_search_24px"></md-icon> View Json-LD 
									</md-button>
								</span>
								<span flex flex-order="3" layout="row" layout-align="center center">
									<md-button aria-label="Refresh" class="md-accent"
                                               ng-click="refresh(getElementId(item), currentTabType)">
										<md-icon md-svg-icon="action:ic_autorenew_24px" aria-label="Action"></md-icon> Reload Description
									</md-button> 
								</span>
                                <div flex flex-order="4" layout="row" layout-align="center center">
                                    <div ng-show="currentTabType == 'source'">
                                        <md-button aria-label="Remove" class="md-accent"
                                                   ng-click="remove(item.uri, currentTabType)">
                                            <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                                            Delete
                                        </md-button>
                                    </div>
                                    <div ng-show="(currentTabType == 'sepa') || (currentTabType == 'action')">
                                        <md-button aria-label="Remove" class="md-accent"
                                                   ng-click="remove(item.belongsTo, currentTabType)">
                                            <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                                            Delete
                                        </md-button>
                                    </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <md-divider/>
            </md-list-item>
        </md-list>
    </div>
</div>

