<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<sp-visualization-config-outer
    [configurationValid]="
        currentlyConfiguredWidget.visualizationConfig.configurationValid
    "
>
    <sp-split-section [level]="3" [title]="'Field' | translate">
        <sp-select-single-property-config
            [availableProperties]="fieldProvider.numericFields"
            [selectedProperty]="
                currentlyConfiguredWidget.visualizationConfig.selectedProperty
            "
            (changeSelectedProperty)="setSelectedProperty($event)"
        >
        </sp-select-single-property-config>
    </sp-split-section>
    @if (
        currentlyConfiguredWidget.visualizationConfig.selectedProperty
            ?.fieldCharacteristics.numeric
    ) {
        <sp-split-section [level]="3" [title]="'Settings' | translate">
            <sp-form-field
                [level]="3"
                [label]="'Min' | translate"
                [description]="
                    'Lower bound of the gauge value range.' | translate
                "
            >
                <mat-form-field fxFlex="30">
                    <input
                        matInput
                        type="number"
                        [(ngModel)]="
                            currentlyConfiguredWidget.visualizationConfig.min
                        "
                        (ngModelChange)="triggerViewRefresh()"
                    />
                </mat-form-field>
            </sp-form-field>
            <sp-form-field
                [level]="3"
                [label]="'Max' | translate"
                [description]="
                    'Upper bound of the gauge value range.' | translate
                "
            >
                <mat-form-field fxFlex="30">
                    <input
                        matInput
                        type="number"
                        [(ngModel)]="
                            currentlyConfiguredWidget.visualizationConfig.max
                        "
                        (ngModelChange)="triggerViewRefresh()"
                    />
                </mat-form-field>
            </sp-form-field>
            <sp-form-field
                [level]="3"
                [label]="'Display Name' | translate"
                [description]="
                    'Label shown below the current gauge value.' | translate
                "
            >
                <mat-form-field fxFlex="60">
                    <input
                        matInput
                        type="text"
                        [ngModel]="getDisplayName()"
                        (ngModelChange)="onDisplayNameChange($event)"
                    />
                </mat-form-field>
            </sp-form-field>

            <sp-form-field
                [level]="3"
                [label]="'Start Angle' | translate"
                [description]="
                    'Angle where the gauge arc begins (in degrees).' | translate
                "
            >
                <mat-form-field fxFlex="30">
                    <input
                        matInput
                        type="number"
                        [(ngModel)]="
                            currentlyConfiguredWidget.visualizationConfig
                                .startAngle
                        "
                        (ngModelChange)="triggerViewRefresh()"
                    />
                </mat-form-field>
            </sp-form-field>

            <sp-form-field
                [level]="3"
                [label]="'End Angle' | translate"
                [description]="
                    'Angle where the gauge arc ends (in degrees).' | translate
                "
            >
                <mat-form-field fxFlex="30">
                    <input
                        matInput
                        type="number"
                        [(ngModel)]="
                            currentlyConfiguredWidget.visualizationConfig
                                .endAngle
                        "
                        (ngModelChange)="triggerViewRefresh()"
                    />
                </mat-form-field>
            </sp-form-field>

            <sp-form-field
                [level]="3"
                [label]="'Split Number' | translate"
                [description]="
                    'Number of major segments/ticks on the gauge arc.'
                        | translate
                "
            >
                <mat-form-field fxFlex="30">
                    <input
                        matInput
                        type="number"
                        min="1"
                        [(ngModel)]="
                            currentlyConfiguredWidget.visualizationConfig
                                .splitNumber
                        "
                        (ngModelChange)="triggerViewRefresh()"
                    />
                </mat-form-field>
            </sp-form-field>

            <mat-checkbox
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig.showPointer
                "
                (change)="triggerViewRefresh()"
                >{{ 'Show Pointer' | translate }}
            </mat-checkbox>
        </sp-split-section>

        <sp-split-section [level]="3" [title]="'Threshold Colors' | translate">
            <mat-checkbox
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig
                        .enableThresholdColors
                "
                (change)="triggerViewRefresh()"
                >{{ 'Enable threshold colors' | translate }}
            </mat-checkbox>

            @if (
                currentlyConfiguredWidget.visualizationConfig
                    .enableThresholdColors
            ) {
                <sp-form-field
                    [level]="3"
                    [label]="'Low Threshold' | translate"
                    [description]="
                        'Value where the low color range ends.' | translate
                    "
                >
                    <mat-form-field fxFlex="30">
                        <input
                            matInput
                            type="number"
                            [(ngModel)]="
                                currentlyConfiguredWidget.visualizationConfig
                                    .thresholdLow
                            "
                            (ngModelChange)="triggerViewRefresh()"
                        />
                    </mat-form-field>
                </sp-form-field>

                <sp-form-field
                    [level]="3"
                    [label]="'High Threshold' | translate"
                    [description]="
                        'Value where the medium color range ends and high begins.'
                            | translate
                    "
                >
                    <mat-form-field fxFlex="30">
                        <input
                            matInput
                            type="number"
                            [(ngModel)]="
                                currentlyConfiguredWidget.visualizationConfig
                                    .thresholdHigh
                            "
                            (ngModelChange)="triggerViewRefresh()"
                        />
                    </mat-form-field>
                </sp-form-field>

                <sp-form-field
                    [level]="3"
                    [label]="'Low Color' | translate"
                    [description]="
                        'Color used from min up to the low threshold.'
                            | translate
                    "
                >
                    <mat-form-field fxFlex="30">
                        <input
                            matInput
                            type="color"
                            [(ngModel)]="
                                currentlyConfiguredWidget.visualizationConfig
                                    .thresholdColorLow
                            "
                            (ngModelChange)="triggerViewRefresh()"
                        />
                    </mat-form-field>
                </sp-form-field>

                <sp-form-field
                    [level]="3"
                    [label]="'Medium Color' | translate"
                    [description]="
                        'Color used between low and high thresholds.'
                            | translate
                    "
                >
                    <mat-form-field fxFlex="30">
                        <input
                            matInput
                            type="color"
                            [(ngModel)]="
                                currentlyConfiguredWidget.visualizationConfig
                                    .thresholdColorMedium
                            "
                            (ngModelChange)="triggerViewRefresh()"
                        />
                    </mat-form-field>
                </sp-form-field>

                <sp-form-field
                    [level]="3"
                    [label]="'High Color' | translate"
                    [description]="
                        'Color used above the high threshold.' | translate
                    "
                >
                    <mat-form-field fxFlex="30">
                        <input
                            matInput
                            type="color"
                            [(ngModel)]="
                                currentlyConfiguredWidget.visualizationConfig
                                    .thresholdColorHigh
                            "
                            (ngModelChange)="triggerViewRefresh()"
                        />
                    </mat-form-field>
                </sp-form-field>
            }
        </sp-split-section>
    }
</sp-visualization-config-outer>
