<div flex class="page-container page-container-padding"  ng-controller="PipelineDetailsCtrl as ctrl">
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
        <div layout-fill>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Overview" md-on-select="ctrl.setSelectedTab('overview')"></md-tab>
                <md-tab label="Statistics" md-on-select="ctrl.setSelectedTab('statistics')"></md-tab>
                <md-tab label="Errors" md-on-select="ctrl.setSelectedTab('errors')"></md-tab>
                <md-tab label="QuickEdit" md-on-select="ctrl.setSelectedTab('quick-edit')"></md-tab>
            </md-tabs>
        </div>
    </div>

    <div flex layout="row" layout-align="start top" ng-if="ctrl.selectedTab == 'overview'">
        <div flex="60" class="md-padding">
            <div flex layout="column">
                <pipeline-preview jspcanvas="assembly-preview" pipeline="ctrl.pipeline" name="{{ctrl.pipeline.name}}" update-selected="ctrl.updateSelected(selected)"
                                  ng-if="ctrl.pipeline.name!=undefined" style="margin-bottom:15px;"></pipeline-preview>
                <pipeline-elements pipeline="ctrl.pipeline" ng-if="ctrl.pipeline.name != undefined"
                                   selected-element="ctrl.selectedElement"></pipeline-elements>

            </div>
        </div>
        <div flex="40" class="md-padding">
            <div flex layout="column">
                <pipeline-actions pipeline="ctrl.pipeline" ng-if="ctrl.pipeline.name != undefined"
                                  style="margin-bottom:15px;"></pipeline-actions>
                <pipeline-status pipeline="ctrl.pipeline" ng-if="ctrl.pipeline.name != undefined"></pipeline-status>
            </div>
        </div>
    </div>
    <div flex layout="row" layout-align="start top" ng-if="ctrl.selectedTab == 'quick-edit'">
        <div flex="100" class="md-padding">
            <div flex layout="column">
                <pipeline-preview jspcanvas="assembly-quick" pipeline="ctrl.pipeline" name="{{ctrl.pipeline.name}}" update-selected="ctrl.updateSelected(selected)"
                                  ng-if="ctrl.pipeline.name!=undefined" style="margin-bottom:15px;"></pipeline-preview>
                <quick-edit pipeline="ctrl.pipeline" selected-element="ctrl.selectedElement" ng-if="ctrl.pipeline.name != undefined"></quick-edit>
            </div>
        </div>
    </div>
</div>