<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<mat-toolbar>
    <div class="md-toolbar-tools">
        <h2>Download Data</h2>
        <span fxFlex></span>
        <button mat-icon-button (click)="exitDialog()">
            <i class="material-icons">close</i>
        </button>
    </div>
</mat-toolbar>

<div mat-dialog-content class="md-dialog-content">


    <mat-horizontal-stepper  #stepper>
        <mat-step>
            <ng-template matStepLabel>Select Data</ng-template>
            <div>
                <mat-radio-group class="example-radio-group" [(ngModel)]="selectedData">
<!--                    <mat-radio-button value="visible" class="example-radio-button">-->
<!--                        Visible data in charts-->
<!--                    </mat-radio-button>-->
                    <mat-radio-button value="all" class="example-radio-button">
                        All data in database
                    </mat-radio-button>
                    <mat-radio-button value="customInterval" class="example-radio-button">
                        All data in custom time interval
                    </mat-radio-button>
                </mat-radio-group>
                <div fxLayout="row" fxLayoutAlign="start center" style="margin-left: 35px">
                    <mat-form-field style="top: -10px; width: 270px">
                        <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                               [(ngModel)]="dateRange" [selectMode]="'range'" [disabled]="selectedData !== 'customInterval'">
                        <mat-icon matSuffix [owlDateTimeTrigger]="dt1" *ngIf="selectedData === 'customInterval'">event</mat-icon>
                        <mat-icon matSuffix style="color: #e0e0e0" *ngIf="selectedData !== 'customInterval'">event</mat-icon>
                        <owl-date-time #dt1></owl-date-time>
                    </mat-form-field>
                </div>
            </div>
        </mat-step>



        <mat-step>
            <ng-template matStepLabel>Select Format</ng-template>
            <div>
                <mat-radio-group class="example-radio-group" [(ngModel)]="downloadFormat">
                    <mat-radio-button value="json" class="example-radio-button">
                        JSON
                    </mat-radio-button>
                    <mat-radio-button value="csv" class="example-radio-button">
                        CSV
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </mat-step>





        <mat-step>
            <ng-template matStepLabel>Download</ng-template>
            <div div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="!downloadFinish">
                <mat-spinner></mat-spinner>
                <label *ngIf="downloadedMBs !== undefined">{{downloadedMBs      | number : '1.0-2' }} Mb</label>
                <button mat-button warn  color="warn" (click)="cancelDownload()">Cancel</button>
            </div>
            <div div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="downloadFinish">
                <mat-icon style="font-size: 100px;height: 100px; width: 100px; color:#b3b3b3;">check</mat-icon>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>

<mat-divider></mat-divider>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button *ngIf="stepper.selectedIndex == 1" color="primary" (click)="previousStep()">Previous</button>
    <button mat-button mat-raised-button *ngIf="stepper.selectedIndex < 1" color="primary" (click)="nextStep()">Next</button>
    <button mat-button mat-raised-button *ngIf="stepper.selectedIndex == 1" color="accent" (click)="downloadData()">Download</button>
    <button mat-button mat-raised-button *ngIf="downloadFinish" color="primary" (click)="exitDialog()">Close</button>
</div>
