<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->
<section class="preview-panel" [attr.aria-label]="'Original event' | translate">
    <header
        class="preview-toolbar"
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
    >
        <span class="font-bold">{{ 'Original event' | translate }}</span>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button
                mat-icon-button
                data-cy="connect-get-new-sample-button"
                (click)="getSample.emit()"
                [disabled]="isSampleLoading()"
                [matTooltip]="'Get new sample' | translate"
                [attr.aria-label]="'Get new sample' | translate"
            >
                <mat-icon>refresh</mat-icon>
            </button>
            <button
                mat-icon-button
                data-cy="connect-upload-sample-button"
                (click)="uploadSample.emit()"
                [disabled]="isSampleLoading()"
                [matTooltip]="'Upload sample' | translate"
                [attr.aria-label]="'Upload sample' | translate"
            >
                <mat-icon>file_upload</mat-icon>
            </button>
            <mat-button-toggle-group
                [value]="sourceViewMode()"
                [attr.aria-label]="'Original event display' | translate"
                [hideSingleSelectionIndicator]="true"
                (valueChange)="sourceViewModeChange.emit($event)"
            >
                <mat-button-toggle value="tree">{{
                    'Tree' | translate
                }}</mat-button-toggle>
                <mat-button-toggle
                    value="raw"
                    data-cy="configure-schema-original-mode-raw"
                    >{{ 'Raw' | translate }}</mat-button-toggle
                >
            </mat-button-toggle-group>
        </div>
    </header>
    <div class="preview-body">
        @if (isSampleLoading()) {
            <div fxLayoutAlign="center center" class="m-lg">
                <sp-spinner
                    [diameter]="25"
                    [text]="'Loading' | translate"
                ></sp-spinner>
            </div>
        } @else if (sampleErrorMessage()) {
            <sp-exception-message
                [message]="sampleErrorMessage()"
                [showDetails]="true"
            ></sp-exception-message>
        } @else {
            <sp-show-field-status-infos
                [fieldStatusInfos]="fieldStatusInfos()"
            ></sp-show-field-status-infos>
            <sp-adapter-event-preview
                dataCy="configure-schema-event-preview-original"
                [mode]="sourceViewMode()"
                [value]="input()"
            ></sp-adapter-event-preview>
        }
    </div>
</section>
