/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

.adapter-description-box {
    height: 100%;
    min-height: 260px;
    border: 1px solid gray;
    border-bottom: 5px solid gray;
    background: var(--color-bg-dialog);
    padding: 10px;
    cursor: pointer;
}

.adapter-description-box:hover {
    border-bottom: 5px solid var(--color-accent);
    border-color: var(--color-accent);
}

.edit {
    margin-right: 5px;
}

.delete {
    cursor: pointer;
}
.type p {
    padding: 4px;
    margin: 0;
}
.iconImg {
    max-height: 50px;
    max-width: 80%;
}
.real-time {
    cursor: pointer;
    color: #ffeb3b;
}

.adapter-icon {
    margin-left: 10px;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    display: inline-block;
}

.icon {
    max-width: 60px;
}

.large-icon {
    line-height: 90px;
    width: 90px;
    height: 90px;
}

.ml-10 {
    margin-left: 10px;
}
