<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="adapter-description-box" fxFlex="100" fxLayout="column">
    <div fxLayout="column">
        <div
            class="type mt-10"
            fxLayout="row"
            fxLayoutAlign="start start"
            fxFlex="100"
        >
            <div class="adapter-icon large-icon">
                <img *ngIf="iconUrl" [src]="iconUrl" class="icon" />
            </div>
            <div class="ml-5" fxFlex fxLayoutAlign="end start">
                <button
                    mat-icon-button
                    color="accent"
                    (click)="openDocumentation($event)"
                    matTooltip="Show documentation"
                >
                    <mat-icon>menu_book</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row" class="ml-10" fxLayoutGap="20px">
        <div fxFlex fxLayout="column">
            <h3>{{ adapter.name }}</h3>
            <div class="description" fxLayoutAlign="start start">
                <p [innerHTML]="adapter.description"></p>
            </div>
        </div>
    </div>
</div>
