/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

.adapter-box {
    height: 100%;
    box-shadow: 1px 1px 2px #555;
    border: 1px solid gray;
    background: var(--color-bg-dialog);
    cursor: pointer;
    padding: 10px;
    opacity: 0.7;
}
.adapter-description-box {
    height: 100%;
    box-shadow: 1px 1px 2px #555;
    border: 1px solid gray;
    background: var(--color-bg-dialog);
    cursor: pointer;
    padding: 10px;
    opacity: 0.7;
}

.adapter-box:hover {
    opacity: 1;
}

.adapter-description-box:hover {
    opacity: 1;
}

.edit {
    margin-right: 5px;
}

.delete {
    cursor: pointer;
}
.type p {
    padding: 4px;
    margin: 0;
}
.iconImg {
    max-height: 50px;
    max-width: 80%;
}
.historic {
    cursor: pointer;
    color: #ffa23b;
}
.real-time {
    cursor: pointer;
    color: #ffeb3b;
}

.icon {
    margin-top: 20px;
    height: 50px;
}
