<div style="margin-bottom: 2%;">
    <div>
        <div class="assemblyOptions sp-blue-bg">
            <h4>Basic settings</h4>
        </div>

        <sp-configuration-group
                [configurationGroup]="specificAdapterForm"
                [adapterId]="adapterDescription.appId"
                [configuration]="adapterDescription.config">
        </sp-configuration-group>

    </div>
</div>

<div fxLayoutAlign="end">
    <button class="mat-basic" mat-raised-button (click)="removeSelection()">Cancel</button>
    <div id="specific-settings-next-button">
        <button class="stepper-button" [disabled]="!specificAdapterSettingsFormValid"
                (click)="clickNext()" color="primary" mat-raised-button>Next
        </button>
    </div>
</div>
