<div id="formWrapper" fxFlex="90" fxLayout="row">
    <div fxFlex="20">
    <p>{{staticProperty.label}}: </p>
    </div>
    <div fxFlex fxLayout="row">
        <form fxFlex [formGroup]="freeTextForm">
            <mat-form-field fxFlex>
                <input fxFlex id="{{ 'input-' + staticProperty.label.toLowerCase() }}" matInput [placeholder]="staticProperty.label" [(ngModel)]="staticPropertyUtil.asFreeTextStaticProperty(staticProperty).value"
                    formControlName="freeStaticText" (ngModelChange)="valueChange(staticPropertyUtil.asFreeTextStaticProperty(staticProperty).value)"
                    required>
                <mat-hint>{{staticProperty.description}}</mat-hint>

                <mat-error *ngIf="!hasInput">
                    {{errorMessage}}
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</div>