<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div ng-show="ctrl.currentMouseOverElement==ctrl.pipelineElement.payload.DOM" class="sp-fade-options">
    <span class="options-button customize-button" ng-show="ctrl.pipelineElement.type!='stream'" style="z-index:10">
        <md-button ng-click="ctrl.openCustomizeDialog()" class="md-icon-button"
                   style="margin:0px;font-size:20px;">
            <i class="material-icons">settings</i>
            <md-tooltip md-direction="top">
                        Configure Element
            </md-tooltip>
            </md-button>
    </span>
    <span class="options-button customize-button"
          ng-show="ctrl.pipelineElement.type=='stream' && ctrl.isWildcardTopic()"
          style="z-index:10">
        <md-button ng-click="ctrl.openCustomizeStreamDialog()" ng-disabled="!ctrl.isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
            <i class="material-icons">settings</i>
            <md-tooltip md-direction="top">
                    Configure Element
            </md-tooltip>
        </md-button>
    </span>
    <span class="options-button delete-button" style="z-index:10">
        <md-button ng-click="ctrl.removeElement(ctrl.pipelineElement)" ng-disabled="!ctrl.isRootElement()"
                   class="md-icon-button"
                   style="margin:0px;font-size:20px;">
            <i class="material-icons">clear</i>
             <md-tooltip md-direction="top">
                       Delete Element
             </md-tooltip>
        </md-button>
    </span>
    <span class="options-button possible-button" ng-show="ctrl.pipelineElement.type!='action'" style="z-index:10">
        <md-button
                ng-disabled="!ctrl.possibleElements || ctrl.possibleElements.length == 0 || !ctrl.isConfigured()"
                ng-click="ctrl.EditorDialogManager.openPossibleElementsDialog(ctrl.rawPipelineModel, ctrl.possibleElements, ctrl.pipelineElement.payload.DOM)"
                class="md-icon-button" style="margin:0px;font-size:20px;">
            <i class="material-icons">visibility</i>
            <md-tooltip md-direction="bottom">
                        Compatible Elements
            </md-tooltip>
    </md-button>
    </span>
    <span class="options-button recommended-button"
          ng-show="ctrl.pipelineElement.type!='action' && (ctrl.recommendationsAvailable) && ctrl.recommendedElements.length > 0"
          style="z-index:10">
        <md-button
                ng-click="ctrl.showRecommendations($event)"
                ng-disabled="!ctrl.recommendationsAvailable || !ctrl.isConfigured()"
                class="md-icon-button" style="margin:0px;font-size:20px;">
            <i class="material-icons">add</i>
            <md-tooltip md-direction="bottom">
                        Recommended Elements
            </md-tooltip>
        </md-button>
    </span>
    <span class="options-button help-button" style="z-index:10">
        <md-button ng-click="ctrl.openHelpDialog()"
                   class="md-icon-button"
                   style="margin:0px;font-size:20px;">
        ?
            <md-tooltip md-direction="bottom">
                            Help
                        </md-tooltip>
            </md-button>
    </span>
    <div class="editor-pe-info" ng-class="'pe-info-' + ctrl.pipelineElement.type">
        {{ctrl.pipelineElement.payload.name}}
    </div>
</div>
<pipeline-element-recommendation raw-pipeline-model="ctrl.rawPipelineModel"
                                 pipeline-element-dom-id="ctrl.pipelineElement.payload.DOM"
                                 recommended-elements="ctrl.recommendedElements"
                                 recommendations-shown="ctrl.recommendationsShown"></pipeline-element-recommendation>

