<div  ng-if="pipelineElement.settings.disabled == undefined || !pipelineElement.settings.disabled" ng-repeat="(index, pipelineElement) in ctrl.rawPipelineModel track by $index" style="width:100%;height:100%;">
    <span id="{{pipelineElement.payload.DOM}}" style="{{ctrl.getElementCss(pipelineElement.settings)}}"
          ng-click="ctrl.updateOptionsClick(pipelineElement.payload.DOM)" ng-mouseover="ctrl.updateMouseover(pipelineElement.payload.DOM)" ng-mouseleave="ctrl.updateMouseover('')">
        <span style="z-index:5"
              ng-class="ctrl.getElementCssClasses(pipelineElement)">
            <pipeline-element pipeline-element="pipelineElement.payload" preview="ctrl.preview"></pipeline-element>
        </span>
         <pipeline-element-options ng-if="!ctrl.preview" delete-function="ctrl.handleDeleteOption"
                                   current-mouse-over-element="ctrl.currentMouseOverElement"
                                   all-elements="ctrl.allElements"
                                   pipeline-element="pipelineElement"
                                   raw-pipeline-model="ctrl.rawPipelineModel"
                                   pipeline-element-id="pipelineElement.type == 'stream' ? pipelineElement.payload.elementId : pipelineElement.payload.belongsTo)"
                                   internal-id="" {{pipelineElement.payload.DOM}}">
        </pipeline-element-options>
    </span>
</div>