<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->
<div fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayout="column">
        <sp-basic-inner-panel
            [panelTitle]="'Transformation' | translate"
            outerMargin="20px 0px"
        >
            @if (loadingAvailableScriptsError()) {
                <sp-alert-banner
                    type="error"
                    [title]="'Error loading available script languages'"
                    [description]="loadingAvailableScriptsError().cause"
                >
                </sp-alert-banner>
            }
            <div
                header
                fxLayoutAlign="end center"
                fxFlex="100"
                fxLayoutGap="5px"
            >
                @if (selectedScriptMetadata()) {
                    <button
                        mat-button
                        [matMenuTriggerFor]="langMenu"
                        aria-label="Select template language"
                    >
                        {{ selectedScriptMetadata().name | titlecase }}
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>

                    <mat-menu #langMenu="matMenu">
                        @for (
                            script of availableScripts();
                            track script.language
                        ) {
                            <button
                                mat-menu-item
                                (click)="onLanguageChange(script)"
                            >
                                <span>{{ script.name | titlecase }}</span>
                                @if (
                                    script.language ===
                                    selectedScriptMetadata().language
                                ) {
                                    <mat-icon class="ms-auto">check</mat-icon>
                                }
                            </button>
                        }
                    </mat-menu>
                }
                <button
                    mat-button
                    data-cy="reset-script"
                    (click)="openSelectScriptTemplateDialog()"
                >
                    <mat-icon>article</mat-icon>
                    <span>{{ 'Use template' | translate }}</span>
                </button>
                <button
                    mat-button
                    data-cy="reset-script"
                    (click)="resetScript()"
                >
                    <mat-icon>settings_backup_restore</mat-icon>
                    <span>{{ 'Reset script' | translate }}</span>
                </button>
            </div>
            <div class="code-editor-outer">
                <ngx-codemirror
                    class="code-editor"
                    [ngModel]="script()"
                    (ngModelChange)="onCodeChange($event)"
                    [options]="editorOptions"
                    data-cy="configure-schema-script-editor"
                ></ngx-codemirror>
            </div>
            <div fxLayoutGap="10px">
                <button
                    class="mt-sm"
                    mat-flat-button
                    matTooltip="Run script"
                    data-cy="configure-schema-run-script-button"
                    (click)="runScript()"
                >
                    <mat-icon>play_circle_filled</mat-icon>
                    <span>Run script</span>
                </button>
                <button
                    class="mat-basic mt-sm"
                    mat-flat-button
                    matTooltip="Run script"
                    data-cy="add-script-template-button"
                    (click)="openCreateScriptTemplateDialog()"
                >
                    <mat-icon>play_circle_filled</mat-icon>
                    <span>Create script template</span>
                </button>
            </div>
        </sp-basic-inner-panel>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="50" fxLayout="column">
            <sp-basic-inner-panel
                innerPadding="0"
                [showTitle]="true"
                [panelTitle]="'Original (Parsed)' | translate"
            >
                <div header fxLayoutAlign="end center" fxFlex="100">
                    <button
                        data-cy="connect-get-new-sample-button"
                        mat-button
                        (click)="getSampleEvent()"
                    >
                        <mat-icon>refresh</mat-icon>
                        <span>{{ 'Get new sample' | translate }}</span>
                    </button>
                    <mat-button-toggle-group
                        [(value)]="sourceViewMode"
                        [hideSingleSelectionIndicator]="true"
                    >
                        <mat-button-toggle value="tree">{{
                            'Tree' | translate
                        }}</mat-button-toggle>
                        <mat-button-toggle value="raw">{{
                            'Raw' | translate
                        }}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                @if (isSampleLoading()) {
                    <div class="sp-dialog-content">
                        <div
                            fxFlex="100"
                            fxLayoutAlign="center center"
                            fxLayout="column"
                        >
                            <mat-spinner [diameter]="25"></mat-spinner>
                            <h5>{{ 'Loading' | translate }}</h5>
                        </div>
                    </div>
                } @else {
                    @let error = sampleErrorMessage();

                    @if (error) {
                        <sp-exception-message
                            [message]="error"
                            [showDetails]="true"
                        ></sp-exception-message>
                    } @else {
                        <sp-adapter-event-preview
                            dataCy="configure-schema-event-preview-original"
                            [mode]="sourceViewMode()"
                            [value]="input()"
                        ></sp-adapter-event-preview>
                    }
                }
            </sp-basic-inner-panel>
        </div>

        <div fxFlex="50" fxLayout="column">
            <sp-basic-inner-panel
                [showTitle]="true"
                innerPadding="0"
                [panelTitle]="'Result' | translate"
                fxFlex="100"
                data-cy="connect-schema-update-preview"
            >
                <div header fxFlex="100" fxLayoutAlign="end center">
                    <mat-button-toggle-group
                        [(value)]="resultViewMode"
                        [hideSingleSelectionIndicator]="true"
                    >
                        <mat-button-toggle value="tree">{{
                            'Tree' | translate
                        }}</mat-button-toggle>
                        <mat-button-toggle value="raw">{{
                            'Raw' | translate
                        }}</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                @if (isRunningScript()) {
                    <div class="m-lg">
                        <div
                            fxFlex="100"
                            fxLayoutAlign="center center"
                            fxLayout="column"
                        >
                            <mat-spinner [diameter]="25"></mat-spinner>
                            <h5>{{ 'Loading' | translate }}</h5>
                        </div>
                    </div>
                } @else {
                    @let error = scriptError();
                    @if (error) {
                        <sp-exception-message
                            class="p-xs"
                            [message]="error"
                            [showDetails]="true"
                        ></sp-exception-message>
                    } @else {
                        <sp-adapter-event-preview
                            dataCy="configure-schema-event-preview-result"
                            [mode]="resultViewMode()"
                            [value]="output()"
                        ></sp-adapter-event-preview>
                    }
                }
            </sp-basic-inner-panel>
        </div>
    </div>

    <div fxLayoutAlign="end" class="mt-10">
        <button class="mat-basic" mat-flat-button (click)="cancel()">
            {{ 'Cancel' | translate }}
        </button>
        <button
            class="mat-basic stepper-button"
            mat-flat-button
            (click)="goBack()"
        >
            {{ 'Back' | translate }}
        </button>
        <button
            class="stepper-button"
            data-cy="configure-schema-next-button"
            color="accent"
            mat-flat-button
            [disabled]="isNextDisabled()"
            (click)="next()"
        >
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
