<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->
<div fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayout="column">
        <sp-adapter-script-editor
            [scriptActive]="scriptActive()"
            [selectedScriptMetadata]="selectedScriptMetadata()"
            [availableScripts]="availableScripts()"
            [loadingAvailableScriptsError]="loadingAvailableScriptsError()"
            [script]="script()"
            [eventPropertyNames]="eventPropertyNames()"
            [editorOptions]="editorOptions"
            (codeChange)="onCodeChange($event)"
            (languageChange)="onLanguageChange($event)"
            (selectTemplate)="openSelectScriptTemplateDialog()"
            (resetScript)="resetScript()"
            (toggleScriptActive)="toggleScriptActive()"
            (runScript)="runScript()"
            (createTemplate)="openCreateScriptTemplateDialog()"
        ></sp-adapter-script-editor>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="50" fxLayout="column">
            <sp-adapter-sample-preview
                [isSampleLoading]="isSampleLoading()"
                [sampleErrorMessage]="sampleErrorMessage()"
                [fieldStatusInfos]="fieldStatusInfos()"
                [input]="input()"
                [sourceViewMode]="sourceViewMode()"
                (sourceViewModeChange)="setSourceViewMode($event)"
                (getSample)="getSampleEvent()"
                (uploadSample)="openUploadSampleDialog()"
            ></sp-adapter-sample-preview>
        </div>

        @if (scriptActive()) {
            <div fxFlex="50" fxLayout="column">
                <sp-adapter-result-preview
                    [isRunningScript]="isRunningScript()"
                    [scriptError]="scriptError()"
                    [output]="output()"
                    [resultViewMode]="resultViewMode()"
                    (resultViewModeChange)="setResultViewMode($event)"
                ></sp-adapter-result-preview>
            </div>
        }
    </div>

    <div fxLayoutAlign="end" class="mt-10">
        <button class="mat-basic" mat-flat-button (click)="cancel()">
            {{ 'Cancel' | translate }}
        </button>
        <button
            class="mat-basic stepper-button"
            data-cy="configure-schema-back-button"
            mat-flat-button
            (click)="goBack()"
        >
            {{ 'Back' | translate }}
        </button>
        <button
            class="stepper-button"
            data-cy="configure-schema-next-button"
            color="accent"
            mat-flat-button
            [disabled]="isNextDisabled()"
            (click)="next()"
        >
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
