<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="selectLabel('sign')">Sign</mat-button-toggle>
    <mat-button-toggle (click)="selectLabel('car')">Car</mat-button-toggle>
    <mat-button-toggle (click)="setInteractionModeTranslate()"><mat-icon>zoom_out_map</mat-icon></mat-button-toggle>
</mat-button-toggle-group>

<canvas (mousedown)="imageMouseDown($event)" (mousemove)="imageMouseMove($event)" (mouseup)="imageMouseUp($event)"
        #canvas style="border:2px solid;" width="800" height="500" ></canvas>
<!-- (scroll)="imageZoom($event)" -->



<button mat-button (click)="zoomin()"> <mat-icon>zoom_in</mat-icon></button>
<button mat-button (click)="zoomout()"> <mat-icon>zoom_out</mat-icon></button>