<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->


<div fxLayout="column" fxLayoutAlign="space-between ">
    <div  fxLayout="row" fxLayoutAlign="space-around start">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2>Labels</h2>
            <div  class="labelCategorySelectContainer"
                 style="padding-left: 5px; padding-right: 5px; border-radius: 50px; font-size: 20px;">
                <mat-form-field style="margin-top: -15px; margin-bottom: -10px">
                    <mat-select [(value)]="labelCategory">
                        <mat-option style="background-color: #FFFFFF" *ngFor="let labelCategory of labelCategories" [value]="labelCategory">
                            {{labelCategory}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>

            </div>

            <mat-list>
                <mat-list-item *ngFor="let label of labels[labelCategory]; index as i"
                               [style.background-color]="selectedLabel == label ? 'lightgrey' : 'white'"
                               style="height: 30px; padding-top: 5px; padding-buttom: 5px; border-radius: 50px; margin-bottom: 5px"
                               (click)="selectLabel(label)">
                    <mat-icon matListIcon [style.color]="getColor(label)" style="margin-top: -8px;">color_lens</mat-icon>
                    <h4 style="margin-top: -3px;"> {{label}} <label *ngIf="i < 10"> #{{i+1}}</label> </h4>
                </mat-list-item>
            </mat-list>


        </div>

        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-hint>Tip: Move the image with the right mouse button and zoom with the mouse wheel, Use number shortcut to select label</mat-hint>
            <mat-hint>Tip: Use number 'E' and 'Q' to get previous/next image, Move image with WASD</mat-hint>
            <canvas (mousedown)="imageMouseDown($event)" (mousemove)="imageMouseMove($event)" (mouseup)="imageMouseUp($event)"
                    (mouseover)="enterCanvas()" (mouseout)="leaveCanvas()"
                    #canvas width="800" height="500" >
                Your browser does not support the canvas element.
            </canvas>
            <div class="zoomButton">
                <button mat-button (click)="zoomin()"> <mat-icon>zoom_in</mat-icon></button>
                <button mat-button (click)="zoomout()"> <mat-icon>zoom_out</mat-icon></button>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <h2>Annotations</h2>

            <mat-list>
                <mat-list-item *ngFor="let annotation of coco?.annotations" (mouseover)="enterAnnotation(annotation)" (mouseout)="leaveAnnotation(annotation)"
                               style="height: 30px; padding-top: 5px; padding-buttom: 5px; border-radius: 50px; margin-bottom: 5px"
                               [style.background-color]="annotation.isHovered || annotation.isSelected ? 'lightgrey' : 'white'">
                    <mat-icon matListIcon [style.color]="getColor(coco.getLabelById(annotation.category_id))" style="margin-top: -8px;">color_lens</mat-icon>
                    <h4 style="margin-top: -3px;"> {{annotation.id}} - {{coco.getLabelById(annotation.category_id)}}</h4>
                    <button mat-icon-button (click)="deleteAnnotation(annotation)" style="margin-top: -10px; margin-left: 10px"> <mat-icon>delete_forever</mat-icon></button>
                </mat-list-item>
            </mat-list>

        </div>
    </div>

    <br />
    <br />

    <div fxLayout="row" fxLayoutAlign="space-around center" >
        <button mat-icon-button> <mat-icon>keyboard_arrow_left</mat-icon></button>

        <div fxLayout="row" fxLayoutAlign="center " style="height: 70px" class="imageBar">
            <img src="https://cdn.pixabay.com/photo/2015/05/01/14/46/new-york-748595_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2016/02/19/11/01/taxi-1209542_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2016/02/19/11/01/taxi-1209542_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2015/05/01/14/46/new-york-748595_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
        </div>


        <button mat-icon-button> <mat-icon>keyboard_arrow_right</mat-icon></button>

    </div>
</div>



