<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->


<div fxLayout="column" fxLayoutAlign="space-between " >
    <div  fxLayout="row" fxLayoutAlign="space-around start">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2>Labels</h2>
            <button mat-raised-button color="accent" (click)="selectLabel('sign')">Sign</button>
            <br />
            <button mat-raised-button color="accent" (click)="selectLabel('car')">Car</button>
            <!--  <button mat-raised-button color="accent"(click)="setInteractionModeTranslate()">
            <mat-icon>zoom_out_map</mat-icon></button>-->
        </div>

        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-hint>Tip: Move the image with the right mouse button and zoom with the mouse wheel</mat-hint>
            <canvas (mousedown)="imageMouseDown($event)" (mousemove)="imageMouseMove($event)" (mouseup)="imageMouseUp($event)"
                    #canvas width="800" height="500" >
                Your browser does not support the canvas element.
            </canvas>
            <div class="zoomButton">
                <button mat-button (click)="zoomin()"> <mat-icon>zoom_in</mat-icon></button>
                <button mat-button (click)="zoomout()"> <mat-icon>zoom_out</mat-icon></button>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <h2>Selected</h2>
        </div>
    </div>

    <br />
    <br />

    <div fxLayout="row" fxLayoutAlign="space-around center" >
        <button mat-icon-button> <mat-icon>keyboard_arrow_left</mat-icon></button>

        <div fxLayout="row" fxLayoutAlign="center " style="height: 70px" class="imageBar">
            <img src="https://cdn.pixabay.com/photo/2015/05/01/14/46/new-york-748595_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2016/02/19/11/01/taxi-1209542_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2016/02/19/11/01/taxi-1209542_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2015/05/01/14/46/new-york-748595_1280.jpg">
            <img src="https://cdn.pixabay.com/photo/2017/10/29/21/05/bridge-2900839_1280.jpg">
        </div>


        <button mat-icon-button> <mat-icon>keyboard_arrow_right</mat-icon></button>

    </div>
</div>



