<div layout="row" flex="100" layout-align="center center" class="wizard-row" style="margin-bottom:5%;">
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getProducerActiveTabCss('basics')" aria-label="Basics" ng-click="selectProducerTab('basics')">1</md-button>
		Basics
	</div>
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getProducerActiveTabCss('streams')" aria-label="Streams" ng-click="selectProducerTab('streams')">2</md-button>
		Streams
	</div>
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getProducerActiveTabCss('deployment')" aria-label="Deployment" ng-click="selectProducerTab('deployment')">3</md-button>
		Deployment
	</div>
</div>
<div flex="100" class="md-whiteframe-z1">
	<collapsible title-label="'Basics'" disabled="disabled" removable="false" collapsible="false" subtitle="false" layout-fill ng-if="isProducerTabSelected('basics')">
		<sepa-basics element="selectedSource" disabled="editingDisabled"></sepa-basics>
	</collapsible> 
	<collapsible title-label="'Streams'" disabled="disabled" removable="false" collapsible="false" layout-fill ng-if="isProducerTabSelected('streams')">
				<sepa-streams element="selectedSource.eventStreams" disabled="editingDisabled"></sepa-streams>
					<div class="md-padding">
						<md-list-item class="md-3-line" ng-repeat="(key, stream) in selectedSource.eventStreams track by $index">
							<img ng-src="{{stream.iconUrl}}" class="md-avatar" alt="{{Icon}}" ng-show="stream.iconUrl != undefined"/>
							<div flex="50" layout="row" layout-align="start center" >
						        <div class="md-list-item-text" layout="column">
						          <h3>{{ stream.name == '' ? 'Unnamed stream' : stream.name }}</h3>
						          <h4>{{ stream.description == '' ? '-' : stream.description}}</h4>
						        </div>
						       </div>
						       <div flex="50" layout="row" layout-align="start center" >
						       <md-button class="md-accent" ng-click="loadStreamDetails(stream, editingDisabled)">View</md-button>
						       <md-button class="md-accent" ng-click="cloneStream(selectedSource.eventStreams, stream)">Clone</md-button>
						       <md-button class="md-accent" ng-click="loadStreamDetails(stream, editingDisabled)" ng-disabled="editingDisabled">Modify</md-button>
						       <md-button class="md-accent" ng-click="removeStream(selectedSource.eventStreams, stream)" ng-disabled="editingDisabled">Delete</md-button>
						   </div>
					   </md-list-item>
					   <div ng-if="selectedSource.eventStreams.length == 0">No streams configured yet.</div>
					   <md-button class="md-accent" ng-click="addStream(selectedSource.eventStreams)">Add Stream</md-button>
					   <md-divider></md-divider>
					   <div ng-show="streamSelected">	
						   <div flex="none" layout-wrap layout="row">
						   <h4 class="md-headline">{{selectedStream.name}}</h4>	
						   </div>			   		
					     	<sepa-stream-detail stream="selectedStream" disabled="editingDisabled"></sepa-stream-detail> 
					   </div>
				   </div>
	</collapsible>
	<collapsible title-label="'Deployment'" disabled="disabled" removable="false" collapsible="false" layout-fill ng-if="isProducerTabSelected('deployment')">
		<stream-deployment element="selectedSource" disabled="disabled" style="width:100%;"/>
	</collapsible>
</div>