<form (ngSubmit)="updateConfiguration()">
    <section *ngFor="let configuration of consulService.configs">
       <consul-configs-password *ngIf="configuration.isPassword" [configuration]="configuration" >
       </consul-configs-password >

       <consul-configs-text *ngIf="configuration.valueType == service.XS_STRING && !configuration.isPassword"
       [configuration]="configuration">
       </consul-configs-text>

       <consul-configs-number *ngIf="configuration.valueType == service.XS_INTEGER || configuration.valueType == service.XS_DOUBLE"
       [configuration]="configuration">
       </consul-configs-number>

       <consul-configs-boolean *ngIf="configuration.valueType == service.XS_BOOLEAN"
       [configuration]="configuration">
       </consul-configs-boolean>

    </section>
    <button mat-raised-button color="primary" type="submit" class="md-raised md-primary submit-button">Update
    </button>
</form>
