<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <div fxFlex="100">
            <div
                fxFlex="100"
                fxLayout="column"
                style="margin: 5px; width: 100%"
            >
                <mat-form-field class="w-100" floatLabel="auto" color="accent">
                    <mat-label>Data View Name</mat-label>
                    <input
                        id="dvname"
                        #dvname="ngModel"
                        required
                        matInput
                        data-cy="data-view-name"
                        [(ngModel)]="dashboard.name"
                    />
                    <mat-error>Name must not be empty</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="dashboard.description" />
                </mat-form-field>
                <label>Default view mode</label>
                <mat-radio-group
                    [(ngModel)]="
                        dashboard.dashboardGeneralSettings.defaultViewMode
                    "
                >
                    <mat-radio-button
                        class="view-radio-button"
                        [value]="'grid'"
                    >
                        Grid View
                    </mat-radio-button>
                    <mat-radio-button
                        class="view-radio-button"
                        [value]="'slide'"
                    >
                        Slide View
                    </mat-radio-button>
                </mat-radio-group>
                <!--<mat-checkbox [(ngModel)]="dashboard.displayHeader">Show name and description in dashboard</mat-checkbox>-->
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-right">
        <button
            mat-button
            mat-raised-button
            class="mat-basic mr-10"
            (click)="onCancel()"
        >
            Close
        </button>
        <button
            [disabled]="dvname.invalid"
            mat-button
            mat-raised-button
            color="accent"
            data-cy="save-data-view"
            (click)="onSave()"
        >
            {{ createMode ? 'Create' : 'Save' }}
        </button>
    </div>
</div>
