<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-visualization-config-outer
    [configurationValid]="
        currentlyConfiguredWidget.visualizationConfig.configurationValid
    "
>
    <sp-split-section [level]="3" [title]="'Fields' | translate">
        <sp-form-field [level]="3" [label]="'X' | translate">
            <sp-select-single-property-config
                fxFlex
                [availableProperties]="fieldProvider.numericFields"
                [selectedProperty]="
                    currentlyConfiguredWidget.visualizationConfig.firstField
                "
                (changeSelectedProperty)="updateFirstField($event)"
            >
            </sp-select-single-property-config>
        </sp-form-field>
        <sp-form-field [level]="3" [label]="'X Label' | translate">
            <mat-form-field appearance="outline" color="accent">
                <input
                    matInput
                    type="text"
                    [(ngModel)]="
                        currentlyConfiguredWidget.visualizationConfig.labelX
                    "
                    (ngModelChange)="triggerViewRefresh()"
                />
            </mat-form-field>
        </sp-form-field>
        <sp-form-field [level]="3" [label]="'Y' | translate">
            <sp-select-single-property-config
                fxFlex
                [availableProperties]="fieldProvider.numericFields"
                [selectedProperty]="
                    currentlyConfiguredWidget.visualizationConfig.secondField
                "
                (changeSelectedProperty)="updateSecondField($event)"
            >
            </sp-select-single-property-config>
        </sp-form-field>
        <sp-form-field [level]="3" [label]="'Y Label' | translate">
            <mat-form-field appearance="outline" color="accent">
                <input
                    matInput
                    type="text"
                    [(ngModel)]="
                        currentlyConfiguredWidget.visualizationConfig.labelY
                    "
                    (ngModelChange)="triggerViewRefresh()"
                />
            </mat-form-field>
        </sp-form-field>
    </sp-split-section>
</sp-visualization-config-outer>
