<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-split-section
    [level]="3"
    [title]="'Additional documents from generic storage' | translate"
>
    @for (exportItem of exportItems; track exportItem.resourceId) {
        <sp-generic-storage-item
            [exportItem]="exportItem"
            [importMode]="importMode"
            (removeItem)="handleDocumentRemoval($event)"
        >
        </sp-generic-storage-item>
    }

    @if (!importMode) {
        <div fxLayout="row" fxLayoutAlign="start center" class="mt-10">
            <div fxLayoutAlign="start center" fxFlex>
                <mat-form-field color="accent" fxFlex subscriptSizing="dynamic">
                    <mat-label>{{ 'Document ID' | translate }}</mat-label>
                    <input
                        matInput
                        [placeholder]="'Document ID' | translate"
                        [(ngModel)]="newDocumentId"
                    />
                </mat-form-field>
            </div>
            <div fxLayoutAlign="end center" class="ml-5">
                <button
                    mat-flat-button
                    color="accent"
                    (click)="addGenericStorageDocument()"
                >
                    {{ 'Add' | translate }}
                </button>
            </div>
        </div>
    }
</sp-split-section>
