<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="row" fxLayoutAlign="start">
    <div fxFlex="70" fxLayoutAlign="start center">
        <mat-form-field class="w-100" style="margin-right: 10px" color="accent">
            <input
                matInput
                name="correction"
                placeholder="Correction Value"
                [(ngModel)]="cachedProperty.correctionValue"
                (change)="valueChanged()"
                data-cy="connect-schema-correction-value"
            />
        </mat-form-field>
    </div>
    <div fxFlex="30" fxLayoutAlign="start center">
        <mat-form-field class="w-100" color="accent">
            <mat-select
                required
                placeholder="Math Operator"
                [(ngModel)]="cachedProperty.operator"
                (selectionChange)="valueChanged()"
                [disabled]="!cachedProperty.correctionValue"
                data-cy="connect-schema-correction-operator"
            >
                <mat-option [value]="op.value" *ngFor="let op of operators">
                    {{ op.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
