/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

// Custom variables that can be changed by project-external developers

:root {
    --color-primary: #1b1464;
    --color-primary-dark: #83a3de;
    --color-secondary: rgb(57, 181, 74);
    --color-secondary-dark: #16cc39;

    --color-loading-bar: var(--color-primary);
    --color-primary-alt: rgb(59, 92, 149);

    --color-menubar-bg: var(--color-secondary);
    --color-menubar-bg-menu-item: var(--color-secondary);
    --color-menubar-bg-menu-item-hover: var(--color-secondary);
    --color-menubar-bg-menu-item-selected: var(--color-secondary);
    --color-menubar-bg-menu-group-hover: var(--color-secondary);
    --color-menubar-bg-menu-group-selected: var(--color-secondary);
    --color-menubar-text-menu-item: var(--color-bg-1);
    --color-menubar-text-menu-group: var(--color-primary);
    --color-menubar-text-menu-item-hover: var(--color-bg-1);
    --color-menubar-text-menu-group-hover: var(--color-primary);

    --color-toolbar-bg: var(--color-bg-0);
    --color-toolbar-text: var(--color-secondary);
    --color-toolbar-text-hover: var(--color-secondary-dark);
    --color-toolbar-icon: var(--color-secondary);
    --color-toolbar-icon-hover: var(--color-secondary-dark);
    --color-toolbar-icon-selected: var(--color-secondary-dark);
}

.dark-mode {
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-navigation-text: #121212;
    --content-box-color: #404040;
}

.light-mode {
    --color-navigation-text: #ffffff;
    --content-box-color: rgb(156, 156, 156);
}
