<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column" class="links-wrapper">
    <div class="link-header" fxLayout="row" fxLayoutAlign="space-between">
        <sp-split-section
            [level]="2"
            [title]="'Linked Resources' | translate"
            [subtitle]="
                'Adapters, dashboards, and other entries connected to this asset.'
                    | translate
            "
        >
            <div section-actions>
                @if (selectedAsset.assetLinks?.length > 0) {
                    <div class="link-pill">
                        {{ selectedAsset.assetLinks.length }} linked
                    </div>
                }
            </div>
            @if (
                assetLinkTypes.length > 0 &&
                selectedAsset.assetLinks?.length > 0
            ) {
                <sp-asset-link-table
                    [asset]="selectedAsset"
                    [assetLinkTypes]="assetLinkTypes"
                >
                </sp-asset-link-table>
            } @else {
                <sp-alert-banner
                    type="info"
                    [title]="'No linked resources found.' | translate"
                    [description]="
                        'Attach adapters, dashboards, or pipelines in the asset editor to surface them here.'
                            | translate
                    "
                >
                </sp-alert-banner>
            }
        </sp-split-section>
    </div>
</div>
