<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<config-item flex="100" layout="row" element-title="Select columns">
    <div flex="100" layout="row">
        <sp-button sp-button-blue sp-button-small-padding id="select-all-button" ng-click="ctrl.selectAll()">Select all</sp-button>&nbsp;&nbsp;
        <sp-button sp-button-gray sp-button-small-padding ng-click="ctrl.deselectAll()">Select none</sp-button>
    </div>
    <p/>
    <div flex="100" layout="column">
    <md-checkbox ng-model="prop.isSelected" ng-repeat="prop in ctrl.wid.schema.eventProperties"
                 aria-label="{{prop.properties.runtimeName}}">
        {{prop.properties.runtimeName}}
    </md-checkbox>
    </div>
</config-item>