<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column" class="page-container">
    <div fxLayout="row" class="p-0 sp-bg-lightgray">
        <div fxFlex="100" class="page-container-nav">
            <div fxFlex="100" fxLayout="row">
                <div fxFlex fxLayoutAlign="start center">
                    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectDashboard($event)" color="accent">
                        <mat-tab label="Start"></mat-tab>
                        <mat-tab *ngFor="let dataViewDashboard of dataViewDashboards" label="{{dataViewDashboard.name}}"></mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-height data-explorer-options sp-tab-bg" fxLayout="row" *ngIf="selectedIndex > 0">
        <div class="data-explorer-options-item pl-10" fxLayoutAlign="start center" fxLayout="row">
            <button mat-button mat-raised-button color="accent" matTooltip="Save" [matTooltipPosition]="'above'" (click)="saveDashboard()">
                <mat-icon>save</mat-icon>&nbsp;<span>Save</span>
            </button>
        </div>
        <div class="data-explorer-options-item" fxLayoutAlign="start center" fxLayout="row">
            <button mat-button mat-raised-button color="accent" matTooltip="Add visualization" [matTooltipPosition]="'above'" (click)="addVisualization()">
                <mat-icon>add</mat-icon>&nbsp;<span>Add visualization</span>
            </button>
        </div>
        <div class="data-explorer-options-item" fxLayoutAlign="end center" fxFlex fxLayout="row">
            <sp-time-range-selector *ngIf="selectedIndex" (dateRangeEmitter)="updateDateRange($event)" [dateRange]="selectedDataViewDashboard.dashboardTimeSettings"></sp-time-range-selector>
        </div>
<!--        <div class="data-explorer-options-item" fxLayoutAlign="start center" fxLayout="row">-->
<!--            <button mat-button mat-icon-button color="primary"-->
<!--                    *ngIf="selectedIndex > 0" (click)="toggleEditMode()" [disabled]="editMode">-->
<!--                <i class="material-icons">edit</i>-->
<!--            </button>-->
<!--        </div>-->
    </div>

    <div class="page-container-padding-inner" fxLayout="column" fxFlex="100" *ngIf="dashboardsLoaded">
        <sp-data-explorer-dashboard-overview (selectDashboardEmitter)="openDashboard($event)"
                                             (reloadDashboardsEmitter)="getDashboards()"
                                             [dataViewDashboards]="dataViewDashboards"
                                             *ngIf="!dashboardTabSelected">

        </sp-data-explorer-dashboard-overview>
        <sp-data-explorer-dashboard-panel fxLayout="column"
                                          #dashboardPanel
                                          [(editMode)]="editMode"
                                          [dashboard]="selectedDataViewDashboard"
                                          [timeSettings]="selectedDataViewDashboard.dashboardTimeSettings"
                                          class="dashboard-panel" *ngIf="dashboardTabSelected">
        </sp-data-explorer-dashboard-panel>
    </div>
</div>
