<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column" class="page-container">
    <div fxLayout="row" class="p-0 sp-bg-lightgray">
        <div fxFlex="100" class="page-container-nav">
            <div fxFlex="100" fxLayout="row">
                <div fxFlex fxLayoutAlign="start center">
                    <mat-tab-group [selectedIndex]="selectedIndex"
                                   (selectedIndexChange)="selectDashboardInTab($event)"
                                   color="accent">
                        <mat-tab data-cy="data-explorer-start-tab"
                                 label="Start"></mat-tab>
                        <mat-tab *ngFor="let dataViewDashboard of dataViewDashboards"
                                 label="{{dataViewDashboard.name}}"></mat-tab>
                    </mat-tab-group>
                </div>

                <div fxFlex fxLayoutAlign="end center" *ngIf="selectedIndex > 0">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="triggerEditMode()"
                                *ngIf="!editMode && hasDataExplorerWritePrivileges">
                            <mat-icon>edit</mat-icon>
                            <span>Edit dashboard</span>
                        </button>
                        <button mat-menu-item (click)="getDashboards(selectedDataViewDashboard._id)">
                            <mat-icon>refresh</mat-icon>
                            <span>Reload dashboard</span>
                        </button>
                        <button mat-menu-item (click)="timeRangeVisible = true" *ngIf="!editMode && !timeRangeVisible">
                            <mat-icon>alarm_on</mat-icon>
                            <span>Show time range selector</span>
                        </button>
                        <button mat-menu-item (click)="timeRangeVisible = false" *ngIf="!editMode && timeRangeVisible">
                            <mat-icon>alarm_off</mat-icon>
                            <span>Hide time range selector</span>
                        </button>
                        <button mat-menu-item *ngIf="hasDataExplorerDeletePrivileges" (click)="deleteDashboard(selectedDataViewDashboard)">
                            <mat-icon>clear</mat-icon>
                            <span>Delete dashboard</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>


    <div fxLayout="column" fxFlex="100" *ngIf="dashboardsLoaded">
        <sp-data-explorer-dashboard-overview (selectDashboardEmitter)="openDashboard($event)"
                                             (reloadDashboardsEmitter)="getDashboards()"
                                             [dataViewDashboards]="dataViewDashboards"
                                             *ngIf="!dashboardTabSelected">

        </sp-data-explorer-dashboard-overview>
        <sp-data-explorer-dashboard-panel fxLayout="column"
                                          #dashboardPanel
                                          (resetDashboardChanges)="resetDashboardChanges()"
                                          [(editMode)]="editMode"
                                          [dashboard]="selectedDataViewDashboard"
                                          [timeSettings]="selectedDataViewDashboard.dashboardTimeSettings"
                                          [timeRangeVisible]="timeRangeVisible"
                                          class="dashboard-panel"
                                          *ngIf="dashboardTabSelected">
        </sp-data-explorer-dashboard-panel>
    </div>
</div>
