<div flex layout-fill>
<div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
<div flex="none" layout-wrap layout="row" layout-align="start center" style="padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
<h5>MY ELEMENTS </h5>
</div>
<div layout-fill>
	<md-tabs md-dynamic-height md-border-bottom>
	
			<md-tab ng-repeat="tab in tabs"
					label="{{tab.title}}"
					md-on-select="loadCurrentElements(tab.type)">
				<md-tab-label>
					{{tab.title}}
				</md-tab-label>
				<md-content layout-padding class="md-whiteframe-z2">
			
	
				</md-content>
			</md-tab>
	</md-tabs>
</div>
</div>
<div>
<md-list>
			<md-list-item ng-repeat="item in currentElements | orderBy:'+name'">
				
				<div flex="100" layout="row">
					<div flex="20" layout="row" style="margin:10px;">
						<img ng-src="{{item.iconUrl}}" class="md-card-image connectable-element" alt="{{item.name}}"
						ng-show="(item.iconUrl != null && item.iconUrl != 'http://localhost:8080/img')" />
						<span class="connectable-element"
							ng-show="(item.iconUrl == null || item.iconUrl == 'http://localhost:8080/img')">{{elementTextIcon(item.name)}}</span>
						</span>
					</div>
					<div flex="80" layout="row">
						<div flex="100" layout="column" layout-align="left">
							<div layout="row">
								<div flex layout="column">
									<h2 class="md-title">{{item.name}}</h2>
									<p>{{item.description}}</p>	
								</div>
								<div flex layout="column" layout-algin="end top">
									<div ng-show="item.favorite" class="top right">
										<md-icon md-svg-icon="action:ic_favorite_24px" aria-label="Action" class="md-accent" style="width: 36px; height: 36px"></md-icon>
									</div>
								</div>
							</div>		
							<div flex layout="row">	
								<span flex flex-order="1" layout="row" layout-align="center center">
									<md-button aria-label="As Favorite" class="md-accent" ng-click="toggleFavorite(item, tab.type)"> 
										<md-icon md-svg-icon="toggle:ic_star_24px" aria-label="Action"></md-icon> As Favorite 
									</md-button> 
								</span>								
								<span flex flex-order="2" layout="row" layout-align="center center">
									<md-button 	aria-label="JSON-LD" class="md-accent" ng-click="jsonld($event, item.elementId)"> 
										<md-icon md-svg-icon="action:ic_search_24px"></md-icon> View Json-LD 
									</md-button>
								</span>
								<span flex flex-order="3" layout="row" layout-align="center center">
									<md-button aria-label="Refresh" class="md-accent" ng-click="refresh(item.elementId, tab.type)"> 
										<md-icon md-svg-icon="action:ic_autorenew_24px" aria-label="Action"></md-icon> Reload Description
									</md-button> 
								</span>
								<span flex flex-order="4" layout="row" layout-align="center center">
									<md-button aria-label="Remove" class="md-accent" ng-click="remove(item.elementId, tab.type)"> 
										<md-icon md-svg-icon="content:ic_clear_24px"></md-icon> Delete 
									</md-button>
								</span>
							</div>
						</div>
					</div>
					
				</div>
				<md-divider/>
			</md-list-item>
		</md-list>
</div>
</div>

