<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div [formGroup]="parentForm" id="formWrapper" fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayout="row">
        <mat-form-field fxFlex color="accent">
            <input
                type="password"
                fxFlex
                formControlName="{{ fieldName }}"
                matInput
                [placeholder]="staticProperty.label"
                required
                [attr.data-cy]="fieldName"
                (blur)="emitUpdate()"
            />
            <mat-hint>{{ staticProperty.description }}</mat-hint>

            <mat-error *ngIf="!fieldValid">
                {{ errorMessage }}
            </mat-error>
        </mat-form-field>
    </div>
</div>
