<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-view [showBackLink]="false" [padding]="true">
    <div
        nav
        fxFlex="100"
        fxLayoutAlign="start center"
        fxLayout="row"
        fxLayoutGap="10px"
        class="pl-10"
    >
        <button
            mat-flat-button
            data-cy="connect-create-new-adapter-button"
            (click)="createNewAdapter()"
        >
            <i class="material-icons">add</i>&nbsp;{{
                'New adapter' | translate
            }}
        </button>
        <button
            mat-flat-button
            class="mat-basic"
            data-cy="start-all-adapters-btn"
            [disabled]="checkCurrentSelectionStatus(false)"
            (click)="startAllAdapters(true)"
        >
            <mat-icon>play_arrow</mat-icon>
            <span>{{ 'Start all adapters' | translate }}</span>
        </button>
        <button
            mat-flat-button
            class="mat-basic"
            data-cy="stop-all-adapters-btn"
            [disabled]="checkCurrentSelectionStatus(true)"
            (click)="startAllAdapters(false)"
        >
            <mat-icon>stop</mat-icon>
            <span>{{ 'Stop all adapters' | translate }}</span>
        </button>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
            <sp-connect-filter-toolbar
                class="filter-bar-margin"
                (filterChangedEmitter)="applyFilter($event)"
            >
            </sp-connect-filter-toolbar>
            <div
                fxFlex="100"
                fxLayout="row"
                fxLayoutAlign="end center"
                class="page-container-nav"
            >
                <button
                    mat-icon-button
                    color="accent"
                    id="startAdapterTutorial3"
                    (click)="startAdapterTutorial()"
                    matTooltip="Tutorial: Generic Adapter"
                    [disabled]="tutorialActive"
                >
                    <mat-icon>school</mat-icon>
                </button>
            </div>
            <button
                mat-icon-button
                [matTooltip]="'Refresh adapters' | translate"
                matTooltipPosition="below"
                color="accent"
                (click)="getAdaptersRunning()"
            >
                <i class="material-icons"> refresh </i>
            </button>
        </div>
    </div>
    <div fxFlex="100" fxLayout="column">
        <sp-basic-header-title-component
            [title]="'Adapters' | translate"
        ></sp-basic-header-title-component>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
            <sp-table
                fxFlex="100"
                [columns]="displayedColumns"
                [dataSource]="dataSource"
                [showActionsMenu]="true"
                [rowsClickable]="true"
                (rowClicked)="navigateToDetailsOverviewPage($event)"
                data-cy="all-adapters-table"
                matSort
            >
                <ng-container matColumnDef="status">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        {{ 'Status' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let adapter">
                        <sp-adapter-status-light
                            [adapterRunning]="adapter.running"
                        ></sp-adapter-status-light>
                    </td>
                </ng-container>
                <ng-container matColumnDef="start">
                    <th mat-header-cell *matHeaderCellDef>Start</th>
                    <td
                        (click)="$event.stopPropagation()"
                        mat-cell
                        *matCellDef="let adapter"
                        data-cy="adapters-table"
                    >
                        @if (
                            adapter.elementId === operationInProgressAdapterId
                        ) {
                            <div
                                data-cy="adapter-operation-in-progress-spinner"
                                fxLayoutAlign="center center"
                            >
                                <mat-spinner
                                    color="accent"
                                    [diameter]="20"
                                ></mat-spinner>
                            </div>
                        } @else if (!adapter.running) {
                            <button
                                color="accent"
                                mat-icon-button
                                matTooltip="Start adapter"
                                matTooltipPosition="above"
                                data-cy="start-adapter"
                                (click)="
                                    startAdapter(adapter);
                                    $event.stopPropagation()
                                "
                            >
                                <i class="material-icons">play_arrow</i>
                            </button>
                        } @else if (adapter.running) {
                            <button
                                color="accent"
                                mat-icon-button
                                matTooltip="Stop adapter"
                                matTooltipPosition="above"
                                data-cy="stop-adapter"
                                (click)="
                                    stopAdapter(adapter);
                                    $event.stopPropagation()
                                "
                            >
                                <i class="material-icons">stop</i>
                            </button>
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        {{ 'Name' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let adapter">
                        <div
                            fxLayout="column"
                            fxLayoutAlign="start start"
                            class="truncate"
                        >
                            <b data-cy="adapter-name">{{ adapter.name }}</b>
                            <small> {{ adapter.description }}</small>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="adapterBase">
                    <th mat-header-cell *matHeaderCellDef>Adapter</th>
                    <td mat-cell *matCellDef="let adapter">
                        <img
                            class="adapter-icon"
                            *ngIf="getIconUrl(adapter) && !adapter.icon"
                            [src]="getIconUrl(adapter)"
                            [alt]="adapter.name"
                        />
                        <img
                            class="adapter-icon"
                            *ngIf="adapter.icon"
                            [alt]="adapter.name"
                            [src]="adapter.icon"
                        />
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastModified">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'Created' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let adapter">
                        <h5>
                            {{ adapter.createdAt | date: 'dd.MM.yyyy HH:mm' }}
                        </h5>
                    </td>
                </ng-container>

                <ng-container matColumnDef="messagesSent">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        matTooltip="Messages sent since last start"
                    >
                        #{{ 'Messages' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let adapter">
                        <sp-label
                            size="small"
                            [labelText]="
                                adapterMetrics[adapter.elementId]?.messagesOut
                                    .counter || 0
                            "
                        ></sp-label>
                    </td>
                </ng-container>

                <ng-container matColumnDef="lastMessage">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'Last message' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let adapter">
                        <h5>
                            {{
                                adapterMetrics[adapter.elementId] &&
                                adapterMetrics[adapter.elementId]
                                    .lastTimestamp > 0
                                    ? (adapterMetrics[adapter.elementId]
                                          .lastTimestamp
                                      | date: 'dd.MM.yyyy HH:mm')
                                    : 'n/a'
                            }}
                        </h5>
                    </td>
                </ng-container>

                <ng-template spTableActions let-element>
                    <button
                        mat-menu-item
                        data-cy="details-adapter"
                        (click)="navigateToDetailsOverviewPage(element)"
                    >
                        <mat-icon>visibility</mat-icon>
                        <span>{{ 'Show' | translate }}</span>
                    </button>
                    <button
                        mat-menu-item
                        data-cy="edit-adapter"
                        (click)="editAdapter(element)"
                    >
                        <mat-icon>edit</mat-icon>
                        <span>{{ 'Edit' | translate }}</span>
                    </button>
                    <button
                        mat-menu-item
                        data-cy="open-manage-permissions"
                        *ngIf="isAdmin"
                        (click)="showPermissionsDialog(element)"
                    >
                        <mat-icon>share</mat-icon>
                        <span>{{ 'Manage permissions' | translate }}</span>
                    </button>
                    <button
                        mat-menu-item
                        data-cy="delete-adapter"
                        (click)="deleteAdapter(element)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span>{{ 'Delete' | translate }}</span>
                    </button>
                </ng-template>
            </sp-table>
        </div>
    </div>
</sp-basic-view>
