.service-icon-passing {
    cursor: default;
    color: #4CAF50;
}

.service-icon-critical {
    cursor: default;
    color: #F44336;
}

.show-configuration-icon {
    cursor: pointer;
    color: rgba(0,0,0,0.54);
}

.tooltip-icon {
    cursor: default;
    font-size: 150%;
}