<div class="assemblyOptions sp-blue-bg" fxLayout="row" fxLayoutAlign="space-between center">
    <span *ngIf="serviceData.meta.status === 'passing'" fxLayoutAlign="center center">
        <mat-icon class="service-icon-passing">lens</mat-icon>
    </span>
    <span *ngIf="serviceData.meta.status === 'critical'" fxLayoutAlign="center center">
        <mat-icon class="service-icon-passing">lens</mat-icon>
    </span>
    <h4>{{serviceData.name}}</h4>
    <span *ngIf="showConfiguration" fxLayoutAlign="center center" class="show-configuration-icon">
        <mat-icon (click)="toggleConfiguration()">expand_less</mat-icon>
    </span>
    <span *ngIf="!showConfiguration" fxLayoutAlign="center center" class="show-configuration-icon">
        <mat-icon (click)="toggleConfiguration()">expand_more</mat-icon>
    </span>
</div>

<div class="sp-blue-border" *ngIf="showConfiguration" style="padding:5px">
    <form (ngSubmit)="updateConfiguration()">
        <section *ngFor="let configuration of serviceData['configs']">
            <!-- If Input is Text or Number -->
            <mat-form-field style="width: 100%" *ngIf="configuration.valueType != 'xs:boolean'">
                <input *ngIf="configuration.valueType == 'xs:integer' || configuration.valueType == 'xs:double'"
                       matInput [(ngModel)]="configuration.value" [placeholder]="configuration.key" type="number"
                       [ngModelOptions]="{standalone: true}">
                <input *ngIf="configuration.valueType == 'xs:string'" matInput [(ngModel)]="configuration.value"
                       [placeholder]="configuration.key" type="text"
                       [ngModelOptions]="{standalone: true}">
                <mat-icon matSuffix [matTooltip]="configuration.description" matTooltipPosition="left"
                          class="tooltip-icon">help
                </mat-icon>
            </mat-form-field>
            <!-- If Input is Boolean -->
            <section style="padding-bottom: 1.25em" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="configuration.valueType == 'xs:boolean'">
                <mat-checkbox matInput [(ngModel)]="configuration.value" type="checkbox"
                              [ngModelOptions]="{standalone: true}">
                    {{configuration.key}}
                </mat-checkbox>
                <mat-icon [matTooltip]="configuration.description" matTooltipPosition="left" class="tooltip-icon">
                    help
                </mat-icon>
            </section>
        </section>
        <button style="width: 100%" mat-raised-button color="primary" type="submit" class="md-raised md-primary">Update
        </button>
    </form>
</div>