<div id='measuringCylinder' style="width:150px;min-height:200px;height:200px;">
    <div id='verticalBar' style="float:left;">
        <div id='barTop' style="border-top:2px #009688 solid;border-right:15px #009688 solid"></div>
        <div id='currentFill' style="width:200px;height:200px;border-width: 2px;border-style: solid;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background-color: #009688;border-color: #009688;margin:-2px">
            <div id='currentFillPercent' style="background-color:white;max-height:100%;height:{{printValue(item[selectedNumberProperty])}}%"></div>
            <div id='marker'></div>
        </div>
        <div id='barBottom' style="border-top:2px #009688 solid;border-right:15px #009688 solid"></div>
    </div>
    <div id='legend' style="position:relative;top:-200px;left:-50px;">
        <div id='valueTop'>{{max}}</div>
        <div id='space'>
            <!--<div id='legendSpace' style="min-height:10px;max-height:169px;height:%"></div>-->
            <div id='valueCurrent' style="color:#009688;font-weight:bold;position:relative;left:60px;top:{{(printValue(item[selectedNumberProperty])+20)}}px">{{item[selectedNumberProperty] | number : 2}}</div>
        </div>
        <div id='valueBottom' style="position:relative;top:130px;color:#009688;font-weight:bold;">{{min}}</div>
    </div>
</div>