<h3>Select Value</h3>
<md-select ng-model="wid.schema.selectedNumberProperty">
    <md-option ng-value="prop" ng-repeat="prop in wid.schema.eventProperties | numberFilter">{{ prop.properties.runtimeName }}</md-option>
</md-select>

<div flex="80">
    <h3>Gauge Settings</h3>
    <div layout="row" flex="100" layout-align="center center">
        <div flex="100">
            <md-input-container>
                <label>Minimum</label>
                <input ng-model="wid.config.min">
            </md-input-container>
        </div>
    </div>
    <div layout="row" flex="100" layout-align="center center">
        <div flex="100">
            <md-input-container>
                <label>Maximum</label>
                <input ng-model="wid.config.max">
            </md-input-container>
        </div>
    </div>
</div>
