<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column">
    <h5>Indicator Field</h5>
    <mat-form-field color="accent" fxFlex="100">
        <mat-label>Select Field</mat-label>
        <mat-select [(value)]="currentlyConfiguredWidget.dataConfig.selectedProperty"
                    (selectionChange)="setSelectedProperties($event)">
            <mat-option [value]="property.runtimeName"
                        *ngFor="let property of currentlyConfiguredWidget.dataConfig.availableProperties">
                <span class="pipeline-name">{{ property.runtimeName }}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h5>Filter</h5>
    <div>
        <button mat-button mat-raised-button color="accent" class="small-button"
                (click)="addFilter()"
                style="margin-right:10px;margin-bottom: 15px;">Add Filter
        </button>
    </div>
    <div *ngFor="let filter of currentlyConfiguredWidget.dataConfig.selectedFilters" fxFlex="100" fxLayout="column">
        <div fxFlex="100" fxLayout="column">
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field color="accent" class="w-50-px mr-15">
                    <mat-label>Operator</mat-label>
                    <mat-select [(value)]="filter.operator">
                        <mat-option [value]="'='">
                            <span class="pipeline-name">=</span>
                        </mat-option>
                        <mat-option [value]="'<'">
                            <span class="pipeline-name"><</span>
                        </mat-option>
                        <mat-option [value]="'<='">
                            <span class="pipeline-name"><=</span>
                        </mat-option>
                        <mat-option [value]="'>='">
                            <span class="pipeline-name">>=</span>
                        </mat-option>
                        <mat-option [value]="'>'">
                            <span class="pipeline-name">></span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent" class="mr-15">
                    <mat-label>Condition</mat-label>
                    <input matInput [(ngModel)]="filter.condition" (ngModelChange)="triggerDataRefresh()">
                </mat-form-field>
                <button mat-icon-button color="accent"
                        (click)="remove(filter.index)">
                    <i class="material-icons">remove</i>
                </button>
            </div>
        </div>
    </div>
</div>

