<h3 class="md-display-2">Basics</h3>
		<md-input-container>
	        <label>URL</label>
	        <input ng-model="element.uri" required ng-disabled="disabled">
      	</md-input-container>
		<md-input-container>
	        <label>Name</label>
	        <input ng-model="element.name" required ng-disabled="disabled">
      	</md-input-container>
	    <md-input-container>
	    	<label>Description</label>
	        <input ng-model="element.description" required ng-disabled="disabled">
	    </md-input-container>
	    <md-input-container>
	    	<label>Icon URL</label>
	        <input ng-model="element.iconUrl" ng-disabled="disabled">
	    </md-input-container>