<div ng-repeat = "(key2, property) in restriction.eventSchema.eventProperties track by $index">
   	<div layout="column" flex="100" class="panel-margin ontology-panel-property">
   		<div flex="100" layout="row" >	
   			<div flex="70" layout="row" layout-align="start center"><h4>Property {{key2+1}}</h4></div>
   			<div flex="30" layout="row" layout-align="end center"><md-button ng-disabled="disabled" ng-click="removePropertyRestriction(key2, restriction)" class="md-icon-button tree-node-action"><md-icon md-svg-icon="content:ic_clear_24px" aria-label="Delete Restriction"></md-icon></md-button></div>	
	</div>
  	<md-checkbox ng-checked="datatypeRestricted(property)" ng-disabled="disabled" ng-click="toggleDatatypeRestriction(property)" aria-label="Datatype Restriction">
        Restrict datatype
    </md-checkbox>
	
	<div ng-show="datatypeRestricted(property)">
		<datatype-property runtime-type="property.properties.runtimeType" disabled="disabled">
		</datatype-property>
   	</div>
   	<md-checkbox ng-checked="domainPropertyRestricted(property)" ng-click="toggleDomainPropertyRestriction(property)" aria-label="Domain property Restriction" ng-disabled="disabled" >
        Restrict domain property
    </md-checkbox>
    <div ng-show="domainPropertyRestricted(property)">
    	<domain-property property="property.properties.domainProperties[0]" disabled="disabled"></domain-property>
   	</div> 	    
</div>
</div>
<md-button class="md-accent" ng-disabled="disabled" ng-click="addPropertyRestriction(key, restriction)">Add Property Restriction</md-button>