	<div layout="row">
		<select ng-model="selectedTransportFormat" placeholder="Select Transport Format" ng-disabled="disabled" >
	          <option ng-repeat="format in availableTransportFormats" value="{{format.id}}">
	            <b>{{format.name}}</b>
	          </option>
		</select>
		<md-button class="md-accent" ng-click="addTransportFormat(grounding)" ng-disabled="disabled">Add Transport Format</md-button>
	</div>	
	<div ng-show="grounding.length > 0">
	<div layout="column" flex="100" class="panel-margin ontology-panel-property">
   		<div flex="100" layout="row" >	
   			<div flex="70" layout="row" layout-align="start center"><h4>Transport Format: {{findFormat(grounding[0])}}</h4></div>
   			<div flex="30" layout="row" layout-align="end center"><md-button ng-disabled="disabled" ng-click="removeTransportFormat(grounding)" class="md-icon-button tree-node-action"><md-icon md-svg-icon="content:ic_clear_24px" aria-label="Remove Format"></md-icon></md-button></div>	
		</div>
	</div>
	</div>
<p></p>