<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div [formGroup]="startAdapterForm" fxLayout="column" fxFlex="100">
    <sp-basic-inner-panel
        [panelTitle]="'Adapter settings' | translate"
        outerMargin="20px 0px 10px 0px"
    >
        <div fxFlex="100">
            <div fxLayoutAlign="center" fxLayout="column" fxFlex="100">
                <mat-form-field color="accent">
                    <input
                        formControlName="adapterName"
                        matInput
                        id="input-AdapterName"
                        [placeholder]="'Adapter Name' | translate"
                        data-cy="sp-adapter-name"
                        required
                        (blur)="triggerTutorialAdapterNameAssigned()"
                    />
                    @if (
                        startAdapterForm
                            .get('adapterName')
                            .hasError('invalidName')
                    ) {
                        <mat-error>
                            Name can only contain letters, numbers, special
                            characters (including umlauts), punctuation,
                            symbols, and spaces.
                        </mat-error>
                    }
                    @if (
                        startAdapterForm
                            .get('adapterName')
                            .hasError('leadingOrTrailingWhitespace')
                    ) {
                        <mat-error>
                            Name cannot start or end with a space.
                        </mat-error>
                    }
                    @if (
                        startAdapterForm
                            .get('adapterName')
                            .hasError('required') ||
                        startAdapterForm
                            .get('adapterName')
                            .hasError('whiteSpaceOnly')
                    ) {
                        <mat-error> Adapter name is required. </mat-error>
                    }
                    @if (
                        startAdapterForm
                            .get('adapterName')
                            .hasError('minlength') ||
                        startAdapterForm
                            .get('adapterName')
                            .hasError('maxlength')
                    ) {
                        <mat-error>
                            Adapter name must have between 3 and 40 characters.
                        </mat-error>
                    }
                </mat-form-field>
                <mat-form-field color="accent">
                    <input
                        matInput
                        id="input-AdapterDescription"
                        [ngModelOptions]="{ standalone: true }"
                        [placeholder]="'Adapter Description' | translate"
                        [(ngModel)]="adapterDescription.description"
                    />
                </mat-form-field>
            </div>
        </div>
    </sp-basic-inner-panel>

    <div fxFlex="100" fxLayout="column">
        @if (!isEditMode) {
            <sp-adapter-options-panel
                [optionTitle]="'Run adapter' | translate"
                [optionDescription]="'Start adapter now' | translate"
                optionIcon="play_arrow"
                dataCy="start-adapter-now-checkbox"
                [isChecked]="startAdapterNow"
                (optionSelectedEmitter)="startAdapterNow = $event"
            >
            </sp-adapter-options-panel>
        }

        @if (isAssetAdmin) {
            <sp-adapter-options-panel
                [optionTitle]="'Add to Asset' | translate"
                [optionDescription]="
                    'Add Adapter to an existing Asset' | translate
                "
                optionIcon="precision_manufacturing"
                dataCy="show-asset-checkbox"
                [isChecked]="
                    showAsset && (!isEditMode || originalAssets.length > 0)
                "
                (optionSelectedEmitter)="showAsset = $event"
            >
                @if (showAsset) {
                    <sp-asset-link-configuration
                        [isEdit]="isEditMode"
                        [itemId]="adapterDescription.elementId"
                        (selectedAssetsChange)="onSelectedAssetsChange($event)"
                        (deselectedAssetsChange)="
                            onDeselectedAssetsChange($event)
                        "
                        (originalAssetsEmitter)="
                            onOriginalAssetsEmitted($event)
                        "
                    >
                    </sp-asset-link-configuration>
                }
            </sp-adapter-options-panel>
        }

        <sp-adapter-options-panel
            [optionTitle]="'Remove Duplicates' | translate"
            [optionDescription]="
                'Avoid duplicated events within a certain time interval'
                    | translate
            "
            optionIcon="cleaning_services"
            dataCy="connect-remove-duplicates-box"
            [isChecked]="removeDuplicates"
            (optionSelectedEmitter)="removeDuplicates = $event"
        >
            @if (removeDuplicates) {
                <mat-form-field color="accent" class="mt-10">
                    <input
                        matInput
                        id="input-removeDuplicatesTime"
                        [ngModelOptions]="{ standalone: true }"
                        [placeholder]="
                            'Remove Duplicates Time Window' | translate
                        "
                        [(ngModel)]="removeDuplicatesTime"
                        data-cy="connect-remove-duplicates-input"
                    />
                </mat-form-field>
            }
        </sp-adapter-options-panel>

        <sp-adapter-options-panel
            [optionTitle]="'Reduce event rate' | translate"
            [optionDescription]="
                'Send maximum one event in the specified time window'
                    | translate
            "
            optionIcon="speed"
            dataCy="connect-reduce-event-rate-box"
            [isChecked]="eventRateReduction"
            (optionSelectedEmitter)="eventRateReduction = $event"
        >
            @if (eventRateReduction) {
                <mat-form-field color="accent" class="mt-10">
                    <input
                        type="number"
                        matInput
                        id="input-evenRateTime"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="eventRateTime"
                        [placeholder]="'Time Window (Milliseconds)' | translate"
                        matTooltipPosition="above"
                        data-cy="connect-reduce-event-input"
                    />
                </mat-form-field>
            }
            @if (eventRateReduction) {
                <mat-form-field color="accent">
                    <mat-label>{{ 'Event Aggregation' | translate }}</mat-label>
                    <mat-select
                        [(ngModel)]="eventRateMode"
                        [ngModelOptions]="{ standalone: true }"
                    >
                        <mat-option
                            class="md-elevation-z1"
                            style="background: white"
                            matTooltip="Last Event in Time Window"
                            value="none"
                        >
                            None
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            }
        </sp-adapter-options-panel>

        <!-- Start pipeline template to store raw events in data lake -->
        @if (isPipelineAdmin) {
            @if (!isEditMode) {
                <sp-adapter-options-panel
                    [optionTitle]="'Persist events' | translate"
                    [optionDescription]="
                        'Store all events of this source in the internal data store'
                            | translate
                    "
                    optionIcon="save"
                    dataCy="sp-store-in-datalake"
                    (optionSelectedEmitter)="handlePersistOption($event)"
                >
                    @if (saveInDataLake) {
                        <mat-form-field color="accent" class="mt-10">
                            <mat-label>{{
                                'Select Time Field' | translate
                            }}</mat-label>
                            <mat-select
                                [(ngModel)]="dataLakeTimestampField"
                                [ngModelOptions]="{ standalone: true }"
                                data-cy="sp-store-in-datalake-timestamp"
                            >
                                @for (
                                    timestampField of eventSchema.eventProperties
                                        | timestampFilter;
                                    track timestampField
                                ) {
                                    <mat-option
                                        class="md-elevation-z1"
                                        style="background: white"
                                        [value]="timestampField.runtimeName"
                                    >
                                        {{ timestampField.runtimeName }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                </sp-adapter-options-panel>
            }
        }

        <sp-adapter-options-panel
            [optionTitle]="'Show code' | translate"
            [optionDescription]="
                'Show code to programmatically deploy this adapter over the API'
                    | translate
            "
            optionIcon="code"
            dataCy="show-code-checkbox"
            (optionSelectedEmitter)="showCode = $event"
        >
            @if (showCode) {
                <sp-adapter-code-panel
                    [adapterDescription]="adapterDescription"
                    class="w-100"
                >
                </sp-adapter-code-panel>
            }
        </sp-adapter-options-panel>
    </div>

    <div fxLayoutAlign="end" style="margin-top: 10px">
        <button class="mat-basic" mat-flat-button (click)="removeSelection()">
            {{ 'Cancel' | translate }}
        </button>
        <button
            style="margin-left: 10px"
            class="mat-basic stepper-button"
            mat-flat-button
            (click)="goBack()"
        >
            {{ 'Back' | translate }}
        </button>
        @if (!isEditMode) {
            <button
                [disabled]="!startAdapterSettingsFormValid"
                mat-flat-button
                data-cy="adapter-settings-start-adapter-btn"
                color="accent"
                (click)="startAdapter()"
                mat-button
                style="margin-left: 10px"
            >
                {{ 'Start Adapter' | translate }}
            </button>
        }
        @if (isEditMode) {
            <button
                [disabled]="!startAdapterSettingsFormValid"
                mat-flat-button
                data-cy="store-edit-adapter"
                color="accent"
                (click)="editAdapter()"
                mat-button
                style="margin-left: 10px"
            >
                {{ 'Update Adapter' | translate }}
            </button>
        }
    </div>
</div>
