<div fxFlex="100" fxLayoutAlign="center center" fxLayout="column" class="main-panel" [ngStyle]="{'background-color': selectedBackgroundColor, 'color': selectedPrimaryTextColor}">
    <ngx-charts-line-chart *ngIf="displayChart"
                           [showXAxisLabel]="false"
                           [showYAxisLabel]="false"
                           [scheme]="colorScheme"
                           [timeline]="false"
                           [view]="view"
                           [autoScale]="true"
                           [xAxis]="true"
                           [yAxis]="true"
                           [tooltipDisabled]="true"
                           [animations]="false"
                           [xAxisTickFormatting]="timestampTickFormatting"
                           [results]="multi" style="margin-top:10px;margin-bottom:10px;"
                           [ngStyle]="{'fill': selectedPrimaryTextColor}">
    </ngx-charts-line-chart>
</div>

