<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div flex="100" layout="column" layout-fill class="sp-blue-border-nopadding" style="margin-bottom:10px;">
    <div flex="100" ng-class="!ctrl.subtitle ? 'assemblyOptions sp-blue-bg' : 'md-padding'" style="margin-top:0px;">
        <div layout="row" layout-align="start center">
            <h4>{{ctrl.titleLabel}}</h4>
            <span flex></span>
            <md-button class="md-icon-button" ng-show="ctrl.hide" ng-click="ctrl.toggleVisibility()" ng-if="ctrl.collapsible">
                <i class="material-icons" ng-style="!ctrl.subtitle ? 'color: white;' : ''">arrow_drop_up</i>
                <md-tooltip md-direction="top">
                    Hide
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-show="!ctrl.hide" ng-click="ctrl.toggleVisibility()" ng-if="ctrl.collapsible">
                <i class="material-icons" ng-style="!ctrl.subtitle ? 'color: white;' : ''">arrow_drop_down</i>
                <md-tooltip md-direction="top">
                    Show
                </md-tooltip>
            </md-button>
            <md-button ng-disabled="ctrl.disabled" ng-click="ctrl.removeProperty(ctrl.list, ctrl.ctr)" class="md-icon-button"
                       ng-if="ctrl.removable" >
                <i class="material-icons"
                   ng-style="!ctrl.subtitle ? 'color: white;' : ''">clear</i>
                <md-tooltip md-direction="top">
                    Clear
                </md-tooltip>
            </md-button>

        </div>
    </div>
    <div>
        <div flex="100" layout="column" layout-fill ng-transclude ng-if="ctrl.hide" class="md-padding">

        </div>
    </div>
</div>
