<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-view [showBackLink]="false" [padding]="true">
    <div
        nav
        fxFlex="100"
        fxLayoutAlign="start center"
        fxLayout="row"
        class="pl-10"
    >
        <button
            mat-button
            mat-raised-button
            color="accent"
            data-cy="new-dashboard-btn"
            (click)="openNewDashboardDialog()"
            *ngIf="hasDashboardWritePrivileges"
        >
            <i class="material-icons">add</i>
            <span>New Dashboard</span>
        </button>
    </div>

    <div fxFlex="100" fxLayout="column">
        <sp-basic-header-title-component
            title="My Dashboards"
        ></sp-basic-header-title-component>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
            <sp-basic-inner-panel
                [showTitle]="false"
                innerPadding="0"
                outerMargin="0"
                fxFlex="90"
                [hideToolbar]="true"
            >
                <div
                    fxFlex="100"
                    fxLayout="column"
                    class="w-100"
                    *ngIf="dashboards.length > 0"
                >
                    <table
                        fxFlex="95"
                        mat-table
                        [dataSource]="dataSource"
                        multiTemplateDataRows
                    >
                        <ng-container matColumnDef="name">
                            <th
                                fxFlex="60"
                                fxLayoutAlign="start center"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Dashboard
                            </th>
                            <td
                                fxFlex="60"
                                fxLayoutAlign="start center"
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.name }}<br />
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th
                                fxFlex="40"
                                fxLayoutAlign="center center"
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Actions
                            </th>
                            <td
                                fxFlex="40"
                                fxLayoutAlign="start center"
                                mat-cell
                                *matCellDef="let element"
                            >
                                <div fxLayout="row" fxFlex="100">
                                    <span
                                        fxFlex
                                        fxFlexOrder="1"
                                        fxLayout="row"
                                        fxLayoutAlign="center center"
                                    >
                                        <button
                                            mat-icon-button
                                            color="accent"
                                            (click)="showDashboard(element)"
                                            [attr.data-cy]="
                                                'show-dashboard-' + element.name
                                            "
                                        >
                                            <i class="material-icons"
                                                >visibility</i
                                            >
                                        </button>
                                    </span>
                                    <span
                                        fxFlex
                                        fxFlexOrder="2"
                                        fxLayout="row"
                                        fxLayoutAlign="center center"
                                    >
                                        <button
                                            mat-icon-button
                                            color="accent"
                                            (click)="
                                                openExternalDashboard(element)
                                            "
                                        >
                                            <i class="material-icons"
                                                >open_in_new</i
                                            >
                                        </button>
                                    </span>
                                    <span
                                        fxFlex
                                        fxFlexOrder="3"
                                        fxLayout="row"
                                        fxLayoutAlign="center center"
                                        *ngIf="hasDashboardWritePrivileges"
                                    >
                                        <button
                                            mat-icon-button
                                            color="accent"
                                            (click)="
                                                openEditDashboardDialog(element)
                                            "
                                        >
                                            <i class="material-icons"
                                                >settings</i
                                            >
                                        </button>
                                    </span>
                                    <span
                                        fxFlex
                                        fxFlexOrder="4"
                                        fxLayout="row"
                                        fxLayoutAlign="center center"
                                        *ngIf="hasDashboardWritePrivileges"
                                    >
                                        <button
                                            mat-icon-button
                                            color="accent"
                                            (click)="editDashboard(element)"
                                            [attr.data-cy]="
                                                'edit-dashboard-' + element.name
                                            "
                                        >
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </span>
                                    <span
                                        fxFlex
                                        fxFlexOrder="5"
                                        fxLayout="row"
                                        fxLayoutAlign="center center"
                                        *ngIf="isAdmin"
                                    >
                                        <button
                                            mat-icon-button
                                            color="accent"
                                            (click)="
                                                showPermissionsDialog(element)
                                            "
                                        >
                                            <i class="material-icons">share</i>
                                        </button>
                                    </span>
                                    <span
                                        fxFlex
                                        fxFlexOrder="6"
                                        fxLayout="row"
                                        fxLayoutAlign="center center"
                                        *ngIf="hasDashboardDeletePrivileges"
                                    >
                                        <button
                                            mat-icon-button
                                            color="accent"
                                            (click)="
                                                openDeleteDashboardDialog(
                                                    element
                                                )
                                            "
                                        >
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let element; columns: displayedColumns"
                        ></tr>
                    </table>
                </div>
                <div
                    fxFlex="100"
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    *ngIf="dashboards.length === 0"
                >
                    <h5>(no dashboards available)</h5>
                </div>
            </sp-basic-inner-panel>
        </div>
    </div>
</sp-basic-view>
