<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column">
    <div
        fxFlex="100"
        fxLayout="row"
        fxLayoutAlign="start center"
        style="margin-bottom: 20px"
    >
        <button
            mat-button
            mat-raised-button
            color="accent"
            class="small-button"
            (click)="applyDefaultSchema()"
            style="margin-right: 10px; margin-left: 10px"
            [disabled]="restrictedEditMode"
            data-cy="use-input-schema"
        >
            Use input schema
        </button>
    </div>

    <div
        fxFlex="100"
        fxLayout="row"
        fxLayoutGap="10px"
        *ngFor="let ep of outputStrategy.eventProperties; let i = index"
    >
        <div fxLayout="column" fxFlex="30">
            <mat-form-field fxFlex color="accent">
                <mat-label>Runtime name</mat-label>
                <input
                    [(ngModel)]="ep.runtimeName"
                    data-cy="runtime-name"
                    fxFlex
                    matInput
                />
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="30">
            <mat-form-field class="example-full-width" color="accent">
                <mat-label>Runtime type</mat-label>
                <mat-select
                    [(ngModel)]="ep.runtimeType"
                    [disabled]="restrictedEditMode"
                    data-cy="runtime-type"
                >
                    <mat-option
                        *ngFor="let primitive of primitiveClasses"
                        [value]="primitive.id"
                    >
                        {{ primitive.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="30">
            <mat-form-field fxFlex color="accent">
                <mat-label>Semantic type</mat-label>
                <input
                    [(ngModel)]="ep.domainProperties[0]"
                    [disabled]="restrictedEditMode"
                    data-cy="semantic-type"
                    fxFlex
                    matInput
                />
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="10">
            <button
                mat-icon-button
                class="icon-button"
                (click)="removeProperty(ep)"
                [disabled]="restrictedEditMode"
            >
                <mat-icon class="icon">remove</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <button
            mat-button
            mat-flat-button
            (click)="addProperty()"
            [disabled]="restrictedEditMode"
            data-cy="add-field"
        >
            <mat-icon class="icon">add</mat-icon>
            <span>Add field</span>
        </button>
    </div>
</div>
