
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column" style="margin: 0px; min-height: calc(100vh - 135px);">
  <div class="assemblyOptions sp-blue-bg">
    <h4>Uploaded Files</h4>
  </div>
  <div class="sp-blue-border">
    <mat-list style="max-height: 300px; overflow-y: scroll" style="margin-top: -25px;">
      <mat-list-item *ngFor="let url of urls" style="width: 100%">

        <div mat-line>
          <button mat-icon-button matTooltip="Copy File Path" (click)="copyText(url.url)">
            <mat-icon>file_copy</mat-icon>
          </button>
          <label  style="font-weight: normal; padding-top: 8px;">
            {{url.name}}
          </label>
        </div>
        <button mat-icon-button (click)="delete(url.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

</div>
