<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-view
    [showBackLink]="true"
    [backLinkTarget]="['pipelines']"
    [padding]="false"
>
    <div nav fxFlex="100" fxLayoutAlign="start center" class="mr-5">
        <sp-pipeline-details-toolbar
            fxFlex="100"
            [autoRefresh]="autoRefresh"
            [previewModeActive]="previewModeActive"
            (togglePreviewEmitter)="toggleLivePreview()"
            (autoRefreshChange)="autoRefresh = $event"
            (reloadMetricsEmitter)="triggerReload()"
        >
        </sp-pipeline-details-toolbar>
    </div>
    <div fxFlex="100" fxLayout="column">
        <sp-pipeline-preview
            #pipelinePreviewComponent
            [metricsInfo]="metricsInfo"
            [pipeline]="pipeline"
            [pipelineCanvasMetadata]="pipelineCanvasMetadata"
            (selectedElementEmitter)="selectElement($event)"
            style="display: flex; flex: 1 1"
            *ngIf="pipelineAvailable"
        >
            <div class="expansion-panel" fxFlex="100" fxLayout="column">
                <sp-pipeline-details-expansion-panel
                    [hasWritePipelinePrivileges]="hasPipelineWritePrivileges"
                    (reloadPipelineEmitter)="loadPipeline()"
                    [logInfo]="logInfo"
                    [pipeline]="pipeline"
                >
                </sp-pipeline-details-expansion-panel>
            </div>
        </sp-pipeline-preview>
    </div>
</sp-basic-view>
