<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="customize-item-content sp-blue-border-nopadding"
     ng-repeat="sp in ctrl.staticProperty.properties.members track by $index">
    <div flex="100" layout="row" layout-align="end center">
        <md-button ng-click="ctrl.removeMember(ctrl.staticProperty, $index)" class="md-icon-button"
                   ng-disabled="ctrl.staticProperty.properties.members.length == 1">
            <i class="material-icons">clear</i>
            <md-tooltip md-direction="top">
                Remove
            </md-tooltip>
        </md-button>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'OneOfStaticProperty'">
        <oneof static-property="sp"></oneof>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'FreeTextStaticProperty'">
        <freetext input-streams="selectedElement.inputStreams" static-property="sp"></freetext>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'AnyStaticProperty'">
        <any static-property="sp"></any>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'DomainStaticProperty'">
        <domain-concept-input static-property="sp"
                              auto-complete-static-property="sp"></domain-concept-input>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'MappingPropertyUnary'">
        <mapping-property-unary static-property="sp"></mapping-property-unary>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'MappingPropertyNary'">
        <mapping-property-nary static-property="sp"></mapping-property-nary>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'MatchingProperty'">
        <matching-property static-property="sp"></matching-property>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'CollectionStaticProperty'">
        <collection-property static-property="sp"></collection-property>
    </div>
</div>
<div flex="100" layout="row" layout-align="end center">
    <md-button ng-click="ctrl.addMember(ctrl.staticProperty)">
        Add
    </md-button>
</div>