<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-asset-selection-panel
    *ngIf="asset"
    [editMode]="false"
    [assetModel]="asset"
    [selectedAsset]="selectedAsset"
    (selectedAssetEmitter)="applySelectedAsset($event)"
>
    <sp-basic-view
        [showBackLink]="true"
        [backLinkTarget]="['assets']"
        [padding]="false"
        fxFlex="100"
    >
        @if (selectedAsset) {
            <div fxLayout="row" fxFlex="100">
                <div fxFlex="66" fxLayoutAlign="start start" class="asset-info">
                    <div fxLayout="column" class="w-100 ml-20">
                        <div fxLayout="row" fxFlex="100">
                            <sp-view-asset-basics
                                [rootAsset]="asset"
                                [sites]="sites"
                                [selectedAsset]="selectedAsset"
                                fxFlex="100"
                            ></sp-view-asset-basics>

                            @if (asset.labelIds?.length > 0) {
                                <sp-view-asset-labels
                                    [asset]="asset"
                                    fxFlex
                                ></sp-view-asset-labels>
                            }
                        </div>
                        <sp-view-asset-links
                            [selectedAsset]="selectedAsset"
                            class="mt-20"
                        >
                        </sp-view-asset-links>
                    </div>
                </div>
                <div fxFlex="33">
                    @if (locationConfig && asset.assetSite?.location) {
                        <sp-single-marker-map
                            [mapHeight]="'100%'"
                            [locationConfig]="locationConfig"
                            [readonly]="true"
                            [assetLocation]="asset.assetSite.location"
                        ></sp-single-marker-map>
                    }
                </div>
            </div>
        }
    </sp-basic-view>
</sp-asset-selection-panel>
