<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="12px"
    class="data-view-preview-outer"
    [attr.data-cy]="'add-data-view-btn-' + chart.name.replaceAll(' ', '')"
    (click)="addChart()"
>
    <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="12px"
        fxFlex
        class="chart-preview-main"
    >
        <div
            class="chart-preview-icon-shell"
            fxLayout="row"
            fxLayoutAlign="center center"
            [matTooltip]="widgetTypeLabel"
        >
            <mat-icon>{{ widgetTypeIcon }}</mat-icon>
        </div>

        <div fxFlex fxLayout="column" class="chart-preview-copy">
            <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="8px"
                class="chart-preview-title-row"
                [matTooltip]="chart.name"
            >
                <h5 fxFlex class="chart-preview-title">{{ chart.name }}</h5>
            </div>

            <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="12px"
                class="chart-preview-meta"
            >
                @if (chart.datasetName) {
                    <span class="chart-preview-meta-item chart-preview-dataset">
                        {{ chart.datasetName }}
                    </span>
                }
            </div>
        </div>
    </div>

    <div
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="4px"
        class="chart-preview-actions"
    >
        <button
            mat-icon-button
            type="button"
            [matTooltip]="'Preview chart' | translate"
            (click)="openPreview($event)"
            data-cy="chart-preview-feature-card"
        >
            <mat-icon>visibility</mat-icon>
        </button>
        <div
            class="chart-preview-add-indicator"
            fxLayout="row"
            fxLayoutAlign="center center"
        >
            <mat-icon>add</mat-icon>
        </div>
    </div>
</div>
