<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    class="data-view-preview-outer"
    [attr.data-cy]="dataCyId"
    [attr.title]="chart.name"
    (click)="addChart()"
>
    <div class="chart-preview-header">
        <div class="chart-preview-icon-shell" [attr.title]="widgetTypeLabel">
            <mat-icon>{{ widgetTypeIcon }}</mat-icon>
        </div>

        <div class="chart-preview-copy">
            <div class="chart-preview-title-row">
                <h5 class="chart-preview-title">{{ chart.name }}</h5>
            </div>

            <div class="chart-preview-meta">
                @if (chart.datasetName) {
                    <span
                        class="chart-preview-meta-item chart-preview-dataset"
                        [attr.title]="chart.datasetName"
                    >
                        {{ chart.datasetName }}
                    </span>
                }
            </div>
        </div>
    </div>

    <div class="chart-preview-actions">
        <button
            mat-icon-button
            type="button"
            [attr.aria-label]="'Preview chart' | translate"
            [attr.title]="'Preview chart' | translate"
            (click)="openPreview($event)"
            data-cy="chart-preview-feature-card"
        >
            <mat-icon>visibility</mat-icon>
        </button>
        <div class="chart-preview-add-indicator">
            <mat-icon>add</mat-icon>
        </div>
    </div>
</div>
