<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-configuration-box [title]="'Data Zoom' | translate">
    <div fxLayout="column">
        <mat-checkbox
            [(ngModel)]="appearanceConfig.dataZoom.show"
            (ngModelChange)="configChangedEmitter.emit()"
            >{{ 'Active' | translate }}
        </mat-checkbox>

        <div fxFlex="100" fxLayoutAlign="start center" class="ml-10">
            <div fxLayoutAlign="start center">
                <span>{{ 'Type' | translate }}</span>
            </div>
            <span fxFlex></span>
            <div class="form-field-small w-100" fxLayoutAlign="end center">
                <mat-form-field appearance="outline" color="accent" fxFlex="30">
                    <mat-select
                        (ngModelChange)="configChangedEmitter.emit()"
                        [(ngModel)]="appearanceConfig.dataZoom.type"
                        [disabled]="!appearanceConfig.dataZoom.show"
                    >
                        <mat-option value="inside">{{
                            'Wheel' | translate
                        }}</mat-option>
                        <mat-option value="slider">{{
                            'Slider' | translate
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</sp-configuration-box>
