<div fxLayout="column" fxFlex="100" class="page-container-connect">
    <div fxLayout="row" style="padding:0px;background-color:#f6f6f6;">
        <div fxLayout="fill" style="line-height:24px;border-bottom:1px solid #ccc">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndexChange($event)">
                <mat-tab label="Transport Status">
                </mat-tab>
                <mat-tab id="ts-settings" label="Settings">
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="fixed-height page-container-padding-inner" fxLayout="column" fxFlex="100" *ngIf="selectedIndex == 0">
        <h1>Transport Status</h1>

        <dashboard-item [panelTitle]="'Select Transport Process'" style="margin-bottom:15px;">
            <transport-selection (selectedProcess)="selectTransportProcess($event)"></transport-selection>
        </dashboard-item>

        <mat-divider></mat-divider>

        <mat-expansion-panel [expanded]="summaryExpanded" *ngIf="transportProcessSelected">
            <mat-expansion-panel-header>
                <h3>Summary</h3>
            </mat-expansion-panel-header>

            <transport-summary [transportProcess]="selectedTransportProcess"></transport-summary>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel [expanded]="outgoingExpanded" *ngIf="transportProcessSelected && outgoingParcelInfoPresent">
            <mat-expansion-panel-header>
                <h3>Outgoing Goods</h3>
            </mat-expansion-panel-header>

            <outgoing-view [parcelInfo]="outgoingParcelInfo"></outgoing-view>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="transportExpanded" *ngIf="transportProcessSelected">
            <mat-expansion-panel-header>
                <h3>Transport</h3>
            </mat-expansion-panel-header>

            <transport-view [transportProcess]="selectedTransportProcess"></transport-view>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="incomingExpanded" *ngIf="transportProcessSelected && incomingParcelInfoPresent">
            <mat-expansion-panel-header>
                <h3>Incoming Goods</h3>
            </mat-expansion-panel-header>

            <outgoing-view [parcelInfo]="incomingParcelInfo"></outgoing-view>

        </mat-expansion-panel>

    </div>
    <div class="fixed-height page-container-padding-inner" fxLayout="column" fxFlex="100" *ngIf="selectedIndex == 1">
        <div fxFlex="100" fxLayout="column">
            <div fxFill fxFlex="100" fxLayout="row" fxLayoutAlign="start center" style="margin-bottom:10px;">
                <button mat-button mat-raised-button color="primary" (click)="truncateTransportProcessDatabase()">
                    Truncate Transport Process Database
                </button>
            </div>
            <div fxFill fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="margin-bottom:10px;">
                <button mat-button mat-raised-button color="primary" (click)="truncateIncomingGoodsDatabase()">
                    Truncate Incoming Goods Database
                </button>
            </div>
            <div fxFill fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="margin-bottom:10px;">
                <button mat-button mat-raised-button color="primary" (click)="truncateOutgoingGoodsDatabase()">
                    Truncate Outgoing Goods Database
                </button>
            </div>
        </div>
    </div>
</div>