<div flex class="page-container page-container-padding">
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
    </div>
    <div flex layout="column" layout-fill>
        <md-content>
            <section>
                <md-subheader class="md-primary">Unread Messages</md-subheader>
                <md-list layout-padding>
                    <md-list-item class="md-3-line" ng-repeat="notification in unreadNotifications">
                        <md-button class="md-icon-button" ng-click="changeNotificationStatus(notification._id)">
                            <i class="material-icons" style="color: rgb(63,81,181);">markunread</i>
                            <md-tooltip md-direction="top">
                                Mark as unread
                            </md-tooltip>
                        </md-button>
                        <div class="md-list-item-text" style="margin-bottom:10px;margin-top:10px;">
                            <h3><b>{{notification.title}}</b></h3>
                            <div layout="row" layout-align="start center" style="margin-bottom:5px;">
                                <div layout="row" layout-align="start center"><i class="material-icons" style="color: rgb(63,81,181);">access_time</i>
                                    &nbsp;{{notification.timestamp | date:'dd.MM.yyyy HH:mm'}}&nbsp;
                                    <i class="material-icons" style="color: rgb(63,81,181);">person</i>&nbsp;{{notification.targetedUser}}
                                </div>
                            </div>
                            <p>{{notification.description}}
                            </p>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                </md-list>
            </section>
            <section>
                <md-subheader class="md-primary">All Messages</md-subheader>
                <md-list layout-padding>
                    <md-list-item class="md-3-line" ng-repeat="notification in notifications">

                        <div class="md-list-item-text" style="margin-bottom:10px;margin-top:10px;">
                            <h3><b>{{notification.title}}</b></h3>
                            <div layout="row" layout-align="start center" style="margin-bottom:5px;">
                                <div layout="row" layout-align="start center"><i class="material-icons" style="color: rgb(63,81,181);">access_time</i>
                                    &nbsp;{{notification.timestamp | date:'dd.MM.yyyy HH:mm'}}&nbsp;
                                    <i class="material-icons" style="color: rgb(63,81,181);">person</i>&nbsp;{{notification.targetedUser}}
                                </div>
                            </div>
                            <p>{{notification.description}}
                            </p>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
        </md-whiteframe>
    </div>
</div>