<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div fxFlex="100" fxLayout="column" style="overflow-y: hidden">
    <div class="h-100" fxLayout="row" fxFlex="100">
        @if (widgetsAvailable && dashboard.widgets.length > 0) {
            <div fxFlex="200px" fxLayout="column" class="selection-box">
                @for (item of dashboard.widgets; track item; let i = $index) {
                    <div
                        [ngClass]="
                            i === selectedWidgetIndex
                                ? 'viz-preview viz-preview-selected'
                                : 'viz-preview'
                        "
                        fxLayoutAlign="center center"
                        (click)="selectWidget(i)"
                    >
                        <div
                            fxFlex="100"
                            fxLayout="column"
                            fxLayoutAlign="center center"
                        >
                            @if (widgetsVisible) {
                                <span class="slide-view-title text-sm">{{
                                    getSlideItemLabel(item)
                                }}</span>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        <div fxFlex="100">
            <div class="h-100 w-100 mw-100" id="slideViewOuter" fxFlex="100">
                @if (widgetsAvailable && displayWidget && widgetsVisible) {
                    @if (isChartItem(currentDashboardItem) && currentWidget) {
                        <sp-chart-container
                            [timeSettings]="timeSettings"
                            [globalTimeEnabled]="
                                dashboard.dashboardGeneralSettings
                                    .globalTimeEnabled
                            "
                            (deleteCallback)="deleteCallback.emit($event)"
                            (startEditModeEmitter)="startEditMode($event)"
                            [dashboardItem]="currentDashboardItem"
                            [configuredWidget]="currentWidget"
                            [dataLakeMeasure]="currentMeasure"
                            [observableGenerator]="observableGenerator"
                            [editMode]="editMode"
                            [gridMode]="false"
                            [widgetIndex]="selectedWidgetIndex"
                            [dashboardChartOverrides]="
                                dashboard.dashboardGeneralSettings
                                    ?.chartOverrides || {}
                            "
                        ></sp-chart-container>
                    } @else if (!isChartItem(currentDashboardItem)) {
                        <sp-dashboard-layout-item
                            [dashboardItem]="currentDashboardItem"
                            [editMode]="editMode"
                            [selected]="
                                selectedDashboardItemId ===
                                currentDashboardItem.id
                            "
                            [widgetIndex]="selectedWidgetIndex"
                            (deleteCallback)="deleteCallback.emit($event)"
                            (selectItemEmitter)="selectDashboardItem($event)"
                        >
                        </sp-dashboard-layout-item>
                    }
                }
            </div>
        </div>
    </div>
</div>
