<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    fxLayout="row"
    fxFlex="100"
    style="border-top: 1px solid lightgray; padding: 10px; margin-bottom: 5px"
>
    <form (ngSubmit)="updateConfiguration()" fxFlex="100" fxLayout="column">
        <div
            fxLayout="column"
            *ngFor="let configuration of consulService.configs"
        >
            <sp-consul-configs-password
                fxFlex="100"
                *ngIf="configuration.isPassword"
                [configuration]="configuration"
            >
            </sp-consul-configs-password>

            <sp-consul-configs-text
                fxFlex="100"
                *ngIf="
                    configuration.valueType === service.XS_STRING &&
                    !configuration.isPassword
                "
                [configuration]="configuration"
            >
            </sp-consul-configs-text>

            <sp-consul-configs-number
                fxFlex="100"
                *ngIf="
                    configuration.valueType === service.XS_INTEGER ||
                    configuration.valueType === service.XS_DOUBLE
                "
                [configuration]="configuration"
            >
            </sp-consul-configs-number>

            <sp-consul-configs-boolean
                fxFlex="100"
                *ngIf="configuration.valueType === service.XS_BOOLEAN"
                [configuration]="configuration"
            >
            </sp-consul-configs-boolean>
        </div>
        <div fxLayoutAlign="end center">
            <button
                mat-raised-button
                color="accent"
                type="submit"
                class="submit-button"
            >
                Update
            </button>
        </div>
    </form>
</div>
