<div class="editorIconStandOptions" style="padding:0px;">
    <div flex="100" layout="row" layout-align="start start" style="padding-top:2px;padding-left:10px;">

        <div layout-align="start center" layout="row">
            <div layout="row" style="margin-right: 5px">
                <md-icon md-svg-icon="action:ic_search_24px" class="sp-darkblue-text"></md-icon>
                <input type="text" ng-model="ctrl.elName" placeholder="Find Element"
                       style="background-color:#f6f6f6;border: none;border-bottom: solid 2px #304269;">&nbsp;
            </div>
            <div layout="row">
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()" class="sp-darkblue-text">
                            <md-icon md-svg-icon="action:ic_view_list_24px"
                                     class="sp-darkblue-text"></md-icon>
                            Select categories
                        </button>
                        <md-menu-content>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="action:ic_done_24px"
                                         class="sp-darkblue-text"></md-icon>
                                <md-button ng-click="ctrl.selectAllOptions()">&nbsp;Select all</md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon md-svg-icon="content:ic_clear_24px"
                                         class="sp-darkblue-text"></md-icon>
                                <md-button ng-click="ctrl.deselectAllOptions()">&nbsp;Deselect all</md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <div ng-repeat="option in ctrl.availableOptions[ctrl.activeType] | orderBy: 'label'">
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="action:ic_visibility_24px"
                                             class="sp-darkblue-text"
                                             ng-if="ctrl.optionSelected(option)"></md-icon>
                                    <md-icon md-svg-icon="action:ic_visibility_off_24px"
                                             class="sp-darkblue-text"
                                             ng-if="!ctrl.optionSelected(option)"></md-icon>
                                    <md-button ng-click="ctrl.toggleFilter(option)">&nbsp;{{option.label}}
                                    </md-button>
                                </md-menu-item>
                            </div>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </div>
</div>
<div flex id="editor-icon-stand" class="icon-stand" ng-if="ctrl.currentElements">
    <!-- selectFilter:ctrl.selectedOptions | -->
    <span
          data-ng-repeat="element in ctrl.currentElements | elementNameFilter:ctrl.elName | orderBy: 'name'"
          my-data-bind image-bind="draggable" class="draggable-icon tt" ng-class="element.type"
          data-target="testMenu" ng-if="element.type !== 'block'">
    </span>

</div>