<span class="customize-button" ng-show="pipelineElement.type!='stream'">
    <md-button ng-click="openCustomizeDialog()" ng-disabled="!isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
        <md-icon md-svg-icon='action:ic_settings_24px'
        > <md-tooltip md-direction="top">
                    Configure Element
                </md-tooltip></md-icon>
        </md-button>
</span>
<span class="customize-button" ng-show="pipelineElement.type=='stream' && isWildcardTopic(pipelineElement)">
    <md-button ng-click="openCustomizeStreamDialog()" ng-disabled="!isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
        <md-icon md-svg-icon='action:ic_settings_24px'>
            <md-tooltip md-direction="top">
                    Configure Element
                </md-tooltip></md-icon>
        </md-button>
</span>
<span class="delete-button">
    <md-button ng-click="removeElement()" ng-disabled="!isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
        <md-icon md-svg-icon='navigation:ic_cancel_24px' class="red">

</md-icon>
        </md-button>
    </span>
<span class="possible-button" ng-show="pipelineElement.type!='action'"><md-button
        ng-disabled="!possibleElements || possibleElements.length == 0 || !isConfigured(internalId)"
        ng-click="openPossibleElementsDialog()" class="md-icon-button" style="margin:0px;font-size:20px;"><md-icon
        md-svg-icon='action:ic_visibility_24px'>
    <md-tooltip md-direction="bottom">
                    Compatible Elements
                </md-tooltip>

</md-icon></md-button>
    </span>
<span class="recommended-button" ng-show="pipelineElement.type!='action'"><md-button
        ng-click="showRecommendations($event)" ng-disabled="!recommendationsAvailable || !isConfigured()"
        class="md-icon-button" style="margin:0px;font-size:20px;"><md-icon md-svg-icon='content:ic_add_circle_24px'>
    <md-tooltip md-direction="bottom">
                    Recommended Elements
                </md-tooltip>
</md-icon>
    </md-button>
    </span>
<span class="help-button"><md-button ng-click="openHelpDialog()" class="md-icon-button"
                                     style="margin:0px;font-size:20px;"><md-icon md-svg-icon='action:ic_help_24px'
> <md-tooltip md-direction="bottom">
                    Help
                </md-tooltip></md-icon>
    </md-button>
</span>
