<div ng-show="ctrl.currentMouseOverElement==ctrl.pipelineElement.payload.DOM">
<span class="customize-button" ng-show="ctrl.pipelineElement.type!='stream'">
    <md-button ng-click="ctrl.openCustomizeDialog()" ng-disabled="!ctrl.isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
        <md-icon md-svg-icon='action:ic_settings_24px'
        > <md-tooltip md-direction="top">
                    Configure Element
                </md-tooltip></md-icon>
        </md-button>
</span>
    <span class="customize-button" ng-show="ctrl.pipelineElement.type=='stream' && ctrl.isWildcardTopic()">
    <md-button ng-click="ctrl.openCustomizeStreamDialog()" ng-disabled="!ctrl.isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
        <md-icon md-svg-icon='action:ic_settings_24px'>
            <md-tooltip md-direction="top">
                    Configure Element
                </md-tooltip></md-icon>
        </md-button>
</span>
    <span class="delete-button">
    <md-button ng-click="ctrl.removeElement()" ng-disabled="!ctrl.isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
        <md-icon md-svg-icon='navigation:ic_cancel_24px' class="red">

</md-icon>
        </md-button>
    </span>
    <span class="possible-button" ng-show="ctrl.pipelineElement.type!='action'"><md-button
            ng-disabled="!ctrl.possibleElements || ctrl.possibleElements.length == 0 || !ctrl.isConfigured()"
            ng-click="ctrl.EditorDialogManager.openPossibleElementsDialog(ctrl.pipelineModel, ctrl.possibleElements, ctrl.pipelineElement.payload.DOM)"
            class="md-icon-button" style="margin:0px;font-size:20px;"><md-icon
            md-svg-icon='action:ic_visibility_24px'>
    <md-tooltip md-direction="bottom">
                    Compatible Elements
                </md-tooltip>

</md-icon></md-button>
    </span>
    <span class="recommended-button" ng-show="ctrl.pipelineElement.type!='action'"><md-button
            ng-click="ctrl.showRecommendations($event)"
            ng-disabled="!ctrl.recommendationsAvailable || !ctrl.isConfigured()"
            class="md-icon-button" style="margin:0px;font-size:20px;"><md-icon md-svg-icon='content:ic_add_circle_24px'>
    <md-tooltip md-direction="bottom">
                    Recommended Elements
                </md-tooltip>
</md-icon>
    </md-button>
    </span>
    <span class="help-button"><md-button ng-click="ctrl.openHelpDialog()" class="md-icon-button"
                                         style="margin:0px;font-size:20px;"><md-icon md-svg-icon='action:ic_help_24px'>
    <md-tooltip md-direction="bottom">
                    Help
                </md-tooltip></md-icon>
    </md-button>
</span>
</div>
<span class="recommended-list">
    <ul id="{{ctrl.pipelineElement.payload.DOM}}">
        <li ng-repeat="recommendedElement in ctrl.elementRecommendations"
            ng-click="ctrl.JsplumbService.createElement(ctrl.pipelineModel, recommendedElement, ctrl.pipelineElement.payload.DOM)"
            class="recommended-item tt" data-toggle="tooltip" data-placement="top"
            data-delay='{"show": 100, "hide": 100}' weight="{{recommendedElement.weight}}"
            type="{{recommendedElement.type}}">
            <span class="element-text-icon" style="text-decoration:none;">A</span>
        </li>
    </ul>
</span>