<form>
    <mat-form-field>
        <input #input matInput placeholder="PipelineID" value="">
    </mat-form-field>
    <button mat-button (click)="createLogView(input.value)">Go</button>
</form>

<div class="page-container page-container-padding">

    <div _ngcontent-c10="" class="pageheadbar" fxflex="48px" fxlayout="row" fxlayoutalign="start center" ng-reflect-layout="row" ng-reflect-align="start center" ng-reflect-flex="48px"
         style="flex: 1 1 48px; box-sizing: border-box; flex-direction: row; display: flex; max-height: 48px; place-content: center flex-start; align-items: center; min-height: 60px;">
        <h4 style="padding-right: 20px">{{pipelineName}}</h4>

        <mat-form-field>
            <mat-select [(value)]="logSourceIDsSelected" (selectionChange)="logSourcelSelection()" placeholder="Processing Element">
                <mat-option value="ALL">All</mat-option>
                <mat-option *ngFor="let logSourceID of logSourceIDsSelect" value="{{logSourceID.uri}}">{{logSourceID.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container-fluid">
        <logView [logSourceIDs]="logSourceIDs"></logView>
    </div>

</div>







