.mat-table {
  background: #FAFAFA;
}

.mat-paginator {
  border-top: 1px solid rgba(0,0,0,.12);
  background: #FAFAFA;
}

.mat-row:nth-child(even) {
  background-color: #FAFAFA;
}
.mat-row:nth-child(odd) {
  background-color:#ffffff;
}