/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

.mat-mdc-paginator {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-mdc-row:nth-child(even) {
    background-color: var(--color-bg-1);
}
.mat-mdc-row:nth-child(odd) {
    background-color: var(--color-bg-2);
}

.mat-column-status {
    width: 100px;
    max-width: 100px;
}

.light {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.light-red {
    background-color: red;
    box-shadow: 0 0 5px 2px red;
}

.light-yellow {
    background-color: #dede2d;
    box-shadow: 0 0 5px 2px #dede2d;
}

.light-green {
    background-color: green;
    box-shadow: 0 0 5px 2px green;
}

.light-neutral {
    background-color: #b4b4b4;
    box-shadow: 0 0 2px 1px #b4b4b4;
}

.ml-10 {
    margin-left: 10px;
}
