<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<mat-table #table [dataSource]="kviDataSource" matSort>

    <!-- Index Column -->
    <ng-container matColumnDef="rowindex">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Index </mat-header-cell>
        <mat-cell *matCellDef="let element; let rIndex = index"> {{rIndex}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- KVI Column -->
    <ng-container matColumnDef="kvi">
        <mat-header-cell *matHeaderCellDef mat-sort-header> KVI </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.kvi}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>