<md-tabs md-dynamic-height md-border-bottom md-selected="selectedSepaIndex"> 
<md-tab label="Basics">
		<md-content class="md-padding">
			<sepa-basics element="selectedSepa" disabled="editingDisabled"></sepa-basics>
				Category:
<!-- 			 <div ng-dropdown-multiselect="" options="availableEpaCategories" selected-model="selectedCategories" extra-settings="categoryOpt"></div> -->
			</md-content>  
		</md-tab> 
		<md-tab label="Stream Restrictions"> 
			<md-content class="md-padding">
			 <stream-restriction element="selectedSepa.eventStreams" disabled="editingDisabled"></stream-restriction>
			<p></p>
			</md-content> 
		</md-tab> 
		<md-tab label="Static Properties"> 
			<md-content class="md-padding">
			<static-properties element="selectedSepa.staticProperties" streams="selectedSepa.eventStreams" disabled="editingDisabled"></static-properties>	
			</md-content> 
		</md-tab> 
		<md-tab label="Output Strategy"> 
			<md-content class="md-padding">
			<output-strategy strategies="selectedSepa.outputStrategies" disabled="editingDisabled"></output-strategy>
			</md-content> 
		</md-tab> 
		<md-tab label="Supported Grounding"> 
			<md-content class="md-padding">
				<supported-grounding grounding="selectedSepa.supportedGrounding" disabled="editingDisabled"></supported-grounding> 
			</md-content> 
		</md-tab> 
</md-tabs>