<div layout="column" flex="100">
    <h4>Select time field</h4>
    <md-input-container class="md-block" flex-gt-sm>
        <md-select ng-model="ctrl.wid.schema.config.selectedTimestampMapping">
            <md-option ng-value="time" ng-selected="index == 1"
                       ng-repeat="(index, time) in ctrl.wid.schema.eventProperties | soDateTime">{{
                time.properties.runtimeName }}
            </md-option>
        </md-select>
    </md-input-container>

    <h4>Select number field</h4>
    <md-input-container class="md-block" flex-gt-sm>
        <md-select ng-model="ctrl.wid.schema.config.selectedNumberMapping">
            <md-option ng-value="lineValue" ng-selected="index == 1"
                       ng-repeat="(index, lineValue) in ctrl.wid.schema.eventProperties | numberFilter">{{
                lineValue.properties.runtimeName }}
            </md-option>
        </md-select>
    </md-input-container>

    <div flex="100">
        <h4>Range</h4>
        <div layout="row" flex="100" layout-align="center center">
            <div flex="50">
                <md-input-container>
                    <label>Minimum</label>
                    <input ng-model="ctrl.wid.schema.config.range.min" style="color:black;">
                </md-input-container>
            </div>
            <div flex="50">
                <md-input-container>
                    <label>Maximum</label>
                    <input ng-model="ctrl.wid.schema.config.range.max" style="color:black;">
                </md-input-container>
            </div>
        </div>
    </div>
</div>