<md-dialog aria-label="Pipeline Status" flex="70">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Invalid connection</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <div>
                <h4>These elements can't be connected.</h4>
                    <h4>The input data stream does not satisfy the requirements specified by the data processor.</h4>
                    <md-button ng-click="ctrl.toggleStatusDetailsVisible()" type="button" class="md-accent">
                        <div ng-if="!ctrl.statusDetailsVisible">Show Details</div>
                        <div ng-if="ctrl.statusDetailsVisible">Hide Details</div>
                    </md-button>
                    <div ng-if="ctrl.statusDetailsVisible" ng-repeat="entry in ctrl.msg | orderBy:'-'">
                        <div flex="100" class="md-whiteframe-z1">
                            <div flex layout="column" class="md-padding">
                                <div>
                                    <md-icon md-svg-icon="action:ic_done_24px" aria-label="Action" class="md-accent"
                                             ng-show="entry.matchingSuccessful"></md-icon>
                                    <md-icon md-svg-icon="alert:ic_warning_24px" aria-label="Action" class="md-accent"
                                             ng-show="!entry.matchingSuccessful"></md-icon>
                                    <b>{{entry.title}} </b>
                                </div>
                                <div flex="column">
                                    {{entry.requirementSubject}}<br/>
                                    {{entry.reasonText}}
                                </div>
                            </div>
                        </div>
                        <p/>
                    </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <sp-button sp-button-gray ng-click="ctrl.hide()">
                Close
            </sp-button>
        </md-dialog-actions>
    </form>
</md-dialog>