<div *ngIf="dashboard.displayHeader" class="text-center">
    <h2>{{dashboard.name}}</h2>
    <h3>{{dashboard.description}}</h3>
</div>
<gridster [options]="options" [ngClass]="editMode ? 'edit' : ''">
    <ng-container *ngFor="let item of dashboard.widgets;let i=index">
        <gridster-item [item]="item" #gridsterItemComponent>
            <dashboard-widget (deleteCallback)="removeItem($event)" [item]="item" [widget]="item"
            [editMode]="editMode" [gridsterItemComponent]="gridsterItemComponent"></dashboard-widget>
        </gridster-item>
    </ng-container>
</gridster>