<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <div fxFlex="100">
            <div
                fxFlex="100"
                fxLayout="column"
                style="margin: 5px; width: 100%"
            >
                <mat-form-field class="w-100" floatLabel="auto" color="accent">
                    <mat-label>{{ 'Dashboard title' | translate }}</mat-label>
                    <input
                        id="dvname"
                        #dvname="ngModel"
                        required
                        matInput
                        data-cy="data-view-name"
                        [(ngModel)]="dashboard.name"
                    />
                    <mat-error>{{
                        'Title must not be empty' | translate
                    }}</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                    <mat-label>{{ 'Description' | translate }}</mat-label>
                    <input matInput [(ngModel)]="dashboard.description" />
                </mat-form-field>
                <div class="mt-10" fxLayout="column">
                    <label>{{ 'Default view mode' | translate }}</label>
                    <mat-radio-group
                        [(ngModel)]="
                            dashboard.dashboardGeneralSettings.defaultViewMode
                        "
                    >
                        <mat-radio-button
                            class="view-radio-button"
                            [value]="'grid'"
                        >
                            {{ 'Grid view' | translate }}
                        </mat-radio-button>
                        <mat-radio-button
                            class="view-radio-button"
                            [value]="'slide'"
                        >
                            {{ 'Slide view' | translate }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="mt-10" fxLayout="column">
                    <label>{{ 'Grid' | translate }}</label>
                    <mat-form-field
                        class="w-100 mt-10"
                        floatLabel="auto"
                        color="accent"
                    >
                        <mat-label>{{ 'Grid columns' | translate }}</mat-label>
                        <input
                            id="dvname"
                            #dvname="ngModel"
                            required
                            matInput
                            type="number"
                            data-cy="grid-columns"
                            [(ngModel)]="dashboard.gridColumns"
                        />
                        <mat-error>{{
                            'Title must not be empty' | translate
                        }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="mt-10" fxLayout="column">
                    <label>{{ 'Time settings' | translate }}</label>
                    <mat-checkbox
                        [(ngModel)]="
                            dashboard.dashboardGeneralSettings.globalTimeEnabled
                        "
                        >{{
                            'Use global time settings instead of chart time settings'
                                | translate
                        }}
                    </mat-checkbox>
                </div>

                @if (isAssetAdmin) {
                    <div class="mt-10" fxLayout="column">
                        <label>{{
                            'Add Dashboard to Assets' | translate
                        }}</label>

                        <mat-checkbox
                            [(ngModel)]="addToAssets"
                            color="accent"
                            data-cy="sp-show-dashboard-asset-checkbox"
                        >
                            {{
                                'Add the current dashboard to an existing asset'
                                    | translate
                            }}
                        </mat-checkbox>

                        @if (addToAssets) {
                            <div class="mt-10">
                                <sp-asset-link-configuration
                                    [isEdit]="!createMode"
                                    [itemId]="dashboard.elementId"
                                    (selectedAssetsChange)="
                                        onSelectedAssetsChange($event)
                                    "
                                    (deselectedAssetsChange)="
                                        onDeselectedAssetsChange($event)
                                    "
                                    (originalAssetsEmitter)="
                                        onOriginalAssetsEmitted($event)
                                    "
                                >
                                </sp-asset-link-configuration>
                            </div>
                        }
                    </div>
                }

                <!--<mat-checkbox [(ngModel)]="dashboard.displayHeader">Show name and description in dashboard</mat-checkbox>-->
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-left" fxLayoutGap="10px">
        <button
            [disabled]="dvname.invalid"
            mat-button
            mat-flat-button
            color="accent"
            data-cy="save-data-view"
            (click)="onSave()"
        >
            {{ (createMode ? 'Create' : 'Save') | translate }}
        </button>
        <button
            mat-button
            mat-flat-button
            class="mat-basic mr-10"
            (click)="onCancel()"
            data-cy="close-data-view"
        >
            {{ 'Close' | translate }}
        </button>
    </div>
</div>
