<div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="67">
        <dashboard-item [panelTitle]="'Image'">
            <dashboard-image *ngIf="showImage" [parcelInfoEventModel]="parcelInfo"></dashboard-image>
        </dashboard-item>
    </div>
    <div fxFlex="33" fxLayout="column">
        <div fxFill fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-item fxFlex="100" [panelTitle]="'Total Boxes Detected'">
                <dashboard-status [statusValue]="totalBoxes"></dashboard-status>
            </dashboard-item>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-item fxFlex="100" [panelTitle]="'Transparent Boxes Detected'">
                <dashboard-status [statusValue]="transparentBoxes"></dashboard-status>
            </dashboard-item>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-item fxFlex="100" [panelTitle]="'Cardboard Boxes Detected'">
                <dashboard-status [statusValue]="cardboardBoxes"></dashboard-status>
            </dashboard-item>
        </div>
    </div>
</div>
