<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="menubar-root" [class.collapsed]="collapsed()" fxLayout="column">
    <!-- Header / brand -->
    <div
        class="menubar-header"
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <div class="brand" [class.hidden]="collapsed()">
            <img alt="logo" src="assets/img/sp/logo-navigation.png" />
        </div>

        <button
            type="button"
            class="collapse-btn"
            (click)="toggleMenubar()"
            [attr.aria-label]="collapsed() ? 'Expand menu' : 'Collapse menu'"
            [title]="collapsed() ? 'Expand' : 'Collapse'"
        >
            <mat-icon class="collapse-icon" [class.rotated]="collapsed()"
                >chevron_left</mat-icon
            >
        </button>
    </div>

    <!-- Scrollable content -->
    <div class="menubar-scroll" fxFlex fxLayout="column">
        <!-- Top items (no group) -->
        <div class="top-items" role="list">
            @for (item of topItems; track item.title) {
                @if (item.visible !== false) {
                    <button
                        type="button"
                        role="listitem"
                        class="menu-item"
                        [class.menu-item-selected]="item.link === activePage"
                        [attr.data-cy]="'navigation-icon-' + item.link"
                        (click)="go(item.link)"
                        [title]="collapsed() ? item.title : null"
                        [attr.aria-current]="
                            item.link === activePage ? 'page' : null
                        "
                    >
                        <mat-icon class="item-icon">{{ item.icon }}</mat-icon>
                        <span
                            class="item-title text-ellipsis text-md"
                            [class.hidden]="collapsed()"
                            >{{ item.title }}</span
                        >
                    </button>
                }
            }
        </div>

        <!-- Grouped sections -->
        <div class="groups">
            @for (group of menuGroups; track group.title) {
                <section class="menu-group text-md">
                    <!-- Group header -->
                    <button
                        type="button"
                        [class.hidden]="collapsed()"
                        class="menu-group-title text-sm"
                        (click)="toggleGroup(group)"
                        [attr.aria-expanded]="!group.collapsed"
                        [title]="collapsed() ? group.title : null"
                    >
                        <span
                            class="group-title-text text-ellipsis"
                            [class.hidden]="collapsed()"
                            >{{ group.title }}</span
                        >
                        <mat-icon
                            class="chevron"
                            [class.rotate]="!group.collapsed"
                            [class.hidden]="collapsed()"
                            >expand_more</mat-icon
                        >
                    </button>

                    <!-- Group items (accordion) -->
                    <div
                        class="menu-group-items"
                        [style.maxHeight]="
                            group.collapsed && !collapsed() ? '0px' : '500px'
                        "
                        [class.instant]="collapsed()"
                        role="list"
                    >
                        @for (item of group.items; track item.title) {
                            @if (item.visible !== false) {
                                <button
                                    type="button"
                                    role="listitem"
                                    class="menu-item"
                                    [class.menu-item-selected]="
                                        item.link === activePage
                                    "
                                    [attr.data-cy]="
                                        'navigation-icon-' + item.link
                                    "
                                    (click)="go(item.link)"
                                    [title]="collapsed() ? item.title : null"
                                    [attr.aria-current]="
                                        item.link === activePage ? 'page' : ''
                                    "
                                >
                                    <mat-icon class="item-icon">{{
                                        item.icon
                                    }}</mat-icon>
                                    <span
                                        class="item-title text-md text-ellipsis"
                                        [class.hidden]="collapsed()"
                                        >{{ item.title }}</span
                                    >
                                </button>
                            }
                        }
                    </div>
                </section>
                @if (collapsed()) {
                    <mat-divider></mat-divider>
                }
            }
        </div>
    </div>
</div>
