.adapter-box {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.adapter-description-box {
  height: 100%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 1px 1px 2px #555;
  border: 1px solid gray;
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
}

.adapter-description-box:hover {
  opacity: 1;
}
.delete {
  cursor: pointer;
}
.type p {
  padding: 4px;
  margin: 0;
}
.iconImg {
  max-height:50px;
  max-width:80%;
}
.historic {
  cursor: pointer;
  color: #ffa23b;
}
.real-time {
  cursor: pointer;
  color: #FFEB3B;
}

.icon {
  margin-top:20px;
  height:50px;
}
