<div style="margin-bottom: 2%;">
    <ng-template matStepLabel>Select Format</ng-template>

    <div class="assemblyOptions sp-blue-bg">
        <h4>Select format</h4>
    </div>
    <div class="sp-blue-border padding">
        <sp-format-list fxFlex="100"
                        [allFormats]="allFormats"
                        (selectedFormatEmitter)="formatSelected($event)"
                        [selectedFormat]="selectedFormat">
        </sp-format-list>
    </div>

    <div class="assemblyOptions sp-blue-bg">
        <h4>Configure format</h4>
    </div>

    <div *ngIf="selectedFormat">
        <div *ngIf="selectedFormat.config.length > 0">
            <sp-configuration-groupkl
                    [configurationGroup]="formatForm"
                    [adapterId]="adapterDescription.appId"
                    [configuration]="selectedFormat.config">
            </sp-configuration-groupkl>
        </div>

        <div *ngIf="selectedFormat.config.length === 0" class="sp-blue-border padding" style="padding: 15px;">
            <div  style="text-align:center;">
                <h5 >(no further configuration needed)</h5>
            </div>
        </div>
    </div>
</div>
