<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column" class="page-container">
    <div fxLayout="row" class="border" style="padding:0px;background-color:#f6f6f6;">
        <div fxFlex="100" style="line-height:24px;border-bottom:1px solid #ccc">
            <div fxFlex="100" fxLayout="row">
                <button mat-button mat-flat-button color="primary" (click)="showManageRdfEndpointsDialog()">Manage Endpoints</button>
                <div fxFlex fxLayoutAlign="start center" [attr.id]="'peType'">
                    <mat-tab-group [selectedIndex]="selectedCategoryIndex" (selectedIndexChange)="setSelectedTab($event)">
                        <mat-tab label="All"></mat-tab>
                        <mat-tab label="Data Sources"></mat-tab>
                        <mat-tab label="Data Processors"></mat-tab>
                        <mat-tab label="Data Sinks"></mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="page-container-padding-inner" *ngIf="endpointItemsLoadingComplete" >
        <div fxLayoutAlign="start start" fxLayout="column">
            <div fxFlex="100" fxLayout="row" style="margin-bottom:20px;">
                <button mat-button mat-flat-button color="primary" (click)="selectAll(true)" class="mr-10">
                    <i class="material-icons">done</i>
                    &nbsp;Select all
                </button>
                <button mat-button mat-flat-button color="primary" (click)="selectAll(false)" class="mr-10">
                    <i class="material-icons">clear</i>
                    &nbsp;Select none
                </button>
                <button mat-button mat-raised-button color="primary" (click)="installSelected()" class="mr-10">
                    <i class="material-icons">cloud_download</i>
                    &nbsp;Install selected
                </button>
                <button mat-button mat-raised-button color="primary" (click)="uninstallSelected()">
                    <i class="material-icons">delete</i>
                    &nbsp;Uninstall selected
                </button>
            </div>
        </div>
        <div fxLayout="row wrap">
            <endpoint-item fxFlex="33"
                           [itemSelected]="endpointItem.selected"
                           [item]="endpointItem"
                           (triggerInstallation)="triggerInstallation($event)"
                           *ngFor="let endpointItem of endpointItems | pipelineElementTypeFilter: selectedTab | orderBy: 'asc':'name'"
                           class="p-15"
                           (click)="toggleSelected(endpointItem)"></endpoint-item>
        </div>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" *ngIf="!endpointItemsLoadingComplete">
        <mat-spinner [mode]="'indeterminate'" [diameter]="20"></mat-spinner>
        <h4>&nbsp;&nbsp;Searching for available pipeline elements, please wait...</h4>
    </div>
</div>
