<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column">
    @for (id of alternateIds; track $index) {
        <div fxLayout="row" fxLayoutAlign="start center" class="p-5 border">
            <span fxFlex>{{ id }}</span>
            <button
                mat-icon-button
                color="accent"
                (click)="removeAlternateId(id)"
            >
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    }
    <div fxLayout="row" fxLayoutAlign="start center" class="alternate-id-row">
        <mat-form-field color="accent" fxFlex subscriptSizing="dynamic">
            <mat-label>New Alternate ID</mat-label>
            <input
                matInput
                [(ngModel)]="newAlternateId"
                (keyup.enter)="addAlternateId()"
                placeholder="Enter new alternate ID"
            />
        </mat-form-field>
        <div fxLayoutAlign="start center">
            <button mat-button class="mat-basic" (click)="addAlternateId()">
                <mat-icon>add</mat-icon><span>Add</span>
            </button>
        </div>
    </div>
</div>
