<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
            <div fxLayout="column" *ngIf="!adapterInstalled">
                <div fxLayoutAlign="center">
                    <mat-spinner
                        [diameter]="50"
                        fxLayoutAlign="center"
                        style="margin: 10px 0 5px 0"
                        color="accent"
                        >Loading
                    </mat-spinner>
                </div>
                <div fxLayoutAlign="center">
                    <h3>
                        Please wait while your new adapter is being generated...
                    </h3>
                </div>
            </div>
            <div fxLayout="column" *ngIf="adapterInstalled && editMode">
                <div
                    data-cy="info-adapter-successfully-updated"
                    fxLayoutAlign="center"
                >
                    <h3>Adapter successfully updated</h3>
                </div>
            </div>
            <div
                fxLayout="column"
                fxLayoutAlign="center center"
                fxFlex="100"
                *ngIf="adapterInstalled && !editMode"
                class="w-100"
            >
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlex="100"
                    *ngIf="saveInDataLake && templateErrorMessage"
                >
                    <div
                        class="info-message warning-message"
                        fxFlex="100"
                        fxLayoutAlign="center center"
                        fxLayout="row"
                    >
                        <i class="material-icons">warning</i>
                        <span
                            >&nbsp;{{
                                templateErrorMessage.notifications[0].title
                            }}</span
                        >
                    </div>
                </div>
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlex="100"
                    *ngIf="pipelineOperationStatus"
                >
                    <sp-pipeline-started-status
                        [pipelineOperationStatus]="pipelineOperationStatus"
                    >
                    </sp-pipeline-started-status>
                    <mat-divider fxFlex="100"></mat-divider>
                </div>
                <div
                    *ngIf="adapterStatus.success"
                    fxFlex="100"
                    fxLayout="column"
                    class="w-100"
                >
                    <div>
                        <div
                            class="info-message"
                            fxFlex="100"
                            fxLayoutAlign="center center"
                            fxLayout="row"
                        >
                            <i class="material-icons">done</i>
                            <span data-cy="sp-connect-adapter-success-added"
                                >&nbsp;Your new data stream is now available in
                                the pipeline editor.</span
                            >
                        </div>
                    </div>
                    <div *ngIf="startAdapterNow" fxFlex="100">
                        <sp-pipeline-element-runtime-info
                            [streamDescription]="streamDescription"
                            [pollingActive]="pollingActive"
                        ></sp-pipeline-element-runtime-info>
                    </div>
                </div>
                <div *ngIf="!adapterStatus.success">
                    <div
                        class="info-message warning-message"
                        fxFlex="100"
                        fxLayoutAlign="center center"
                        fxLayout="row"
                    >
                        <i class="material-icons">error</i>
                        <span
                            >Something went wrong during the adapter
                            installation.</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-right">
        <button
            id="confirm_adapter_started_button"
            class="mat-basic"
            mat-raised-button
            (click)="onCloseConfirm()"
        >
            Close
        </button>
    </div>
</div>
