<div ng-if="!staticProperty.properties.valueSpecification && !staticProperty.properties.mapsTo">
    <div flex="100" layout="column" ng-if="staticProperty.properties.placeholdersSupported">
        <h5>{{staticProperty.properties.description}}</h5>
        <h5>Possible placeholders: </h5>
        <span ng-repeat="property in inputStreams[0].eventSchema.eventProperties">#{{property.properties.runtimeName}}#&nbsp;</span>
    </div>
    <md-input-container ng-if="!staticProperty.properties.multiLine" flex="100" layout="column"><label>{{staticProperty.properties.description}}</label>
        <input name="{{staticProperty.properties.elementName}}" ng-model="staticProperty.properties.value"/>
    </md-input-container>
    <div ng-if="staticProperty.properties.multiLine">
        <md-input-container flex="100" layout="column">
            <textarea name="{{staticProperty.properties.elementName}}" ng-model="staticProperty.properties.value"
                      md-maxlength="1500" rows="10"></textarea>
        </md-input-container>
    </div>
</div>
<div ng-if="staticProperty.properties.valueSpecification" style="margin-top:20px;">
    <div layout="column">
        <span>{{staticProperty.properties.description}}</span>
        <md-slider md-discrete flex min="{{staticProperty.properties.valueSpecification.minValue}}"
                   max="{{staticProperty.properties.valueSpecification.maxValue}}"
                   step="{{staticProperty.properties.valueSpecification.step}}"
                   ng-model="staticProperty.properties.value">
        </md-slider>
        <md-input-container flex="100">
            <input name="{{staticProperty.properties.elementName}}"
                   ng-model="staticProperty.properties.value">
        </md-input-container>
    </div>
</div>
<div ng-if="!staticProperty.properties.valueSpecification && staticProperty.properties.mapsTo" style="margin-top:20px;">
    <div layout="column">
        <span>{{staticProperty.properties.description}}</span>
        <div ng-if="!selectedEventProperty.properties.valueSpecification">
            <md-input-container flex="100" layout="column">
                <input name="{{staticProperty.properties.elementName}}" ng-model="staticProperty.properties.value"/>
            </md-input-container>
        </div>
        <div ng-if="selectedEventProperty.properties.valueSpecification.type=='org.streampipes.model.schema.QuantitativeValue'">
            <md-slider md-discrete flex min="{{selectedEventProperty.properties.valueSpecification.properties.minValue}}"
                       max="{{selectedEventProperty.properties.valueSpecification.properties.maxValue}}"
                       step="{{selectedEventProperty.properties.valueSpecification.properties.step}}"
                       ng-model="staticProperty.properties.value">
            </md-slider>
            <md-input-container flex="100">
                <input name="{{staticProperty.properties.elementName}}"
                       ng-model="staticProperty.properties.value">
            </md-input-container>
        </div>
        <div ng-if="selectedEventProperty.properties.valueSpecification.type=='org.streampipes.model.schema.Enumeration'">
            <md-autocomplete md-no-cache="true" md-selected-item="staticProperty.properties.value" md-items="item in selectedEventProperty.properties.valueSpecification.properties.runtimeValues" md-search-text="searchText" md-item-text="item" placeholder="Enter value">
                <span>{{ item }}</span>
            </md-autocomplete>
        </div>
    </div>
</div>