<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div id="formWrapper" fxFlex="100" fxLayout="column">
    <div>
        <button
            mat-button
            mat-raised-button
            color="accent"
            class="small-button"
            (click)="loadOptionsFromRestApi()"
            style="margin-right: 10px; margin-left: 10px"
            [disabled]="!showOptions"
        >
            <span>Reload</span>
        </button>
    </div>
    <div
        *ngIf="!staticProperty.horizontalRendering"
        fxLayout="column"
        style="margin-top: 10px"
    >
        <mat-checkbox
            style="padding-left: 10px"
            color="accent"
            *ngFor="let option of staticProperty.options"
            [(ngModel)]="option.selected"
        >
            {{ option.name }}
        </mat-checkbox>
    </div>
    <div fxLayout="column" *ngIf="!showOptions && !loading" class="mt-10">
        <span>(waiting for input)</span>
    </div>
    <div fxLayout="column" *ngIf="loading">
        <mat-spinner
            color="accent"
            [mode]="'indeterminate'"
            [diameter]="20"
        ></mat-spinner>
    </div>

    <div *ngIf="staticProperty.horizontalRendering">
        <mat-form-field style="width: 100%" color="accent">
            <mat-label>{{ staticProperty.label }}</mat-label>
            <mat-select multiple [(ngModel)]="option.selected">
                <mat-option
                    *ngFor="let option of staticProperty.options"
                    [value]="option"
                >
                    {{ option.name }}
                </mat-option>
            </mat-select>
            <mat-hint>{{ staticProperty.description }}</mat-hint>
        </mat-form-field>
    </div>
</div>
