<md-dialog aria-label="{{pipelineAction}} pipelines" flex="60" >
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Installation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div>
            <div flex="100" class="md-dialog-content" style="padding:20px;" ng-show="page == 'preview'">
                <h4>You are about to {{action ? 'start' : 'stop'}} the following pipelines:</h4>
                <div ng-repeat="pipeline in pipelinesToModify">
                    <h5>{{pipeline.name}}</h5>
                </div>
                <h5><b>Press 'Next' to start the process.</b></h5>
            </div>
            <div flex="100" class="md-dialog-content" style="padding:20px;" ng-show="page == 'installation'">
                <div ng-repeat="status in installationStatus">
                    <h4>{{action ? 'Starting pipeline ' : 'Stopping pipeline'}} {{status.id+1}} of {{pipelinesToModify.length}} ({{status.name}})...{{status.status}}</h4>
                </div>
                <div ng-if="pipelinesToModify.length == 0">
                    <h4>Sorry, there are no pipelines that are currently {{action ? "idle." : "running."}}</h4>
                </div>
            </div>

        </div>
        <div class="md-actions" layout="row">
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
            <md-button ng-disabled="installationRunning" ng-click="next()" class="md-raised md-accent" style="margin-right:20px;">
                {{nextButton}}
            </md-button>
        </div>
    </form>
</md-dialog>