.fixed-height {
    height: 50px;
}

.data-explorer-options {
    padding: 0px;
}

.data-explorer-options-item {
    display: inline;
    margin-right: 10px;
}

.m-20 {
    margin: 20px;
}

.h-100 {
    height: 100%;
}

.dashboard-grid {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.designer-panel-container {
    width: 100%;
    height: 100%;
}

.designer-panel {
    width: 450px;
    border: 1px solid var(--color-tab-border);
}
