<div class="md-dialog" style="height: 80vh;">
    <div class="md-toolbar">
        <div class="md-toolbar-tools">
            <h2>Adapter Generation</h2>
            <span fxFlex></span>
            <button  mat-icon-button (click)="onCloseConfirm()">
                <i class="material-icons">close</i>
            </button>
        </div>
    </div>

    <div class="md-dialog-content" style="height: 60vh;">
        <div fxLayout="column" *ngIf="!adapterInstalled">
            <div fxLayoutAlign="center" >
                <mat-spinner fxLayoutAlign="center" style="margin: 10px 0 5px 0" >Loading</mat-spinner>
            </div>
            <div fxLayoutAlign="center">
                <h3>Please wait while your new adapter is being generated!</h3>
            </div>
        </div>
        <div fxLayout="column" *ngIf="adapterInstalled">
            <div *ngIf="adapterStatus.success">
                The adapter was created successfully. You can now switch to the pipeline editor to create a pipeline based on your new element!

                <div *ngIf="isSetAdapter">
                    <div fxLayout="column">
                        <div fxLayoutAlign="center" >
                            <h3>Data Set adapter created. Data will be streamed once a pipeline is started!</h3>
                        </div>
                    </div>
                </div>

                <div *ngIf="runtimeData === undefined && !isSetAdapter">
                    <div fxLayout="column">
                        <div fxLayoutAlign="center" >
                            <mat-spinner [diameter]="40" fxLayoutAlign="center" style="margin: 10px 0 5px 0" >Loading</mat-spinner>
                        </div>
                        <div fxLayoutAlign="center">
                            <h3>Gathering data for live preview...</h3>
                        </div>
                    </div>
                </div>
                <div *ngIf="runtimeData !== undefined">
                    <p>Here is a preview of your data:</p>
                    <table class="dataTable row-border hover">
                        <thead>
                        <tr>
                            <th>Runtime Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody id="preview-data-rows-id">
                        <tr *ngFor="let property of streamDescription.eventSchema.eventProperties">
                            <td>{{property.properties.runtimeName}}</td>
                            <td>{{runtimeData[property.properties.runtimeName]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="!adapterStatus.success">
                Something went wrong during the adapter installation.
            </div>
        </div>
    </div>


    <div class="md-dialog-actions">
        <button id="confirm_adapter_started_button" class="mat-basic" mat-raised-button (click)="onCloseConfirm()">Close
        </button>
    </div>

</div>