<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->
<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <div fxLayoutAlign="start center">
        <button
            mat-raised-button
            color="accent"
            class="small-button"
            (click)="onResetOptionsAndReload()"
            style="margin-right: 10px"
            *ngIf="editorMode === 'tree'"
            [disabled]="!showOptions"
            data-cy="clear-tree-node-selection"
        >
            <span>Clear selection & reload</span>
        </button>
        <button
            mat-raised-button
            color="accent"
            class="small-button"
            (click)="onReload()"
            style="margin-right: 10px"
            *ngIf="editorMode === 'tree'"
            [disabled]="!showOptions"
        >
            <span>Reload</span>
        </button>
    </div>
    <div
        fxLayout="row"
        *ngIf="loading && editorMode === 'tree'"
        fxLayoutAlign="start center"
        data-cy="reloading-nodes"
    >
        <mat-spinner
            color="accent"
            [mode]="'indeterminate'"
            [diameter]="15"
        ></mat-spinner>
        <span class="reloading-nodes-label">&nbsp;Reloading nodes</span>
    </div>

    <div fxFlex fxLayoutAlign="end center">
        <mat-button-toggle-group
            aria-label="Font Style"
            class="small-button"
            [(value)]="editorMode"
            (change)="onChangeEditor($event.value)"
        >
            <mat-button-toggle data-cy="editor-mode-tree" value="tree"
                >Tree</mat-button-toggle
            >
            <mat-button-toggle data-cy="editor-mode-text" value="text"
                >Text</mat-button-toggle
            >
        </mat-button-toggle-group>
    </div>
</div>
