<div ng-show="ctrl.currentMouseOverElement==ctrl.pipelineElement.payload.DOM" style="z-index:10">
    <span class="options-button customize-button" ng-show="ctrl.pipelineElement.type!='stream'" style="z-index:10">
        <md-button ng-click="ctrl.openCustomizeDialog()" ng-disabled="!ctrl.isRootElement()" class="md-icon-button"
                   style="margin:0px;font-size:20px;">
            <i class="material-icons">settings</i>
            <md-tooltip md-direction="top">
                        Configure Element
            </md-tooltip>
            </md-button>
    </span>
    <span class="options-button customize-button"
          ng-show="ctrl.pipelineElement.type=='stream' && ctrl.isWildcardTopic()"
          style="z-index:10">
        <md-button ng-click="ctrl.openCustomizeStreamDialog()" ng-disabled="!ctrl.isRootElement()" class="md-icon-button"
               style="margin:0px;font-size:20px;">
            <i class="material-icons">settings</i>
            <md-tooltip md-direction="top">
                    Configure Element
            </md-tooltip>
        </md-button>
    </span>
    <span class="options-button delete-button" style="z-index:10">
        <md-button ng-click="ctrl.removeElement(ctrl.pipelineElement)" ng-disabled="!ctrl.isRootElement()"
                   class="md-icon-button"
                   style="margin:0px;font-size:20px;">
            <i class="material-icons">clear</i>
             <md-tooltip md-direction="top">
                       Delete Element
             </md-tooltip>
        </md-button>
    </span>
    <span class="options-button possible-button" ng-show="ctrl.pipelineElement.type!='action'" style="z-index:10">
        <md-button
                ng-disabled="!ctrl.possibleElements || ctrl.possibleElements.length == 0 || !ctrl.isConfigured()"
                ng-click="ctrl.EditorDialogManager.openPossibleElementsDialog(ctrl.rawPipelineModel, ctrl.possibleElements, ctrl.pipelineElement.payload.DOM)"
                class="md-icon-button" style="margin:0px;font-size:20px;">
            <i class="material-icons">visibility</i>
            <md-tooltip md-direction="bottom">
                        Compatible Elements
            </md-tooltip>
    </md-button>
    </span>
    <span class="options-button recommended-button"
          ng-show="ctrl.pipelineElement.type!='action' && (ctrl.recommendationsAvailable) && ctrl.recommendedElements.length > 0"
          style="z-index:10">
        <md-button
                ng-click="ctrl.showRecommendations($event)"
                ng-disabled="!ctrl.recommendationsAvailable || !ctrl.isConfigured()"
                class="md-icon-button" style="margin:0px;font-size:20px;">
            <i class="material-icons">add</i>
            <md-tooltip md-direction="bottom">
                        Recommended Elements
            </md-tooltip>
        </md-button>
    </span>
    <span class="options-button help-button" style="z-index:10">
        <md-button ng-click="ctrl.openHelpDialog()"
                   class="md-icon-button"
                   style="margin:0px;font-size:20px;">
        ?
            <md-tooltip md-direction="bottom">
                            Help
                        </md-tooltip>
            </md-button>
    </span>
    <div class="editor-pe-info" ng-class="'pe-info-' + ctrl.pipelineElement.type">
        {{ctrl.pipelineElement.payload.name}}
    </div>
</div>
<pipeline-element-recommendation raw-pipeline-model="ctrl.rawPipelineModel"
                                 pipeline-element-dom-id="ctrl.pipelineElement.payload.DOM"
                                 recommended-elements="ctrl.recommendedElements"
                                 recommendations-shown="ctrl.recommendationsShown"></pipeline-element-recommendation>

