<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <div fxLayout="column" fxLayoutGap="10px" class="p-15">
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="60">
                <div fxFlex="20">Service ID</div>
                <div fxFlex="80">{{ serviceReg.svcId }}</div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="60">
                <div fxFlex="20">Service Group</div>
                <div fxFlex="80">{{ serviceReg.svcGroup }}</div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="60">
                <div fxFlex="20">Location</div>
                <div fxFlex="80">
                    {{ serviceReg.scheme }}://{{ serviceReg.host }}:{{
                        serviceReg.port
                    }}
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="60">
                <div fxFlex="20">Tags</div>
                <div fxFlex="80">
                    <div>
                        <div
                            *ngFor="let tag of serviceReg.tags"
                            class="service-tag"
                        >
                            <span class="service-tag-prefix">{{
                                tag.prefix.toLowerCase()
                            }}</span>
                            <span class="service-tag-value">{{
                                tag.value
                            }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-right">
        <button
            mat-button
            mat-raised-button
            class="mat-basic"
            (click)="close()"
        >
            Close
        </button>
    </div>
</div>
