@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes disappear-opacity {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

.sp-fade-opacity.ng-enter {
  animation: 2s appear-opacity;
}

.sp-fade-opacity.ng-leave {
  animation: 1s disappear-opacity;
}

.sp-fade.ng-enter {
  animation: 2s appear;
}

.sp-fade.ng-leave {
  animation: 1s disappear;
}

.sp-fade.ng-leave.ng-leave-active,
.sp-fade.ng-move,
.sp-fade.ng-enter {
  opacity:0;
  max-height:0;
}

.sp-fade.ng-leave,
.sp-fade.ng-move.ng-move-active,
.sp-fade.ng-enter.ng-enter-active {
  opacity:1;
  max-height:20px;
}