@import '../_variables';

.mat-button, .mat-raised-button {
  display: inline-block ;
  vertical-align: middle;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  line-height: 1em;
  padding: 0.75em 1.25em;
  margin-right:0.25em;
  margin-left: 0.25em;
  margin-top:0;
}
.mat-button>i, .mat-raised-button>i {
  vertical-align:middle;
  line-height: inherit;
}

.mat-button>span, .mat-raised-button>span {
  vertical-align:middle;
}
.mat-accent:enabled {
  background: $sp-color-primary;
  color: rgba(255, 255, 255, 0.75);
}
.mat-accent:hover:enabled {
  background: $sp-color-primary-light;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.mat-accent:disabled {
  background: #ebebeb;
  color: #cdcdcd;
}
.mat-primary:enabled {
  background: $sp-color-accent;
  color: rgba(255, 255, 255, 0.75);
}
.mat-primary:hover:enabled {
  background: $sp-color-accent-light-blue;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.mat-primary:disabled {
  background: #ebebeb;
  color: #cdcdcd;
}