<md-tabs md-border-bottom>

		<md-tab ng-repeat="tab in tabs"
				ng-disabled="tab.disabled"
				label="{{tab.title}}"
				md-on-select="loadCurrentElements(tab.type)">
			<md-tab-label>
				{{tab.title}}
				<md-icon md-svg-icon="navigation:ic_arrow_forward_24px"></md-icon>
			</md-tab-label>



				<!--<md-grid-list md-cols-sm="3" md-cols-md="6" md-cols-gt-md="9"-->
							   <!--md-gutter="12px" md-gutter-gt-sm="8px"-->
							  <!--md-row-height="fit" md-row-height="1:1">-->
					<!--<md-grid-tile ng-repeat="element in currentElements">-->
						<!--<div class="draggable-icon" ng-class="{{element.type}}">-->
							<!--<img class="draggable-img" ng-show="(item.iconUrl != null && item.iconUrl != 'http://localhost:8080/img')" ng-src="{{element.iconUrl}}">-->
							<!--<span ng-show="(item.iconUrl == null || item.iconUrl == 'http://localhost:8080/img')">-->
								<!--{{elementTextIcon(element.name)}}-->
							<!--</span>-->
						<!--</div>-->
					<!--</md-grid-tile>-->
				<!--</md-grid-list>-->

		</md-tab>

</md-tabs>
<div id="editor-icon-stand" class="icon-stand">
</div>




<!--<div id ="sources" align="center" class="alpha"></div>-->
<!--<div class="panel-group" id="accordion">-->

	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading panel-streams">-->
			<!--<h4 class="panel-title"><a id="streamCollapse" class="disabled" data-parent="#accordion" href="#collapseOne"> Streams </a></h4>-->
		<!--</div>-->
		<!--<div id="collapseOne" class="panel-collapse collapse">-->
			<!--<div class="panel-body">-->
				<!--<div id="streams" align="center" class="icon-stands alpha panel-body-streams">-->

				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading panel-sepas">-->
			<!--<h4 class="panel-title"><a id="sepaCollapse" class="disabled" data-parent="#accordion" href="#collapseTwo"> Sepas </a></h4>-->
		<!--</div>-->
		<!--<div id="collapseTwo" class="panel-collapse collapse">-->
			<!--<div class="panel-body">-->
				<!--<div id="sepas" align="center" class="icon-stands alpha panel-body-sepas">-->

				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading panel-actions">-->
			<!--<h4 class="panel-title"><a id="actionCollapse" class="disabled" data-parent="#accordion" href="#collapseThree"> Actions </a></h4>-->
		<!--</div>-->
		<!--<div id="collapseThree" class="panel-collapse collapse ">-->
			<!--<div class="panel-body">-->
				<!--<div id="actions" align="center" class="icon-stands alpha panel-body-actions">-->

				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

<!--</div>-->

<div id="assembly" class="canvas">

	<span id="clear" class="glyphicon glyphicon-remove"></span>
	<button type="button" id="submit" class="btn btn-default btn-sm shadow" onclick=submit()>
		<span class="glyphicon glyphicon-ok"></span> Submit
	</button>

</div>
