<md-tabs md-border-bottom>

		<md-tab ng-repeat="tab in tabs"
				ng-disabled="tab.disabled"
				label="{{tab.title}}"
				md-on-select="loadCurrentElements(tab.type)">
			<md-tab-label>
				{{tab.title}}
				<md-icon md-svg-icon="navigation:ic_arrow_forward_24px"></md-icon>
			</md-tab-label>

		</md-tab>

</md-tabs>
<md-divider></md-divider>
<div flex class="filter" layout="row">
	<span flex></span>
	<md-input-container flex>
		<label>Element Name</label>
		<input ng-model="elName">
	</md-input-container>
</div>
<div layout-padding flex id="editor-icon-stand" class="icon-stand md-whiteframe-z1">
	<!--<draggable-icon-element ng-repeat="element in currentElements">-->

	<!--</draggable-icon-element>-->
	<span ng-repeat="element in currentElements | filter:elName:strict | orderBy: 'name' " my-data-bind class="draggable-icon tt" ng-class="element.type" data-toggle="tooltip" data-placement="top" title="{{element.name}}" >
		<img class="draggable-img"
			  ng-show="(element.iconUrl != null && element.iconUrl != 'http://localhost:8080/img')" ng-src="{{element.iconUrl}}">
		<span class="element-text-icon" ng-show="(element.iconUrl == null || item.iconUrl == 'http://localhost:8080/img')">
			{{elementTextIcon(element.name)}}
		</span>
	</span>
</div>

<div id="assembly" class="canvas">

	<span id="clear" class="glyphicon glyphicon-remove"></span>
	<md-button ng-disabled="!(isStreamInAssembly && isSepaInAssembly && isActionInAssembly)" class="md-accent md-raised" id="submit" onclick="submit()" type="submit">
		Submit
	</md-button>

</div>
