.circleNumber {
    width:100%;
    height: 100%;
    color: #fff;
    text-align: center;
    left: 50%;
    display:inline-grid;
    align-content: center;
}

.numberTitle {
    font-size:20px;
}

.numberItem {
    font-size:30px;
}