<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayout="column">
        <sp-basic-inner-panel panelTitle="Select Asset" outerMargin="20px 0px">
            <mat-form-field appearance="fill">
                <mat-label>Select Asset</mat-label>
                <mat-select [(ngModel)]="selectedAssetId">
                    <mat-option
                        *ngFor="let asset of assetsData"
                        [value]="asset.assetId"
                    >
                        {{ asset.assetName }}
                        <ng-container *ngIf="asset.assets?.length">
                            <mat-select *ngIf="asset.assets?.length">
                                <mat-option
                                    *ngFor="let subAsset of asset.assets"
                                    [value]="subAsset.assetId"
                                >
                                    {{ subAsset.assetName }}
                                    <ng-container
                                        *ngIf="subAsset.assets?.length"
                                    >
                                        <!-- Recursive level for sub-assets -->
                                        <mat-select
                                            *ngIf="subAsset.assets?.length"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let subSubAsset of subAsset.assets
                                                "
                                                [value]="subSubAsset.assetId"
                                            >
                                                {{ subSubAsset.assetName }}
                                            </mat-option>
                                        </mat-select>
                                    </ng-container>
                                </mat-option>
                            </mat-select>
                        </ng-container>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </sp-basic-inner-panel>
        <sp-basic-inner-panel
            panelTitle="Components to add"
            outerMargin="20px 0px"
        >
        </sp-basic-inner-panel>
        <div fxLayoutAlign="end" style="margin-top: 10px">
            <button class="mat-basic" mat-flat-button>Cancel</button>
            <button
                style="margin-left: 10px"
                class="mat-basic stepper-button"
                mat-flat-button
            >
                Back
            </button>
            <button
                mat-flat-button
                data-cy="adapter-settings-start-adapter-btn"
                color="accent"
                mat-button
                style="margin-left: 10px"
                (click)="save()"
            >
                Add to Asset
            </button>
        </div>
    </div>
</div>
