<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayout="column">
        <sp-basic-inner-panel panelTitle="Select Asset" outerMargin="20px 0px">
            <mat-form-field appearance="fill">
                <mat-label>Select Asset</mat-label>
                <mat-select [(ngModel)]="selectedAssetIds">
                    <mat-option
                        *ngFor="let asset of assetsData"
                        [value]="{ id: asset.id, assetId: asset.assetId }"
                    >
                        {{ asset.assetName }}

                        <!-- Sub-Assets -->
                        <ng-container *ngIf="asset.assets?.length">
                            <mat-select *ngIf="asset.assets?.length">
                                <mat-option
                                    *ngFor="let subAsset of asset.assets"
                                    [value]="{
                                        id: subAsset.id,
                                        assetId: subAsset.assetId
                                    }"
                                >
                                    {{ subAsset.assetName }}

                                    <!-- Recursive level for sub-assets -->
                                    <ng-container
                                        *ngIf="subAsset.assets?.length"
                                    >
                                        <mat-select
                                            *ngIf="subAsset.assets?.length"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let subSubAsset of subAsset.assets
                                                "
                                                [value]="{
                                                    id: subSubAsset.id,
                                                    assetId: subSubAsset.assetId
                                                }"
                                            >
                                                {{ subSubAsset.assetName }}
                                            </mat-option>
                                        </mat-select>
                                    </ng-container>
                                </mat-option>
                            </mat-select>
                        </ng-container>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </sp-basic-inner-panel>
        <sp-basic-inner-panel
            panelTitle="Components to add"
            outerMargin="20px 0px"
        >
            <div class="components-container">
                <div
                    *ngFor="let component of linkageData"
                    class="component-row"
                >
                    <!-- Checkbox Column -->
                    <mat-checkbox
                        [(ngModel)]="component.selected"
                        (change)="onCheckboxChange(component)"
                    >
                        {{ component.type }}
                    </mat-checkbox>

                    <!-- Name Column -->
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            [(ngModel)]="component.name"
                            [disabled]="!component.selected"
                        />
                    </mat-form-field>

                    <!-- Id Column -->
                    <mat-form-field appearance="fill">
                        <mat-label>Id</mat-label>
                        <input
                            matInput
                            [(ngModel)]="component.id"
                            [disabled]="true"
                        />
                    </mat-form-field>
                </div>
            </div>
        </sp-basic-inner-panel>
        <div fxLayoutAlign="end" style="margin-top: 10px">
            <button class="mat-basic" mat-flat-button (click)="cancel()">
                Cancel
            </button>
            <button
                mat-flat-button
                data-cy="adapter-settings-start-adapter-btn"
                color="accent"
                mat-button
                style="margin-left: 10px"
                (click)="save()"
            >
                Add to Asset
            </button>
        </div>
    </div>
</div>
