<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->
<div>

    <div fxLayout="column" fxLayoutAlign="space-between " >
        <div  fxLayout="row" fxLayoutAlign="space-around start">

            <sp-image-labels
                    [labels]="labels"
                    [enableShortCuts]="true"
                    (labelChange)="handleLabelChange($event)">
            </sp-image-labels>

            <div fxLayout="column" fxLayoutAlign="space-between " >
                <div fxLayout="row" fxLayoutAlign="center center" >
                    <mat-chip-list style="margin-bottom: 3px; min-height: 40px;">
                        <mat-chip *ngFor="let label of selectedLabels" [style.background-color]="colorService.getColor(label.label)"
                                  (removed)="remove(label)">
                            {{label.label}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-between " >
                    <button mat-button (click)="save()"> <mat-icon>save</mat-icon></button>

                    <sp-image-container
                            [imageSrc]="imagesSrcs[imagesIndex]">
                    </sp-image-container>
                </div>
            </div>
        </div>
        <br />
<!--        <div fxLayout="row" fxLayoutAlign="center center"><div>{{pageIndex + 1}} / {{pageSum}}</div></div>-->
<!--        <sp-image-bar style="width: 100%"-->
<!--                      [imagesSrcs]="imagesSrcs"-->
<!--                      [selectedIndex]="imagesIndex"-->
<!--                      [enableShortCuts]="true"-->
<!--                      (indexChange)="handleImageIndexChange($event)"-->
<!--                      (pageUp)="handleImagePageUp($event)"-->
<!--                      (pageDown)="handleImagePageDown($event)">-->
<!--        </sp-image-bar>-->
    </div>
</div>
