<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div
    class="pipeline-details-toolbar"
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
>
    <div
        class="pipeline-details-toolbar__views"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
    >
        <button
            type="button"
            mat-flat-button
            class="btn-secondary"
            [attr.aria-pressed]="previewModeActive"
            (click)="togglePreviewEmitter.emit()"
        >
            <mat-icon>visibility</mat-icon>
            {{
                (previewModeActive
                    ? 'Disable live preview'
                    : 'Enable live preview'
                ) | translate
            }}
        </button>
        @if (hasPipelineWritePrivileges) {
            <button
                type="button"
                mat-flat-button
                class="btn-secondary"
                (click)="openCodeDialogEmitter.emit()"
                data-cy="pipeline-details-view-code"
            >
                <mat-icon>code</mat-icon>
                {{ 'View pipeline as code' | translate }}
            </button>
        }
    </div>
    <div
        class="pipeline-details-toolbar__refresh"
        fxLayout="row wrap"
        fxLayoutAlign="end center"
    >
        <button
            type="button"
            mat-icon-button
            [matTooltip]="'Refresh metrics' | translate"
            [attr.aria-label]="'Refresh metrics' | translate"
            (click)="reloadMetricsEmitter.emit()"
        >
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-slide-toggle
            [(ngModel)]="autoRefresh"
            (ngModelChange)="autoRefreshChange.emit($event)"
            >{{ 'Auto refresh' | translate }}</mat-slide-toggle
        >
    </div>
</div>
