<div layout="row" flex="100" layout-align="center center" class="wizard-row" style="margin-bottom:5%;">
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getConsumerActiveTabCss('basics')" aria-label="Basics" ng-click="selectConsumerTab('basics')">1</md-button>
		Basics
	</div>
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getConsumerActiveTabCss('streams')" aria-label="Streams" ng-click="selectConsumerTab('streams')">2</md-button>
		Stream Requirements
	</div>
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getConsumerActiveTabCss('staticProperties')" aria-label="Streams" ng-click="selectConsumerTab('staticProperties')">3</md-button>
		Static Properties
	</div>
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getConsumerActiveTabCss('supportedGrounding')" aria-label="Deployment" ng-click="selectConsumerTab('supportedGrounding')">4</md-button>
		Supported Grounding
	</div>
	<div layout="column" flex="33" layout-align="center center">
		<md-button ng-class="getConsumerActiveTabCss('deployment')" aria-label="Deployment" ng-click="selectConsumerTab('deployment')">5</md-button>
		Deployment
	</div>
</div>

<div flex="100" class="md-whiteframe-z1">
	<collapsible title-label="'Basics'" disabled="disabled" removable="false" collapsible="false" layout-fill ng-if="isConsumerTabSelected('basics')">	
		<sepa-basics element="selectedAction" disabled="editingDisabled"></sepa-basics>
	</collapsible> 
	<collapsible title-label="'Stream Requirements'" disabled="disabled" removable="false" collapsible="false" layout-fill ng-if="isConsumerTabSelected('streams')">	
		<stream-restriction element="selectedAction.spDataStreams" disabled="editingDisabled"></stream-restriction>
	</collapsible>
	<collapsible title-label="'Basics'" disabled="disabled" removable="false" collapsible="false" layout-fill ng-if="isConsumerTabSelected('staticProperties')">	
		<static-properties element="selectedAction.staticProperties" streams="selectedAction.spDataStreams" disabled="editingDisabled"></static-properties>
	</collapsible>		
	<collapsible title-label="'Supported Grounding'" disabled="disabled" removable="false" collapsible="false" layout-fill ng-if="isConsumerTabSelected('supportedGrounding')">	
		<supported-grounding grounding="selectedAction.supportedGrounding" disabled="editingDisabled"></supported-grounding> 
	</collapsible>
	<collapsible title-label="'Deployment'" disabled="disabled" removable="false" collapsible="false" layout-fill ng-if="isConsumerTabSelected('deployment')">
		<deployment element="selectedAction" deployment-settings="deploymentSettings[2]" disabled="disabled" style="width:100%;"/>
	</collapsible>
</div>