<div layout="row" flex="100" layout-align="center center" class="wizard-row" style="margin-bottom:5%;">
    <div layout="column" flex="33" layout-align="center center">
        <md-button ng-class="getEpaActiveTabCss('basics')" aria-label="Basics" ng-click="selectEpaTab('basics')">1
        </md-button>
        Basics
    </div>
    <div layout="column" flex="33" layout-align="center center">
        <md-button ng-class="getEpaActiveTabCss('streams')" aria-label="Streams" ng-click="selectEpaTab('streams')">2
        </md-button>
        Stream Requirements
    </div>
    <div layout="column" flex="33" layout-align="center center">
        <md-button ng-class="getEpaActiveTabCss('staticProperties')" aria-label="Streams"
                   ng-click="selectEpaTab('staticProperties')">3
        </md-button>
        Static Properties
    </div>
    <div layout="column" flex="33" layout-align="center center">
        <md-button ng-class="getEpaActiveTabCss('outputStrategy')" aria-label="Deployment"
                   ng-click="selectEpaTab('outputStrategy')">4
        </md-button>
        Output Strategy
    </div>
    <div layout="column" flex="33" layout-align="center center">
        <md-button ng-class="getEpaActiveTabCss('supportedGrounding')" aria-label="Deployment"
                   ng-click="selectEpaTab('supportedGrounding')">5
        </md-button>
        Supported Grounding
    </div>
    <div layout="column" flex="33" layout-align="center center">
        <md-button ng-class="getEpaActiveTabCss('deployment')" aria-label="Deployment"
                   ng-click="selectEpaTab('deployment')">6
        </md-button>
        Deployment
    </div>
</div>

<div flex="100" class="md-whiteframe-z1">
    <collapsible title-label="'Basics'" disabled="disabled" removable="false" collapsible="false" layout-fill
                 ng-if="isEpaTabSelected('basics')">
        <sepa-basics element="selectedSepa" disabled="editingDisabled"></sepa-basics>
        Category:
        <!-- 			 <div ng-dropdown-multiselect="" options="availableEpaCategories" selected-model="selectedCategories" extra-settings="categoryOpt"></div> -->

    </collapsible>
    <collapsible title-label="'Stream Requirements'" disabled="disabled" removable="false" collapsible="false"
                 layout-fill ng-if="isEpaTabSelected('streams')">
        <stream-restriction element="selectedSepa.eventStreams" disabled="editingDisabled"></stream-restriction>
    </collapsible>
    <collapsible title-label="'Static Properties'" disabled="disabled" removable="false" collapsible="false" layout-fill
                 ng-if="isEpaTabSelected('staticProperties')">
        <static-properties element="selectedSepa.staticProperties" streams="selectedSepa.eventStreams"
                           disabled="editingDisabled"></static-properties>
    </collapsible>
    <collapsible title-label="'Output Strategy'" disabled="disabled" removable="false" collapsible="false" layout-fill
                 ng-if="isEpaTabSelected('outputStrategy')">
        <output-strategy strategies="selectedSepa.outputStrategies" disabled="editingDisabled"></output-strategy>
    </collapsible>
    <collapsible title-label="'Supported Grounding'" disabled="disabled" removable="false" collapsible="false"
                 layout-fill ng-if="isEpaTabSelected('supportedGrounding')">
        <supported-grounding grounding="selectedSepa.supportedGrounding"
                             disabled="editingDisabled"></supported-grounding>
    </collapsible>
    <collapsible title-label="'Deployment'" disabled="disabled" removable="false" collapsible="false" layout-fill
                 ng-if="isEpaTabSelected('deployment')">
        <deployment element="selectedSepa" deployment-settings="deploymentSettings[0]" disabled="disabled"
                    style="width:100%;"></deployment>
    </collapsible>
</div>