<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
    <div *ngIf="observedInputStreams.length > 0">
        <div
            [fxFlex]="70 / observedInputStreams.length"
            *ngFor="let observedInputStream of observedInputStreams"
        >
            <div fxLayout="column" class="mb-10">
                <sp-status-widget
                    fxFlex="100"
                    [label]="
                        'consumed from ' +
                        observedInputStream.pipelineElementName
                    "
                    [color]="
                        consumedMessagesFirstInputStream === notAvailable
                            ? deactivatedCardColor
                            : cardColor
                    "
                    [textColor]="
                        consumedMessagesFirstInputStream === notAvailable
                            ? deactivatedTextColor
                            : textColor
                    "
                    [statusValue]="
                        metricsInfo.messagesIn[observedInputStream.identifier]
                            ? metricsInfo.messagesIn[
                                  observedInputStream.identifier
                              ].counter
                            : '0'
                    "
                >
                </sp-status-widget>
            </div>
        </div>
    </div>
    <div fxFlex="30">
        <div fxLayout="column" class="mb-10" *ngIf="!dataSink">
            <sp-status-widget
                fxFlex="100"
                [label]="'produced messages'"
                [color]="
                    producedMessages === notAvailable
                        ? deactivatedCardColor
                        : cardColor
                "
                [textColor]="
                    producedMessages === notAvailable
                        ? deactivatedTextColor
                        : textColor
                "
                [statusValue]="metricsInfo.messagesOut.counter"
            ></sp-status-widget>
        </div>
    </div>
</div>
