<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div *ngIf="dashboard.displayHeader" class="text-center">
    <h2>{{ dashboard.name }}</h2>
    <h3>{{ dashboard.description }}</h3>
</div>
<gridster
    [options]="options"
    [ngClass]="editMode ? 'edit' : ''"
    class="custom-gridster-style"
>
    <ng-container *ngFor="let item of dashboard.widgets; let i = index">
        <gridster-item [item]="item" #gridsterItemComponent class="shadow">
            <sp-data-explorer-dashboard-widget
                [ngStyle]="{ height: gridsterItemComponent.height - 13 + 'px' }"
                [timeSettings]="timeSettings"
                [globalTimeEnabled]="
                    dashboard.dashboardGeneralSettings.globalTimeEnabled
                "
                (deleteCallback)="propagateItemRemoval($event)"
                (startEditModeEmitter)="startEditMode($event)"
                [dashboardItem]="item"
                [configuredWidget]="configuredWidgets.get(item.id)"
                [dataLakeMeasure]="dataLakeMeasures.get(item.id)"
                [editMode]="editMode"
                [gridMode]="true"
                [widgetIndex]="i"
                [gridsterItemComponent]="gridsterItemComponent"
                *ngIf="widgetsAvailable && configuredWidgets.has(item.id)"
            ></sp-data-explorer-dashboard-widget>
        </gridster-item>
    </ng-container>
</gridster>
