<div class="md-dialog" style="height: 80vh;">
    <div class="md-toolbar">
        <div class="md-toolbar-tools">
            <h2>Upload Adapter Template</h2>
            <span fxFlex></span>
            <button  mat-icon-button (click)="onCloseConfirm()">
                <i class="material-icons">close</i>
            </button>
        </div>
    </div>

    <div *ngIf="!uploaded" class="md-dialog-content">
        <div fxLayoutAlign="center" fxLayout="column" fxFlex="100">
            <mat-form-field style="width: 50%" (click)="fileInput.click();">
                <input  matInput placeholder="Upload Adapters" disabled (value)="fileName">
                <input #fileInput type="file" style="display:none;"
                       (change)="handleFileInput($event.target.files)">
                {{fileName}}
                <button color="primary" matSuffix
                        mat-button style="min-width: 0px">
                    <mat-icon>insert_drive_file</mat-icon>
                </button>
            </mat-form-field>

        </div>
    </div>

    <div *ngIf="uploaded">
        <h2>File Uploaded successfully!</h2>
    </div>


    <div class="md-dialog-actions">
        <button id="confirm_adapter_started_button" class="mat-basic" mat-raised-button (click)="onCloseConfirm()">Close
        </button>
    </div>

</div>