<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
  <div class="sp-dialog-content p-15">
    <div fxFlex="100">
      <mat-horizontal-stepper #stepper>
        <mat-step>
          <sp-select-data
              [dataConfig]="dataConfig"
              [date]="date"
              [exportDataConfiguration]="exportDataConfiguration">
          </sp-select-data>
          <ng-template matStepLabel>Select Data</ng-template>
        </mat-step>

        <mat-step>
          <sp-select-format></sp-select-format>
          <ng-template matStepLabel>Select Format</ng-template>
          <div>
            <h5>Download Format</h5>
            <mat-radio-group class="sp-radio-group" [(ngModel)]="downloadFormat">
              <mat-radio-button value="json" class="sp-radio-button">
                JSON
              </mat-radio-button>
              <mat-radio-button value="csv" class="sp-radio-button">
                CSV
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="downloadFormat === 'csv'" class="mt-10">
            <h5>Delimiter</h5>
            <mat-radio-group [(ngModel)]="delimiter" class="sp-radio-group">
              <mat-radio-button value="comma" class="sp-radio-button">&nbsp;,</mat-radio-button>
              <mat-radio-button value="semicolon" class="sp-radio-button">&nbsp;;</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-step>


        <mat-step>
          <sp-download></sp-download>
          <ng-template matStepLabel>Download</ng-template>
          <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" *ngIf="!downloadFinish" class="mt-35">
            <mat-spinner [diameter]="30" color="accent"></mat-spinner>
            <label *ngIf="downloadedMBs !== undefined">{{downloadedMBs | number : '1.0-2' }} Mb</label>
            <button mat-button warn color="warn" (click)="cancelDownload()">Cancel</button>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="downloadFinish">
            <mat-icon class="icon-check">check</mat-icon>
            <h5>Download successful</h5>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="sp-dialog-actions actions-align-right">
    <button mat-button mat-raised-button class="mat-basic" style="margin-right: 10px;" (click)="exitDialog()">Close
    </button>
    <button
        mat-button
        mat-raised-button
        class="mat-basic"
        style="margin-right: 10px;"
        *ngIf="stepper.selectedIndex == 1"
        (click)="previousStep()">
      Previous
    </button>
    <button
        mat-button
        mat-raised-button
        *ngIf="stepper.selectedIndex < 1" color="accent"
        (click)="nextStep()">
      Next
    </button>
    <button
        mat-button
        mat-raised-button
        *ngIf="stepper.selectedIndex == 1" color="accent"
        (click)="downloadData()">
      Download
    </button>
  </div>
</div>
