<div flex class="page-container page-container-padding" ng-controller="AddCtrl as ctrl">
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
        <div flex="none" layout-wrap layout="row" layout-align="start center"
             style="padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
            <md-button class="md-accent" ng-click="ctrl.showManageRdfEndpointsDialog()">Manage Endpoints</md-button>
        </div>
        <div layout-fill>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Available Data Sources" md-on-select="ctrl.setSelectedTab('source')"></md-tab>
                <md-tab label="Available Data Processors" md-on-select="ctrl.setSelectedTab('sepa')"></md-tab>
                <md-tab label="Available Data Sinks" md-on-select="ctrl.setSelectedTab('action')"></md-tab>
            </md-tabs>
        </div>
    </div>

    <div flex layout="row" layout-align="center center">
        <div flex="80">
            <md-content class="md-padding">
                <h2>{{ctrl.getTitle(ctrl.selectedTab)}}</h2>
                <div flex="100">
                    <div ng-if="ctrl.endpointItemsLoadingComplete">
                        <div flex="100" layout="row">
                            <md-button class="md-accent" ng-click="ctrl.selectAll(true)">
                                <md-icon md-svg-icon="action:ic_done_24px"></md-icon>
                                &nbsp;Select all
                            </md-button>
                            <md-button class="md-accent" ng-click="ctrl.selectAll(false)">
                                <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                                &nbsp;Select none
                            </md-button>
                            <md-button class="md-accent" ng-click="ctrl.installSelected()">
                                <md-icon md-svg-icon="file:ic_cloud_download_24px" aria-label="Action"></md-icon>
                                &nbsp;Install selected
                            </md-button>
                            <md-button class="md-accent" ng-click="ctrl.uninstallSelected()">
                                <md-icon md-svg-icon="action:ic_delete_24px" aria-label="Action"></md-icon>
                                &nbsp;Uninstall selected
                            </md-button>
                        </div>
                        <div ng-repeat="endpointItem in ctrl.endpointItems | filter:{type:ctrl.selectedTab} |orderBy: '+name'">
                            <ng-include src="'app/add/endpoint-item.tmpl.html'"></ng-include>
                        </div>
                    </div>
                    <div ng-if="!ctrl.endpointItemsLoadingComplete">
                        <div flex="100" layout="row">
                            <md-progress-circular class="md-accent" md-mode="indeterminate"
                                                  ></md-progress-circular>
                            <h4>&nbsp;&nbsp;Fetching data from endpoints, please wait...</h4>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
    <div flex layout="row" layout-align="center center" ng-repeat="result in ctrl.results">
        <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
             class="md-whiteframe-z2">

            <md-content class="md-padding">
                <div flex layout="row"><h3>{{result.elementName}}</h3>
                    <md-progress-circular class="md-accent" style="width:12px;height:12px;" md-mode="indeterminate"
                                          ng-show="result.loading"></md-progress-circular>
                    <md-icon md-svg-icon="action:ic_done_24px" aria-label="Action" class="md-accent"
                             ng-show="!result.loading && result.success"></md-icon>
                    <md-icon md-svg-icon="alert:ic_error_24px" aria-label="Action" class="md-accent"
                             ng-show="!result.loading && !(result.success)"></md-icon>

                </div>
                <div ng-repeat="detail in result.details">
                    <div ng-show="!result.loading">{{detail.title}}</div>
                    <div ng-show="!result.loading">{{detail.description}}</div>
                    <md-divider/>
                </div>

            </md-content>
        </div>
    </div>
</div>
