<div layout="column" flex="100">
    <h4>Select Latitude</h4>
    <md-input-container class="md-block" flex-gt-sm>
        <md-select ng-model="ctrl.wid.schema.config.selectedLatitudeMapping">
            <md-option ng-value="lat" ng-selected="index == 1"
                       ng-repeat="(index, lat) in ctrl.wid.schema.eventProperties | geoLat">{{
                lat.properties.runtimeName }}
            </md-option>
        </md-select>
    </md-input-container>

    <h4>Select Longitude</h4>
    <md-input-container class="md-block" flex-gt-sm>
        <md-select ng-model="ctrl.wid.schema.config.selectedLongitudeMapping">
            <md-option ng-value="lng" ng-repeat="lng in ctrl.wid.schema.eventProperties | geoLng">{{
                lng.properties.runtimeName }}
            </md-option>
        </md-select>
    </md-input-container>
</div>