<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-nav-tabs
    [spNavigationItems]="tabs"
    [activeLink]="'logs'"
    [showBackLink]="true"
    [backLinkTarget]="['pipelines']"
>
    <div nav fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
        <button
            mat-icon-button
            color="accent"
            class="mr-10"
            matTooltip="Refresh"
            (click)="triggerLogUpdate()"
        >
            <i class="material-icons">refresh</i>
        </button>
    </div>
    <div fxLayout="column" class="page-container-padding" *ngIf="pipeline">
        <div
            fxFlex="100"
            fxLayout="column"
            class="page-container-padding-inner"
        >
            <sp-pipeline-preview
                [jspcanvas]="'assembly-preview'"
                [pipeline]="pipeline"
                (selectedElementEmitter)="selectElement($event)"
                style="margin-bottom: 15px"
                class="md-padding"
                *ngIf="pipelineAvailable"
            ></sp-pipeline-preview>

            <sp-basic-inner-panel panelTitle="Logs">
                <div
                    fxFlex="100"
                    fxLayout="column"
                    *ngIf="selectedElementId !== undefined"
                >
                    <div *ngIf="logInfos[selectedElementId]">
                        <div
                            *ngFor="let logEntry of logInfos[selectedElementId]"
                        >
                            <sp-exception-message
                                [message]="logEntry.errorMessage"
                                [messageTimestamp]="logEntry.timestamp"
                                *ngIf="logEntry.errorMessage"
                                class="mt-10"
                            ></sp-exception-message>
                        </div>
                    </div>
                    <div *ngIf="!logInfos[selectedElementId]">
                        <h5 class="text-center">(no log messages available)</h5>
                    </div>
                </div>
                <div
                    fxFlex="100"
                    fxLayout="column"
                    *ngIf="selectedElementId === undefined"
                >
                    <h5 class="text-center">
                        (click a pipeline element to view log messages)
                    </h5>
                </div>
            </sp-basic-inner-panel>
        </div>
    </div>
</sp-basic-nav-tabs>
