<div class="customize-item-content" ng-repeat="sp in staticProperty.properties.members track by $index">
    <div ng-if="sp.properties.staticPropertyType == 'OneOfStaticProperty'">
        <oneof static-property="sp"></oneof>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'FreeTextStaticProperty'">
        <freetext input-streams="selectedElement.inputStreams" static-property="sp"></freetext>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'AnyStaticProperty'">
        <any static-property="sp"></any>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'DomainStaticProperty'">
        <domain-concept-input static-property="sp"
                              auto-complete-static-property="sp"></domain-concept-input>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'MappingPropertyUnary'">
        <mapping-property-unary static-property="sp"></mapping-property-unary>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'MappingPropertyNary'">
        <mapping-property-nary static-property="sp"></mapping-property-nary>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'MatchingProperty'">
        <matching-property static-property="sp"></matching-property>
    </div>
    <div ng-if="sp.properties.staticPropertyType == 'CollectionStaticProperty'">
        <collection-property static-property="sp"></collection-property>
    </div>
    <hr/>
    <md-button ng-click="removeMember(staticProperty, $index)" ng-disabled="staticProperty.properties.members.size == 0">
        Remove
    </md-button>
</div>
<md-button ng-click="addMember(staticProperty)">
   Add
</md-button>