<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

@if (templateConfigs) {
    <div class="p-15">
        <div fxFlex="100" fxLayout="column">
            <sp-split-section [level]="3" [title]="'Basics' | translate">
                <sp-form-field
                    [level]="3"
                    [label]="'Template name' | translate"
                >
                    <mat-form-field fxFlex color="accent">
                        <input
                            [(ngModel)]="template.templateName"
                            matInput
                            name="templateName"
                            class="sp"
                            required
                            data-cy="template-name"
                        />
                    </mat-form-field>
                </sp-form-field>
                <sp-form-field
                    [level]="3"
                    [label]="'Template description' | translate"
                >
                    <mat-form-field fxFlex color="accent">
                        <input
                            [(ngModel)]="template.templateDescription"
                            matInput
                            name="templateDescription"
                            class="sp"
                            required
                            data-cy="template-description"
                        />
                    </mat-form-field>
                </sp-form-field>
            </sp-split-section>
            <sp-split-section [level]="3" [title]="'Configuration' | translate">
                <mat-hint style="margin-bottom: 10px">{{
                    '(dynamic options cannot be saved and are hidden)'
                        | translate
                }}</mat-hint>
                @for (
                    config of staticProperties | pipelineElementTemplatePipe;
                    track config
                ) {
                    <div
                        fxLayout="column"
                        class="static-property-panel static-property-panel-border"
                    >
                        <div fxLayout="row">
                            <div fxFlex="50">
                                {{ config.label }}
                            </div>
                            <div fxFlex="50">
                                <sp-pipeline-element-template-config-item
                                    [sp]="config"
                                    [templateConfigs]="templateConfigs"
                                >
                                </sp-pipeline-element-template-config-item>
                            </div>
                        </div>
                    </div>
                }
            </sp-split-section>
            <sp-split-section
                [level]="3"
                [title]="'Existing templates' | translate"
            >
                @for (template of existingTemplates; track template) {
                    <div
                        fxLayout="column"
                        class="static-property-panel static-property-panel-border"
                    >
                        <div fxFlex="100" fxLayout="row">
                            <div fxFlex fxLayoutAlign="start center">
                                {{ template.templateName }}
                            </div>
                            <div fxLayoutAlign="end center">
                                <button
                                    mat-icon-button
                                    color="accent"
                                    (click)="deleteTemplate(template.elementId)"
                                    data-cy="delete-pipeline-element-template"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                }
                @if (existingTemplates.length === 0) {
                    <mat-hint style="margin-bottom: 10px">{{
                        '(no templates available)' | translate
                    }}</mat-hint>
                }
            </sp-split-section>
        </div>
    </div>
}
