<div class="container-fluid">
		<div class="row">
			<h1 class=".md-display-3">Saved Pipelines</h1>
		</div>
		<div class="row">
			<table class="table table-hover">
				<thead>
				<tr>
					<td><b>#</b></td>
					<td><b>Pipeline Name</b></td>
					<td><b>Validation</b></td>
					<td><b>Status</b></td>
					<td><b>Options</b></td>
					<td><b>Delete</b></td>
					<td><b>Modify</b></td>

				</tr>
				</thead>
				<tbody id="pipelineTableBody">
					<tr ng-repeat="pipeline in pipelines">
						<td>{{$index+1}}</td>
						<td>{{pipeline.name}}<br/>{{pipeline.description}}</td>
						<td>TBD</td>
						<td>{{pipeline.running == true ? 'Running' : 'Idle'}}</td>
						<td><md-button ng-disabled="pipeline.running == true" ng-click="startPipeline(pipeline._id)" class="md-icon-button md-raised"><md-icon md-svg-icon="av:ic_play_arrow_24px" aria-label="Start" class="md-accent"></md-icon></md-button><md-button ng-disabled="pipeline.running == false" class="md-icon-button md-raised" ng-click="stopPipeline(pipeline._id)"><md-icon md-svg-icon="av:ic_stop_24px" aria-label="Stop" class="md-accent"></md-icon></md-button></td>
						<td><md-button ng-click="deletePipeline(pipeline._id)" class="md-icon-button md-raised"><md-icon md-svg-icon="action:ic_delete_24px" aria-label="Delete" class="md-accent"></md-icon></md-button></td>
						<td><md-button ng-click="modifyPipeline(pipeline._id)" class="md-icon-button md-raised"><md-icon md-svg-icon="editor:ic_mode_edit_24px" aria-label="Modify" class="md-accent"></md-icon></md-button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="pipelineDisplay" class="">
		<div id="streamDisplay"></div>
		<div id="sepaDisplay"></div>
		<div id="actionDisplay"></div>
	</div>
</div>