<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<h4>Transport Protocols</h4>
	<md-input-container flex> 
		<md-checkbox ng-checked="ctrl.kafkaSelected(ctrl.grounding.transportProtocols)" ng-click="ctrl.toggleKafka(ctrl.grounding.transportProtocols)" ng-disabled="ctrl.disabled" >Supports Kafka Protocol</md-checkbox>
		<md-checkbox ng-checked="ctrl.jmsSelected(ctrl.grounding.transportProtocols)" ng-click="ctrl.toggleJms(ctrl.grounding.transportProtocols)" ng-disabled="ctrl.disabled" >Supports JMS Protocol</md-checkbox>
	</md-input-container>
<h4>Transport Formats</h4>
	<md-input-container flex> 
		<md-checkbox ng-checked="ctrl.jsonSelected(ctrl.grounding.transportFormats)" ng-click="ctrl.toggleJson(ctrl.grounding.transportFormats)" ng-disabled="ctrl.disabled" >Supports JSON format</md-checkbox>
		<md-checkbox ng-checked="ctrl.thriftSelected(ctrl.grounding.transportFormats)" ng-click="ctrl.toggleThrift(ctrl.grounding.transportFormats)" ng-disabled="ctrl.disabled" >Supports ProaSense Thrift format</md-checkbox>
	</md-input-container>