/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes appear-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}
@keyframes disappear-opacity {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

@keyframes move-top-enter {
    from {
        top: 100vh;
    }
    to {
        top: 0vh;
    }
}
@keyframes move-top-leave {
    from {
        top: 0vh;
    }
    to {
        top: -100vh;
    }
}

.sp-move-top.ng-enter {
    position: absolute;
    width: 100%;
    animation: 0.75s move-top-enter;
}

.sp-move-top.ng-leave {
    position: absolute;
    width: 100%;
    animation: 0.75s move-top-leave;
}

.sp-fade-opacity.ng-enter {
    animation: 2s appear-opacity;
}

.sp-fade-opacity.ng-leave {
    animation: 1s disappear-opacity;
}

.sp-fade-options.ng-hide {
    animation: 0.5s disappear;
}

.sp-fade.ng-enter {
    animation: 2s appear;
}

.sp-fade.ng-leave {
    animation: 1s disappear;
}

.sp-fade.ng-leave.ng-leave-active,
.sp-fade.ng-move,
.sp-fade.ng-enter {
    opacity: 0;
    max-height: 0;
}

.sp-fade.ng-leave,
.sp-fade.ng-move.ng-move-active,
.sp-fade.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 20px;
}

.sp-fade-only-enter.ng-enter {
    animation: 1s appear;
}
