/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@import '../_variables';

.sp-navbar-item {
    background: var(--color-navigation-bg);
    //-webkit-transition: all 0.75s ease;
    //transition: all 0.75s ease;
}

.sp-navbar-item-selected {
    background: var(--color-navigation-bg-selected);
}

.sp-navbar-item:hover {
    color: var(--color-navigation-selected);
    background: var(--color-navigation-hover);
}

.sp-navbar-icon {
    color: var(--color-navigation-link-text);
    background: var(--color-bg-navbar-icon);
    padding: var(--navbar-icon-padding);
    border-radius: var(--navbar-icon-border-radius);
}

.sp-navbar-icon-selected {
    color: var(--color-navigation-selected);
    background: var(--color-bg-navbar-icon-selected);
    padding: var(--navbar-icon-padding);
    border-radius: var(--navbar-icon-border-radius);
}

.sp-icon-button:hover {
    color: var(--color-navigation-selected) !important;
}

.sp-icon-button-no-hover:hover {
}

.sp-button {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 0.75em 1.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    margin-top: 0px;
}

.sp-button.sp-button-small-padding {
    padding: 0.25em 0.75em;
    font-size: 0.8em;
    max-height: 20px;
}

.sp-button > i {
    vertical-align: middle;
    line-height: inherit;
}

.sp-button > span {
    vertical-align: middle;
}

.sp-button.sp-button-icon:enabled {
    color: $sp-color-accent;
    background: rgba(0, 0, 0, 0);
}

.sp-button.sp-button-icon:hover:enabled {
    color: $sp-color-accent-light-blue;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.sp-button.sp-button-icon:disabled {
    color: #cdcdcd;
    background: rgba(0, 0, 0, 0);
}

.sp-button.sp-button-flat:enabled {
    color: $sp-color-accent;
    background: rgba(0, 0, 0, 0);
}

.sp-button.sp-button-gray:enabled {
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.75);
}

.sp-button.sp-button-blue:enabled {
    background: $sp-color-accent;
    color: rgba(255, 255, 255, 0.75);
}

.sp-button.sp-button-gray:hover:enabled {
    background: #cbcbcb;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.sp-button.sp-button-flat:hover:enabled {
    background: #d9d9d9;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.sp-button.sp-button-blue:hover:enabled {
    background: $sp-color-accent-light-blue;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.sp-button.sp-button-blue:disabled {
    background: #ebebeb;
    color: #cdcdcd;
}

.sp-button.sp-button-gray:disabled {
    background: #ebebeb;
    color: #cdcdcd;
}

.sp-button-flat:disabled {
    color: #cdcdcd;
    background: rgba(0, 0, 0, 0);
}

.md-button.md-icon-button.settings-bar-icon-button:hover:enabled {
    background: #a8a8a8;
}

.settings-bar-icon-button:hover:enabled {
    background: #a8a8a8;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
