/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@import '../_variables';

.sp-darkblue {
    background: $sp-color-primary;
}

.sp-darkblue-text {
    color: $sp-color-primary;
}

.sp-darkblue-border {
    border: 1px solid $sp-color-primary;
}

.sp-blue-100-border {
    border: 2px solid rgb(63,81,181);
}


.sp-gray-border {
    border: 2px solid #cccccc;
}

.sp-blue {
    color: $sp-color-accent-light;
}

.sp-blue-bg {
    background: $sp-color-accent-light;
}

.sp-border-round {
    border-radius: 5px 5px 0px 0px;
}

.sp-blue-border {
    border: 3px solid $sp-color-accent-light;
    padding-top:20px;
    padding-bottom:20px;
    background: #FAFAFA;
}

.sp-border-left-accent-light {
    border-left: 2px solid $sp-color-accent-light;
}

.sp-blue-border-nopadding {
    border: 3px solid $sp-color-accent-light;
}

.sp-lightblue {
    color: #D9E8F5;
}

.sp-white {
    color:#FFFFFF;
}

.sp-green {
    color: $sp-color-accent;
}

.sp-darkgreen {
    color: #007F54;
}

.sp-accent {
    color: $sp-color-accent;
}

.sp-accent-bg {
    background: $sp-color-accent;
}

.sp-accent-light {
    color: $sp-color-accent-light;
}

.sp-primary-border-1px {
    border:1px solid $sp-color-primary;
}

.sp-bg-lightgray {
    background-color: #f6f6f6;
}
