.pipeline-element-configuration-invalid {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 100%;
  height: 100%;
}

.pi-processor {
  left: 20px;
}

.pi-stream {
  left: 0px;
}

.pipeline-element-configuration-invalid-icon {
  font-size:30pt;
  color: red;
}