/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@import '../_variables';

.help-button-icon-stand {
    display: block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $sp-color-accent;
    color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 2px $sp-color-accent;
    line-height: 1.2;
    text-align: center;
}

.editor-pe-info {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 104%;
    padding: 65px 0px 10px;
    font-size: smaller;
    text-align: center;
    box-shadow: 0 0 2px #555;
    -webkit-animation: slidein 0.5s;
}

@keyframes slidein {
    0% {
        top: 0;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    100% {
        top: 50%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.pe-info-action {
    background: $sp-color-sink;
    color: white;
}

.pe-info-sepa {
    background: $sp-color-processor;
    color: white;
}

.pe-info-stream {
    background: $sp-color-stream;
    color: #343434;
}

.pe-info-set {
    background: $sp-color-set;
    color: white;
}
