/*!
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements.  See the NOTICE file distributed with
 *   this work for additional information regarding copyright ownership.
 *   The ASF licenses this file to You under the Apache License, Version 2.0
 *   (the "License"); you may not use this file except in compliance with
 *   the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

@import '../_variables.scss';

.shepherd-element,
.shepherd-element:after,
.shepherd-element:before,
.shepherd-element *,
.shepherd-element *:after,
.shepherd-element *:before {
    box-sizing: border-box;
}

.shepherd-element.shepherd-has-title[data-popper-placement^='bottom']
    > .shepherd-arrow:before {
    background-color: $sp-color-accent;
}

.shepherd-arrow:before {
    background-color: $sp-color-accent;
}

.shepherd-element {
    max-height: 100%;
    max-width: 100%;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}
.shepherd-element .shepherd-content {
    background: #ffffff;
    border-radius: 5px;
    color: #444444;
    font-family: inherit;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 1em;
    position: relative;
}
.shepherd-element .popper__arrow {
    border: 16px solid transparent;
    content: '';
    display: block;
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.shepherd-element[x-placement^='top'] {
    margin-bottom: 16px;
}
.shepherd-element[x-placement^='top'] .popper__arrow {
    border-bottom: 0;
    border-top-color: #ffffff;
    bottom: -16px;
    left: calc(50% - 16px);
}
.shepherd-element[x-placement^='bottom'] {
    margin-top: 16px;
}
.shepherd-element[x-placement^='bottom'] .popper__arrow {
    border-bottom-color: #ffffff;
    border-top: 0;
    left: calc(50% - 16px);
    top: -16px;
}
.shepherd-element[x-placement^='left'] {
    margin-right: 16px;
}
.shepherd-element[x-placement^='left'] .popper__arrow {
    border-left-color: #ffffff;
    border-right: 0;
    margin-top: -16px;
    right: -16px;
    top: calc(50% - 16px);
}
.shepherd-element[x-placement^='right'] {
    margin-left: 16px;
}
.shepherd-element[x-placement^='right'] .popper__arrow {
    border-left: 0;
    border-right-color: #ffffff;
    left: -16px;
    top: calc(50% - 16px);
}

.shepherd-element[x-placement^='bottom'].shepherd-has-title .popper__arrow {
    border-bottom-color: #eeeeee;
}

.shepherd-element.shepherd-has-title .shepherd-content header {
    background: #eeeeee;
    padding: 1em;
}
.shepherd-element.shepherd-has-title
    .shepherd-content
    header
    a.shepherd-cancel-link {
    margin-bottom: 0;
    padding: 0;
}

.shepherd-element.shepherd-has-cancel-link .shepherd-content header h3 {
    float: left;
}

.shepherd-element .shepherd-content {
    padding: 0;
}
.shepherd-element .shepherd-content * {
    font-size: inherit;
}
.shepherd-element .shepherd-content header {
    *zoom: 1;
    padding: 1em 1em 0;
}
.shepherd-element .shepherd-content header:after {
    clear: both;
    content: '';
    display: table;
}
.shepherd-element .shepherd-content header h3 {
    font-weight: normal;
    margin: 0;
}
.shepherd-element .shepherd-content header a.shepherd-cancel-link {
    color: rgba(0, 0, 0, 0.5);
    float: right;
    font-size: 2.25em;
    font-weight: normal;
    line-height: 0.5em;
    opacity: 0.25;
    position: relative;
    text-decoration: none;
}
.shepherd-element .shepherd-content header a.shepherd-cancel-link:before {
    content: '\D7';
}
.shepherd-element .shepherd-content header a.shepherd-cancel-link:hover {
    opacity: 1;
}
.shepherd-element .shepherd-content footer {
    padding: 0 1em 1em;
}
.shepherd-element .shepherd-content footer .shepherd-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.shepherd-element .shepherd-content footer .shepherd-buttons li {
    display: inline;
    margin: 0;
    padding: 0;
}
.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li
    .shepherd-button {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    cursor: pointer;
    margin: 0 0.5em 0 0;
}
.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li:last-child
    .shepherd-button {
    margin-right: 0;
}
.shepherd-element .shepherd-content .shepherd-text {
    padding: 1em;
}
.shepherd-element .shepherd-content .shepherd-text p {
    line-height: 1.3em;
    margin: 0 0 0.5em;
}
.shepherd-element .shepherd-content .shepherd-text p:last-child {
    margin-bottom: 0;
}

.shepherd-element .shepherd-content header {
    border-radius: 5px 5px 0 0;
}

.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li
    .shepherd-button {
    background: #3288e6;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    font-family: inherit;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 0.75em 2em;
    text-transform: uppercase;
}
.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li
    .shepherd-button.shepherd-button-secondary {
    background: #eeeeee;
    color: #888888;
}

.tippy-tooltip {
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
}

.shepherd-element.shepherd-has-title .shepherd-content header {
    background: $sp-color-accent;
}

.button {
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1.3em;
    padding: 1em 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
}

.button.dark {
    background: #ffffff;
    color: #75beaa;
}

@media (max-width: 568px) {
    .button {
        display: block;
        margin: 1em auto 0;
    }
}

//body:not(.shepherd-active) > * {
//  opacity: 1;
//  pointer-events: auto;
//}
//
//body.shepherd-active > *:not(.shepherd) {
//  opacity: 0.5;
//}

pre {
    border: 1px solid rgba(0, 0, 0, 0.15);
    line-height: 1.4em;
}

.shepherd-element,
.shepherd-element:after,
.shepherd-element:before,
.shepherd-element *,
.shepherd-element *:after,
.shepherd-element *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.shepherd-element {
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    max-height: 100%;
    max-width: 100%;
    width: 420px;
    z-index: 9999;
}

.shepherd-element .popper__arrow {
    border: 16px solid transparent;
    content: '';
    display: block;
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.shepherd-element[x-placement^='top'] {
    margin-bottom: 16px;
}

.shepherd-element[x-placement^='top'] .popper__arrow {
    border-bottom: 0;
    border-top-color: #ffffff;
    bottom: -16px;
    left: calc(50% - 16px);
}

.shepherd-element[x-placement^='bottom'] {
    margin-top: 16px;
}

.shepherd-element[x-placement^='bottom'] .popper__arrow {
    border-bottom-color: #eeeeee;
    border-top: 0;
    left: calc(50% - 16px);
    top: -16px;
}

.shepherd-element[x-placement^='left'] {
    margin-right: 16px;
}

.shepherd-element[x-placement^='left'] .popper__arrow {
    border-left-color: #ffffff;
    border-right: 0;
    margin-top: -16px;
    right: -16px;
    top: calc(50% - 16px);
}

.shepherd-element[x-placement^='right'] {
    margin-left: 16px;
}

.shepherd-element[x-placement^='right'] .popper__arrow {
    border-left: 0;
    border-right-color: #ffffff;
    left: -16px;
    top: calc(50% - 16px);
}

.shepherd-element.shepherd-has-title .shepherd-content .shepherd-header,
.shepherd-element.shepherd-has-cancel-link .shepherd-content .shepherd-header {
    padding-bottom: 0.75em;
}

.shepherd-element .shepherd-content {
    border: 2px solid $sp-color-accent;
    border-radius: 7px;
    background: none;
    font-size: inherit;
}

.shepherd-element .shepherd-content header,
.shepherd-element .shepherd-content .shepherd-header {
    *zoom: 1;
    background: #eeeeee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 2em;
    padding: 0.75em 0.75em 0;
}

.shepherd-element .shepherd-content header:after,
.shepherd-element .shepherd-content .shepherd-header:after {
    clear: both;
    content: '';
    display: table;
}

.shepherd-element .shepherd-content header .shepherd-title,
.shepherd-element .shepherd-content header .shepherd-cancel-link,
.shepherd-element .shepherd-content .shepherd-header .shepherd-title,
.shepherd-element .shepherd-content .shepherd-header .shepherd-cancel-link {
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

.shepherd-element .shepherd-content header .shepherd-title,
.shepherd-element .shepherd-content .shepherd-header .shepherd-title {
    color: white;
    float: left;
    font-size: 1.1em;
}

.shepherd-element .shepherd-content header .shepherd-cancel-link,
.shepherd-element .shepherd-content .shepherd-header .shepherd-cancel-link {
    color: rgba(179, 179, 179, 0.75);
    float: right;
    font-size: 2em;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.shepherd-element .shepherd-content header .shepherd-cancel-link:before,
.shepherd-element
    .shepherd-content
    .shepherd-header
    .shepherd-cancel-link:before {
    content: '\D7';
}

.shepherd-element .shepherd-content header .shepherd-cancel-link:hover,
.shepherd-element
    .shepherd-content
    .shepherd-header
    .shepherd-cancel-link:hover {
    color: rgba(0, 0, 0, 0.75);
}

.shepherd-element .shepherd-content .shepherd-text {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.3em;
    padding: 0.75em;
    font-size: 0.9em;
}

.shepherd-element .shepherd-content .shepherd-text a,
.shepherd-element .shepherd-content .shepherd-text a:visited,
.shepherd-element .shepherd-content .shepherd-text a:active {
    border-bottom: 1px dotted;
    border-bottom-color: rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.shepherd-element .shepherd-content .shepherd-text a:hover,
.shepherd-element .shepherd-content .shepherd-text a:visited:hover,
.shepherd-element .shepherd-content .shepherd-text a:active:hover {
    border-bottom-style: solid;
}

.shepherd-element .shepherd-content .shepherd-text p {
    margin-top: 0;
}

.shepherd-element .shepherd-content .shepherd-text p:last-child {
    margin-bottom: 0;
}

.shepherd-element .shepherd-content footer,
.shepherd-element .shepherd-content .shepherd-footer {
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 0.75em 0.75em;
}

.shepherd-element .shepherd-content footer .shepherd-buttons,
.shepherd-element .shepherd-content .shepherd-footer .shepherd-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li,
.shepherd-element .shepherd-content .shepherd-footer .shepherd-buttons li {
    display: inline;
    margin: 0 0.5em 0 0;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li:last-child,
.shepherd-element
    .shepherd-content
    .shepherd-footer
    .shepherd-buttons
    li:last-child {
    margin-right: 0;
}

.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li
    .shepherd-button,
.shepherd-element
    .shepherd-content
    .shepherd-footer
    .shepherd-buttons
    li
    .shepherd-button {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    background: $sp-color-accent;
    border: 0;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 0.75em 2em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li
    .shepherd-button:hover,
.shepherd-element
    .shepherd-content
    .shepherd-footer
    .shepherd-buttons
    li
    .shepherd-button:hover {
    background: $sp-color-accent-light-blue;
}

.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li
    .shepherd-button.shepherd-button-secondary,
.shepherd-element
    .shepherd-content
    .shepherd-footer
    .shepherd-buttons
    li
    .shepherd-button.shepherd-button-secondary {
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.75);
}

.shepherd-element
    .shepherd-content
    footer
    .shepherd-buttons
    li
    .shepherd-button.shepherd-button-secondary:hover,
.shepherd-element
    .shepherd-content
    .shepherd-footer
    .shepherd-buttons
    li
    .shepherd-button.shepherd-button-secondary:hover {
    background: #cbcbcb;
    color: rgba(0, 0, 0, 0.75);
}

.shepherd-welcome .popper__arrow {
    border: 16px solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.shepherd-welcome[x-placement^='top'] {
    margin-bottom: 16px;
}

.shepherd-welcome[x-placement^='top'] .popper__arrow {
    border-bottom: 0;
    border-top-color: #ffffff;
    bottom: -16px;
    left: calc(50% - 16px);
}

.shepherd-welcome[x-placement^='bottom'] {
    margin-top: 16px;
}

.shepherd-welcome[x-placement^='bottom'] .popper__arrow {
    border-bottom-color: #ffffff;
    border-top: 0;
    left: calc(50% - 16px);
    top: -16px;
}

.shepherd-welcome[x-placement^='left'] {
    margin-right: 16px;
}

.shepherd-welcome[x-placement^='left'] .popper__arrow {
    border-left-color: #ffffff;
    border-right: 0;
    margin-top: -16px;
    right: -16px;
    top: calc(50% - 16px);
}

.shepherd-welcome[x-placement^='right'] {
    margin-left: 16px;
}

.shepherd-welcome[x-placement^='right'] .popper__arrow {
    border-left: 0;
    border-right-color: #ffffff;
    left: -16px;
    top: calc(50% - 16px);
}

.shepherd-welcome:not(.shepherd-has-title) .shepherd-content header,
.shepherd-welcome:not(.shepherd-has-title) .shepherd-content .shepherd-header {
    padding-bottom: 0;
}

.shepherd-welcome .shepherd-content header,
.shepherd-welcome .shepherd-content .shepherd-header {
    background: #ffffff;
}

.shepherd-welcome .shepherd-content .shepherd-text {
    color: black;
}

.tippy-popper[x-placement^='top'] .tippy-arrow {
    border-bottom: 0;
    border-top-color: $sp-color-accent;
    left: calc(50% - 16px);
}

.tippy-popper[x-placement^='bottom'] {
    margin-top: 16px;
}

.tippy-popper[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: $sp-color-accent;
    border-top: 0;
    left: calc(50% - 16px);
}

.tippy-popper[x-placement^='left'] {
    margin-right: 16px;
}

.tippy-popper[x-placement^='left'] .tippy-arrow {
    border-left-color: $sp-color-accent;
    border-right: 0;
    margin-top: -16px;
    top: calc(50% - 16px);
}

.tippy-popper[x-placement^='right'] {
    margin-left: 16px;
}

.tippy-popper[x-placement^='right'] .tippy-arrow {
    border-left: 0;
    border-right-color: $sp-color-accent;
    top: calc(50% - 16px);
}
