<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-split-section [level]="2" [title]="'Details' | translate">
    <div class="asset-overview">
        <dl class="asset-overview__metadata">
            <div class="asset-overview__item">
                <dt>{{ 'Asset ID' | translate }}</dt>
                <dd class="asset-overview__identifier">
                    {{ assetModel.assetId }}
                </dd>
            </div>
            <div class="asset-overview__item">
                <dt>{{ 'Type' | translate }}</dt>
                <dd>
                    <sp-label
                        shape="badge"
                        [labelText]="assetType"
                        tone="neutral"
                        icon="precision_manufacturing"
                        size="small"
                    >
                    </sp-label>
                </dd>
            </div>
            @if (assetModel.assetSite?.siteId) {
                <div class="asset-overview__item">
                    <dt>{{ 'Location' | translate }}</dt>
                    <dd>
                        <sp-label
                            shape="badge"
                            [labelText]="assetModel.assetSite?.area"
                            tone="neutral"
                            icon="location_on"
                            size="small"
                        >
                        </sp-label>
                    </dd>
                </div>
            }
            @if (assetModel.labelIds?.length > 0) {
                <div class="asset-overview__item">
                    <dt>{{ 'Labels' | translate }}</dt>
                    <dd>
                        <sp-view-asset-labels
                            [asset]="assetModel"
                            size="small"
                        ></sp-view-asset-labels>
                    </dd>
                </div>
            }
        </dl>

        <div class="map-wrapper">
            @if (locationConfig && assetModel.assetSite?.location) {
                <sp-single-marker-map
                    class="h-100"
                    [mapHeight]="'100%'"
                    [locationConfig]="locationConfig"
                    [readonly]="true"
                    [assetLocation]="assetModel.assetSite.location"
                ></sp-single-marker-map>
            } @else {
                <div class="map-empty text-md">
                    {{ 'No location defined for this asset yet.' | translate }}
                </div>
            }
        </div>
    </div>
</sp-split-section>
