<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div id="formWrapper" fxFlex="100" fxLayout="column">
    <div *ngIf="!staticProperty.horizontalRendering" fxLayout="column">
        <div fxFlex fxLayout="row">
            <div fxLayout="column" style="margin-left: 10px">
                <mat-radio-group class="radio-group" color="accent">
                    <mat-radio-button
                        *ngFor="let option of staticProperty.options"
                        style="margin-top: -10px"
                        [value]="option"
                        (click)="select(option.elementId)"
                        [checked]="option.selected"
                        [attr.data-cy]="
                            staticProperty.internalName
                                .split(' ')
                                .join('_')
                                .toLowerCase() +
                            '-' +
                            option.name.split(' ').join('_').toLowerCase()
                        "
                    >
                        <label style="font-weight: normal">
                            {{ option.name }}
                        </label>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <div *ngIf="staticProperty.horizontalRendering">
        <mat-form-field style="width: 100%" color="accent">
            <mat-select [(value)]="selectedOption" [attr.data-cy]="fieldName">
                <mat-option
                    *ngFor="let option of staticProperty.options"
                    [value]="option.elementId"
                    (click)="select(option.elementId)"
                >
                    <label style="font-weight: normal">
                        {{ option.name }}
                    </label>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
