<md-list-item layout="row" class="md-with-secondary">
    <div class="md-list-item-text" flex="35" layout="column">
        <h4 style="margin-bottom:0px;">{{ctrl.file.fileName}}</h4>
    </div>
    <div flex layout="row">
        <span flex flex-order="2" layout="row" layout-align="center center">
            <sp-button sp-button-flat ng-click="ctrl.downloadFile(ctrl.file.fileName)" class="md-icon-button">
                <md-icon
                    md-svg-icon="file:ic_file_download_24px" aria-label="Modify"
                    class="md-accent">
                </md-icon>
                <md-tooltip md-direction="top">
                Download File
            </md-tooltip>
            </sp-button>
        </span>
        <span flex flex-order="4" layout="row" layout-align="center center">
            <sp-button sp-button-flat ng-click="ctrl.deleteFile(ctrl.file.fileName)" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_delete_24px"
                    aria-label="Delete"></md-icon>
                <md-tooltip md-direction="top">
                Delete File
            </md-tooltip>
            </sp-button>
        </span>
    </div>
</md-list-item>
