/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@import 'src/scss/sp/colors';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.page-container-padding-inner {
    padding: 10px;
}

.form-width {
    width:80%;
}

.node-card {
    max-width: 450px;
}

mat-card {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    margin: 10px;
}

.mat-card-header-text {
    margin: 0 !important;
}

.node-mat-icon-button {
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
    padding: 2px;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 50%;
    margin: 0 2px 0 2px;
}

li {
    color: darkgrey;
    font-size: 13px;
}

.div-node-tag{
     display: inline-block;
     margin-bottom: 10px;
 }

.span-node-tag{
    font-size: 12px;
    font-weight: bold;
    color: whitesmoke;
    background: dimgray;
    padding: 5px;
}

.span-node-active{
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: $sp-color-primary;
    border: 1px solid $sp-color-primary;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.span-node-inactive{
    font-size: 12px;
    font-weight: bold;
    color: #f1c40f;
    background: white;
    border: 1px solid #f1c40f;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.span-node-inactive-days{
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #f1c40f;
    border: 1px solid #f1c40f;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.div-sa-tag{
    display: inline-block;
    margin-bottom: 10px;
}

.span-sa-tag{
    font-size: 12px;
    font-weight: bold;
    color: whitesmoke;
    background: lightslategray;
    padding: 5px;
}

.node-header-avatar {
    color: $sp-color-accent-light;
    padding-top: 6px;
}

.div-menu {
    margin-left: auto;
    margin-right: 0;
}

.node-state {
    //float:right;
    transform: scale(1);
}

.node-activated {
    @extend .node-state;
    color: $sp-color-primary;
}

.node-inactive {
    @extend .node-state;
    color: $sp-color-accent-light;
}

.node-deactivated {
    @extend .node-state;
    //color: $sp-color-accent;
    color: #F44336;
}

.node-evict {
    @extend .node-state;
    color: $sp-color-accent;
}

/*.ft-foot-4 {*/
/*    column-count: 4;*/
/*    float: left;*/
/*    width: 100%;*/
/*    padding: 3px 0px;*/
/*    margin-bottom: 1px;*/
/*    text-align:center;*/
/*}*/

.ft-foot {
    column-count: 3;
    float: left;
    width: 100%;
    padding: 3px 0px;
    margin-bottom: 1px;
    text-align:center;
    list-style: none;
}
.ft-foot .ft-foot-4 ul li {
    display: inline-block;
    margin:0 2px;
}
.inclusion {
    color: darkgrey;
    padding: 5px 0 5px 0;
    /*display: block;*/
    letter-spacing: 5px;
    text-align: center;
}
.inclusion span {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.6em 3em;
    padding: 0;
}

.fa-custom {
    font-size: 2em;
}