<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    fxLayout="column"
    class="form-field-small mt-10"
    [ngClass]="editMode ? '' : 'create-label'"
>
    <div
        fxLayout="row"
        fxFlex="100"
        fxLayoutGap="10px"
        fxLayoutAlign="start center"
    >
        <sp-label
            [labelBackground]="label.color"
            [labelText]="label.label"
            *ngIf="label && showPreview"
        ></sp-label>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Label</mat-label>
            <input matInput [(ngModel)]="label.label" />
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Desription</mat-label>
            <input matInput [(ngModel)]="label.description" />
        </mat-form-field>
        <input
            [(colorPicker)]="label.color"
            [cpPosition]="'bottom'"
            [style.background]="label.color"
        />
        <div fxFlex fxLayoutAlign="end center">
            <button
                mat-button
                mat-raised-button
                class="mat-basic mr-5"
                (click)="cancelEmitter.emit()"
            >
                Cancel
            </button>
            <button
                mat-button
                mat-raised-button
                color="accent"
                (click)="saveEmitter.emit(label)"
            >
                Save
            </button>
        </div>
    </div>
</div>
