<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="row">
    <div fxFlex="1 1 auto" fxLayout="row">
        <b>
            {{ label }}
        </b>
        <mat-icon *ngIf="timestampProperty"
                  style="font-size: 15px; padding: 4px;">
            access_time</mat-icon>
        <p style="margin: 0px 10px 10px;" *ngIf="isList">[List]</p>
    </div>

    <div fxFlex="15" *ngIf="isPrimitive">
        <mat-select [(ngModel)]="node.data.propertyScope">
            <mat-option value="MEASUREMENT_PROPERTY">Measurement</mat-option>
            <mat-option value="DIMENSION_PROPERTY">Dimension</mat-option>
            <mat-option value="HEADER_PROPERTY">Header</mat-option>
        </mat-select>
    </div>

    <div fxFlex="0 1 auto" fxLayoutAlign="center center"
         *ngIf="isNested">
        <button [disabled]="!isEditable" color="accent" mat-button (click)=addNestedProperty(node.data)>
            <mat-icon matTooltip="Add a Nested Property">queue</mat-icon>
        </button>
    </div>
    <div fxFlex="0 1 auto" fxLayoutAlign="center center"
         *ngIf="isNested || isPrimitive || isList">
        <button [disabled]="!isEditable" color="accent" mat-button
                (click)="openEditDialog(node.data)"
                [attr.data-cy]="'edit-' + label">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div fxFlex="0 1 auto" fxLayoutAlign="center center">
        <mat-checkbox
                *ngIf="isNested || isPrimitive || isList"
                (click)="selectProperty(node.data.id, undefined)" [disabled]="!isEditable"
                [class.checkbox-selected]="node.data.selected" [checked]="node.data.selected">
        </mat-checkbox>
    </div>
</div>
