<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center">
            <sp-form-field
                [level]="2"
                fxFlex="100"
                [label]="'Site' | translate"
                [description]="
                    'Assign a location (site and area) to this asset'
                        | translate
                "
            >
                <div form-field-actions>
                    <button
                        mat-flat-button
                        class="mat-basic"
                        [routerLink]="['/configuration/sites']"
                    >
                        {{ 'Manage Sites' | translate }}
                    </button>
                </div>
                <mat-form-field>
                    <mat-select
                        data-cy="asset-site-select"
                        [disabled]="!editMode"
                        [(ngModel)]="asset.assetSite.siteId"
                        (selectionChange)="handleLocationChange($event)"
                    >
                        @for (site of sites; track site) {
                            <mat-option
                                [attr.data-cy]="'option-' + site.label"
                                [value]="site._id"
                            >
                                {{ site.label }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </sp-form-field>
        </div>
    </div>

    @if (currentSite) {
        <sp-form-field [level]="2" [label]="'Area' | translate">
            <mat-form-field>
                <mat-select
                    [disabled]="!editMode"
                    [(ngModel)]="asset.assetSite.area"
                >
                    @for (area of currentSite.areas; track area) {
                        <mat-option [value]="area">
                            {{ area }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </sp-form-field>
    }
    @if (asset.assetSite?.siteId) {
        <sp-asset-location [asset]="asset" [editMode]="editMode">
        </sp-asset-location>
    }
</div>
