<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

@if (dashboard) {
    <div fxFlexFill fxLayout="column" class="feature-card-outer">
        <sp-feature-card-header
            [title]="dashboard.name"
            [description]="dashboard.description"
            [icon]="assetLinkType.linkIcon"
            [iconColor]="assetLinkType.linkColor"
            [detailsLink]="assetLinkType.navPaths"
            (close)="onClose?.()"
            (onDetailsClick)="navigateToDashboard()"
        >
        </sp-feature-card-header>

        <div class="feature-card-meta-card">
            <sp-feature-card-meta-creation
                [creationTimestamp]="dashboard.metadata?.createdAtEpochMs"
                [lastModifiedTimestamp]="
                    dashboard.metadata?.lastModifiedEpochMs
                "
            >
            </sp-feature-card-meta-creation>
        </div>

        <mat-divider></mat-divider>
        <span fxFlex></span>

        <div fxFlex fxLayout="column" class="feature-preview-wrapper">
            <div class="feature-preview-scale">
                <div class="dashboard-preview-inner">
                    <sp-dashboard-grid-view
                        [editMode]="false"
                        [dashboard]="dashboard"
                        [widgets]="widgets"
                        [observableGenerator]="observableGenerator"
                        [timeSettings]="timeSettings"
                        class="h-100 dashboard-grid"
                    >
                    </sp-dashboard-grid-view>
                </div>
            </div>
        </div>
    </div>
}
