<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div fxLayout="column" fxLayoutAlign="center" class="mt-20">
    <div fxFlex="90" fxLayout="column">
        @if (!isError && !isLoading && !timestampPresent) {
            <sp-no-timestamp-error-hint> </sp-no-timestamp-error-hint>
        }

        <sp-basic-inner-panel
            [showTitle]="false"
            outerMargin="0px 0px 20px 0px"
        >
            @if (!isLoading && !isError) {
                <div header fxFlex="100">
                    <sp-configure-fields-header
                        fxFlex="100"
                        (guessSchemaEmitter)="resetEventSchema()"
                    >
                    </sp-configure-fields-header>
                </div>
            }
            @if (!isLoading && isError) {
                <div header fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button
                            color="accent"
                            mat-icon-button
                            matTooltip="Refresh Schema"
                            (click)="resetEventSchema()"
                        >
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </div>
            }

            <div fxFlex="100">
                @if (isLoading) {
                    <sp-configure-fields-loading-message></sp-configure-fields-loading-message>
                }

                @if (isError && !isLoading) {
                    <sp-configure-fields-error-message
                        [errorMessage]="errorMessage"
                    >
                    </sp-configure-fields-error-message>
                }

                @if (!isError && !isLoading) {
                    @for (
                        property of eventSchema?.eventProperties;
                        track property.elementId
                    ) {
                        <sp-event-property-row
                            [eventProperty]="property"
                            (eventPropertyChange)="eventPropertyChange()"
                        ></sp-event-property-row>
                    }
                }
            </div>
        </sp-basic-inner-panel>
    </div>

    @if (!isLoading && !isError) {
        <div fxFlex="100">
            <sp-configure-fields-preview
                [originalPreview]="eventPreview"
                [resultPreview]="resultPreview"
                (updatePreviewEmitter)="updatePreview()"
            ></sp-configure-fields-preview>
        </div>
    }
</div>

<div fxLayoutAlign="end" class="mt-10">
    <button class="mat-basic" mat-flat-button (click)="cancel()">
        {{ 'Cancel' | translate }}
    </button>
    <button class="mat-basic stepper-button" mat-flat-button (click)="goBack()">
        {{ 'Back' | translate }}
    </button>
    <button
        class="stepper-button"
        id="event-schema-next-button"
        data-cy="sp-event-schema-next-button"
        color="accent"
        mat-flat-button
        (click)="next()"
        [disabled]="!validEventSchema"
    >
        {{ 'Next' | translate }}
    </button>
</div>
