<div layout="column" flex="100">
    <div flex="100"><h4>Select Value</h4>
        <md-select ng-model="ctrl.wid.schema.selectedNumberProperty">
            <md-option ng-value="prop" ng-selected="index == 1"
                       ng-repeat="(index, prop) in ctrl.wid.schema.eventProperties | numberFilter">{{
                prop.properties.runtimeName
                }}
            </md-option>
        </md-select>
    </div>
    <div flex="100">
        <h4>Configure Thresholds</h4>
        <div layout="row" flex="100" layout-align="center center">
            <div flex="33" layout-align="center center">
                Critical Threshold
            </div>
            <div flex="33" layout-align="center center">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Operator</label>
                    <md-select ng-model="ctrl.wid.config.critical.operator">
                        <md-option ng-value="'ge'">upper limit</md-option>
                        <md-option ng-value="'le'">under limit</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="33" layout-align="center center">
                <md-input-container>
                    <label>Value</label>
                    <input ng-model="ctrl.wid.config.critical.value" style="color:black;">
                </md-input-container>
            </div>
        </div>
        <div layout="row" flex="100" layout-align="center center">
            <div flex="50">
                Warning Range (percent)
            </div>
            <div flex="50">
                <md-input-container>
                    <label>Value</label>
                    <input ng-model="ctrl.wid.config.critical.range" style="color:black;">
                </md-input-container>
            </div>
        </div>
    </div>
</div>