<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    fxLayout="row wrap"
    fxFlex="90"
    fxLayoutAlign="center center"
    class="about-container"
>
    <div
        fxFlex="100"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        style="margin-top: 20px"
    >
        <div fxFlex="100">
            <div class="assemblyOptions sp-blue-bg" style="padding: 5px">
                <h4>Versions</h4>
            </div>
            <div class="sp-blue-border md-padding" *ngIf="versionInfo">
                <ul>
                    <li>
                        <div fxFlex="30">Backend Version</div>
                        <div fxFlex="70">{{ versionInfo.backendVersion }}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex="100" style="margin-top: 10px">
            <div class="assemblyOptions sp-blue-bg" style="padding: 5px">
                <h4>System Info</h4>
            </div>
            <div class="sp-blue-border md-padding" *ngIf="systemInfo">
                <ul>
                    <li>
                        <div fxFlex="30">Java VM Vendor</div>
                        <div fxFlex="70">{{ systemInfo.javaVmVendor }}</div>
                    </li>
                    <li>
                        <div fxFlex="30">Java VM Name</div>
                        <div fxFlex="70">{{ systemInfo.javaVmName }}</div>
                    </li>
                    <li>
                        <div fxFlex="30">Java VM Version</div>
                        <div fxFlex="70">{{ systemInfo.javaVmVersion }}</div>
                    </li>
                    <li>
                        <div fxFlex="30">Java Runtime Name</div>
                        <div fxFlex="70">{{ systemInfo.javaRuntimeName }}</div>
                    </li>
                    <li>
                        <div fxFlex="30">Java Runtime Version</div>
                        <div fxFlex="70">
                            {{ systemInfo.javaRuntimeVersion }}
                        </div>
                    </li>
                    <li>
                        <div fxFlex="30">CPU</div>
                        <div fxFlex="70">{{ systemInfo.cpu }}</div>
                    </li>
                    <li>
                        <div fxFlex="30">OS Name</div>
                        <div fxFlex="70">{{ systemInfo.osName }}</div>
                    </li>
                    <li>
                        <div fxFlex="30">OS Version</div>
                        <div fxFlex="70">{{ systemInfo.osVersion }}</div>
                    </li>
                    <li>
                        <div fxFlex="30">Total Memory</div>
                        <div fxFlex="70">
                            {{ systemInfo.totalMemory }} ({{
                                systemInfo.totalMemoryKB
                            }}
                            KB)
                        </div>
                    </li>
                    <li>
                        <div fxFlex="30">Free Memory</div>
                        <div fxFlex="70">
                            {{ systemInfo.freeMemory }} ({{
                                systemInfo.freeMemoryKB
                            }}
                            KB)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
