<form class="example-form" fxLayout="column">

  <mat-list id="protocolList">
    <mat-list-item *ngFor="let protocolDescription of allProtocols; let i = index" (click)="clickedOption(i)" class="listItem">
      <p [hidden]="showStaticProperty[i]">{{protocolDescription.label}}</p>
      <app-static-properties [hidden]="!showStaticProperty[i]" [staticProperties]="protocolDescription.config" (emitter1)="textValidation($event, i)">
      </app-static-properties>
    </mat-list-item>
  </mat-list>

</form>