<div flex class="page-container page-container-padding">
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">

    </div>
    <div class="container-fluid">
        <div>

            <div flex="90" layout="column" layout-align="center center">
                <h5>(refresh the page if the tutorial is not loading)</h5>
                <div flex="100" layout="column" layout-align="center center">
                    <div layout="row" flex="80" layout-align="center center">
                        <button class="md-button md-accent" ng-click="slickConfig.method.slickPrev()">Previous
                        </button>
                        <button class="md-button md-accent" ng-click="slickConfig.method.slickNext()">Next</button>
                    </div>
                    <div flex="100" layout="row" layout-align="center center">
                        <div ng-if="tutorialPages && slickConfigLoaded">
                            <slick class="slider" settings="slickConfig">
                                <div ng-repeat="page in tutorialPages track by $index">
                                    <tutorial-page page="page"></tutorial-page>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>