<div flex layout-fill>
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
        <div flex="none" layout-fill layout="row" layout-align="start center"
             style="height:48px;padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
            <h5>TUTORIAL</h5>
        </div>
    </div>
    <div class="container-fluid">
        <div>
            <md-content layout-padding>
                <div flex="100" layout="column" layout-align="center center">
                    <h5>(refresh the page if the tutorial is not loading)</h5>
                    <div flex="100" layout="column" layout-align="center center">
                        <div layout="row" flex="80" layout-align="center center">
                            <button class="md-button md-accent" ng-click="slickConfig.method.slickPrev()">Previous
                            </button>
                            <button class="md-button md-accent" ng-click="slickConfig.method.slickNext()">Next</button>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <slick class="slider" settings="slickConfig" ng-if="slickConfigLoaded">
                                <div ng-repeat="page in tutorialPages track by $index">
                                    <tutorial-page page="page"></tutorial-page>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>