<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="row" fxLayoutAlign="start center" class="form-field-small">
    <div class="time-range-wrapper" fxFlex fxLayoutAlign="center center">
        <button
            mat-button
            mat-raised-button
            *ngFor="let item of possibleTimeButtons"
            [color]="selectedTimeButton.value === item.value ? 'accent' : ''"
            [attr.data-cy]="item.value.replace(' ', '_')"
            [ngClass]="'button-margin smaller-button-font-size'"
            (click)="this.setCurrentDateRange(item)"
        >
            {{ item.value }}
        </button>
    </div>
    <div class="time-wrapper" fxFlex fxLayoutAlign="center center">
        <button
            mat-button
            class="button-icon icon-button-font-size mr--15"
            color="accent"
        >
            <mat-icon (click)="decreaseTime()">navigate_before</mat-icon>
        </button>
        <mat-form-field
            fxLayoutAlign="center center"
            class="start-date form-field-margin smaller-font-size form-field-smaller"
            color="accent"
            appearance="outline"
        >
            <input
                matInput
                data-cy="time-range-from"
                [owlDateTime]="dt1"
                [owlDateTimeTrigger]="dt1"
                [(ngModel)]="startDate"
                (dateTimeChange)="changeCustomDateRange()"
            />
            <owl-date-time #dt1></owl-date-time>
        </mat-form-field>
        <mat-form-field
            fxLayoutAlign="center center"
            class="end-date form-field-margin form-field-smaller"
            color="accent"
            appearance="outline"
        >
            <input
                matInput
                data-cy="time-range-to"
                [owlDateTime]="dt2"
                [owlDateTimeTrigger]="dt2"
                [(ngModel)]="endDate"
                (dateTimeChange)="changeCustomDateRange()"
            />
            <owl-date-time #dt2></owl-date-time>
        </mat-form-field>
        <button
            mat-button
            class="button-icon icon-button-font-size ml--5 mr--5"
            color="accent"
        >
            <mat-icon (click)="increaseTime()">navigate_next</mat-icon>
        </button>
    </div>
    <div class="time-range-wrapper" fxFlex fxLayoutAlign="center center">
        <button
            mat-button
            mat-raised-button
            color="accent"
            class="button-margin smaller-button-font-size"
            matTooltip="Reload"
            matTooltipPosition="above"
            (click)="reloadData()"
        >
            <i class="material-icons mr-0">autorenew</i>
        </button>
    </div>
</div>
