<div flex="80"><h3>Select number mapping</h3>
    <md-input-container class="md-block" flex-gt-sm>
        <md-select ng-model="ctrl.wid.schema.config.selectedNumberMapping">
            <md-option ng-value="lineValue" ng-repeat="lineValue in ctrl.wid.schema.eventProperties | numberFilter">{{
                lineValue.properties.runtimeName }}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div flex="80">
    <h3>Gauge Settings</h3>
    <div layout="row" flex="100" layout-align="center center">
        <div flex="100">
            <md-input-container>
                <label>Minimum</label>
                <input ng-model="ctrl.wid.config.min" style="color:black;">
            </md-input-container>
        </div>
    </div>
    <div layout="row" flex="100" layout-align="center center">
        <div flex="100">
            <md-input-container>
                <label>Maximum</label>
                <input ng-model="ctrl.wid.config.max" style="color:black;">
            </md-input-container>
        </div>
    </div>
</div>
