<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="sp-dialog-container">
    <div class="sp-dialog-content">
        @if (preview && !exportInProgress) {
            <div fxFlex="100" fxLayout="column" class="p-15">
                @for (section of exportSections; track section.key) {
                    <sp-split-section
                        [level]="3"
                        [title]="section.title | translate"
                    >
                        @if (getAssetsForSection(section.key).length > 0) {
                            @for (
                                assetConfig of getAssetsForSection(section.key);
                                track assetConfig.assetId
                            ) {
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between center"
                                >
                                    <h5>
                                        {{ assetConfig.assetName }}
                                    </h5>
                                    <mat-slide-toggle
                                        color="accent"
                                        [checked]="
                                            isExportAllSelected(
                                                section.key,
                                                assetConfig
                                            )
                                        "
                                        (change)="
                                            changeExportAllSelection(
                                                section.key,
                                                assetConfig,
                                                $event
                                            )
                                        "
                                    >
                                        {{ 'Export all documents' | translate }}
                                    </mat-slide-toggle>
                                </div>
                                @if (
                                    !isExportAllSelected(
                                        section.key,
                                        assetConfig
                                    )
                                ) {
                                    <div
                                        fxLayout="row"
                                        fxLayoutGap="10px"
                                        class="mb-5"
                                    >
                                        <button
                                            mat-button
                                            mat-flat-button
                                            color="accent"
                                            class="small-button"
                                            (click)="
                                                selectAllItemsForAsset(
                                                    section.key,
                                                    assetConfig,
                                                    true
                                                )
                                            "
                                        >
                                            {{ 'Select all' | translate }}
                                        </button>
                                        <button
                                            mat-button
                                            mat-flat-button
                                            class="small-button mat-basic"
                                            (click)="
                                                selectAllItemsForAsset(
                                                    section.key,
                                                    assetConfig,
                                                    false
                                                )
                                            "
                                        >
                                            {{ 'Select none' | translate }}
                                        </button>
                                    </div>
                                    <mat-form-field
                                        appearance="outline"
                                        class="form-field mt-md"
                                    >
                                        <mat-select
                                            multiple
                                            [ngModel]="
                                                getSelectedItemResourceIds(
                                                    section.key,
                                                    assetConfig
                                                )
                                            "
                                            (ngModelChange)="
                                                updateSelectedItems(
                                                    section.key,
                                                    assetConfig,
                                                    $event
                                                )
                                            "
                                        >
                                            @for (
                                                exportItem of assetConfig.items;
                                                track exportItem.resourceId
                                            ) {
                                                <mat-option
                                                    [value]="
                                                        exportItem.resourceId
                                                    "
                                                >
                                                    {{ exportItem.label }}
                                                </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                }
                            }
                        } @else {
                            <sp-alert-banner
                                type="info"
                                [title]="'No linked resources' | translate"
                                [description]="
                                    'Only linked resources are part of the application package.'
                                        | translate
                                "
                            ></sp-alert-banner>
                        }
                    </sp-split-section>
                }
                <sp-split-section
                    [level]="3"
                    [title]="'Additional exports' | translate"
                    [subtitle]="
                        'Selecting a document type will export all documents of this type'
                            | translate
                    "
                >
                    @if (getGenericStorageAppDocTypes().length > 0) {
                        <div section-actions fxLayout="row" fxLayoutGap="10px">
                            <button
                                mat-button
                                mat-flat-button
                                color="accent"
                                class="small-button"
                                (click)="
                                    selectAllItems(
                                        getGenericStorageAppDocTypes(),
                                        true
                                    )
                                "
                            >
                                {{ 'Select all' | translate }}
                            </button>
                            <button
                                mat-button
                                mat-flat-button
                                class="small-button mat-basic"
                                (click)="
                                    selectAllItems(
                                        getGenericStorageAppDocTypes(),
                                        false
                                    )
                                "
                            >
                                {{ 'Select none' | translate }}
                            </button>
                        </div>
                        <div fxLayout="column" class="mt-md">
                            @for (
                                exportItem of getGenericStorageAppDocTypes();
                                track exportItem.resourceId
                            ) {
                                <mat-checkbox
                                    [checked]="exportItem.selected"
                                    (change)="changeItem($event, exportItem)"
                                >
                                    {{ exportItem.label }}
                                </mat-checkbox>
                            }
                        </div>
                    } @else {
                        <span>{{ 'No linked resources' | translate }}</span>
                    }
                </sp-split-section>
            </div>
        }
        @if (exportInProgress) {
            <div
                fxFlex="100"
                fxLayout="column"
                class="mt-10"
                fxLayoutAlign="center center"
            >
                <mat-spinner [diameter]="25" color="accent"></mat-spinner>
                <h4 class="mt-10">
                    {{ 'Exporting resources...' | translate }}
                </h4>
                <span class="text-md mt-10">
                    {{
                        'Depending on number and size of exported files, this might take a while...'
                            | translate
                    }}
                </span>
            </div>
        }
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions">
        <div fxLayout="column">
            <div fxLayout="row">
                <button
                    mat-button
                    mat-flat-button
                    color="accent"
                    style="margin-right: 10px"
                    (click)="generateDownloadPackage()"
                    data-cy="download-export-button"
                >
                    <i class="material-icons">file_download</i
                    ><span>&nbsp;{{ 'Download export' | translate }}</span>
                </button>
                <button
                    mat-button
                    mat-flat-button
                    class="mat-basic"
                    (click)="close()"
                >
                    {{ 'Cancel' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
