<!--
  ~  Licensed to the Apache Software Foundation (ASF) under one or more
  ~  contributor license agreements.  See the NOTICE file distributed with
  ~  this work for additional information regarding copyright ownership.
  ~  The ASF licenses this file to You under the Apache License, Version 2.0
  ~  (the "License"); you may not use this file except in compliance with
  ~  the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->

<sp-configuration-box [title]="'Data Retention Action' | translate">
    <mat-form-field appearance="fill" class="sp-select-field">
        <mat-label>{{ 'Select Action' | translate }}</mat-label>
        <mat-select
            [(ngModel)]="dataRetentionConfig.action"
            data-cy="retention-action-select"
        >
            <mat-option value="DELETE" data-cy="action-configuration-delete">
                {{ 'delete' | translate }}
            </mat-option>

            <mat-option
                value="SAVE"
                disabled
                data-cy="retention-configuration-save"
            >
                {{ 'save' | translate }}
            </mat-option>

            <mat-option
                value="SAVEDELETE"
                disabled
                data-cy="retention-configuration-save-delete"
            >
                {{ 'save and delete' | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</sp-configuration-box>
