<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <div
            *ngFor="let pipelineCategory of pipelineCategories"
            fxLayout="column"
        >
            <div style="border: 5px; border-color: blue">
                <div fxFlex="80" fxLayout="column">
                    <div fxFlex fxLayout="column">
                        <h4>
                            <b>{{ pipelineCategory.categoryName }}</b>
                        </h4>
                        <h5>
                            <i>{{ pipelineCategory.categoryDescription }}</i>
                        </h5>
                        <div
                            *ngIf="categoryDetailsVisible[pipelineCategory._id]"
                        >
                            <div
                                *ngIf="
                                    addPipelineToCategorySelected[
                                        pipelineCategory._id
                                    ]
                                "
                                style="padding: 10px"
                            >
                                <div
                                    class="md-list-item-text"
                                    fxFlex="80"
                                    fxLayout="column"
                                >
                                    <mat-select
                                        [(ngModel)]="selectedPipelineId"
                                        placeholder="Select Pipeline"
                                    >
                                        <mat-option
                                            *ngFor="
                                                let pipeline of pipelines
                                                    | categoryAlreadyInPipelineFilter
                                                        : pipelineCategory._id
                                            "
                                            [value]="pipeline._id"
                                        >
                                            <b>{{ pipeline.name }}</b
                                            ><br />
                                        </mat-option>
                                        <mat-option
                                            *ngFor="
                                                let systemPipeline of systemPipelines
                                                    | categoryAlreadyInPipelineFilter
                                                        : pipelineCategory._id
                                            "
                                            [value]="systemPipeline._id"
                                        >
                                            <b>{{ systemPipeline.name }}</b
                                            ><br />
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div
                                    class="md-list-item-text"
                                    fxFlex="20"
                                    fxLayout="row"
                                    fxLayoutAlign="end center"
                                >
                                    <div
                                        fxFlex="50"
                                        fxLayout="row"
                                        fxLayoutAlign="center end"
                                    >
                                        <button
                                            mat-icon-button
                                            (click)="
                                                addPipelineToCategory(
                                                    pipelineCategory
                                                )
                                            "
                                            color="accent"
                                        >
                                            <mat-icon>save</mat-icon>
                                        </button>
                                    </div>
                                    <div
                                        fxFlex="50"
                                        fxLayout="row"
                                        fxLayoutAlign="center end"
                                    >
                                        <button
                                            mat-icon-button
                                            (click)="
                                                showAddToCategoryInput(
                                                    pipelineCategory._id,
                                                    false
                                                )
                                            "
                                            color="accent"
                                        >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngFor="
                                    let pipeline of pipelines
                                        | pipelineInCategoryFilter
                                            : pipelineCategory._id
                                "
                            >
                                <div
                                    class="md-list-item-text"
                                    fxFlex="80"
                                    fxLayout="column"
                                >
                                    {{ pipeline.name }}
                                </div>
                                <div
                                    class="md-list-item-text"
                                    fxFlex="20"
                                    fxLayout="column"
                                    fxLayoutAlign="end center"
                                >
                                    <button
                                        mat-icon-button
                                        (click)="
                                            removePipelineFromCategory(
                                                pipeline,
                                                pipelineCategory._id
                                            )
                                        "
                                        color="accent"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="20" fxLayout="row">
                    <div
                        class="md-list-item-text"
                        fxFlex="33"
                        fxLayout="row"
                        fxLayoutAlign="center start"
                    >
                        <button
                            mat-icon-button
                            *ngIf="categoryDetailsVisible[pipelineCategory._id]"
                            (click)="
                                toggleCategoryDetailsVisibility(
                                    pipelineCategory._id
                                )
                            "
                            color="accent"
                            matTooltip="Hide Details"
                            matTooltipPosition="above"
                        >
                            <mat-icon>expand_less</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            *ngIf="
                                !categoryDetailsVisible[pipelineCategory._id]
                            "
                            (click)="
                                toggleCategoryDetailsVisibility(
                                    pipelineCategory._id
                                )
                            "
                            color="accent"
                            matTooltip="Show Details"
                            matTooltipPosition="above"
                        >
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>
                    <div
                        class="md-list-item-text"
                        fxFlex="33"
                        fxLayout="row"
                        fxLayoutAlign="center start"
                    >
                        <button
                            mat-icon-button
                            (click)="
                                showAddToCategoryInput(
                                    pipelineCategory._id,
                                    true
                                )
                            "
                            color="accent"
                            matTooltip="Add Pipeline To Category"
                            matTooltipPosition="above"
                        >
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div
                        class="md-list-item-text"
                        flex="33"
                        layout="row"
                        layout-align="center start"
                    >
                        <button
                            mat-icon-button
                            (click)="
                                deletePipelineCategory(pipelineCategory._id)
                            "
                            color="accent"
                            matTooltip="Delete Category"
                            matTooltipPosition="above"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="addSelected">
            <div class="md-list-item-text" fxFlex="20" fxLayout="column">
                <mat-form-field color="accent">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="newCategoryName" />
                </mat-form-field>
            </div>
            <div class="md-list-item-text" fxFlex="60" fxLayout="column">
                <mat-form-field color="accent">
                    <mat-label>Description</mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="newCategoryDescription"
                    />
                </mat-form-field>
            </div>
            <div class="md-list-item-text" fxFlex="20" fxLayout="column">
                <button
                    mat-icon-button
                    (click)="addPipelineCategory()"
                    color="accent"
                    class="md-accent md-icon-button"
                >
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
        <div style="margin-top: 10px">
            <button
                mat-button
                mat-raised-button
                color="accent"
                (click)="showAddInput()"
            >
                Add Category
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-right">
        <button
            mat-button
            mat-raised-button
            class="mat-basic"
            (click)="close()"
        >
            Close
        </button>
    </div>
</div>
