<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-nav-tabs
    [spNavigationItems]="tabs"
    [activeLink]="'quick-edit'"
    [showBackLink]="true"
    [backLinkTarget]="['pipelines']"
>
    <div fxLayout="column" class="page-container-padding" *ngIf="pipeline">
        <sp-pipeline-preview
            [jspcanvas]="'assembly-preview'"
            [pipeline]="pipeline"
            (selectedElementEmitter)="selectElement($event)"
            style="margin-bottom: 15px"
            class="md-padding"
            *ngIf="pipelineAvailable"
        ></sp-pipeline-preview>

        <sp-basic-inner-panel panelTitle="Edit Configuration">
            <div header fxLayoutAlign="end center" fxFlex="100" fxLayout="row">
                <button
                    color="accent"
                    mat-button
                    mat-raised-button
                    matTooltip="Save Pipeline"
                    matTooltipPosition="above"
                    style="display: flex; align-items: center"
                    class="settings-bar-icon-button"
                    [disabled]="!formValid || pipelineUpdating"
                    (click)="updatePipeline()"
                >
                    <mat-icon>save</mat-icon>
                    <span>&nbsp;Update pipeline</span>
                </button>
            </div>
            <div fxFlex="100" fxLayout="column">
                <div *ngIf="selectedElement">
                    <div
                        fxLayout="column"
                        style="padding: 5px; padding-left: 10px"
                    >
                        <sp-pipeline-elements-row
                            [pipeline]="pipeline"
                            [element]="selectedElement"
                        ></sp-pipeline-elements-row>

                        <div fxFlex="100" fxLayout="column" *ngIf="isInvocable">
                            <form [formGroup]="parentForm" fxFlex="100">
                                <sp-app-static-property
                                    *ngFor="
                                        let config of _selectedElement.staticProperties
                                    "
                                    [staticProperty]="config"
                                    [displayRecommended]="true"
                                    [staticProperties]="
                                        _selectedElement.staticProperties
                                    "
                                    [eventSchemas]="eventSchemas"
                                    [parentForm]="parentForm"
                                    [fieldName]="config.internalName"
                                >
                                </sp-app-static-property>
                            </form>
                        </div>
                    </div>
                </div>
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    *ngIf="!selectedElement"
                >
                    (select an element in the preview window to modify it)
                </div>
            </div>
        </sp-basic-inner-panel>
    </div>
</sp-basic-nav-tabs>
