<div fxLayout="column" fxLayoutAlign="space-around center">

    <h2>Categories</h2>
    <div fxFlex>
        <button mat-button mat-flat-button (click)="addCategory()">
            <mat-icon class="icon">add</mat-icon><span>Add new Category</span>
        </button>
    </div>
    <div style="padding-left: 5px; padding-right: 5px; border-radius: 50px; font-size: 20px;">
        <mat-form-field style="margin-top: -15px; margin-bottom: -10px">
            <mat-select [(value)]="selectedCategory">
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="center stretch">
        <sp-label-list-item
                *ngFor="let label of selectedCategory.labels;"
                (removeLabel)="removeLabel($event)"
                [label]="label">

        </sp-label-list-item>
    </div>

    <div fxFlex>
        <button mat-button mat-flat-button (click)="addLabel()">
            <mat-icon class="icon">add</mat-icon><span>Add new Label</span>
        </button>
    </div>
</div>
