<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-inner-panel panelTitle="Element Details">
    <div style="max-height: 800px; overflow: auto">
        <div *ngIf="selectedElement">
            <div fxLayout="column" style="padding: 5px; padding-left: 10px">
                <sp-pipeline-elements-row
                    [pipeline]="pipeline"
                    [element]="selectedElement"
                ></sp-pipeline-elements-row>

                <mat-divider></mat-divider>
                <div style="margin-bottom: 15px"></div>
            </div>
        </div>
        <div
            fxLayout="column"
            fxLayoutAlign="center center"
            *ngIf="!selectedElement"
        >
            (select an element in the preview window to see details)
        </div>
    </div>
</sp-basic-inner-panel>
