<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <div *ngIf="!uploaded">
            <div fxLayoutAlign="center" fxLayout="column" fxFlex="100">
                <mat-form-field style="width: 50%" (click)="fileInput.click();">
                    <input matInput placeholder="Upload Adapters" disabled (value)="fileName">
                    <input #fileInput type="file" style="display:none;"
                           (change)="handleFileInput($event.target.files)">
                    {{fileName}}
                    <button color="primary" matSuffix
                            mat-button style="min-width: 0px">
                        <mat-icon>insert_drive_file</mat-icon>
                    </button>
                </mat-form-field>

            </div>
        </div>

        <div *ngIf="uploaded">
            <h5>File uploaded successfully.</h5>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-right">
        <button mat-button class="mat-basic" mat-raised-button (click)="onCloseConfirm()">Close
        </button>
    </div>

</div>