<md-dialog aria-label="Endpoint Settings" flex="60">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Endpoint Settings</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content flex="100" class="md-dialog-content">
        <h5>Existing Endpoints</h5>
        <md-list>
            <div ng-repeat="rdfEndpoint in rdfEndpoints | orderBy: '+endpointUrl'">
            <md-list-item layout="row" class="md-with-secondary" >
                <div class="md-list-item-text" flex="80" layout="column">
                    {{rdfEndpoint.endpointUrl}}
                </div>
                <div class="md-list-item-text" flex="20" layout="column">
                    <md-button  ng-click="removeRdfEndpoint(rdfEndpoint._id)" class="md-icon-button"><md-icon md-svg-icon="action:ic_delete_24px" aria-label="Delete"></md-icon></md-button>
                </div>
            </md-list-item>
            <p/>
            </div>
            <md-divider></md-divider>
            <div ng-show="addSelected">
                <md-list-item layout="row" class="md-with-secondary" >
                    <div class="md-list-item-text" flex="80" layout="column">
                        <md-input-container> <label>Endpoint URL</label> <input
                                type="text" ng-model="newEndpoint.endpointUrl">
                        </md-input-container>
                    </div>
                    <div class="md-list-item-text" flex="20" layout="column">
                        <md-button  ng-click="addRdfEndpoint(newEndpoint)" class="md-icon-button"><md-icon md-svg-icon="content:ic_save_24px" aria-label="Delete"></md-icon></md-button>
                    </div>
                </md-list-item>
            </div>
            <md-button ng-click="showAddInput()" class="md-accent">Add RDF Endpoint</md-button>
        </md-list>

    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="hide()" style="margin-right:20px;">
            Close
        </md-button>
    </div>
</md-dialog>