<form name="addElementForm" ng-submit="add()" role="form">
    <div flex layout="column">
        <md-input-container>
            <label>One or more URLs, seperated by blank space</label> <textarea
                columns="1" ng-model="$parent.elements" required></textarea>
        </md-input-container>
        <md-input-container flex> <md-checkbox
                ng-model="$parent.marketplace"> Add element to the marketplace (element will be available to other users) </md-checkbox>
        </md-input-container>
    </div>
    <div class="form-actions">
        <md-button class="md-accent md-raised" type="submit"
                   ng-disabled="addElementForm.$pristine || addElementForm.$invalid || loading">Add Element</md-button>
        <md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
        <div ng-show="loading"><h5>This may take up to two minutes.</h5></div>
    </div>
</form>