<div flex="100"
     layout="column">
    <md-input-container>
        <label>{{ctrl.staticProperty.properties.description}}</label>
        <input type="password" name="{{ctrl.staticProperty.properties.internalName}}" ng-model="ctrl.staticProperty.properties.value"
               text-validator="ctrl.staticProperty" ng-blur="ctrl.notifyListeners($event)" ng-change="ctrl.applyChanges()" required/>
        <span ng-show="ctrl.customizeForm[ctrl.staticProperty.properties.internalName].$touched && ctrl.customizeForm[ctrl.staticProperty.properties.internalName].$error.textValidator">Error</span>
    </md-input-container>

</div>
