<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    fxLayout="column"
    fxFlex="100"
    class="breadcrumb-outer"
    fxLayoutAlign="center start"
>
    <div fxLayout="row" fxLayoutAlign="start center">
        <div
            [ngClass]="currentNavItems.length > 0 ? 'bc-item' : 'mat-hint'"
            fxLayout="row"
            fxLayoutAlign="start center"
            (click)="navigateTo([''])"
        >
            <mat-icon fxLayoutAlign="start center" class="divider"
                >home</mat-icon
            >
            <div>&nbsp;Home</div>
        </div>
        <div
            *ngFor="let bcItem of currentNavItems"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <mat-icon fxLayoutAlign="start center" class="divider mat-hint"
                >arrow_right</mat-icon
            >
            <div
                [ngClass]="bcItem.link ? 'bc-item' : 'mat-hint'"
                (click)="navigateTo(bcItem.link)"
            >
                {{ bcItem.label }}
            </div>
        </div>
    </div>
</div>
