<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<nav
    class="breadcrumb-outer text-sm"
    [attr.aria-label]="'Breadcrumb' | translate"
>
    <ol class="breadcrumb-list">
        <li class="breadcrumb-entry">
            <button
                type="button"
                class="bc-item"
                (click)="navigateTo([''])"
                [attr.aria-current]="
                    currentNavItems.length === 0 ? 'page' : null
                "
            >
                <mat-icon aria-hidden="true">home</mat-icon>
                <span>{{ 'Home' | translate }}</span>
            </button>
        </li>
        @for (bcItem of currentNavItems; track bcItem) {
            <li class="breadcrumb-entry">
                <mat-icon aria-hidden="true" class="divider"
                    >chevron_right</mat-icon
                >
                @if (bcItem.link) {
                    <button
                        type="button"
                        class="bc-item"
                        (click)="navigateTo(bcItem.link)"
                    >
                        {{ bcItem.label }}
                    </button>
                } @else {
                    <span class="bc-current" aria-current="page">{{
                        bcItem.label
                    }}</span>
                }
            </li>
        }
    </ol>
</nav>
