<div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="50">
        <dashboard-item [panelTitle]="'Activity Graph'">
            <transport-activity-graph fxFlex="100" *ngIf="activitiesPresent" [activityEventModel]="processActivities.events"></transport-activity-graph>
        </dashboard-item>
    </div>
    <div fxFlex="50" fxLayout="column" *ngIf="activitiesPresent">
        <div fxFill fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-item fxFlex="100" [panelTitle]="'Activities Count'">
                <dashboard-status [statusValue]="processActivities.events.length"></dashboard-status>
            </dashboard-item>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-item fxFlex="100" [panelTitle]="'# Normal'">
                <dashboard-status [statusValue]="normalActivitiesTotalTime"></dashboard-status>
            </dashboard-item>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-item fxFlex="100" [panelTitle]="'Detected Shake Activities'">
                <dashboard-status [statusValue]="shakeActivitiesTotalTime"></dashboard-status>
            </dashboard-item>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-item fxFlex="100" [panelTitle]="'Detected Fall Activities'">
                <dashboard-status [statusValue]="fallActivities"></dashboard-status>
            </dashboard-item>
        </div>
    </div>
</div>

