<div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="67">
        <dashboard-item [panelTitle]="'Activity Graph'">
            <transport-activity-graph fxFlex="100" *ngIf="activitiesPresent"
                                      [activityEventModel]="processActivities.events"></transport-activity-graph>
        </dashboard-item>
    </div>
    <div fxFlex="33" fxLayout="column" *ngIf="activitiesPresent">
        <div fxFill fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <dashboard-status-filled fxFlex="100" [label]="'Activities Count'"
                                     [statusValue]="processActivities.events.length"></dashboard-status-filled>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <dashboard-status-filled fxFlex="100" [label]="'# Normal'" [statusValue]="normalActivitiesTotalTime"></dashboard-status-filled>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-status-filled fxFlex="100" [label]="'Detected Shake Activities'"
                              [statusValue]="shakeActivitiesTotalTime"></dashboard-status-filled>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <dashboard-status-filled fxFlex="100" [label]="'Detected Fall Activities'"
                              [statusValue]="fallActivities"></dashboard-status-filled>
        </div>
    </div>
</div>

