<div flex class="page-container page-container-padding" ng-controller="AppFileDownloadCtrl as ctrl">
    <div flex="100" layout="column" style="padding:0px;background-color:#f6f6f6">
        <div flex layout-fill layout="row" layout-align="start center"
             style="height:48px;padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
            <h5>File Download</h5>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <md-content layout-padding>
                <md-list>
                    <div class="assemblyOptions sp-blue-bg">
                        <h4>Export File</h4>
                    </div>
                    <div class="sp-blue-border">
                        <div layout="column" layout-padding>
                            <md-autocomplete required
                                             md-min-length="0"
                                             md-selected-item="newFile.index"
                                             md-search-text="ctrl.searchIndex"
                                             md-items="item in ctrl.querySearch(ctrl.searchIndex)"
                                             md-item-text="item.indexName"
                                             md-require-match
                                             md-floating-label="Index"
                                            >
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchIndex">{{item.indexName}} ({{item.documentCount}} entries)</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{ctrl.searchIndex}}" were found.
                                </md-not-found>
                            </md-autocomplete>


                            <md-radio-group class="md-accent" ng-model="newFile.allData">
                                <div>
                                    <md-radio-button value="true">
                                        <b>All data</b>
                                    </md-radio-button>
                                </div>
                                <md-radio-button value="false">
                                    <b>Time range</b>
                                </md-radio-button>
                                <div layout="row" style="padding-left: 20px">
                                    <md-input-container style="margin-top: 5px">
                                        <label>Start date</label>
                                        <input datetime-picker ng-model="newFile.timestampFrom"/>
                                    </md-input-container>
                                    <md-input-container style="margin-top: 5px">
                                        <label>End date</label>
                                        <input datetime-picker ng-model="newFile.timestampTo"/>
                                    </md-input-container>
                                </div>
                            </md-radio-group>
                            <div layout="row">
                                <md-radio-group layout="row" class="md-accent" ng-model="newFile.output" required>
                                    <md-radio-button value="json">
                                        <b>JSON</b>
                                    </md-radio-button>
                                    <md-radio-button value="csv">
                                        <b>CSV</b>
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                <sp-button sp-button-blue ng-click="ctrl.createNewFile(newFile)">Create
                                    File
                                </sp-button>
                            </section>
                        </div>
                    </div>


                    <div class="assemblyOptions sp-blue-bg">
                        <h4>All Files</h4>
                    </div>
                    <div class="sp-blue-border">
                        <div layout="column"
                             ng-repeat="file in ctrl.allFiles">
                            <file-details file="file" get-files="ctrl.getFiles"></file-details>
                        </div>
                        <div layout="row" layout-align="center center" ng-if="ctrl.allFiles.length == 0">
                            <h5>(no files available)</h5>
                        </div>
                    </div>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
