<div fxLayout="row" class="fixed-height data-marketplace-options">

    <div class="data-marketplace-options-item pl-5" style="margin-top:8px;" fxLayoutAlign="start center"
         fxLayout="row">
        <mat-icon color="accent">search</mat-icon>
        <mat-form-field class="form-style">
            <input matInput placeholder="Find Element" value="" (input)="updateFilterTerm($event.target.value)"
                   name="something">
        </mat-form-field>
    </div>
    <div class="data-marketplace-options-item">
        <mat-form-field color="accent">
            <mat-select [(value)]="selectedType" (selectionChange)="filterAdapter($event)">
                <mat-option *ngFor="let type of adapterTypes" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="data-marketplace-options-item">
        <mat-form-field color="accent">
            <mat-select [(value)]="selectedCategory" (selectionChange)="filterAdapter($event)">
                <mat-option *ngFor="let category of adapterCategories" [value]="category.code">
                    {{category.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <span fxFlex></span>

</div>
