<md-select ng-model="ctrl.matchingSelectionLeft[staticProperty.elementId]"  placeholder="Left Stream Property">
    <md-option ng-repeat="option in ctrl.staticProperty.input.properties.optionLeft" ng-value="option.elementId">
        <b>{{option.humanDescription}}</b><br/>
    </md-option>
</md-select>
<md-select ng-model="ctrl.matchingSelectionRight[staticProperty.elementId]"  placeholder="Right Stream Property">
    <md-option ng-repeat="option in ctrl.staticProperty.input.properties.optionRight" ng-value="option.elementId">
        <b>{{option.humanDescription}}</b><br/>
    </md-option>
</md-select>