<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<md-input-container flex="100" layout="column">
    <md-radio-group required class="md-accent" ng-repeat="alternative in ctrl.staticProperty.properties.alternatives" name="{{ctrl.staticProperty.properties.elementId}}" ng-model="ctrl.staticProperty.properties.currentSelection" ng-change='ctrl.toggle()'>
        <md-radio-button ng-value="alternative.internalName" >
            <b>{{alternative.label}}</b><br/>
        </md-radio-button>
    </md-radio-group>
</md-input-container>
<div ng-repeat="alternative in ctrl.staticProperty.properties.alternatives">
    <div ng-if="alternative.selected">
        <customize-dialog customize-form="ctrl.customizeForm" display-recommended="ctrl.displayRecommended" static-property="alternative.staticProperty" selected-element="ctrl.selectedElement"></customize-dialog>
    </div>
</div>