<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center"
     class="about-container">
    <div fxFlex="50" fxLayoutAlign="center center" fxLayout="column"
         style="color:white;"><img
            alt="icon" src="assets/img/sp/logo.png" class="about-logo">
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" style="margin-top:20px;">
        <div fxFlex="100">
            <div class="assemblyOptions sp-blue-bg" style="padding:5px;">
                <h4>Resources</h4>
            </div>
            <div class="sp-blue-border p-10">
                <ul>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>description</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>Find the documentation at <a href="https://streampipes.apache.org/docs/">https://streampipes.apache.org/docs/</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>language</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5> Find our website at <a
                                        href="https://streampipes.apache.org">https://streampipes.apache.org</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>code</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5> Find the source
                                    code at <a href="https://github.com/apache/streampipes">https://github.com/apache/streampipes</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>local_shipping</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5> Find the docker
                                    images at <a
                                            href="https://hub.docker.com/u/apachestreampipes">https://hub.docker.com/u/apachestreampipes</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex="100" style="margin-top:10px;">
            <div class="assemblyOptions sp-blue-bg" style="padding:5px;">
                <h4>Community & Support</h4>
            </div>
            <div class="sp-blue-border p-10">
                <ul>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>chat</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>Follow us on <a
                                        href="https://twitter.com/streampipes">Twitter</a> to get the latest news!
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>email</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>Drop us an email if you'd like to give <a
                                        href="mailto:users@streampipes.apache.org">feedback</a>!
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row fill" fxFlex="100">
                            <div fxFlex="5" fxLayoutAlign="start center">
                                <mat-icon>star_rate</mat-icon>
                            </div>
                            <div fxFlex="95" fxLayoutAlign="start center">
                                <h5>If you like
                                    StreamPipes, give us a star on <a
                                            href="https://github.com/apache/streampipes">Github</a>
                                </h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
