<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column" *ngIf="asset">
    <mat-tab-group color="accent" [mat-stretch-tabs]="false">
        <mat-tab label="Basics" data-cy="asset-tab-basic">
            <sp-asset-details-basics
                [asset]="asset"
                [sites]="sites"
                [rootNode]="rootNode"
                [editMode]="editMode"
            >
            </sp-asset-details-basics>
        </mat-tab>
        <mat-tab label="Asset Links" data-cy="asset-tab-asset-links">
            <sp-asset-details-links
                [asset]="asset"
                [editMode]="editMode"
                (updateAssetEmitter)="updateAssetEmitter.emit($event)"
            >
            </sp-asset-details-links>
        </mat-tab>
    </mat-tab-group>
</div>
