<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <sp-form-field [level]="3" [label]="'Template' | translate">
            <mat-form-field>
                <mat-select
                    data-cy="select-script-template"
                    [(ngModel)]="selectedTemplate"
                >
                    <mat-select-trigger>
                        {{ selectedTemplate?.name }}
                    </mat-select-trigger>
                    @for (template of allTemplates; track template.elementId) {
                        <mat-option [value]="template">
                            <div fxLayout="column">
                                <div fxLayout="row">
                                    <span class="font-size-md">{{
                                        template.name
                                    }}</span>
                                    <sp-label tone="neutral" size="small">{{
                                        template.language
                                    }}</sp-label>
                                </div>
                                <span class="font-size-sm">{{
                                    template.description
                                }}</span>
                            </div>
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </sp-form-field>

        @if (selectedTemplate) {
            <div fxLayout="column" class="mt-lg">
                <sp-form-field
                    [level]="3"
                    [label]="'Template name' | translate"
                >
                    <mat-form-field>
                        <input matInput [(ngModel)]="selectedTemplate.name" />
                    </mat-form-field>
                </sp-form-field>

                <sp-form-field
                    [level]="3"
                    [label]="'Template description' | translate"
                >
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="selectedTemplate.description"
                        />
                    </mat-form-field>
                </sp-form-field>

                <sp-form-field [level]="3" [label]="'Language' | translate">
                    <sp-label
                        tone="neutral"
                        size="medium"
                        [labelText]="selectedTemplate.language"
                    ></sp-label>
                </sp-form-field>

                <sp-form-field [level]="3" [label]="'Script' | translate">
                    <textarea
                        [disabled]="true"
                        matInput
                        [(ngModel)]="selectedTemplate.code"
                        class="code-input"
                        rows="15"
                    >
                    </textarea>
                </sp-form-field>
            </div>
        }
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions" fxLayoutGap="10px">
        <button
            data-cy="save-select-script-template"
            mat-flat-button
            (click)="close(selectedTemplate)"
            [disabled]="selectedTemplate === undefined"
        >
            <mat-icon>check_small</mat-icon>
            <span>{{ 'Use template' | translate }}</span>
        </button>
        <button class="mat-basic" mat-flat-button (click)="close()">
            Close
        </button>

        <span fxFlex></span>

        <button
            mat-flat-button
            data-cy="delete-script-template"
            color="accent"
            (click)="deleteTemplate()"
        >
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</div>
