<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-split-section
    title="Links"
    subtitle="Configure application links"
    [formGroup]="parentForm"
>
    <div class="subsection-title">Documentation Link</div>
    <mat-form-field color="accent" class="ml-10">
        <mat-label>Documentation URL</mat-label>
        <input formControlName="documentationUrl" fxFlex matInput />
    </mat-form-field>
    <mat-checkbox formControlName="showDocumentationLinkOnStartScreen"
        >Show documentation link on login page
    </mat-checkbox>
    <mat-checkbox formControlName="showDocumentationLinkInProfileMenu"
        >Show documentation link in user menu
    </mat-checkbox>

    <div class="subsection-title mt-10">API Documentation Link</div>
    <mat-checkbox formControlName="showApiDocumentationLinkOnStartScreen"
        >Show API documentation link on login page
    </mat-checkbox>

    <div class="subsection-title mt-10">Support Link</div>
    <mat-form-field color="accent" class="ml-10">
        <mat-label>Support URL</mat-label>
        <input formControlName="supportUrl" fxFlex matInput />
    </mat-form-field>
    <mat-checkbox formControlName="showSupportUrlOnStartScreen"
        >Show support link on login page
    </mat-checkbox>
</sp-split-section>
