<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="67">
        <dashboard-item [panelTitle]="'Image'">
            <dashboard-image *ngIf="showImage" [parcelInfoEventModel]="_parcelInfo"></dashboard-image>
        </dashboard-item>
    </div>
    <div fxFlex="33" fxLayout="column">
        <div fxFill fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <sp-status-widget fxFlex="100" [label]="'Total Boxes Detected'"
                                     [statusValue]="totalBoxes"></sp-status-widget>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <sp-status-widget fxFlex="100" [label]="'Transparent Boxes Detected'"
                              [statusValue]="cardboardBoxes"></sp-status-widget>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <sp-status-widget fxFlex="100" [label]="'Cardboard Boxes Detected'"
                              [statusValue]="transparentBoxes"></sp-status-widget>
        </div>
    </div>
</div>
