<div layout="column" flex="100" class="md-padding">
    <div layout="row">
        <md-select ng-model="ctrl.selectedTransportFormat" placeholder="Select Transport Format" ng-disabled="ctrl.disabled">
            <md-option ng-repeat="format in ctrl.availableTransportFormats" value="{{format.id}}">
                <b>{{format.name}}</b>
            </md-option>
        </md-select>
        <md-button class="md-accent" ng-click="ctrl.addTransportFormat(ctrl.grounding)"
                   ng-disabled="ctrl.disabled || ctrl.grounding.length > 0">Add Transport Format
        </md-button>
    </div>
    <div ng-show="ctrl.grounding.length > 0">
        <div layout="column" flex="100" class="panel-margin ontology-panel-pipeline-configurator">
            <div flex="100" layout="row">
                <div flex="70" layout="row" layout-align="start center"><h4>Transport Format:
                    {{ctrl.findFormat(ctrl.grounding[0])}}</h4></div>
                <div flex="30" layout="row" layout-align="end center">
                    <md-button ng-disabled="ctrl.disabled" ng-click="ctrl.removeTransportFormat(ctrl.grounding)"
                               class="md-icon-button tree-node-action">
                        <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Remove Format"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>