<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column" class="form-field-small">
    <div fxFlex="100" fxLayout="column" class="data-explorer-options-panel">
        <span class="data-explorer-header mb-10">Widget Title</span>
        <div fxFlex="100" fxLayout="row">
            <mat-form-field appearance="outline" color="accent" fxFlex="100">
                <mat-label>Widget Title</mat-label>
                <input
                    matInput
                    [(ngModel)]="baseAppearanceConfig.widgetTitle"
                />
            </mat-form-field>
        </div>
    </div>

    <div fxFlex="100" fxLayout="column" class="data-explorer-options-panel">
        <span class="data-explorer-header mb-10">Color</span>
        <div fxFlex="100" fxLayout="row" class="mb-10">
            <span>Background</span>
            <span fxFlex></span>
            <input
                [(colorPicker)]="baseAppearanceConfig.backgroundColor"
                [cpPosition]="'left'"
                [style.background]="baseAppearanceConfig.backgroundColor"
                required
                [cpPresetColors]="presetColors"
                (colorPickerSelect)="triggerViewUpdate()"
                autocomplete="off"
            />
        </div>

        <div fxFlex="100" fxLayout="row" class="mb-10">
            <span>Text</span>
            <span fxFlex></span>
            <input
                [(colorPicker)]="baseAppearanceConfig.textColor"
                [cpPosition]="'left'"
                [style.background]="baseAppearanceConfig.textColor"
                required
                [cpPresetColors]="presetColors"
                (colorPickerSelect)="triggerViewUpdate()"
                autocomplete="off"
            />
        </div>
    </div>
</div>
