<div style="width: 100%; height: 500px">


    <div fxLayout="row">
        <div *ngIf="enablePaging" fxFlex="5">
            <button mat-icon-button (click)="clickPreviousPage()" class="paging-button" matTooltip="Going backwards in time">
                <mat-icon style="font-size: 30px;height: 30px; width: 30px">
                    chevron_left
                </mat-icon>
            </button>
        </div>


        <!-- Chart -->
        <plotly-plot fxFlex
                *ngIf="dataToDisplay !== undefined"
                flex
                [data]="dataToDisplay"
                [layout]="graph.layout"
                (relayout)="zoomIn($event)">
        </plotly-plot>

        <div *ngIf="enablePaging" fxFlex="5">
            <button mat-icon-button (click)="clickNextPage()" class="paging-button" matTooltip="Going forwards in time">
                <mat-icon style="font-size: 30px;height: 30px; width: 30px">
                    chevron_right
                </mat-icon>
            </button>
        </div>
    </div>


</div>

