<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-visualization-config-outer
    [configurationValid]="
        currentlyConfiguredWidget.visualizationConfig.configurationValid
    "
>
    <sp-select-properties-config
        [label]="'Select Fields' | translate"
        multiple="true"
        (changeSelectedProperties)="setSelectedColumn($event)"
        [availableProperties]="fieldProvider.allFields"
        [selectedProperties]="
            currentlyConfiguredWidget.visualizationConfig.selectedColumns
        "
    >
    </sp-select-properties-config>
    <sp-split-section [level]="3" [title]="'Column Order' | translate">
        <div
            fxLayout="column"
            class="selected-column-list"
            cdkDropList
            [cdkDropListData]="
                currentlyConfiguredWidget.visualizationConfig.selectedColumns
            "
            (cdkDropListDropped)="dropSelectedColumn($event)"
        >
            @for (
                field of currentlyConfiguredWidget.visualizationConfig
                    .selectedColumns;
                track colorKey(field);
                let i = $index
            ) {
                <div
                    class="selected-column-row"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    cdkDrag
                >
                    <div
                        class="selected-column-main"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                    >
                        <button
                            mat-icon-button
                            type="button"
                            class="selected-column-drag-handle"
                            cdkDragHandle
                            [attr.aria-label]="
                                'Reorder ' + field.runtimeName | translate
                            "
                        >
                            <mat-icon>drag_indicator</mat-icon>
                        </button>
                        <div class="selected-column-label">
                            {{ selectedColumnLabel(field) }}
                        </div>
                    </div>
                    <div
                        class="selected-column-actions"
                        fxLayout="row"
                        fxLayoutAlign="end center"
                    >
                        <button
                            mat-icon-button
                            type="button"
                            [disabled]="!canMoveSelectedColumnUp(i)"
                            [attr.aria-label]="
                                'Move ' + field.runtimeName + ' up' | translate
                            "
                            (click)="moveSelectedColumn(i, -1)"
                        >
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            type="button"
                            [disabled]="!canMoveSelectedColumnDown(i)"
                            [attr.aria-label]="
                                'Move ' + field.runtimeName + ' down'
                                    | translate
                            "
                            (click)="moveSelectedColumn(i, 1)"
                        >
                            <mat-icon>arrow_downward</mat-icon>
                        </button>
                    </div>
                </div>
            } @empty {
                <sp-alert-banner
                    type="info"
                    [title]="'No fields selected.' | translate"
                ></sp-alert-banner>
            }
        </div>
    </sp-split-section>
    <sp-split-section [level]="3" [title]="'Settings' | translate">
        <sp-form-field [level]="3" [label]="'Filter' | translate">
            <mat-form-field fxFlex="100">
                <input
                    [(ngModel)]="
                        currentlyConfiguredWidget.visualizationConfig
                            .searchValue
                    "
                    matInput
                    (input)="onFilterChange($event.target.value)"
                />
            </mat-form-field>
        </sp-form-field>
        <sp-form-field [level]="3" [label]="'Page size' | translate">
            <mat-form-field fxFlex="100">
                <mat-select
                    [value]="
                        currentlyConfiguredWidget.visualizationConfig.pageSize
                    "
                    (valueChange)="setPageSize($event)"
                >
                    @for (pageSize of pageSizeOptions; track pageSize) {
                        <mat-option [value]="pageSize">
                            {{ pageSize }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </sp-form-field>
        <sp-form-field [level]="3" [label]="'Sticky headers' | translate">
            <mat-checkbox
                [checked]="
                    currentlyConfiguredWidget.visualizationConfig.stickyHeaders
                "
                (change)="setStickyHeaders($event.checked)"
            >
                {{ 'Keep table header visible while scrolling' | translate }}
            </mat-checkbox>
        </sp-form-field>
    </sp-split-section>
    <sp-split-section [level]="3" [title]="'Value Highlighting' | translate">
        <div fxLayout="column" class="highlight-color-list">
            @for (field of highlightableFields; track colorKey(field)) {
                <div
                    class="highlight-color-row"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <mat-checkbox
                        [checked]="isHighlighted(field)"
                        (change)="toggleHighlightedField(field)"
                    >
                        <div class="highlight-color-label">
                            <b>{{ field.runtimeName }}</b>
                            <span class="highlight-color-measure">
                                {{
                                    '(' +
                                        field.measure +
                                        ', ' +
                                        (fieldTypeLabel(field) | translate) +
                                        ')'
                                }}
                            </span>
                        </div>
                    </mat-checkbox>
                    <input
                        class="highlight-color-picker"
                        [colorPicker]="getHighlightColor(field)"
                        [style.background]="getHighlightColor(field)"
                        [cpPosition]="'auto'"
                        [cpPresetColors]="presetColors"
                        (colorPickerChange)="setHighlightColor(field, $event)"
                        [disabled]="!isHighlighted(field)"
                        [attr.aria-label]="
                            'Select highlight color for ' + field.runtimeName
                                | translate
                        "
                    />
                </div>
            } @empty {
                <sp-alert-banner
                    type="info"
                    [title]="
                        'No numeric or boolean fields available.' | translate
                    "
                ></sp-alert-banner>
            }
        </div>
    </sp-split-section>
</sp-visualization-config-outer>
