<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <div fxFlex="100" fxLayout="column">
            <form #propertyForm="ngForm" fxLayout="column">
                <div fxLayout="column" fxLayoutAlign="start" fxFlex="100">
                    <div
                        class="general-options-panel"
                        fxLayout="column"
                        fxFlex="100"
                    >
                        <span class="general-options-header">Basics</span>
                        <sp-ep-settings-section
                            sectionTitle="Field label"
                            sectionDescription="A label for better readability"
                        >
                            <mat-form-field class="w-100" color="accent">
                                <input
                                    matInput
                                    placeholder="Label"
                                    name="label"
                                    id="label"
                                    [(ngModel)]="cachedProperty.label"
                                />
                            </mat-form-field>
                        </sp-ep-settings-section>
                        <sp-ep-settings-section
                            sectionTitle="Field description"
                            sectionDescription="A description for better readability"
                        >
                            <mat-form-field class="full-width" color="accent">
                                <textarea
                                    matInput
                                    name="description"
                                    placeholder="Description"
                                    id="description"
                                    [(ngModel)]="cachedProperty.description"
                                    cols="20"
                                    rows="2"
                                >
                                </textarea>
                            </mat-form-field>
                        </sp-ep-settings-section>
                    </div>

                    <sp-edit-schema-transformation
                        [cachedProperty]="cachedProperty"
                        [isTimestampProperty]="isTimestampProperty"
                        [isNestedProperty]="isEventPropertyNested"
                        [isListProperty]="isEventPropertyList"
                        [isPrimitiveProperty]="isEventPropertyPrimitive"
                        (dataTypeChanged)="handleDataTypeChange($event)"
                        (timestampSemanticsChanged)="
                            handleTimestampChange($event)
                        "
                        #schemaTransformationComponent
                    >
                    </sp-edit-schema-transformation>

                    <sp-edit-value-transformation
                        [cachedProperty]="cachedProperty"
                        *ngIf="isEventPropertyPrimitive"
                        [isTimestampProperty]="isTimestampProperty"
                        [isNumericProperty]="isNumericProperty"
                        [isNestedProperty]="isEventPropertyNested"
                        [isListProperty]="isEventPropertyList"
                        [isPrimitiveProperty]="isEventPropertyPrimitive"
                        #valueTransformationComponent
                    >
                    </sp-edit-value-transformation>

                    <sp-edit-unit-transformation
                        *ngIf="!isTimestampProperty && isEventPropertyPrimitive"
                        [cachedProperty]="cachedProperty"
                        [isTimestampProperty]="isTimestampProperty"
                        [isNumericProperty]="isNumericProperty"
                        [isPrimitiveProperty]="isEventPropertyPrimitive"
                        #unitTransformationComponent
                    >
                    </sp-edit-unit-transformation>
                </div>
            </form>

            <!--            <sp-edit-event-property-primitive-->
            <!--                    *ngIf="isEventPropertyPrimitive"-->
            <!--                    [isTimestampProperty]="isTimestampProperty"-->
            <!--                    [cachedProperty]="cachedProperty"-->
            <!--                    (isNumericDataType)="isNumericDataType($event)">-->
            <!--            </sp-edit-event-property-primitive>-->
            <!--            <sp-edit-event-property-list-->
            <!--                    *ngIf="isEventPropertyList"-->
            <!--                    [cachedProperty]="cachedProperty">-->
            <!--            </sp-edit-event-property-list>-->
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions">
        <button
            mat-button
            mat-raised-button
            color="accent"
            [disabled]="isSaveBtnEnabled"
            (click)="save(); isSaveBtnEnabled = false"
            style="margin-right: 10px"
            data-cy="sp-save-edit-property"
        >
            Save
        </button>
        <button
            mat-button
            mat-raised-button
            class="mat-basic"
            (click)="dialogRef.close()"
        >
            Close
        </button>
    </div>
</div>
