<div ng-if="staticProperty.properties.staticPropertyType == 'OneOfStaticProperty'">
    <oneof static-property="staticProperty"></oneof>
</div>
<div ng-if="staticProperty.properties.staticPropertyType == 'FreeTextStaticProperty'">
    <freetext input-streams="selectedElement.inputStreams"
              static-property="staticProperty"></freetext>
</div>
<div ng-if="staticProperty.properties.staticPropertyType == 'AnyStaticProperty'">
    <any static-property="staticProperty"></any>
</div>
<div ng-if="staticProperty.properties.staticPropertyType == 'DomainStaticProperty'">
    <domain-concept-input static-property="staticProperty"
                          auto-complete-static-property="staticProperty"></domain-concept-input>
</div>
<div ng-if="staticProperty.properties.staticPropertyType == 'MappingPropertyUnary'">
    <mapping-property-unary static-property="staticProperty"></mapping-property-unary>
</div>
<div ng-if="staticProperty.properties.staticPropertyType == 'MappingPropertyNary'">
    <mapping-property-nary static-property="staticProperty"></mapping-property-nary>
</div>
<div ng-if="staticProperty.properties.staticPropertyType == 'MatchingProperty'">
    <matching-property static-property="staticProperty"></matching-property>
</div>
<div ng-if="staticProperty.properties.staticPropertyType == 'CollectionStaticProperty'">
    <collection-static-property static-property="staticProperty"></collection-static-property>
</div>