<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-nav-tabs [spNavigationItems]="tabs" [activeLink]="'export'">
    <div fxLayout="column" class="page-container-padding">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
            <sp-split-section title="Export" subtitle="Export application data">
                <div class="subsection-title">
                    Export assets and all linked resources
                </div>
                <div fxLayout="column" *ngFor="let asset of assets">
                    <mat-checkbox
                        (change)="handleSelectionChange($event, asset._id)"
                        ><h4>{{ asset.assetName }}</h4></mat-checkbox
                    >
                </div>
                <div class="mt-10">
                    <button
                        mat-button
                        mat-raised-button
                        color="accent"
                        [disabled]="selectedAssets.length === 0"
                        (click)="openExportDialog()"
                    >
                        <i class="material-icons">cloud_download</i
                        ><span>&nbsp;Start export process</span>
                    </button>
                </div>
            </sp-split-section>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
            <sp-split-section title="Import" subtitle="Import application data">
                <div class="subsection-title">
                    Import from application package
                </div>

                <div class="mt-10">
                    <button
                        mat-button
                        mat-raised-button
                        color="accent"
                        (click)="openImportDialog()"
                    >
                        <i class="material-icons">cloud_upload</i
                        ><span>&nbsp;Start import process</span>
                    </button>
                </div>
            </sp-split-section>
        </div>
    </div>
</sp-basic-nav-tabs>
