#setStreamHeading {
    font-size: 20px;
    margin-bottom: 10px;
}

.box {
    font-size: 17px;
    font-weight: bold;
    width: 200px;
    height: 200px;
    text-align: center;
    float: left;
    border: solid #ccc 2px;
    border-radius: 2px;
    cursor: pointer;
}
.box p {
    margin-top: 85px;
}

#setBox {
    margin-right: 10px;
}

.box:hover {
    animation: hoverAnimation 500ms forwards;
    animation-delay: 20ms;
}

@keyframes hoverAnimation {
    from{
        
    }
    to{
        box-shadow: 2px 2px 2px #b7b7b7;
    }
}
.selectedBox {
    background-color: #ccc !important;
}