<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column" >
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon style="margin-top: 10px" class="md-accent">warning</mat-icon>
        <span style="width: 10px;"></span>
        <h3>Sorry, there was an error while guessing the schema of your configured data source...</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button class="md-accent">
            <div *ngIf="!showErrorMessage" (click)="showErrorMessage = true">Show Details</div>
            <div *ngIf="showErrorMessage" (click)="showErrorMessage = false">Hide Details</div>
        </button>
    </div>
    <div fxLayoutAlign="center center" *ngIf="showErrorMessage">
        <div class="error-message">
            <div *ngFor="let error of errorMessages" style="margin-bottom: 5px; margin-top: 5px">
                <div>{{error.title}}</div>
                <div>{{error.description}}</div>
            </div>
        </div>
    </div>
</div>
