<div layout="row" flex="100" class="md-padding">
	<div flex="100" layout="column">
		<md-input-container>
	        <label>Name</label>
	        <input ng-model="element.name" required ng-disabled="disabled">
      	</md-input-container>
	    <md-input-container>
	    	<label>Description</label>
	        <input ng-model="element.description" required ng-disabled="disabled">
	    </md-input-container>
	    <md-input-container>
	        <label>Internal Identifier</label>
	        <input ng-model="element.uri" required ng-disabled="disabled">
      	</md-input-container>
	</div>
</div>