<div layout="column" flex="100" class="md-padding">
	 <md-checkbox ng-model="frequencySelected" aria-label="qualities[0].label">
	 {{qualities[0].label}}
	 </md-checkbox>
	 <div ng-if="frequencySelected" class="md-padding-left">
		 <div layout="row" flex="70">
		 
		 <div flex="50">
			 <md-input-container>
		    	<label>Quantity Value</label>
		        <input ng-model="element.description" required ng-disabled="disabled">
		     </md-input-container>
		 </div>
		 <div flex="50">
		 	<measurement-unit disabled="disabled" property="property.properties.measurementUnit" style="width:100%;"/>
		 </div>
		 </div>
	 </div>
	  <md-checkbox ng-model="latencySelected" aria-label="qualities[1].label">
	 {{qualities[1].label}}
	 </md-checkbox>
	  <div ng-if="latencySelected" class="md-padding-left">
	   <div layout="row" flex="70">
		 
		 <div flex="50">
			 <md-input-container>
		    	<label>Quantity Value</label>
		        <input ng-model="element.description" required ng-disabled="disabled">
		     </md-input-container>
		 </div>
		 <div flex="50">
		 	<measurement-unit disabled="disabled" property="property.properties.measurementUnit" style="width:100%;"/>
		 </div>
		</div>
	</div>
</div>