<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column">
    @for (template of pipelineTemplates; track template.elementId) {
        <div
            fxLayout="row"
            class="p-10 m-10 template-item"
            (click)="selectTemplate(template)"
            fxLayoutAlign="start center"
            [attr.data-cy]="template.name.toLowerCase().replaceAll(' ', '_')"
        >
            <div fxLayout="column" fxLayoutAlign="center start">
                <div class="element-name">
                    <b>{{ template.name }}</b>
                </div>
                <div class="element-description">
                    <small>{{ template.description }}</small>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    }
</div>
