<div id="formWrapper">
    <p>{{staticProperty.label}}: </p>
    <form [formGroup]="freeTextForm">

        <mat-form-field>
            <input class="example-full-width" matInput id="{{ 'input-' + staticProperty.label }}" [placeholder]="staticProperty.label" [(ngModel)]="staticPropertyUtil.asFreeTextStaticProperty(staticProperty).value"
                formControlName="freeStaticTextString" (ngModelChange)="valueChange(staticPropertyUtil.asFreeTextStaticProperty(staticProperty).value)"
                required>

            <mat-error *ngIf="!hasInput">
                {{errorMessage}}
            </mat-error>
        </mat-form-field>
    </form>
</div>