<form [formGroup]="freeTextForm">
    <mat-form-field>
            <p style="margin-right: 5px;">String: </p>
        <input class="example-full-width" matInput [placeholder]="staticProperty.label" [(ngModel)]="staticPropertyUtil.asFreeTextStaticProperty(staticProperty).value"
            formControlName="freeStaticTextString" (ngModelChange)="valueChange(staticPropertyUtil.asFreeTextStaticProperty(staticProperty).value)"
            required>

        <mat-error *ngIf="!hasInput">
           {{errorMessage}}
        </mat-error>
    </mat-form-field>
</form>