<div fxFlex="100" fxLayoutAlign="center center" fxLayout="column" class="main-panel" [ngStyle]="{'background-color': selectedBackgroundColor, 'color': selectedPrimaryTextColor}">
    <div class="title-panel mt-20" *ngIf="hasTitlePanelSettings">
        {{selectedTitle}}
    </div>
    <ngx-charts-area-chart *ngIf="displayChart"
                           [showXAxisLabel]="false"
                           [showYAxisLabel]="false"
                           [scheme]="colorScheme"
                           [timeline]="false"
                           [view]="view"
                           [autoScale]="false"
                           [xAxis]="true"
                           [yAxis]="true"
                           [yScaleMin]="minYAxisRange"
                           [yScaleMax]="maxYAxisRange"
                           [tooltipDisabled]="true"
                           [animations]="false"
                           [xAxisTickFormatting]="timestampTickFormatting"
                           [results]="multi" style="margin-top:10px;margin-bottom:10px;"
                           [ngStyle]="{'fill': selectedPrimaryTextColor}">
    </ngx-charts-area-chart>
</div>

