<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div layout="row" flex="100" class="md-padding">
	<div flex="100" layout="column">
		<md-input-container>
	        <label>Name</label>
	        <input ng-model="ctrl.element.name" required ng-disabled="ctrl.disabled">
      	</md-input-container>
	    <md-input-container>
	    	<label>Description</label>
	        <input ng-model="ctrl.element.description" required ng-disabled="ctrl.disabled">
	    </md-input-container>
	    <md-input-container>
	        <label>Internal Identifier</label>
	        <input ng-model="ctrl.element.pathName" required ng-disabled="ctrl.disabled">
      	</md-input-container>
	</div>
</div>