<div style="height:100%;">
    <div class="box">
        <div class="assemblyOptions sp-blue-bg m-0 row header" *ngIf="editMode">
            <div fxFlex="100" layout="row" fxLayoutAlign="end center">
                <button mat-button mat-icon-button color="white">
                    <i class="material-icons">settings</i>
                </button>
                <button mat-button mat-icon-button color="white">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
        <div class="h-100 p-0 row content">
            <!--        <div *ngIf="widget."></div>-->
            <div *ngIf="widgetLoaded" class="h-100">
                <div *ngIf="widget.widgetType === 'number'" class="h-100 p-0">
                    <number-widget [gridsterItem]="item" [widget]="widget"
                                   [widgetConfig]="configuredWidget"></number-widget>
                </div>
                <div *ngIf="widget.widgetType === 'line'" class="h-100 p-0">
                    <line-widget [gridsterItem]="item" [widget]="widget" [widgetConfig]="configuredWidget"></line-widget>
                </div>
            </div>
        </div>
    </div>
</div>