.h-100 {
    height:100%;
}

.h-40 {
    height:40px;
}

.p-0 {
    padding:0;
}

.p-20 {
    padding: 20px;
}

.m-0 {
    margin:0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    border:0px solid black;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.header {
    flex: 0 1 auto;
}

/*::ng-deep .ngx-charts {*/
/*    margin-left:0px;*/
/*    margin-top:20px;*/
/*}*/