
<md-content class="md-padding"> <md-tabs md-border-bottom>
<div ng-repeat="tab in tabs">
<md-tab label="{{tab.title}}" md-on-select="loadCurrentElements(tab.type)"> <md-content class="md-padding">
<h1 class="md-display-2">{{tab.title}}</h1>
<div>
	<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
		md-row-height-gt-md="1:1" md-gutter="12px" md-gutter-gt-sm="8px"
		md-row-height="fit"> <md-grid-tile
		ng-repeat="item in currentElements" md-rowspan="1" md-colspan="1"
		md-colspan-sm="1" ng-class="tile.background"> 
		<md-card
		style="width:80%;padding:10px;"> 
		<div ng-show="item.favorite" class="top right">
				<md-icon md-svg-icon="action:ic_favorite_24px" aria-label="Action" class="md-accent" style="width: 36px; height: 36px"></md-icon>
			</div>
		<img ng-src="{{item.iconUrl}}" class="md-card-image connectable-element"
	alt="{{item.name}}"
	ng-show="(item.iconUrl != null && item.iconUrl != 'http://localhost:8080/img')" />
	<span class="connectable-element"
		ng-show="(item.iconUrl == null || item.iconUrl == 'http://localhost:8080/img')">{{elementTextIcon(item.name)}}</span>
	</span>
	<p />
	<div flex layout="row">
		<md-content>
			<h2 class="md-title">{{item.name}}</h2>
			<p>{{item.description}}</p>
		</md-content>
	</div>
	<div class="md-actions" layout="row" layout-align="end center">
		<md-fab-speed-dial md-open="false" md-direction="left"
			ng-class="md-fling"> <md-fab-trigger>
		<md-button aria-label="menu" class="md-fab md-accent"> <md-icon
			md-svg-icon="navigation:ic_menu_24px" aria-label="Action"></md-icon>
		</md-button> </md-fab-trigger> <md-fab-actions> <md-button
			aria-label="As Favorite" class="md-fab md-mini"
			ng-click="toggleFavorite(item, tab.type)"> <md-icon
			md-svg-icon="toggle:ic_star_24px" aria-label="Action"></md-icon> </md-button> <md-button
			aria-label="Refresh" class="md-fab md-mini" ng-click="refresh(item.elementId, tab.type)"> <md-icon
			md-svg-icon="action:ic_autorenew_24px" aria-label="Action"></md-icon>
		</md-button> <md-button aria-label="Remove" class="md-fab md-mini" ng-click="remove(item.elementId, tab.type)"> <md-icon
			md-svg-icon="content:ic_clear_24px"></md-icon> </md-button> <md-button
			aria-label="JSON-LD" class="md-fab md-mini" ng-click="jsonld($event, item.elementId)"> <md-icon
			md-svg-icon="action:ic_search_24px"></md-icon> </md-button></md-fab-speed-dial>
	</div>
	</md-card> </md-grid-tile> </md-grid-list>
</div>
</md-content> </md-tab> 
</div>
</md-tabs> 
</md-content>


