<div flex layout="row" layout-align="center center">
	<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
		class="md-whiteframe-z2">
		<md-content class="md-padding">
		<h1>Register</h1>
		<div flex-sm="100" flex-gt-sm="80" layout-sm="column">
			<form name="registerForm" ng-submit="register()" role="form">
				<md-input-container> <label>Email</label> <input
					type="email" ng-model="email" required> </md-input-container>
				<md-input-container flex> <label>Username:</label>
				<input type="text" ng-model="username" required> </md-input-container>
				<md-input-container flex> <label>Password:</label>
				<input type="text" ng-model="password" required> </md-input-container>
				
				<md-button class="md-accent md-raised" type="submit"
					ng-disabled="registerForm.$pristine || registerForm.$invalid">Register</md-button>
			</form>
			<a ui-sref="streampipes.login">Back to login page</a>
		</div>
		</md-content>
	</div>
</div>