<div flex layout="row" layout-align="center center">
	<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
		class="md-whiteframe-z2">
		<md-content class="md-padding">
		<h1>Register</h1>
		<div flex-sm="100" flex-gt-sm="80" layout-sm="column">
			<form name="registerForm" ng-submit="register()" role="form">
				<md-input-container> <label>Email</label> <input
					type="email" ng-model="email" required> </md-input-container>
				<md-input-container flex> <label>Username:</label>
				<input type="text" ng-model="username" required> </md-input-container>
				<md-input-container flex> <label>Password:</label>
				<input type="password" ng-model="password" required> </md-input-container>
				<md-input-container> <label>Role</label> <md-select
					ng-model="selectedRole"> <md-option
					ng-repeat="role in roles" value="{{role.internalName}}">
				{{role.name}} </md-option> </md-select> </md-input-container>
				<md-button class="md-accent md-raised" type="submit"
					ng-disabled="registerForm.$pristine || registerForm.$invalid">Register</md-button>
					<md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
					<div class="md-warn" ng-show="registrationFailed">
					      <h4>Registration failed. Please try again.</h4>
					      <h5>{{errorMessage}}</h5>
					</div>
					<div class="md-success" ng-show="registrationSuccess">
					      <h4>Registration successful. Go to <a ui-sref="streampipes.login">Login</a> page</h4>
					</div>
			</form>
			<a ui-sref="streampipes.login">Back to login page</a>
		</div>
		</md-content>
	</div>
</div>