<md-toolbar class="md-primary md-hue-3">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" ng-show="authenticated">
          <i class="material-icons md-36" >menu</i>
        </md-button>
        <img alt="icon" src="img/icons/Logo_StreamPipes_BW_small.png" class="toolbar-icon">
        <h1 class="md-toolbar-tools">StreamPipes</h1>
      </div>
    </md-toolbar>	
		
	<md-content  flex >
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-show="authenticated">
		  <md-toolbar class="md-tall md-hue-3">
		    <span flex></span>
		    <div layout="column" class="md-toolbar-tools-bottom inset">
		    <div layout layout-sm="column">
		      <div class="useravatar" user="userInfo"></div> 
		      <div style="margin-left:10px; margin-right:10px;">{{email}}</div>
		      </div>
		      <div style="margin-top:20px;">
		       <md-button style="background:rgb(63,81,181);color:white;" class="md-accent" ng-click="logout()">Logout</md-button>
		       </div>
		    </div>
		  </md-toolbar>
		  <md-list>
	        <md-list-item class="md-2-line" ng-repeat="item in menu" role="link" ng-click="$parent.go(item.link)">
	        
	          <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>     
	          <div class="md-list-item-text">         
	            <span class="md-body-2">{{item.title}}</span>
	          </div>
	       
	        </md-list-item>
	        <md-list-item class="md-2-line" role="link" ng-click="$parent.go('streampipes.notifications')">
		        <md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Notifications"></md-icon>
		        <div class="md-list-item-text">
		            <span class="md-body-2">Notifications  <span class="sidebar-badge">{{unreadNotifications.length}}</span></span>
		        </div>
	        </md-list-item>
	        <md-divider></md-divider>
	        <md-subheader  class="md-no-sticky">Management</md-subheader>
	        <md-list-item class="md-2-line" ng-repeat="item in admin" role="link" ng-click="$parent.go(item.link)">
	          <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
	          <div class="md-list-item-text">	        
	            <span class="md-body-2">{{item.title}}</span>
	          </div>
	        </md-list-item>
	        <md-divider></md-divider>
	        <md-subheader  class="md-no-sticky">Help</md-subheader>
	        <md-list-item class="md-2-line" role="link" ng-click="$parent.go('streampipes.tutorial')">
		        <md-icon md-svg-icon="action:ic_help_24px" aria-label="Tutorial"></md-icon>
		        <div class="md-list-item-text">
		            <span class="md-body-2">Tutorial</span>
		        </div>
	        </md-list-item>
		      </md-list>
	  	</md-sidenav>
		<div id="main" style="min-height: 100%">
		<div ui-view="streampipesView" style="height: 100%" layout-padding></div>
<!-- 			<div id="content" ng-view layout-padding> -->
<!-- 			</div> -->
		</div>
	</md-content>