<div>
    <div class="assembly-options-preview sp-blue-bg">
        <div layout="row" layout-align="start center">
            <h4>Actions</h4>
        </div>
    </div>
    <div class="sp-blue-border">
        <div flex="100" layout-align="center center" layout="row" style="padding:10px">
            <div flex="30">
                <md-button ng-click="ctrl.startPipeline()" class="md-button"
                           ng-disabled="ctrl.starting" ng-if="!ctrl.pipeline.running">
                    <md-icon md-svg-icon="av:ic_play_arrow_24px" aria-label="Start"
                             class="md-accent"></md-icon>
                    &nbsp;Start
                    <md-tooltip md-direction="top">
                        Start Pipeline
                    </md-tooltip>
                </md-button>
                <md-button ng-click="ctrl.stopPipeline()" class="md-button"
                           ng-disabled="ctrl.stopping" ng-if="ctrl.pipeline.running">
                    <md-icon md-svg-icon="av:ic_stop_24px" aria-label="Stop" class="md-accent"></md-icon>
                    &nbsp;Stop
                    <md-tooltip md-direction="top">
                        Stop Pipeline
                    </md-tooltip>
                </md-button>
            </div>
            <div flex="30">
                <md-button ng-click="ctrl.modifyPipeline()" class="md-button">
                    <md-icon
                            md-svg-icon="editor:ic_mode_edit_24px" aria-label="Modify"
                            class="md-accent">
                    </md-icon>
                    &nbsp;Modify
                    <md-tooltip md-direction="top">
                        Modify Pipeline
                    </md-tooltip>
                </md-button>
            </div>
            <div flex="30">
                <md-button ng-click="ctrl.deletePipeline($event)" class="md-button">
                    <md-icon
                            md-svg-icon="action:ic_delete_24px"
                            aria-label="Delete" class="md-accent"></md-icon>
                    &nbsp;Delete
                    <md-tooltip md-direction="top">
                        Delete Pipeline
                    </md-tooltip>
                </md-button>
            </div>
            <div flex="30">
            <md-button ng-click="ctrl.showLogs($event)" class="md-button">
                <md-icon
                        md-svg-icon="action:ic_info_24px"
                        aria-label="Logs" class="md-accent"></md-icon>
                &nbsp;Logs
                <md-tooltip md-direction="top">
                    Show Logs
                </md-tooltip>
            </md-button>
        </div>
        </div>
    </div>
</div>