<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-configuration-box [title]="'Filter' | translate" marginTop="5px">
    <div header fxLayoutAlign="start center" fxFlex="100">
        <button
            mat-button
            mat-raised-button
            color="accent"
            class="small-button"
            data-cy="design-panel-data-settings-add-filter"
            (click)="addFilter()"
            style="margin-right: 10px"
        >
            {{ 'Add Filter' | translate }}
        </button>
    </div>
    <div fxLayout="column">
        @for (
            filter of sourceConfig.queryConfig.selectedFilters;
            track filter;
            let i = $index
        ) {
            <sp-filter-selection-panel-row
                [filter]="filter"
                [possibleFields]="sourceConfig.queryConfig.fields"
                [tagValues]="tagValues"
                (update)="updateWidget()"
                (removeFilter)="remove(i)"
            >
            </sp-filter-selection-panel-row>
        }
    </div>
</sp-configuration-box>
