<div style="margin-right: 10vh; margin-left: 10vh;" fxLayout="column" fxLayoutAlign="center stretch">
  <mat-horizontal-stepper [linear]="isLinear">


    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Protocol</ng-template>

        <div fxLayoutAlign="center">
          <app-protocol-form  [(selectedProtocol)]="selectedProtocol" [allProtocols]="allProtocols"></app-protocol-form>
        </div>
        <div fxLayoutAlign="end">
          <button color="accent" mat-button matStepperNext>Next</button>
        </div>
      </form>

    </mat-step>




    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Select Format</ng-template>

        <div fxLayoutAlign="center">
          <app-format-form [(selectedFormat)]="selectedFormat" [allFormats]="allFormats"></app-format-form>
        </div>

        <div fxLayoutAlign="end">
          <button color="accent" mat-button matStepperPrevious>Back</button>
          <button color="accent" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>




    <mat-step>
      <ng-template matStepLabel>Define Event Schema</ng-template>
      <app-event-schema [(format)]="selectedFormat" [(protocol)]="selectedProtocol"></app-event-schema>

        <div fxLayoutAlign="end">
          <button color="accent" mat-button matStepperPrevious>Back</button>
          <button color="accent" mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Start Adapter</ng-template>
      <div fxLayoutAlign="center">
        <button mat-raised-button color="accent" (click)="startAdapter()" mat-button>Start Adapter</button>
      </div>

      <div fxLayoutAlign="end">
          <button color="accent" mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>

