<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div>
    <div class="assemblyOptions sp-blue-bg">

        <div fxLayout="row" fxLayoutAlign="space-between start" >
            <div>
                <h4 style="display: initial">Select Index:</h4>
                <mat-form-field style="margin-top: 0px; margin-bottom: -20px; margin-left: 14px;">
                    <input type="text" matInput  [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectIndex($event.option.value)">
                        <mat-option  *ngFor="let indexInfo of filteredIndexInfos | async" [value]="indexInfo.measureName">
                            {{indexInfo.measureName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout="column" style="margin-top: 10px; margin-left: 5px" *ngIf="selectedInfoResult !== Undefined">
                <div fxLayout="row" fxLayoutAlign="start stretch">
                    <mat-form-field style="margin-right: 1px;top: -3px;height: 1px; width: 100px" appearance="outline"
                        *ngIf="dimensionProperties.length > 0">
                        <mat-label>Group by</mat-label>
                        <mat-select (selectionChange)="selectDimensionProperty($event.value)">
                            <mat-option style="background-color: #FFFFFF">None</mat-option>
                            <mat-option *ngFor="let key of dimensionProperties" [value]="key" style="background-color: #FFFFFF">
                                {{key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="margin-right: 1px;top: -3px;height: 1px;" appearance="outline">
                        <mat-label>Select Data</mat-label>
                        <mat-select [ngModel]="this.yAxesKeys" (selectionChange)="selectKey($event.value)" multiple>
                            <mat-option *ngFor="let key of dataKeys" [value]="key" style="background-color: #FFFFFF">
                                {{key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Hour'" (click)="selectTimeUnit('1 Hour')">1 Hour</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Hour'"color="primary" mat-raised-button>1 Hour</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Day'" (click)="selectTimeUnit('1 Day')">1 Day</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Day'"color="primary" mat-raised-button>1 Day</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Week'" (click)="selectTimeUnit('1 Week')">1 Week</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Week'" color="primary" mat-raised-button>1 Week</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Month'" (click)="selectTimeUnit('1 Month')">1 Month</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Month'" color="primary" mat-raised-button>1 Month</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Year'" (click)="selectTimeUnit('1 Year')">1 Year</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Year'" color="primary" mat-raised-button>1 Year</button>

                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== 'Custom'" (click)="selectTimeUnit('Custom')">Custom</button>
                    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === 'Custom'" color="primary" mat-raised-button>Custom</button>

                    <button mat-icon-button *ngIf="!enableAdvanceOptions" class="icon" (click)="enableAdvanceOptions = true"
                            style="margin-left: 5px; margin-top: -15px;" color="primary" matTooltip="Display Advanced Options">
                        <mat-icon style="font-size: 30px;height: 30px; width: 30px">expand_more</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="enableAdvanceOptions" mat-raised-button class="icon" (click)="enableAdvanceOptions = false"
                            style="margin-left: 5px; margin-top: -15px;" color="primary" matTooltip="Hide Advanced Options">
                        <mat-icon style="font-size: 30px;height: 30px; width: 30px">expand_less</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Download data" class="icon" (click)="downloadDataAsFile()"
                            style="margin-top: -15px;" color="primary">
                        <mat-icon style="font-size: 30px;height: 30px; width: 30px">
                            get_app
                        </mat-icon>
                    </button>
                </div>
                <div class="optionContainer clearfix">
                    <div *ngIf=enableAdvanceOptions>
                        <div class="option" style="margin-left: 5px">
                            <div class="optionName">Group values by time</div>
                            <mat-form-field style="top: -10px; width: 80px; margin-right: 5px">
                                <input matInput type="number" [(ngModel)]="groupbyValue">
                            </mat-form-field>
                            <mat-form-field style="top: -10px; width: 100px">
                                <mat-select [(value)]="groupbyUnit">
                                    <!--      <mat-option style="background-color: #FFFFFF" value="ns">Nanoseconds</mat-option>
                                          <mat-option style="background-color: #FFFFFF" value="u">Microseconds</mat-option> -->
                                    <mat-option style="background-color: #FFFFFF" value="ms">Milliseconds</mat-option>
                                    <mat-option style="background-color: #FFFFFF" value="s">Second</mat-option>
                                    <mat-option style="background-color: #FFFFFF" value="m">Minute</mat-option>
                                    <mat-option style="background-color: #FFFFFF" value="h">Hour</mat-option>
                                    <mat-option style="background-color: #FFFFFF" value="d">Day</mat-option>
                                    <mat-option style="background-color: #FFFFFF" value="w">Week</mat-option>
                                    <mat-option style="background-color: #FFFFFF" value="month">Month</mat-option>
                                    <mat-option style="background-color: #FFFFFF" value="year">Year</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="selectedTimeUnit === 'Custom'">
                        <div class="option">
                            <div class="optionName">Date range</div>
                            <mat-form-field style="top: -10px; width: 270px">
                                <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                       [(ngModel)]="dateRange" [selectMode]="'range'" (dateTimeChange)="loadData()">
                                <mat-icon matSuffix [owlDateTimeTrigger]="dt1" style="color: white">event</mat-icon>
                                <owl-date-time #dt1></owl-date-time>
                            </mat-form-field>
                        </div>
                    </div>

                    <button *ngIf="enableAdvanceOptions"
                            mat-icon-button class="icon" style="margin-left: 5px" color="primary">
                        <mat-icon style="font-size: 30px;height: 30px; width: 30px" (click)="loadData()">autorenew</mat-icon>
                    </button>
                    <!--
                            <div class="option" style="margin-left: 5px">
                                <div class="optionName">Aggregation</div>
                                <mat-form-field style="top: -10px">
                                    <mat-select [(value)]="sad">
                                        <mat-option style="background-color: #FFFFFF" value="ns">Min</mat-option>
                                        <mat-option style="background-color: #FFFFFF" value="u">Max</mat-option>
                                        <mat-option style="background-color: #FFFFFF" value="ms">Mean</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                    -->
                </div>

            </div>
        </div>



    </div>




    <div layout="row">
        <div class="sp-blue-border" style="padding-top: 0px">

            <!-- loading -->
            <div *ngIf="displayIsLoadingData" fxLayout="column" fxLayoutAlign="space-around center" >
                <div  fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <mat-spinner></mat-spinner>
                </div>
                <div  fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <h3>Loading Data</h3>
                </div>
            </div>

            <!-- No Data in Timerange -->
            <div *ngIf="noDateFoundinTimeRange" fxLayout="column" fxLayoutAlign="space-around center" >
                <div  fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <!-- TODO Icon -->
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <button mat-icon-button (click)="handlePreviousPage()" class="paging-button" matTooltip="Going backwards in time">
                        <mat-icon style="font-size: 30px;height: 30px; width: 30px">
                            chevron_left
                        </mat-icon>
                    </button>
                    <h3>Found no data in selected time range ({{dateRange[0] | date:'MM/dd/yyyy HH:mm'}} - {{dateRange[1] | date:'MM/dd/yyyy HH:mm'}})</h3>
                    <button mat-icon-button (click)="handleNextPage()" class="paging-button" matTooltip="Going forwards in time">
                        <mat-icon style="font-size: 30px;height: 30px; width: 30px">
                            chevron_right
                        </mat-icon>
                    </button>
                </div>
            </div>

            <!-- No Data Keys Selected -->
            <div *ngIf="noKeySelected" fxLayout="column" fxLayoutAlign="space-around center" >
                <div  fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <!-- TODO Icon -->
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <h3>Please select data key(s)</h3>
                </div>
            </div>

            <!-- No Index Selected -->
            <div *ngIf="noIndexSelection" fxLayout="column" fxLayoutAlign="space-around center" >
                <div  fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <!-- TODO Icon -->
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
                    <h3>Please select Index</h3>
                </div>
            </div>

            <!-- update data -->
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!displayIsLoadingData && data !== undefined && yAxesKeys.length > 0">
                <button mat-icon-button class="icon" (click)="reloadData()" style="margin-right: 5px; top: 5px; z-index: 100" color="primary">
                    <mat-icon style="font-size: 30px; margin-top: -4px; width: 30px"
                              [ngClass]="{'rotate': autoUpdateData}">autorenew</mat-icon>
                    <label *ngIf="optionAutoUpdateData" style="font-size: 12px; position: absolute;
                    margin-left: -19px;">A</label>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="menu" style="z-index: 100;top: 4px; margin-left: -10px;
                    margin-right: -5px;">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div  mat-menu-item (click)="$event.stopPropagation();">
                        <mat-slide-toggle
                                [checked]="optionAutoUpdateData"
                                (change)="optionAutoUpdateData = $event.checked"
                                [color]="'primary'">
                            Automatic periodic update
                        </mat-slide-toggle>
                    </div>
                    <div mat-menu-item *ngIf="optionAutoUpdateData" (click)="$event.stopPropagation();">
                        <mat-icon>timelapse</mat-icon>
                        <mat-form-field>
                            <input matInput type="number" [(ngModel)]="autoUpdatePeriod"
                                   placeholder="Update period in secs">
                        </mat-form-field>
                    </div>
                   <!--
                    <div mat-menu-item disabled (click)="$event.stopPropagation();">
                        <mat-slide-toggle
                                [color]="'primary'">
                            Reload all data instead just new ones
                        </mat-slide-toggle>
                    </div>
                    -->
                </mat-menu>

            </div>


            <!-- Charts -->
            <mat-tab-group *ngIf="!displayIsLoadingData &&  data !== undefined && yAxesKeys.length > 0"
                           [selectedIndex]="selectedMatGroup.value"
                           (selectedIndexChange)="selectedMatGroup.setValue($event)"
                            style="margin-top: -35px;">
                <mat-tab label="Table">
                    <sp-table
                            *ngIf="selectedInfoResult !== undefined"
                            [datas]="data"
                            [xAxesKey]="xAxesKey"
                            [yAxesKeys]="yAxesKeys"
                            [eventschema]="selectedInfoResult.eventSchema"
                            [startDateData]="dateRange[0]"
                            [endDateData]="dateRange[1]"
                            [currentPage]="currentPage"
                            [maxPage]="maxPage"
                            [enablePaging]="true"
                            (nextPage)="handleNextPage()"
                            (previousPage)="handlePreviousPage()"
                            (firstPage)=handleFirstPage()
                            (lastPage)="handleLastPage()">
                    </sp-table>
                </mat-tab>
                <mat-tab label="Line chart">
                    <sp-lineChart
                            *ngIf="selectedInfoResult !== undefined && selectedMatGroup.value === 1"
                            [datas]="data"
                            [xAxesKey]="xAxesKey"
                            [yAxesKeys]="yAxesKeys"
                            [eventschema]="selectedInfoResult.eventSchema"
                            [startDateData]="dateRange[0]"
                            [endDateData]="dateRange[1]"
                            [currentPage]="currentPage"
                            [maxPage]="maxPage"
                            [enablePaging]="true"
                            (nextPage)="handleNextPage()"
                            (previousPage)="handlePreviousPage()"
                            (firstPage)=handleFirstPage()
                            (lastPage)="handleLastPage()"
                            (zoomEvent)="zoomEventHandler($event)">
                    </sp-lineChart>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</div>
