<div style="height:100%; min-height: 60vh; width: 100%;">
    <div id="map" style="height:100%; min-height: 60vh; width: 100%; z-index: 0;">
    </div>

   <sp-button  sp-button-flat class="md-icon-button" ng-click="ctrl.toggleRefocus()">
            <i ng-if="refocus" class="material-icons">
                center_focus_strong
            </i>
            <md-tooltip ng-if="refocus" md-direction="top">
               Deactivate focus on Markers
            </md-tooltip>
            <i ng-if="!refocus" class="material-icons">
                center_focus_weak
            </i>
            <md-tooltip ng-if="!refocus" md-direction="top">
                Activate focus on Markers
            </md-tooltip>
   </sp-button>
</div>
