body {
	overflow: auto;
	margin-bottom: 1%;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
	
	font-family: 'Doppio One', sans-serif;
	height: 100%;
	width: 100%;
	background-attachment: fixed;	
}

.panel-sources {
	background: #B2DFDB;
	
}

.panel-streams {
	background: #B2EBF2;
}

.panel-actions {
	background: #EF9A9A;
}

.content-padding{
	padding-left: 5%;
	padding-right: 5%;
}

#sources{
	/*margin-left: 5%;*/
	width: 100%;
	height: 100px;
	margin-top: 1%;
	line-height: 5vh;
	font-weight: bold;
	margin-bottom: 1%;
}

.clickable{
	display: inline-block;
	height: 90px;
	width: 90px;
	margin-left: 3%;
	margin-right: 3%;
	/*padding: .5vh;*/
	vertical-align: top;
	cursor: pointer;
}

.clickable-img{
	margin-top: 14%;
	/*margin-right: auto;*/
	height: 80px;
	width: 80px;
	margin-bottom: 0;
}

.icon-stands{
	opacity: 0;
	width: 100%;
	height: 100px;
	background-color: grey;
	box-shadow: inset 0 0 10px black;
	overflow-x: auto;
}

.draggable-icon{
	cursor: pointer;
	vertical-align: top;
	background-color: white;
	display: inline-block;
	height: 90px;
	width: 90px;
	margin-left: 4%;
	margin-top: 5px;
	box-shadow: 1px 1px 2px #555;
}
.stream{
	border-radius: 50%;
}
.action{
	border: 5px solid red;
}

.draggable-img{
	font-size: 60px;
	margin-top: 14%;
	height: 60px;
	width: 60px;
	margin-bottom: 0;
	color: #d22;
}
.sepa>.draggable-img{
	height: 80px;
	width: 80px;
	margin-top: 5px;
}
.sepa>p>.draggable-img{
	height: 80px;
	width: 80px;
	margin-top: 5px;
}

.ui-selectable-helper {background: rgba(51, 200, 51, 0.5);}
.ui-selected {box-shadow: 0 0 10px #33DD33 !important}

.draggable-img-dragging{
	margin-left: 14%;
	position: absolute;	
}
.navbar .container-fluid  {
	padding-right: 5%;
	padding-left: 5%;
}
.canvas{
	position: relative;
	overflow: visible;
	height: 550px;
	width: 100%;
	margin-top: 1%;
	/*margin-left: 5%;*/
	box-shadow: inset 0 0 10px #333;
	background:white;
	
}

#pipelineDisplay{
	margin-top: 100px;
	height: 500px;
	box-shadow: 0 0 15px #333;
	position: relative;
	background: white;
}
.shadow{
	box-shadow: 0 0 5px #333
}
/*.nav-tabs{
	border-bottom: 0px;
}

.navbar{
	min-height: 40px;
	height: 40px;
}
.container-fluid {
	min-height: 40px;
}

.nav{
	height:40px;
}*/

.connectable{
	cursor: move;
	position:absolute;
	height: 110px !important;
	width: 110px !important;
	box-shadow: 0 0 2px #555;
	display: inline-block;
	vertical-align: middle;
	background-color: white;
}

.connectable-img{
	color: #d22;
	font-size: 80px;
	margin-top: 14%;
	margin-left: 14%;
	margin-right: auto;
	height: 72%;
}
.action>.connectable-img {
	margin-top: 8.5%;
	margin-left: 8.5%;
}
.action>p>.connectable-img {
	margin-top: 10.5%;
	margin-left: 10.5%;
}
.recommended-button {
	cursor: pointer;
	position: absolute;
	left: 70%;
	top: 0;
	height: 40%;
	width: 40%;
	background-color: #33DD33;
	border-radius: 50%;
	/*display: none;*/

}
.recommended-list {
	position: absolute;
	top: 25%;
	left: 25%;
	height: 40px;
	width: 40px;

}
.recommended-item {
	box-shadow: 0 0 2px #555;
	background-color: #ffffff;
	cursor: pointer;
}
.recommended-item:hover {
	box-shadow: 0 0 5px #555;
}
.recommended-item-img {
	width: 80%;
	height: 80%;
 }
ul.circleMenu-open {
	visibility: visible;
	top: 50%;
	left: 50%;
}
ul.circleMenu-closed{
	visibility: hidden;
	top: 50%;
	left: 50%;
}


#clear {
	z-index:10;
	cursor: hand;
	opacity: 0.5;
	position: absolute;
	margin: 3px;
	top: 3px;
	left: 3px;
	font-size: 20px;
	padding: 3px;
}
#clear:hover {
	cursor: pointer;
	opacity: 1;
}

.ui-draggable-dragging { 
	box-shadow: 0 0 8px black;
}

#submit {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 3px;
	padding: 3px;
	
} /*Finetuning für größe nötig*/

#addTextInput{
	
	margin-top: 5%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.sse-working{
	color: black;
}
.sse-success{
	color: #33dd33;
}
.sse-error{
	color: #dd3333;
}
.wrapper {
	width: 100%;
	margin-bottom: 10%;

}

#navbar {
	color: #000000;
}
#navbar:active {
	color: #000000;
}
#login-form-dropdown{
	padding:10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eee',GradientType=0 ); /* IE6-9 */ 
	
	max-width: 20vw;
	max-height: 25vh;
	
	min-width: 280px;
	min-height: 200px;
	
}

.panel-body{
	padding: 0;
	margin: 0;
}

h4.panel-title{
	line-height: 1.5;	
}

.btngroup {

	position: relative;

	vertical-align: middle;

}

.disabled{
	opacity : 0.3;
}

#accordion{
	width: 100%;
	/*margin-left: 5%;*/
}

h1{
	color: #666;

}
td {
	vertical-align:middle !important;
}

.hoverable {
	opacity: 0.2;
}

.hoverable:hover {
	cursor: pointer;
	opacity: 0.5;
}

#pipelineList{
	padding-top: 100px;
}
#streamDisplay{
	padding: 5px 0 5px 5px;
	display:inline-block;
	width: 40%;
	height: 100%;
	position:relative;
}
#sepaDisplay{
	padding: 5px 0 5px 0;
	display:inline-block;
	width:40%;
	height: 100%;
	position:relative;
}
#actionDisplay{
	padding: 5px 5px 5px 0;
	display:inline-block;
	width:19%;
	height: 100%;
	position:relative;
}

#savedOptions{
	padding-top: 30px;
}

textarea{
	resize: none;
}

#adjustString {
	font-size : 30px;
	color: #666;
	opacity: 0.5;
	position: absolute;

	width: 100%;
	text-align: center;
}

.block {
	position: absolute;
	cursor: pointer;
	height: 180px;
	width: 150px;
	background: linear-gradient(to bottom, #fff 0%,#eee 100%);
	border-radius: 5px;
	box-shadow: -2px 2px 5px rgb(153, 153, 153);
	border: 1px solid rgb(153, 153, 153);

}
.block-name {
	font-size: 20px;
	/*height: 30px;*/
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}
.block-img-container {
	height: 150px;
	width: 150px;
	padding: 25px;
	/*border-top: 3px solid rgb(51, 51, 51);*/
}
.block-img {
	height: 100px;
	width: 100px;
}
.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}
.ui-menu .ui-menu-item a {
  font-size: 12px;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}
#modalIns{
    width: 500px;
}

