<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->
<section
    class="script-panel"
    fxLayout="column"
    [class.script-panel-fullscreen]="fullscreen()"
    [attr.role]="fullscreen() ? 'dialog' : null"
    [attr.aria-modal]="fullscreen() ? 'true' : null"
    [attr.aria-label]="'Script editor' | translate"
>
    <sp-secondary-toolbar class="script-secondary-toolbar" [padding]="false">
        <div
            class="script-toolbar"
            fxLayout="row wrap"
            fxLayoutAlign="space-between center"
        >
            <span class="font-bold">{{ 'Script' | translate }}</span>
            <div fxLayout="row wrap" fxLayoutAlign="end center">
                @if (selectedScriptMetadata()) {
                    <button
                        mat-button
                        [matMenuTriggerFor]="langMenu"
                        [disabled]="!scriptActive() || isRunningScript()"
                        [attr.aria-label]="
                            'Select programming language' | translate
                        "
                    >
                        {{ selectedScriptMetadata().name | titlecase }}
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #langMenu="matMenu">
                        @for (
                            language of availableScripts();
                            track language.language
                        ) {
                            <button
                                mat-menu-item
                                (click)="languageChange.emit(language)"
                            >
                                {{ language.name | titlecase }}
                                @if (
                                    language.language ===
                                    selectedScriptMetadata().language
                                ) {
                                    <mat-icon>check</mat-icon>
                                }
                            </button>
                        }
                    </mat-menu>
                }
                <button
                    mat-button
                    data-cy="use-script-template"
                    (click)="selectTemplate.emit()"
                    [disabled]="!scriptActive() || isRunningScript()"
                >
                    <mat-icon>article</mat-icon>{{ 'Use template' | translate }}
                </button>
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="scriptMenu"
                    data-cy="configure-schema-script-actions"
                    [disabled]="!scriptActive() || isRunningScript()"
                    [attr.aria-label]="'More script actions' | translate"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #scriptMenu="matMenu">
                    <button
                        mat-menu-item
                        data-cy="add-script-template-button"
                        (click)="createTemplate.emit()"
                    >
                        <mat-icon>save</mat-icon
                        >{{ 'Save as template' | translate }}
                    </button>
                    <button
                        mat-menu-item
                        data-cy="reset-script"
                        (click)="resetScript.emit()"
                    >
                        <mat-icon>settings_backup_restore</mat-icon
                        >{{ 'Reset script' | translate }}
                    </button>
                </mat-menu>
                <button
                    [hidden]="fullscreen()"
                    [disabled]="!scriptActive()"
                    mat-icon-button
                    (click)="toggleFullscreen()"
                    data-cy="configure-schema-toggle-fullscreen"
                    [attr.aria-label]="'Open fullscreen' | translate"
                    [matTooltip]="'Open fullscreen' | translate"
                >
                    <mat-icon>fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </sp-secondary-toolbar>
    @if (loadingAvailableScriptsError()) {
        <sp-alert-banner
            type="error"
            [title]="'Error loading available script languages' | translate"
            [description]="loadingAvailableScriptsError().cause"
        ></sp-alert-banner>
    }
    @if (!scriptActive()) {
        <div class="script-disabled-info">
            <sp-alert-banner
                type="info"
                [title]="'Transformation disabled' | translate"
                [description]="
                    'The original event is used without transformation. Your script is preserved.'
                        | translate
                "
            ></sp-alert-banner>
        </div>
    }
    <div
        class="code-editor-outer"
        [class.code-editor-disabled]="!scriptActive()"
    >
        @if (!scriptActive()) {
            <pre
                class="disabled-script-preview"
                [attr.aria-label]="'Script editor' | translate"
            ><code>{{ script() }}</code></pre>
        }
        <ngx-monaco-editor
            class="code-editor"
            [hidden]="!scriptActive()"
            [attr.inert]="!scriptActive() ? '' : null"
            [ngModel]="script()"
            (ngModelChange)="codeChange.emit($event)"
            [options]="effectiveEditorOptions()"
            (onInit)="onEditorInit($event)"
            data-cy="configure-schema-script-editor"
        ></ngx-monaco-editor>
    </div>
    <footer
        class="script-footer"
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        fxLayoutGap="8px"
    >
        <sp-schema-preview-status
            [inline]="true"
            [active]="scriptActive()"
            [running]="isRunningScript()"
            [error]="scriptError()"
            [outdated]="previewOutdated()"
        ></sp-schema-preview-status>
        <button
            mat-flat-button
            data-cy="configure-schema-run-script-button"
            [disabled]="!scriptActive() || isRunningScript() || runDisabled()"
            (click)="runScript.emit()"
        >
            <mat-icon>play_arrow</mat-icon>{{ 'Run script' | translate }}
        </button>
    </footer>
</section>
