<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    class="full-background sp-fade light-mode"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    style="min-height: 100vh !important"
>
    <div
        fxFlex.gt-md="50"
        fxFlex.lt-md="100"
        fxLayout="row"
        fxLayoutAlign="start start"
        class="full-height"
    >
        <div fxFlex="100" fxLayout="column" class="full-height">
            <div fxLayoutAlign="end end" fxLayout="row" class="logo-outer">
                <img
                    alt="icon"
                    src="../../../../assets/img/sp/logo.png"
                    class="logo"
                />
            </div>
            <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                <div fxLayout="column" class="content-box">
                    <ng-content></ng-content>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" class="auth-box-footer">
                <a
                    *ngIf="linkSettings.showDocumentationLinkOnStartScreen"
                    class="footer-link"
                    [href]="linkSettings.documentationUrl"
                >
                    Documentation
                </a>
                <span
                    style="margin-left: 10px; margin-right: 10px"
                    *ngIf="linkSettings.showApiDocumentationLinkOnStartScreen"
                >
                    |
                </span>
                <a
                    *ngIf="linkSettings.showApiDocumentationLinkOnStartScreen"
                    class="footer-link"
                    data-cy="view-api-docs-link"
                    routerLink="/apidocs"
                    routerLinkActive="active"
                    >API Documentation</a
                >
                <span
                    style="margin-left: 10px; margin-right: 10px"
                    *ngIf="linkSettings.showSupportUrlOnStartScreen"
                >
                    |
                </span>
                <a
                    *ngIf="linkSettings.showSupportUrlOnStartScreen"
                    class="footer-link"
                    [href]="linkSettings.supportUrl"
                >
                    Support
                </a>
            </div>
        </div>
    </div>
    <div
        fxFlex.gt-md="50"
        fxFlex.lt-md="100"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        class="background-auth-box full-height"
    >
        <h1 class="app-name-text">{{ appConstants.APP_NAME }}</h1>
    </div>
</div>
