<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div
    class="md-padding full-background sp-fade light-mode"
    fxLayout="row"
    fxLayoutAlign="center center"
    style="min-height: 100vh !important"
>
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
        <mat-card
            class="card-100-center box-shadow-login"
            style="padding: 20px; position: relative; top: -25px"
        >
            <div fxFlex="100" fxLayout="column">
                <div
                    fxLayout="row"
                    fxFlex="60"
                    fxLayoutAlign="center center"
                    style="margin-left: auto; margin-right: auto"
                >
                    <div
                        fxFlex="60"
                        fxLayoutAlign="center center"
                        fxLayout="row"
                        style="color: white; width: 100%"
                    >
                        <img
                            alt="icon"
                            src="../../../../assets/img/sp/logo.png"
                            style="width: 100%"
                        />
                    </div>
                </div>
                <ng-content></ng-content>
            </div>
        </mat-card>
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
            <button
                mat-button
                mat-raised-button
                color="accent"
                (click)="openDocumentation()"
                style="
                    min-width: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 18px;
                "
            >
                View Docs
            </button>
            <span style="margin-top: 10px"
                ><a
                    data-cy="view-api-docs-link"
                    routerLink="/apidocs"
                    routerLinkActive="active"
                    >View API docs</a
                ></span
            >
        </div>
    </div>
</div>
