<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div [formGroup]="parentForm" id="formWrapper" fxFlex="100" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div>
            <button
                mat-raised-button
                color="accent"
                class="small-button"
                (click)="resetOptionsAndReload()"
                style="margin-right: 10px"
                [disabled]="!showOptions"
            >
                <span>Clear selection & reload</span>
            </button>
        </div>
        <div fxLayout="column" *ngIf="loading" class="mt-10">
            <mat-spinner
                color="accent"
                [mode]="'indeterminate'"
                [diameter]="20"
            ></mat-spinner>
        </div>
    </div>
    <div fxLayout="column" *ngIf="error" class="mt-10">
        <sp-exception-message [message]="errorMessage"></sp-exception-message>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="30" class="tree-input-section" fxLayout="column">
            <div class="tree-input-header" fxLayoutAlign="start center">
                <b>Browse</b>
            </div>
            <mat-tree
                [dataSource]="dataSource"
                [treeControl]="treeControl"
                #tree
                class="sp-tree"
                style="max-height: 300px; overflow-y: auto"
            >
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <div
                        [ngClass]="
                            selectedNodeId === node.internalNodeName
                                ? 'selected-node'
                                : 'node'
                        "
                        fxLayoutAlign="start center"
                    >
                        <i class="material-icons color-primary pr-5">wifi</i>
                        <i
                            class="material-icons pr-5 icon-button"
                            *ngIf="node.dataNode && !isNodeSelected(node)"
                            (click)="addNode(node)"
                            matTooltip="Add node"
                            >add_circle</i
                        >
                        <i
                            class="material-icons pr-5 icon-button"
                            *ngIf="node.dataNode && isNodeSelected(node)"
                            (click)="removeNode(node)"
                            matTooltip="Remove node"
                            >remove_circle</i
                        >
                        <i
                            class="material-icons pr-5 icon-button"
                            *ngIf="selectedNodeId !== node.internalNodeName"
                            (click)="
                                selectedNodeMetadata = node.nodeMetadata;
                                selectedNodeId = node.internalNodeName
                            "
                            matTooltip="Show details"
                            >visibility</i
                        >
                        <i
                            class="material-icons pr-5 icon-button"
                            *ngIf="selectedNodeId === node.internalNodeName"
                            (click)="
                                selectedNodeMetadata = undefined;
                                selectedNodeId = undefined
                            "
                            matTooltip="Show details"
                            >visibility_off</i
                        >
                        <span class="pr-5">{{ node.nodeName }}</span>
                    </div>
                </mat-tree-node>
                <mat-nested-tree-node
                    *matTreeNodeDef="let node; when: hasChild"
                >
                    <div class="mat-tree-node">
                        <button
                            mat-icon-button
                            matTreeNodeToggle
                            [attr.data-cy]="'button-' + node.nodeName"
                            [attr.aria-label]="'Toggle ' + node.nodeName"
                            (click)="
                                loadChildren(node, treeControl.isExpanded(node))
                            "
                        >
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{
                                    treeControl.isExpanded(node)
                                        ? 'expand_more'
                                        : 'chevron_right'
                                }}
                            </mat-icon>
                        </button>
                        <div
                            [ngClass]="
                                selectedNodeId === node.internalNodeName
                                    ? 'selected-node'
                                    : 'node'
                            "
                            fxLayoutAlign="start center"
                        >
                            <i
                                class="material-icons color-primary pr-5"
                                *ngIf="!treeControl.isExpanded(node)"
                                >folder</i
                            >
                            <i
                                class="material-icons color-primary pr-5"
                                *ngIf="treeControl.isExpanded(node)"
                                >folder_open</i
                            >
                            <i
                                class="material-icons pr-5 icon-button"
                                *ngIf="
                                    treeControl.isExpanded(node) &&
                                    hasDataChildren(node)
                                "
                                matTooltip="Add all direct children"
                                >add_circle</i
                            >
                            <i
                                class="material-icons pr-5 icon-button"
                                *ngIf="selectedNodeId !== node.internalNodeName"
                                (click)="
                                    selectedNodeMetadata = node.nodeMetadata;
                                    selectedNodeId = node.internalNodeName
                                "
                                matTooltip="Show details"
                                >visibility</i
                            >
                            <i
                                class="material-icons pr-5 icon-button"
                                *ngIf="selectedNodeId === node.internalNodeName"
                                (click)="
                                    selectedNodeMetadata = undefined;
                                    selectedNodeId = undefined
                                "
                                matTooltip="Show details"
                                >visibility_off</i
                            >
                            <span class="node-name pr-5"
                                >&nbsp;{{ node.nodeName }}</span
                            >
                        </div>
                    </div>
                    <div
                        [class.sp-tree-invisible]="
                            !treeControl.isExpanded(node)
                        "
                        role="group"
                    >
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
        </div>
        <div fxFlex="40" class="tree-input-section" fxLayout="column">
            <div class="tree-input-header" fxLayoutAlign="start center">
                <b>Node Details</b>
            </div>
            <div
                class="node-metadata"
                *ngFor="let metadata of selectedNodeMetadata | keyvalue"
                fxLayout="row"
            >
                <div fxFlex="30">{{ metadata.key }}</div>
                <div fxFlex="70">{{ metadata.value }}</div>
            </div>
        </div>
        <div fxFlex="30" class="tree-input-section" fxLayout="column">
            <div class="tree-input-header" fxLayoutAlign="start center">
                <b>Selected Nodes</b>
            </div>
            <div
                *ngFor="
                    let selectedNode of staticProperty.selectedNodesInternalNames
                "
            >
                <div
                    class="selected-node"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <span fxFlex>{{ selectedNode }}</span>
                    <div fxLayoutAlign="end center">
                        <button
                            mat-icon-button
                            color="accent"
                            (click)="removeSelectedNode(selectedNode)"
                        >
                            <i class="material-icons">remove</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
