<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->
<div [formGroup]="parentForm" id="formWrapper" fxFlex="100" fxLayout="column">
    <sp-static-tree-input-button-menu
        [showOptions]="showOptions"
        [loading]="loading"
        (resetOptionsAndReload)="resetOptionsAndReload()"
        (reload)="reload()"
    >
    </sp-static-tree-input-button-menu>

    <div fxLayout="column" *ngIf="error" class="mt-10">
        <sp-exception-message [message]="errorMessage"></sp-exception-message>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="30" class="tree-input-section" fxLayout="column">
            <sp-static-tree-input-browse-nodes
                #staticTreeInputBrowseNodesComponent
                [staticProperty]="staticProperty"
                (showNodeDetailsEmitter)="showNodeDetails($event)"
                (loadOptionsFromRestApiEmitter)="loadOptionsFromRestApi($event)"
                (performValidationEmitter)="performValidation()"
            >
            </sp-static-tree-input-browse-nodes>
        </div>
        <div fxFlex="40" class="tree-input-section" fxLayout="column">
            <div class="tree-input-header" fxLayoutAlign="start center">
                <b>Node Details</b>
            </div>
            <div
                class="node-metadata"
                *ngFor="let metadata of nodeDetails?.nodeMetadata | keyvalue"
                fxLayout="row"
                [attr.data-cy]="'node-details-metadata-row-' + metadata.key"
            >
                <div fxFlex="30">{{ metadata.key }}</div>
                <div fxFlex="70">{{ metadata.value }}</div>
            </div>
        </div>

        <sp-static-tree-input-selected-nodes
            class="tree-input-section"
            fxLayout="column"
            fxFlex="30"
            [selectedNodesInternalNames]="
                staticProperty.selectedNodesInternalNames
            "
            (removeSelectedNode)="removeSelectedNode($event)"
        >
        </sp-static-tree-input-selected-nodes>
    </div>
</div>
