<div fxFlex="100" fxLayout="column" style="margin-top:40px;">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxFlex="100" class="assemblyOptions sp-blue-bg" style="padding:5px;">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                <h4>Edge Nodes</h4>
                <span flex></span>
            </div>
        </div>
        <div fxFlex="100" fxLayoutAlign="start start" class="sp-blue-border page-container-padding-inner">
            <mat-grid-list
                    [cols]="3" [rowHeight]="200"
                    [gutterSize]="10" fxFlex="100">

                <mat-grid-tile class="gray" *ngFor="let node of availableEdgeNodes">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>  {{node.nodeId}}</mat-card-title>
                            <mat-card-subtitle>{{node.nodeMetadata.nodeDescription}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>