$sp-color-primary: rgb(57, 181, 74);
$sp-color-primary-light: rgb(59, 205, 76);
$sp-color-accent: rgb(27, 20, 100);
$sp-color-accent-light-blue: rgb(59, 92, 149);
$sp-color-accent-light: rgb(156, 156, 156);

$sp-color-stream: #FFEB3B;
$sp-color-set: #ffa23b;
$sp-color-processor: #009688;
$sp-color-sink: #3F51B5;

$sp-color-error: #B71C1C;