<div layout="column" flex="100" class="md-padding">
    <div layout="column" flex="100" ng-repeat="(key2, property) in ctrl.properties track by $index">
        <collapsible list="ctrl.properties" ctr="key2" title-label="'Property ' +(key2+1)"
                     disabled="ctrl.disabled" removable="!ctrl.disabled" subtitle="true" collapsible="true">
            <h5 class="md-subhead">Basics</h5>
            <div flex="100" layout="row" class="md-padding">
                <div flex="33">
                    <md-input-container style="width:100%">
                        <label>Label</label>
                        <input ng-model="property.properties.label" required ng-disabled="ctrl.disabled">
                    </md-input-container>
                </div>
                <div flex="67">
                    <md-input-container style="width:100%">
                        <label>Description</label>
                        <input ng-model="property.properties.description" required ng-disabled="ctrl.disabled">
                    </md-input-container>
                </div>
            </div>
            <md-divider style="border-top-color:rgba(63, 81, 181, 0.5)"></md-divider>
            <h5 class="md-subhead">Runtime Settings</h5>
            <div flex="100" layout-fill layout="column" class="md-padding">
                <div flex="100">
                    <md-input-container style="width:100%">
                        <h5>Runtime Name</h5>
                        <input ng-model="property.properties.runtimeName" required ng-disabled="ctrl.disabled">
                    </md-input-container>
                </div>
                <div flex="100">
                    <datatype-property runtime-type="property.properties.runtimeType" dp-mode="capability"
                                       disabled="ctrl.disabled"></datatype-property>
                </div>
                <div flex="100">
                    <domain-property property="property.properties.domainProperties[0]" disabled="ctrl.disabled"></domain-property>
                </div>
            </div>
            <advanced-settings index="$index">
                <md-divider style="border-top-color:rgba(63, 81, 181, 0.5)"></md-divider>
                <h3 class="md-subhead">Measurement Unit</h3>
                <div flex="100" layout="row">
                    <measurement-unit disabled="ctrl.disabled" property="property.properties.measurementUnit"
                                      style="width:100%;"></measurement-unit>
                </div>

                <md-divider style="border-top-color:rgba(63, 81, 181, 0.5)"></md-divider>
                <h3 class="md-subhead">Value Specification</h3>
                <div flex="100" layout="row">
                    <value-specification property="property.properties.valueSpecification"
                                         runtime-type="property.properties.runtimeType" disabled="ctrl.disabled"
                                         style="width:100%;"></value-specification>
                </div>

                <md-divider style="border-top-color:rgba(63, 81, 181, 0.5)"></md-divider>
                <h3 class="md-subhead">Property qualities</h3>
                <div flex="100" layout="row">
                    <property-quality-definitions property="property.properties.eventPropertyQualities"
                                                  disabled="ctrl.disabled"
                                                  style="width:100%"></property-quality-definitions>
                </div>
            </advanced-settings>
        </collapsible>
    </div>
    <div ng-if="ctrl.properties.length == 0">No event properties configured yet.</div>
    <md-button class="md-accent" ng-disabled="ctrl.disabled" ng-click="ctrl.addProperty(ctrl.properties)">Add Property</md-button>
</div>