<div flex layout="column">
	<md-input-container>
	 	<label>Internal Name</label>
		<input ng-model="ctrl.property.internalName" ng-disabled="ctrl.disabled" >
	</md-input-container>
	<md-input-container>
		    	<label>Label</label>
		        <input ng-model="ctrl.property.label" ng-disabled="ctrl.disabled" >
	</md-input-container>
	<md-input-container>
		    	<label>Description</label>
		        <input ng-model="ctrl.property.description" ng-disabled="ctrl.disabled" >
	</md-input-container>
</div>