<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column" class="form-field-small">
    <h5>Correlation Plot Type</h5>
    <mat-form-field
        appearance="outline"
        class="marginColorField"
        color="accent"
        fxFlex="35"
    >
        <mat-select
            [(value)]="
                currentlyConfiguredWidget.visualizationConfig.displayType
            "
            (selectionChange)="updateDisplayType($event.value)"
        >
            <mat-option [value]="'Scatter'">Scatter</mat-option>
            <mat-option [value]="'Density'">Density</mat-option>
        </mat-select>
    </mat-form-field>
    <h5>First Field</h5>
    <sp-select-property
        [availableProperties]="fieldProvider.numericFields"
        [selectedProperty]="
            currentlyConfiguredWidget.visualizationConfig.firstField
        "
        (changeSelectedProperty)="updateFirstField($event)"
    >
    </sp-select-property>
    <h5>Second Field</h5>
    <sp-select-property
        [availableProperties]="fieldProvider.numericFields"
        [selectedProperty]="
            currentlyConfiguredWidget.visualizationConfig.secondField
        "
        (changeSelectedProperty)="updateSecondField($event)"
    >
    </sp-select-property>
</div>
