<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        <h5><b>Existing Endpoints</b></h5>
        <div>
            <div
                *ngFor="
                    let rdfEndpoint of rdfEndpoints
                        | orderBy: 'asc' : 'endpointUrl'
                "
            >
                <div
                    layout="row"
                    class="md-with-secondary"
                    *ngIf="rdfEndpoint._id !== undefined"
                >
                    <div
                        class="md-list-item-text"
                        fxFlex="80"
                        fxLayout="column"
                    >
                        {{ rdfEndpoint.endpointUrl }}
                    </div>
                    <div
                        class="md-list-item-text"
                        fxFlex="20"
                        fxLayout="column"
                    >
                        <button
                            mat-button
                            mat-flat-button
                            (click)="removeRdfEndpoint(rdfEndpoint._id)"
                        >
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="addSelected">
                <div fxLayout="row" class="md-with-secondary">
                    <div
                        class="md-list-item-text"
                        fxFlex="80"
                        fxLayout="column"
                    >
                        <mat-form-field>
                            <mat-label>Endpoint URL</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="newEndpoint.endpointUrl"
                            />
                        </mat-form-field>
                    </div>
                    <div
                        class="md-list-item-text"
                        fxFlex="20"
                        fxlayout="column"
                    >
                        <button
                            mat-button
                            mat-flat-button
                            (click)="addRdfEndpoint(newEndpoint)"
                        >
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px">
            <button
                mat-button
                mat-raised-button
                color="accent"
                (click)="showAddInput()"
            >
                Add Endpoint
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-right">
        <button
            mat-button
            mat-raised-button
            class="mat-basic"
            (click)="close()"
        >
            Close
        </button>
    </div>
</div>
