<md-dialog aria-label="Installation" flex="60" class="colored-frame">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Installation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div>
            <div flex="100" class="md-dialog-content" style="padding:20px;" ng-show="ctrl.page == 'preview'">
                <h4>You are about to {{ctrl.install ? 'install' : 'uninstall'}} the following elements:</h4>
                <div ng-repeat="endpointItem in ctrl.endpointItemsToInstall">
                    <h5>{{endpointItem.name}}</h5>
                </div>
                <h5><b>Press 'Next' to start the process.</b></h5>
            </div>
            <div flex="100" class="md-dialog-content" style="padding:20px;" ng-show="ctrl.page == 'installation'">
                <div ng-repeat="status in ctrl.installationStatus">
                    <h4>{{ctrl.install ? 'Installing' : 'Uninstalling'}} {{status.id+1}} of {{ctrl.endpointItemsToInstall.length}} ({{status.name}})...{{status.status}}</h4>
                    <div>
                        <div flex layout="column" ng-show="status.details">
                            <b>More Details:</b>
                            <div class="md-padding"><i class="fa fa-terminal">{{status.details}}</i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <md-dialog-actions layout="row">
            <sp-button sp-button-gray ng-click="ctrl.cancel()">
                Cancel
            </sp-button>
            <sp-button sp-button-blue ng-disabled="ctrl.installationRunning" ng-click="ctrl.next()">
                {{ctrl.nextButton}}
            </sp-button>
        </md-dialog-actions>
    </form>
</md-dialog>