<md-toolbar class="md-primary md-hue-2 top-nav">
    <div class="md-toolbar-tools">
        <div flex="40" layout layout-align="start center">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" ng-show="authenticated">
            <i class="material-icons md-36">menu</i>
            </md-button>
            <h1 class="md-toolbar-tools">
                <div class="sp-darkblue"
                     style="align-items: left;padding:5px;border-radius:0px;margin-right:15px;position:relative;left:20px;"><img
                        alt="icon" src="img/sp/sp-logo-right-white.png" style="height:28px;">
                </div>
                <div class="sp-darkblue"
                     style="color:white;padding: 5px 5px;font-size:15px">
                </div>
            </h1>
        </div>
        <div flex="20" layout layout-align="center center" class="current-nav-page-box sp-darkblue-text">
            <div class="current-nav-page-content">
                <h4 style="margin-top:-10px;">{{activePage}}</h4>
            </div>
        </div>
        <span flex></span>
        <div flex="40" layout layout-align="end center" ng-show="authenticated">
            <md-button ng-click="openDocumentation()" style="min-width:0px;">
                <md-icon md-svg-icon="action:ic_help_24px" aria-label="Tutorial" style="color:white;"></md-icon>
            </md-button>
            <md-button ng-click="logout()" style="min-width:0px;">
                <md-icon md-svg-icon="action:ic_exit_to_app_24px" aria-label="Logout"></md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>


<md-sidenav flex layout="column" class="md-sidenav-left" md-component-id="left" ng-show="authenticated">
    <md-toolbar class="md-tall md-hue-3">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <div layout layout-sm="column">
                <div class="useravatar" user="userInfo"></div>
                <div style="color:white;margin-left:10px; margin-right:10px;">{{email}}</div>
            </div>
            <div style="margin-top:20px;">
                <md-button style="background:rgb(63,81,181);color:white;" class="md-accent" ng-click="logout()">Logout
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in menu" role="link" ng-click="$parent.go(item.link)">

            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>

        </md-list-item>
        <md-list-item class="md-2-line" role="link" ng-click="$parent.go('streampipes.notifications')">
            <md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Notifications"></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">Notifications  <span class="sidebar-badge">{{unreadNotifications.length}}</span></span>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Management</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="item in admin" role="link" ng-click="$parent.go(item.link)">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>
        </md-list-item>
        <!--<md-divider></md-divider>-->
        <!--<md-subheader class="md-no-sticky">Help</md-subheader>-->
        <!--<md-list-item class="md-2-line" role="link" ng-click="$parent.go('tutorial')">-->
        <!--<md-icon md-svg-icon="action:ic_help_24px" aria-label="Tutorial"></md-icon>-->
        <!--<div class="md-list-item-text">-->
        <!--<span class="md-body-2">Tutorial</span>-->
        <!--</div>-->
        <!--</md-list-item>-->
        <!--<md-list-item class="md-2-line" role="link" ng-click="$parent.go('documentation')">-->
        <!--<md-icon md-svg-icon="action:ic_description_24px" aria-label="Documentation"></md-icon>-->
        <!--<div class="md-list-item-text">-->
        <!--<span class="md-body-2">Documentation</span>-->
        <!--</div>-->
        <!--</md-list-item>-->
    </md-list>


</md-sidenav>
