<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
-->
<div class="move-asset-content" fxLayout="column">
    <p class="move-intro">
        {{ 'Select the asset that will become the new parent.' | translate }}
    </p>
    <div class="tree-section">
        <mat-tree
            class="move-asset-tree"
            [dataSource]="dataSource"
            [treeControl]="treeControl"
        >
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <button
                    mat-flat-button
                    class="btn-secondary tree-node"
                    [attr.data-cy]="'move-asset-target-' + node.assetName"
                    type="button"
                    (click)="selectTarget(node)"
                    [class.selected-target]="
                        selectedTarget?.assetId === node.assetId
                    "
                >
                    <mat-icon aria-hidden="true">account_tree</mat-icon>
                    <span>{{ node.assetName }}</span>
                </button>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="tree-node-row">
                    <button
                        mat-icon-button
                        type="button"
                        [attr.aria-label]="'Toggle ' + node.assetName"
                        (click)="toggleAssetTree(node)"
                    >
                        <mat-icon aria-hidden="true">{{
                            treeControl.isExpanded(node)
                                ? 'expand_more'
                                : 'chevron_right'
                        }}</mat-icon>
                    </button>
                    <button
                        mat-flat-button
                        class="btn-secondary tree-node"
                        [attr.data-cy]="'move-asset-target-' + node.assetName"
                        type="button"
                        (click)="selectTarget(node); toggleAssetTree(node)"
                        [class.selected-target]="
                            selectedTarget?.assetId === node.assetId
                        "
                    >
                        <mat-icon aria-hidden="true">account_tree</mat-icon>
                        <span>{{ node.assetName }}</span>
                    </button>
                </div>
                <div
                    [class.tree-invisible]="!treeControl.isExpanded(node)"
                    role="group"
                >
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </div>
    @if (selectedTargetAsset && !sitesAreConsistent()) {
        <p class="site-warning" role="alert" data-cy="move-asset-site-warning">
            <mat-icon aria-hidden="true">warning</mat-icon>
            <span>{{
                'Sites do not match. The site of the moved asset will be removed.'
                    | translate
            }}</span>
        </p>
    }
</div>

<div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="var(--space-sm)"
    class="dialog-actions"
>
    <button
        mat-flat-button
        class="btn-secondary"
        type="button"
        data-cy="move-asset-cancel"
        (click)="cancel()"
    >
        {{ 'Cancel' | translate }}
    </button>
    <button
        mat-flat-button
        color="accent"
        type="button"
        [disabled]="!selectedTarget"
        data-cy="move-asset-save"
        (click)="save()"
    >
        {{ 'Save' | translate }}
    </button>
</div>
