<div data-cy="sp-connect-adapter-success-live-preview">
    <p>Here is a preview of your data:</p>
    <table mat-table [dataSource]="runtimeData">
        <ng-container matColumnDef="runtimeName">
            <th mat-header-cell *matHeaderCellDef>
                <strong>Runtime Name</strong>
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.runtimeName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef><strong>Value</strong></th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isImage(element.runtimeName)">
                    <img
                        src="data:image/png;base64,{{ element.value }}"
                        style="max-width: 150px"
                    />
                </ng-container>
                <ng-container *ngIf="isTimestamp(element.runtimeName)">
                    {{ element.value | date: 'yyyy-MM-dd HH:mm:ss ' }}
                </ng-container>
                <ng-container *ngIf="hasNoDomainProperty(element.runtimeName)">
                    {{ element.value }}
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
