<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-visualization-config-outer
    [configurationValid]="
        currentlyConfiguredWidget.visualizationConfig.configurationValid
    "
>
    <sp-configuration-box title="Field">
        <sp-select-property
            [availableProperties]="fieldProvider.allFields"
            [selectedProperty]="
                currentlyConfiguredWidget.visualizationConfig.selectedProperty
            "
            (changeSelectedProperty)="setSelectedProperty($event)"
        >
        </sp-select-property>
    </sp-configuration-box>
    <sp-configuration-box title="Settings">
        <div fxLayoutGap="10px" fxLayout="column">
            <mat-checkbox
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig.autoBin
                "
                (change)="triggerViewRefresh()"
            >
                Auto-compute number of bins
            </mat-checkbox>
            <mat-form-field
                fxFlex="100"
                color="accent"
                appearance="outline"
                *ngIf="!currentlyConfiguredWidget.visualizationConfig.autoBin"
            >
                <mat-label><span>Number of bins</span></mat-label>
                <input
                    [(ngModel)]="
                        currentlyConfiguredWidget.visualizationConfig
                            .numberOfBins
                    "
                    matInput
                    (input)="onNumBinChange($event.target.value)"
                />
            </mat-form-field>
            <mat-checkbox
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig.autoDomain
                "
                (change)="triggerViewRefresh()"
            >
                All values
            </mat-checkbox>
            <mat-form-field
                fxFlex="100"
                color="accent"
                appearance="outline"
                *ngIf="
                    !currentlyConfiguredWidget.visualizationConfig.autoDomain
                "
            >
                <mat-label><span>Minimum value</span></mat-label>
                <input
                    [(ngModel)]="
                        currentlyConfiguredWidget.visualizationConfig.domainMin
                    "
                    matInput
                    (input)="onDomainMinChange($event.target.value)"
                />
            </mat-form-field>
            <mat-form-field
                fxFlex="100"
                color="accent"
                appearance="outline"
                *ngIf="
                    !currentlyConfiguredWidget.visualizationConfig.autoDomain
                "
            >
                <mat-label><span>Maximum value</span></mat-label>
                <input
                    [(ngModel)]="
                        currentlyConfiguredWidget.visualizationConfig.domainMax
                    "
                    matInput
                    (input)="onDomainMaxChange($event.target.value)"
                />
            </mat-form-field>
        </div>
    </sp-configuration-box>
</sp-visualization-config-outer>
