<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column" fxFlex="100" class="page-container page-container-padding page-container-connect">
    <div fxLayout="row" style="padding:0px;background-color:#f6f6f6;">
        <div fxLayout="fill" style="line-height:24px;border-bottom:1px solid #ccc">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndexChange($event)">
                <mat-tab label="Data Marketplace">
                </mat-tab>
                <mat-tab id="all-adapters" label="All Adapters">
                </mat-tab>
                <mat-tab id="uploaded-files" label="Files">
                </mat-tab>
            </mat-tab-group>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center" style="padding-left:10px;padding-right: 50px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc"
            *ngIf="selectedIndex === 0 && newAdapterFromDescription === undefined">
            <button mat-icon-button id="startAdapterTutorial3" (click)="startAdapterTutorial3()" matTooltip="Tutorial: Generic Adapter">
                <i class="material-icons">
                    school
                </i>
            </button>
        </div>
    </div>

    <div class="fixed-height" fxLayout="row" class="data-marketplace-options">

        <div class="data-marketplace-options-item" fxLayoutAlign="start center" fxLayout="row">
            <mat-icon>search</mat-icon>

            <mat-form-field class="form-style">
                <input matInput placeholder="Find Element" value="" (input)="updateFilterTerm($event.target.value)"
                    name="something">
            </mat-form-field>
        </div>
        <div class="data-marketplace-options-item">
            <mat-form-field>
                <mat-select [(value)]="selectedType" (selectionChange)="filterAdapter($event)">
                    <mat-option *ngFor="let type of adapterTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="data-marketplace-options-item">
            <mat-form-field>
                <mat-select [(value)]="selectedCategory" (selectionChange)="filterAdapter($event)">
                    <mat-option *ngFor="let category of adapterCategories" [value]="category.code">
                        {{category.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <span fxFlex></span>

        <mat-icon class="icon-style" matTooltip="Download All Adapter Templates" (click)="downloadAllAdapterTemplates()" style="margin-right: 15px; cursor: pointer;">cloud_download</mat-icon>
        <mat-icon class="icon-style" matTooltip="Upload Adapter Templates" (click)="uploadAdapterTemplates()" style="margin-right: 15px; cursor: pointer;">cloud_upload</mat-icon>

    </div>

    <div class="container-fluid marketplace-container">
        <div *ngIf="selectedIndex === 0">

            <div *ngIf="newAdapterFromDescription===undefined" fxLayout="row wrap" fxLayoutAlign="start stretch" class="adapter-description-container">
                <sp-adapter-description attr.id="{{adapterDescription.name.replace(' ', '_')}}" class="adapter-description"
                    fxFlex="33" (click)="selectAdapter(adapterDescription)" *ngFor="let adapterDescription of filteredAdapterDescriptions | filter:filterTerm"
                    [adapter]="adapterDescription" (updateAdapterEmitter)="updateDescriptionsAndRunningAdatpers()"></sp-adapter-description>
            </div>


            <div class="new-adapter-container" fxFlex="100" fxLayout="row" fxLayoutAlign="start start" *ngIf="newAdapterFromDescription!==undefined">
                <sp-new-adapter fxFlex="100" (removeSelectionEmitter)="removeSelection($event)" [adapter]="newAdapterFromDescription"
                    (updateAdapterEmitter)="updateDescriptionsAndRunningAdatpers()"></sp-new-adapter>
            </div>

        </div>
        <div *ngIf="selectedIndex === 1">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="adapter-container">
                <sp-adapter-description class="adapter-description" fxFlex="33" *ngFor="let adapter of filteredAdapters | filter:filterTerm"
                    [adapter]="adapter" (createTemplateEmitter)="templateFromRunningAdapter(adapter)"
                    (updateAdapterEmitter)="updateDescriptionsAndRunningAdatpers()"></sp-adapter-description>
            </div>
        </div>
        <div *ngIf="selectedIndex === 2">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="adapter-container">
                <sp-file-management fxFlex="100" fxLayout="column"></sp-file-management>
            </div>
        </div>
    </div>
</div>