<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

@if (configuredWidget) {
    <div class="chart-header-actions">
        @if (editMode) {
            <button
                mat-flat-button
                [matTooltip]="(createMode ? 'Create' : 'Save') | translate"
                (click)="saveDataViewEmitter.emit()"
                data-cy="save-chart-btn"
            >
                <mat-icon>save</mat-icon>
                {{ (createMode ? 'Create' : 'Save') | translate }}
            </button>
        }
        @if (editMode || timeRangeVisible) {
            <sp-time-range-selector
                appearance="emphasized"
                (dateRangeEmitter)="updateDateRangeEmitter.emit($event)"
                [timeSettings]="timeSettings"
            ></sp-time-range-selector>
        }
        @if (
            editMode ||
            (configuredWidget.elementId && hasDataExplorerWritePrivileges)
        ) {
            <button
                mat-icon-button
                [matMenuTriggerFor]="optMenu"
                [attr.aria-label]="'Options' | translate"
                data-cy="options-chart"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        }
        <mat-menu #optMenu="matMenu">
            @if (editMode) {
                <button
                    mat-menu-item
                    (click)="downloadFileEmitter.emit()"
                    data-cy="data-view-data-download-btn"
                >
                    <mat-icon>get_app</mat-icon>
                    <span>{{ 'Download data' | translate }}</span>
                </button>
            }
            @if (configuredWidget.elementId && hasDataExplorerWritePrivileges) {
                @if (editMode) {
                    <button
                        mat-menu-item
                        (click)="manageChartEmitter.emit()"
                        data-cy="manage-chart-btn"
                    >
                        <mat-icon>settings</mat-icon>
                        <span>{{ 'Manage chart' | translate }}</span>
                    </button>
                }
                <button mat-menu-item (click)="deleteChartEmitter.emit()">
                    <mat-icon>clear</mat-icon>
                    <span>{{ 'Delete Chart' | translate }}</span>
                </button>
            }
        </mat-menu>
    </div>
}
