<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<mat-toolbar class="toolbar">
    <div class="sp-toolbar" fxLayout fxLayoutAlign="start center">
        <sp-breadcrumb class="toolbar-breadcrumb"></sp-breadcrumb>
        @if (authenticated) {
            <div class="toolbar-actions" fxLayout fxLayoutAlign="end center">
                <sp-asset-browser-toolbar></sp-asset-browser-toolbar>
                <button
                    mat-icon-button
                    class="account-trigger"
                    [class.sp-navbar-icon-button-selected]="
                        accountMenuOpen.menuOpen
                    "
                    [attr.aria-label]="'User preferences' | translate"
                    [attr.aria-expanded]="accountMenuOpen.menuOpen"
                    [matMenuTriggerFor]="menu"
                    #accountMenuOpen="matMenuTrigger"
                    [matTooltip]="'User preferences' | translate"
                    matTooltipPosition="below"
                    data-cy="sp-user-preferences"
                >
                    <mat-icon aria-hidden="true" class="sp-navbar-icon"
                        >account_circle</mat-icon
                    >
                </button>
                <mat-menu #menu="matMenu" id="account" class="toolbar-menu">
                    <div class="account-summary">
                        <span class="account-avatar" aria-hidden="true">
                            <mat-icon>account_circle</mat-icon>
                        </span>
                        <span class="account-copy">
                            <span class="account-label">{{
                                'Account' | translate
                            }}</span>
                            <span class="current-user" [title]="userEmail">{{
                                userEmail
                            }}</span>
                        </span>
                    </div>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="openProfile()">
                        <mat-icon aria-hidden="true">perm_identity</mat-icon>
                        <span>{{ 'Profile' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="openHelp()">
                        <mat-icon aria-hidden="true">help</mat-icon>
                        <span>{{ 'Help' | translate }}</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button
                        mat-menu-item
                        id="sp_logout"
                        (click)="logout()"
                        data-cy="sp-logout"
                    >
                        <mat-icon aria-hidden="true">exit_to_app</mat-icon>
                        <span>{{ 'Logout' | translate }}</span>
                    </button>
                </mat-menu>
            </div>
        }
    </div>
</mat-toolbar>
