<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<mat-toolbar class="md-primary md-hue-2 top-nav" color="primary">
    <div class="md-toolbar-tools" style="height:50px;max-height:50px;width:100%;">
        <div fxFlex="60" fxLayout fxLayoutAlign="start center">
            <div class="md-toolbar-tools" style="height:50px;max-height:50px;" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div style="padding:5px;border-radius:0px;margin-right:15px;position:relative;left:20px;">
                    <img alt="icon" src="../../../../assets/img/sp/sp-logo-right-white.png" style="height:28px;">
                </div>
                <div style="padding: 5px 5px;font-size:15px;margin-left:10px;">
                    <h4 style="margin-top:12px;font-size:12pt;font-weight:bold;">{{activePageName}}</h4>
                </div>
            </div>
        </div>
        <span fxFlex></span>
        <div fxFlex="40" fxLayout fxLayoutAlign="end center" *ngIf="authenticated" style="height:100%;">
            <div>
                <mat-slide-toggle color="accent" [formControl]="appearanceControl">Dark Mode</mat-slide-toggle>
            </div>
            <div style="padding: 5px 5px;margin-left:10px;font-size:12pt;">
                <span style="margin-top:12px;font-weight:bold;">version: </span><span style="font-weight: normal;" *ngIf="versionInfo">{{versionInfo.backendVersion}}</span>
            </div>
            <div style="height:100%;">
                <div [ngClass]="feedbackOpen.menuOpen ? '' : 'sp-darkblue'" fxLayout fxLayoutAlign="center center" style="height: 100%;">
                    <button mat-button mat-icon-button
                            [matMenuTriggerFor]="feedbackMenu"
                            #feedbackOpen="matMenuTrigger"
                            matTooltip="Feedback" matTooltipPosition="below"
                            [ngClass]="feedbackOpen.menuOpen ? 'sp-icon-button-no-hover' : 'sp-icon-button'" style="min-width:0px;" fxLayout fxLayoutAlign="center center">
                        <i [ngClass]="feedbackOpen.menuOpen ? 'sp-darkblue-text' : ''" class="material-icons">feedback</i>
                    </button>
                </div>
            </div>
            <mat-menu #feedbackMenu="matMenu" style="max-width: none;" class="feedback-menu-content">
                <feedback (closeFeedbackEmitter)="closeFeedbackWindow()"></feedback>
            </mat-menu>
            <div style="height:100%;">
                <div [ngClass]="accountMenuOpen.menuOpen ? '' : 'sp-darkblue'" fxLayout fxLayoutAlign="center center" style="height: 100%;">
                    <button mat-button mat-icon-button
                            fxLayout fxLayoutAlign="center center"
                            [ngClass]="accountMenuOpen.menuOpen ? 'sp-icon-button-no-hover' : 'sp-icon-button'" style="min-width:0px;"
                            [matMenuTriggerFor]="menu"
                            #accountMenuOpen="matMenuTrigger"
                            matTooltip="User Preferences" matTooltipPosition="below"
                            data-cy="sp-user-preferences">
                        <i [ngClass]="accountMenuOpen.menuOpen ? 'sp-darkblue' : ''" class="material-icons">account_circle</i>
                    </button>
                </div>
            </div>
            <mat-menu #menu="matMenu" id="account">
                <div class="current-user">
                    {{userEmail}}
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="openProfile()" style="min-width:0px;">
                    <mat-icon aria-label="Info">perm_identity</mat-icon>
                    Profile
                </button>
                <button mat-menu-item (click)="openInfo()" style="min-width:0px;">
                    <mat-icon aria-label="Info">help</mat-icon>
                    Info
                </button>
                <button mat-menu-item (click)="openDocumentation()"
                           style="min-width:0px;">
                    <mat-icon aria-label="Documentation">description</mat-icon>
                    Documentation
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item id="sp_logout" (click)="logout()"
                           style="min-width:0px;"
                        data-cy="sp-logout">
                    <mat-icon aria-label="Logout">exit_to_app</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
