<div class="header" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxFlex="100">
        <div fxLayoutAlign="start" fxFlex="80">
            <b>
                {{getLabel()}}
            </b>
        </div>
        <div fxFlex="20" fxLayoutAlign="end">
            <button mat-button (click)=OnClickDeleteProperty()>
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-button (click)=OnClickOpen()>
                <div *ngIf=open>
                    <mat-icon>expand_less</mat-icon>
                </div>
                <div *ngIf=!open>
                    <mat-icon>expand_more</mat-icon>
                </div>
            </button>
        </div>
    </div>
</div>
<div class="divBorder" [hidden]=!open>
    <app-event-property [(property)]="property" [domainPropertyGuess]="domainPropertyGuess"></app-event-property>

    <mat-form-field class="doubleWidth">
        <mat-select placeholder="Runtime Type" [(ngModel)]="property.runtimeType">
            <mat-option *ngFor="let dataType of runtimeDataTypes" [value]="dataType.url">
                {{ dataType.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- TODO FIX this -->
    <!--<form [formGroup]="propertyPrimitivForm " novalidate>-->
    <!--<div fxLayout="row" fxLayoutAlign="start">-->
    <!--<div class="form-group">-->
    <!--<select class="form-controll" formControlName="dataType">-->
    <!--<mat-error *ngIf="propertyForm.controls['dataType'].errors?.required && propertyForm.controls['dataType'].touched">-->
    <!--DataTypey is <strong>required</strong>-->
    <!--</mat-error>-->
    <!--<option *ngFor="let dataType of dataTypes" [value]="dataType">{{dataType}}</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!---->
    <!--</form>-->


    <div fxLayout="row" fxLayoutAlign="start">
        <div  class="form-group" fxFlexAlign="center">
            <mat-form-field class="example-full-width" style="margin-right: 10px">
                <input matInput placeholder="Unit"  name="unit" id="unit">
            </mat-form-field>
        </div>
        <button color="primary" mat-button>
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <mat-form-field class="doubleWidth">
            <mat-select placeholder="New Unit">
                <mat-option>
                    Empty
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
</div>

