<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="sp-dialog-container">
    <div class="sp-dialog-content">
        <div fxFlex="100" fxLayout="column" class="p-15">
            <form
                [formGroup]="parentForm"
                fxFlex="100"
                fxLayout="column"
                *ngIf="!operationApplied"
            >
                <div class="general-options-panel" fxLayout="column">
                    <mat-form-field color="accent">
                        <mat-label>New mail address</mat-label>
                        <input
                            formControlName="email"
                            fxFlex
                            matInput
                            required
                        />
                        <mat-error>Must be a valid email address.</mat-error>
                    </mat-form-field>
                    <mat-form-field color="accent">
                        <mat-label>Re-enter mail address</mat-label>
                        <input
                            formControlName="emailConfirm"
                            fxFlex
                            matInput
                            required
                        />
                        <mat-error>Must be a valid email address.</mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="parentForm.hasError('notMatching')"
                        >Email does not match.</mat-error
                    >
                    <mat-form-field color="accent">
                        <mat-label>Enter password</mat-label>
                        <input
                            formControlName="passwordConfirm"
                            fxFlex
                            matInput
                            type="password"
                            required
                        />
                    </mat-form-field>
                </div>
            </form>
            <div *ngIf="operationApplied && error">
                <div>Could not change email address.</div>
                <div>Reason: {{ errorMessage }}</div>
                <button
                    class="mt-20"
                    mat-button
                    mat-raised-button
                    color="accent"
                    (click)="operationApplied = false"
                >
                    Try again
                </button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions">
        <div fxLayout="row">
            <button
                mat-button
                mat-raised-button
                color="accent"
                (click)="update()"
                style="margin-right: 10px"
                [disabled]="!parentForm.valid || operationApplied"
                data-cy="sp-element-edit-user-save"
            >
                <i class="material-icons">save</i
                ><span>&nbsp;Update email</span>
            </button>
            <button
                mat-button
                mat-raised-button
                class="mat-basic"
                (click)="close()"
            >
                Cancel
            </button>
        </div>
    </div>
</div>
