<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="sp-dialog-container">
    <div class="sp-dialog-content">
        <div fxFlex="100" fxLayout="column" class="p-15">
            @if (!operationApplied) {
                <form [formGroup]="parentForm" fxFlex="100" fxLayout="column">
                    <div fxLayout="column">
                        <sp-form-field
                            [level]="3"
                            [label]="'New mail address' | translate"
                        >
                            <mat-form-field>
                                <input
                                    formControlName="email"
                                    fxFlex
                                    matInput
                                    required
                                />
                                <mat-error>{{
                                    'Must be a valid email address.' | translate
                                }}</mat-error>
                            </mat-form-field>
                        </sp-form-field>
                        <sp-form-field
                            [level]="3"
                            [label]="'Re-enter mail address' | translate"
                        >
                            <mat-form-field>
                                <input
                                    formControlName="emailConfirm"
                                    fxFlex
                                    matInput
                                    required
                                />
                                <mat-error>{{
                                    'Must be a valid email address.' | translate
                                }}</mat-error>
                            </mat-form-field>
                        </sp-form-field>
                        @if (parentForm.hasError('notMatching')) {
                            <sp-alert-banner
                                type="error"
                                [title]="'Email does not match.' | translate"
                                [description]="
                                    'Check that you have re-entered the same email address.'
                                "
                            >
                            </sp-alert-banner>
                        }
                        <sp-form-field
                            [level]="3"
                            [label]="'Enter password' | translate"
                        >
                            <mat-form-field>
                                <input
                                    formControlName="passwordConfirm"
                                    fxFlex
                                    matInput
                                    type="password"
                                    required
                                />
                            </mat-form-field>
                        </sp-form-field>
                    </div>
                </form>
            }
            @if (operationApplied && error) {
                <div>
                    <sp-alert-banner
                        type="error"
                        [title]="'Could not change email address.' | translate"
                        [description]="errorMessage"
                    >
                        <div>
                            <button
                                class="mt-20"
                                mat-button
                                mat-flat-button
                                (click)="operationApplied = false"
                            >
                                {{ 'Try again' | translate }}
                            </button>
                        </div>
                    </sp-alert-banner>
                </div>
            }
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions">
        <div fxLayout="row">
            <button
                mat-button
                mat-flat-button
                (click)="update()"
                style="margin-right: 10px"
                [disabled]="!parentForm.valid || operationApplied"
                data-cy="sp-element-edit-user-save"
            >
                <i class="material-icons">save</i
                ><span>&nbsp;{{ 'Update email' | translate }}</span>
            </button>
            <button
                mat-button
                mat-flat-button
                class="mat-basic"
                (click)="close()"
            >
                {{ 'Cancel' | translate }}
            </button>
        </div>
    </div>
</div>
