<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div [formGroup]="parentForm" id="formWrapper">
    <div fxFlex="100" fxLayout="row">
        <mat-form-field color="accent" fxFlex="100">
            <mat-select
                formControlName="{{ fieldName }}"
                [placeholder]="staticProperty.label"
                [attr.data-cy]="fieldName"
            >
                <mat-option
                    *ngFor="
                        let property of availableProperties
                            | displayRecommendedPipe
                                : staticProperty.propertyScope
                                : displayRecommended
                    "
                    [value]="property.propertySelector"
                >
                    {{ property.runtimeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
