::ng-deep .mat-form-field-underline {
    background-color: rgba(27, 24, 98, 0.8);
}


.option {
    border: #202020 solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    height: 50px;
    width: fit-content;
}

.optionName {
    margin-top: -10px;
    margin-left: 8px;
    padding-left: 3px;
    padding-right: 2px;
    width: fit-content;
    background:#fafafa;
}

.container div {
   float: left;
}