<div fxLayout="row" fxLayoutAlign="start stretch" style="margin-top: 10px; margin-left: 5px">
    <mat-form-field style="margin-right: 1px;top: -3px;height: 1px;" appearance="outline">
        <mat-label>Select Data</mat-label>
        <mat-select (selectionChange)="selectKey($event.value)" multiple>
            <mat-option *ngFor="let key of dataKeys" [value]="key" style="background-color: #FFFFFF">
                {{key}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== 'All'" (click)="selectTimeUnit('All')">All</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === 'All'" color="primary" mat-raised-button>All</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '24 Hours'" (click)="selectTimeUnit('24 Hours')">24 Hours</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '24 Hours'"color="primary" mat-raised-button>24 Hours</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Week'" (click)="selectTimeUnit('1 Week')">1 Week</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Week'" color="primary" mat-raised-button>1 Week</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Month'" (click)="selectTimeUnit('1 Month')">1 Month</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Month'" color="primary" mat-raised-button>1 Month</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== '1 Year'" (click)="selectTimeUnit('1 Year')">1 Year</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === '1 Year'" color="primary" mat-raised-button>1 Year</button>

    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit !== 'Custom'" (click)="selectTimeUnit('Custom')">Custom</button>
    <button mat-button mat-stroked-button *ngIf="selectedTimeUnit === 'Custom'" color="primary" mat-raised-button>Custom</button>

</div>



<div class="optionContainer clearfix">

    <div *ngIf="selectedTimeUnit === 'Custom'">
        <div class="option" style="margin-left: 5px">
            <div class="optionName">Start date</div>
            <mat-form-field style="top: -10px">
                <input matInput [matDatepicker]="picker" [(ngModel)]="customStartDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="option" style="margin-left: 5px">
            <div class="optionName">End date</div>
            <mat-form-field style="top: -10px">
                <input matInput [min]="customStartDate" [matDatepicker]="picker2" [(ngModel)]="customEndDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <button mat-icon-button class="reloadIcon" style="margin-left: 5px" color="primary">
            <mat-icon style="font-size: 30px;height: 30px; width: 30px" (click)="loadData()">autorenew</mat-icon>
        </button>

    </div>

    <div *ngIf=false>
        <div class="option" style="margin-left: 5px">
            <div class="optionName">Group Values</div>
            <mat-form-field style="top: -10px">
                <mat-select [(value)]="groupbyUnit">
                    <mat-option style="background-color: #FFFFFF" value="ns">nanoseconds</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="u">microseconds</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="ms">milliseconds</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="s">second</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="m">minute</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="h">hour</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="d">hour</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="w">week</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slider
                    [max]="sliderMax"
                    [min]="sliderMin"
                    [thumbLabel]="true"
                    [step]="1"
                    [(ngModel)]="sliderValue">
            </mat-slider>
        </div>


        <div class="option" style="margin-left: 5px">
            <div class="optionName">Aggregation</div>
            <mat-form-field style="top: -10px">
                <mat-select [(value)]="sad">
                    <mat-option style="background-color: #FFFFFF" value="ns">Min</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="u">Max</mat-option>
                    <mat-option style="background-color: #FFFFFF" value="ms">Mean</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="option" style="margin-left: 5px">
            <div class="optionName">Set Date Range</div>
            <mat-form-field style="margin-right: 5px; top: -10px">
                <input matInput [matDatepicker]="picker" placeholder="Start date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field style=" top: -10px">
                <input matInput [matDatepicker]="picker2" placeholder="End date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>

    </div>

</div>

<sp-lineChart
        [xAxesKey]="xAxesKey"
        [yAxesKeys]="yAxesKeys"
        [data]="data"
        [enableItemsPerPage]="enableItemsPerPage"
        [enablePaging]="enablePaging"
        [currentPage]="currentPage"
        [maxPage]="maxPage"
        [isLoadingData]="isLoadingData"
        (itemPerPageChange)="handleItemsPerPageChange($event)"
        (nextPage)="handleNextPage()"
        (previousPage)="handlePreviousPage()"
        (firstPage)=handleFirstPage()
        (lastPage)="handleLastPage()">
></sp-lineChart>