::ng-deep .mat-form-field-underline {
    background-color: rgba(27, 24, 98, 0.8);
}


.option {
    border: #202020 solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    height: 50px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.optionName {
    margin-top: -10px;
    margin-left: 8px;
    padding-left: 3px;
    padding-right: 2px;
    width: fit-content;
    background:#fafafa;
}

.icon {
    top: 15px;
    border: #202020 solid 1px;
    margin-left: 5px
}

.optionContainer {
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}