<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column" class="form-field-small">
    <h5>Distribution Plot Type</h5>
    <mat-form-field
        appearance="outline"
        class="marginColorField"
        color="accent"
        fxFlex="35"
    >
        <mat-select
            [(value)]="
                currentlyConfiguredWidget.visualizationConfig.displayType
            "
            (selectionChange)="updateDisplayType($event.value)"
        >
            <mat-option [value]="'histogram'">Histogram</mat-option>
            <mat-option [value]="'pie'">Pie</mat-option>
            <mat-option [value]="'heatmap'">Value Heatmap</mat-option>
        </mat-select>
    </mat-form-field>

    <h5>Field</h5>
    <sp-select-property
        [availableProperties]="
            currentlyConfiguredWidget.visualizationConfig.displayType ===
            'heatmap'
                ? fieldProvider.numericFields
                : fieldProvider.allFields
        "
        [selectedProperty]="
            currentlyConfiguredWidget.visualizationConfig.selectedProperty
        "
        (changeSelectedProperty)="setSelectedProperty($event)"
    >
    </sp-select-property>

    <div
        fxLayoutGap="10px"
        fxLayout="column"
        *ngIf="
            currentlyConfiguredWidget.visualizationConfig.displayType ===
            'histogram'
        "
    >
        <mat-checkbox
            [(ngModel)]="currentlyConfiguredWidget.visualizationConfig.autoBin"
            (change)="triggerDataRefresh()"
        >
            Auto-compute number of bins
        </mat-checkbox>
        <mat-form-field
            fxFlex="100"
            color="accent"
            appearance="outline"
            *ngIf="!currentlyConfiguredWidget.visualizationConfig.autoBin"
        >
            <mat-label><span>Number of bins</span></mat-label>
            <input
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig.numberOfBins
                "
                matInput
                (input)="onNumBinChange($event.target.value)"
            />
        </mat-form-field>
        <mat-checkbox
            [(ngModel)]="
                currentlyConfiguredWidget.visualizationConfig.autoDomain
            "
            (change)="triggerViewRefresh()"
        >
            All values
        </mat-checkbox>
        <mat-form-field
            fxFlex="100"
            color="accent"
            appearance="outline"
            *ngIf="!currentlyConfiguredWidget.visualizationConfig.autoDomain"
        >
            <mat-label><span>Minimum value</span></mat-label>
            <input
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig.domainMin
                "
                matInput
                (input)="onDomainMinChange($event.target.value)"
            />
        </mat-form-field>
        <mat-form-field
            fxFlex="100"
            color="accent"
            appearance="outline"
            *ngIf="!currentlyConfiguredWidget.visualizationConfig.autoDomain"
        >
            <mat-label><span>Maximum value</span></mat-label>
            <input
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig.domainMax
                "
                matInput
                (input)="onDomainMaxChange($event.target.value)"
            />
        </mat-form-field>
    </div>

    <h5
        *ngIf="
            currentlyConfiguredWidget.visualizationConfig.displayType ===
                'pie' &&
            currentlyConfiguredWidget.visualizationConfig.selectedProperty
                .fieldCharacteristics.numeric
        "
    >
        Rounding
    </h5>
    <mat-form-field
        appearance="outline"
        class="marginColorField"
        color="accent"
        fxFlex="35"
        *ngIf="
            currentlyConfiguredWidget.visualizationConfig.displayType ===
                'pie' &&
            currentlyConfiguredWidget.visualizationConfig.selectedProperty
                .fieldCharacteristics.numeric
        "
    >
        <mat-select
            [(value)]="
                currentlyConfiguredWidget.visualizationConfig.roundingValue
            "
            (selectionChange)="updateRoundingValue($event.value)"
        >
            <mat-option [value]="100">100</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="0.1">0.1</mat-option>
            <mat-option [value]="0.01">0.01</mat-option>
        </mat-select>
    </mat-form-field>

    <div
        class="mt-10"
        *ngIf="
            currentlyConfiguredWidget.visualizationConfig.displayType ===
            'heatmap'
        "
    >
        <mat-form-field fxFlex="100" color="accent" appearance="outline">
            <mat-label><span>Resolution</span></mat-label>
            <input
                [(ngModel)]="
                    currentlyConfiguredWidget.visualizationConfig.resolution
                "
                matInput
                (input)="onResolutionChange($event.target.value)"
            />
        </mat-form-field>
    </div>
</div>
