<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-view showBackLink="true" [backLinkTarget]="['apps']">
    <ng-container nav>
        <mat-tab-group
            [selectedIndex]="selectedIndex"
            (selectedIndexChange)="selectedIndexChange($event)"
            color="accent"
        >
            <mat-tab label="Asset Dashboards"> </mat-tab>
            <mat-tab id="all-adapters" label="New Asset Dashboard"> </mat-tab>
        </mat-tab-group>
    </ng-container>

    <div fxLayout="column" fxFlex="100">
        <sp-asset-dashboard-overview
            *ngIf="selectedIndex === 0 && !dashboardSelected"
            fxFlex="100"
            (selectedDashboard)="openDashboard($event)"
            (createDashboard)="selectedIndex = 1"
        ></sp-asset-dashboard-overview>
        <sp-view-asset
            fxFlex="100"
            *ngIf="selectedIndex === 0 && dashboardSelected"
            [dashboardConfig]="selectedDashboard"
            (dashboardClosed)="closeDashboard($event)"
            (editDashboardEmitter)="editDashboard($event)"
        ></sp-view-asset>
        <sp-create-asset
            *ngIf="selectedIndex === 1"
            fxFlex="100"
            (dashboardClosed)="closeDashboard($event)"
            [dashboardConfig]="selectedDashboard"
        ></sp-create-asset>
    </div>
</sp-basic-view>
