<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-15">
        @if (currentImportStep === 0) {
            <sp-split-section
                [level]="3"
                [title]="'Upload application package file' | translate"
            >
                <mat-form-field (click)="fileInput.click()" color="accent">
                    <input
                        matInput
                        [placeholder]="'File' | translate"
                        disabled
                        (value)="(fileName)"
                    />
                    <input
                        #fileInput
                        type="file"
                        style="display: none"
                        (change)="handleFileInput($event.target.files)"
                    />
                    <div>
                        {{ fileName }}
                        @if (uploadStatus > 0) {
                            <mat-progress-bar
                                mode="determinate"
                                value="{{ uploadStatus }}"
                                color="accent"
                            >
                            </mat-progress-bar>
                        }
                    </div>
                    <button
                        color="accent"
                        matSuffix
                        mat-button
                        style="min-width: 0px"
                        data-cy="select-upload-file-button"
                    >
                        @if (uploadStatus < 99) {
                            <mat-icon>insert_drive_file </mat-icon>
                        }
                        @if (uploadStatus === 100) {
                            <mat-icon class="green-icon"
                                >check_circle
                            </mat-icon>
                        }
                    </button>
                    @if (!hasInput) {
                        <mat-error>
                            {{ errorMessage }}
                        </mat-error>
                    }
                </mat-form-field>
                @if (uploadError) {
                    <sp-alert-banner
                        type="error"
                        [title]="
                            'Error while uploading application package'
                                | translate
                        "
                        [description]="
                            'Check that the uploaded zip file is a valid export'
                                | translate
                        "
                    >
                    </sp-alert-banner>
                }
            </sp-split-section>
        }
        @if (currentImportStep === 1) {
            <sp-split-section
                [level]="3"
                [outline]="false"
                [title]="'Select resources to import' | translate"
            >
                <div section-actions fxLayoutGap="10px">
                    <button
                        mat-flat-button
                        color="accent"
                        class="small-button"
                        (click)="toggleSelect(true)"
                    >
                        {{ 'Select all' | translate }}
                    </button>
                    <button
                        mat-flat-button
                        class="small-button mat-basic"
                        (click)="toggleSelect(false)"
                    >
                        {{ 'Deselect all' | translate }}
                    </button>
                </div>
                <sp-data-export-item
                    [exportItems]="importConfiguration.assets"
                    [sectionTitle]="'Assets' | translate"
                ></sp-data-export-item>
                <sp-data-export-item
                    [exportItems]="importConfiguration.adapters"
                    [sectionTitle]="'Adapters' | translate"
                ></sp-data-export-item>
                <sp-data-export-item
                    [exportItems]="importConfiguration.dashboards"
                    [sectionTitle]="'Dashboards' | translate"
                ></sp-data-export-item>
                <sp-data-export-item
                    [exportItems]="importConfiguration.dataViews"
                    [sectionTitle]="'Charts' | translate"
                ></sp-data-export-item>
                <sp-data-export-item
                    [exportItems]="importConfiguration.dataSources"
                    [sectionTitle]="'Data Streams' | translate"
                ></sp-data-export-item>
                <sp-data-export-item
                    [exportItems]="importConfiguration.dataLakeMeasures"
                    [sectionTitle]="'Data Lake Storage' | translate"
                ></sp-data-export-item>
                <sp-data-export-item
                    [exportItems]="importConfiguration.files"
                    [sectionTitle]="'Files' | translate"
                ></sp-data-export-item>
                <sp-data-export-item
                    [exportItems]="importConfiguration.pipelines"
                    [sectionTitle]="'Pipelines' | translate"
                ></sp-data-export-item>
                <sp-generic-storage-items
                    [exportItems]="importConfiguration.genericStorageDocuments"
                    [importMode]="true"
                >
                </sp-generic-storage-items>
                @if (currentImportStep === 1) {
                    <sp-split-section
                        [level]="3"
                        [title]="'Import options' | translate"
                    >
                        @if (importConfiguration) {
                            <div fxLayout="column">
                                <mat-checkbox
                                    [(ngModel)]="
                                        importConfiguration.overrideBrokerSettings
                                    "
                                    >{{
                                        'Use broker settings from this instance'
                                            | translate
                                    }}
                                </mat-checkbox>
                                <div class="warning-box">
                                    <mat-checkbox
                                        [(ngModel)]="
                                            importConfiguration.overwriteExistingDocuments
                                        "
                                        >{{
                                            'Update/overwrite existing documents with the same ID (operation may break things)'
                                                | translate
                                        }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        }
                    </sp-split-section>
                }
            </sp-split-section>
        }
        @if (currentImportStep === 2) {
            <div
                fxFlex="100"
                fxLayout="column"
                class="mt-10"
                fxLayoutAlign="center center"
            >
                <mat-spinner [diameter]="50" color="accent"></mat-spinner>
                <h4 class="mt-10">
                    {{ 'Importing resources...' | translate }}
                </h4>
            </div>
        }
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions">
        <div fxLayout="column">
            <div fxLayout="row">
                @if (currentImportStep === 0) {
                    <button
                        mat-button
                        mat-flat-button
                        color="accent"
                        style="margin-right: 10px"
                        (click)="performPreview()"
                        [disabled]="!hasInput"
                        data-cy="next-import-button"
                    >
                        <span>&nbsp;{{ 'Next' | translate }}</span>
                    </button>
                }
                @if (currentImportStep === 1) {
                    <button
                        mat-button
                        mat-flat-button
                        color="accent"
                        style="margin-right: 10px"
                        (click)="performImport()"
                        data-cy="import-button"
                    >
                        <i class="material-icons">file_download</i
                        ><span>&nbsp;{{ 'Import data' | translate }}</span>
                    </button>
                }
                @if (currentImportStep > 0) {
                    <button
                        mat-button
                        mat-flat-button
                        class="mat-basic"
                        style="margin-right: 10px"
                        (click)="back()"
                    >
                        {{ 'Back' | translate }}
                    </button>
                }
                <button
                    mat-button
                    mat-flat-button
                    class="mat-basic"
                    (click)="close()"
                >
                    {{ 'Cancel' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
