<md-list-item layout="row" class="md-with-secondary">
    <md-button flex="10" ng-click="ctrl.startPipeline(ctrl.pipeline._id)" class="md-icon-button"
               ng-disabled="ctrl.starting" ng-if="!ctrl.pipeline.running">
        <md-icon md-svg-icon="av:ic_play_arrow_24px" aria-label="Start"
                 class="md-accent"></md-icon>
        <md-tooltip md-direction="top">
            Start Pipeline
        </md-tooltip>
    </md-button>
    <md-button flex="10" ng-click="ctrl.stopPipeline(ctrl.pipeline._id)" class="md-icon-button"
               ng-disabled="ctrl.stopping" ng-if="ctrl.pipeline.running">
        <md-icon md-svg-icon="av:ic_stop_24px" aria-label="Stop" class="md-accent"></md-icon>
        <md-tooltip md-direction="top">
            Stop Pipeline
        </md-tooltip>
    </md-button>
    <div class="md-list-item-text" flex="35" layout="column">
        <h4 style="margin-bottom:0px;">{{ctrl.pipeline.name}}</h4>
        <h5>{{ctrl.pipeline.description != '' ? ctrl.pipeline.description : '-'}}</h5>
    </div>
    <div class="md-list-item-text" flex="20" layout="column">
        <h5>{{ctrl.pipeline.createdAt | date:'dd.MM.yyyy HH:mm'}}</h5>
    </div>
    <div flex layout="row">
        <span flex flex-order="1" layout="row" layout-align="center center">
            <md-button ng-click="ctrl.showPipelineDetails(ctrl.pipeline._id)" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_search_24px" aria-label="Inspect"
                    class="md-accent"></md-icon>
            <md-tooltip md-direction="top">
                Show Pipeline
            </md-tooltip>
            </md-button>
        </span>
        <span flex flex-order="2" layout="row" layout-align="center center">
            <md-button ng-click="ctrl.modifyPipeline(ctrl.pipeline._id)" class="md-icon-button">
                <md-icon
                    md-svg-icon="editor:ic_mode_edit_24px" aria-label="Modify"
                    class="md-accent">
                </md-icon>
                <md-tooltip md-direction="top">
                Modify Pipeline
            </md-tooltip>
            </md-button>
        </span>
        <span flex flex-order="4" layout="row" layout-align="center center">
            <md-button ng-click="ctrl.deletePipeline($event, ctrl.pipeline._id)" ng-disabled="ctrl.pipeline.running" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_delete_24px"
                    class="md-accent"
                    aria-label="Delete"></md-icon>
                <md-tooltip md-direction="top">
                Delete Pipeline
            </md-tooltip>
            </md-button>
        </span>
        <span flex flex-order="4" layout="row" layout-align="center center">
            <md-button ng-click="ctrl.showLogs(ctrl.pipeline._id)" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_info_24px"
                    class="md-accent"
                    aria-label="Logs"></md-icon>
                <md-tooltip md-direction="top">
                Show Logs
            </md-tooltip>
            </md-button>
        </span>
    </div>
</md-list-item>
