<table datatable="" dt-options="ctrl.dtOptions" class="row-border hover" ng-if="ctrl.pipelines.length > 0">
    <thead>
    <tr>
        <th>Start</th>
        <th>Name</th>
        <th>Last modified</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pipeline in ctrl.pipelines | pipelineCategoryFilter: ctrl.activeCategory | orderBy:'+name'">
        <td>
            <md-button
                    ng-click="ctrl.PipelineOperationsService.startPipeline(pipeline._id, ctrl.toggleRunningOperation, ctrl.refreshPipelines)"
                    class="md-icon-button"
                    ng-disabled="ctrl.starting" ng-if="!pipeline.running">
                <md-icon md-svg-icon="av:ic_play_arrow_24px" aria-label="Start"
                         class="md-accent"></md-icon>
                <md-tooltip md-direction="top">
                    Start Pipeline
                </md-tooltip>
            </md-button>
            <md-button
                    ng-click="ctrl.PipelineOperationsService.stopPipeline(pipeline._id, ctrl.toggleRunningOperation, ctrl.refreshPipelines)"
                    class="md-icon-button"
                    ng-disabled="ctrl.stopping" ng-if="pipeline.running">
                <md-icon md-svg-icon="av:ic_stop_24px" aria-label="Stop" class="md-accent"></md-icon>
                <md-tooltip md-direction="top">
                    Stop Pipeline
                </md-tooltip>
            </md-button>
        </td>
        <td>
            <h4 style="margin-bottom:0px;">{{pipeline.name}}</h4>
            <h5>{{pipeline.description != '' ? pipeline.description : '-'}}</h5>
        </td>
        <td>
            <h5>{{pipeline.createdAt | date:'dd.MM.yyyy HH:mm'}}</h5>
        </td>
        <td>
            <div layout="row">
            <span flex flex-order="1" layout="row" layout-align="center center">
            <md-button ng-click="ctrl.PipelineOperationsService.showPipelineDetails(pipeline._id)"
                       class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_search_24px" aria-label="Inspect"
                    class="md-accent"></md-icon>
            <md-tooltip md-direction="top">
                Show Pipeline
            </md-tooltip>
            </md-button>
        </span>
                <span flex flex-order="2" layout="row" layout-align="center center">
            <md-button ng-click="ctrl.PipelineOperationsService.modifyPipeline(pipeline._id)" class="md-icon-button">
                <md-icon
                        md-svg-icon="editor:ic_mode_edit_24px" aria-label="Modify"
                        class="md-accent">
                </md-icon>
                <md-tooltip md-direction="top">
                Modify Pipeline
            </md-tooltip>
            </md-button>
        </span>
                <span flex flex-order="4" layout="row" layout-align="center center">
            <md-button
                    ng-click="ctrl.PipelineOperationsService.deletePipeline($event, pipeline._id, ctrl.refreshPipelines)"
                    ng-disabled="ctrl.pipeline.running" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_delete_24px"
                    class="md-accent"
                    aria-label="Delete"></md-icon>
                <md-tooltip md-direction="top">
                Delete Pipeline
            </md-tooltip>
            </md-button>
        </span>
                <span flex flex-order="4" layout="row" layout-align="center center">
            <md-button ng-click="ctrl.PipelineOperationsService.showLogs(pipeline._id)" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_info_24px"
                    class="md-accent"
                    aria-label="Logs"></md-icon>
                <md-tooltip md-direction="top">
                Show Logs
            </md-tooltip>
            </md-button>
        </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>

