<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" class="designer-panel-content" fxLayout="column">
    <div fxLayout="row" class="sp-tab-bg designer-panel-header">
        <div fxLayoutAlign="start center" class="designer-panel-title">
            <span> Configure Dashboard </span>
        </div>
    </div>
    <div fxFlex="100" fxLayout="column" class="no-overflow">
        <mat-tab-group
            color="accent"
            fxFlexFill
            class="small-tab-headers mat-tab-fill-height"
        >
            <mat-tab data-cy="designer-panel-data-config" label="Data Views">
                <div class="scroll-tab-content">
                    <sp-data-explorer-data-view-selection
                        (addDataViewEmitter)="addDataViewEmitter.emit($event)"
                    >
                    </sp-data-explorer-data-view-selection>
                </div>
            </mat-tab>
            <mat-tab data-cy="designer-panel-data-config" label="Layout">
                <div class="scroll-tab-content">Layout</div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
