/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

.asset-title {
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Roboto-Bold', sans-serif;
}

.asset-description {
    font-size: 12pt;
}

.asset-metadata {
}

.mt-20 {
    margin-top: 20px;
}

.selected-asset-title {
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Roboto-Bold', sans-serif;
}

.selected-asset-description {
    font-size: 11pt;
}

.selected-asset-metadata {
    margin-top: 30px;
}
