<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="asset-hero" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex class="hero-text">
        <div class="asset-title text-2xl">{{ selectedAsset.assetName }}</div>
        <div class="asset-subtitle text-md">
            {{ getDescription(selectedAsset) }}
        </div>
        <div class="meta-row" fxLayout="row" fxLayoutGap="10px" fxLayoutWrap>
            <sp-label
                [labelText]="selectedAssetType"
                icon="precision_manufacturing"
            >
            </sp-label>
            <sp-view-asset-labels
                [asset]="selectedAsset"
            ></sp-view-asset-labels>
        </div>
    </div>
</div>
