<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-nav-tabs
    [spNavigationItems]="tabs"
    [activeLink]="'monitoring'"
    [showBackLink]="true"
    [backLinkTarget]="['pipelines']"
>
    <div nav fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
        <button
            mat-icon-button
            color="accent"
            class="mr-10"
            matTooltip="Refresh"
            (click)="triggerMetricsUpdate()"
        >
            <i class="material-icons">refresh</i>
        </button>
        <mat-slide-toggle [(ngModel)]="autoRefresh" color="accent"
            >Auto refresh</mat-slide-toggle
        >
    </div>
    <div fxLayout="column" class="page-container-padding" *ngIf="pipeline">
        <div
            fxFlex="100"
            fxLayout="column"
            class="page-container-padding-inner"
        >
            <div
                fxFlex="100"
                *ngIf="!pipeline.running"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <div class="error-message">
                    (monitoring info is only available for running pipelines)
                </div>
                <button
                    mat-button
                    mat-raised-button
                    color="accent"
                    matTooltip="Start Pipeline"
                    matTooltipPosition="above"
                    *ngIf="hasPipelineWritePrivileges"
                    (click)="startPipeline()"
                >
                    <mat-icon>play_arrow</mat-icon>
                    <span>&nbsp;Start pipeline</span>
                </button>
            </div>
            <div
                fxFlex="100"
                *ngIf="pipeline.running && pipelineMonitoringInfoAvailable"
            >
                <sp-pipeline-preview
                    [jspcanvas]="'assembly-preview'"
                    [pipeline]="pipeline"
                    (selectedElementEmitter)="selectElement($event)"
                    style="margin-bottom: 15px"
                    class="md-padding"
                    *ngIf="pipelineAvailable"
                ></sp-pipeline-preview>
                <div
                    *ngFor="let pipelineElement of monitoredElements"
                    fxLayout="column"
                    class="mb-10 mt-10"
                >
                    <sp-basic-inner-panel
                        [panelTitle]="pipelineElement.name"
                        [id]="pipelineElement.elementId"
                    >
                        <div fxFlex="100" fxLayout="row">
                            <div fxFlex="20" fxLayoutAlign="start start">
                                <sp-pipeline-elements-row
                                    style="width: 100%"
                                    [showDescription]="false"
                                    [pipeline]="pipeline"
                                    [element]="pipelineElement"
                                ></sp-pipeline-elements-row>
                            </div>
                            <div fxFlex="80" fxLayoutAlign="start center">
                                <sp-pipeline-element-statistics
                                    [allElements]="allElements"
                                    [pipelineElement]="pipelineElement"
                                    [metricsInfo]="
                                        metricsInfo[pipelineElement.elementId]
                                    "
                                >
                                </sp-pipeline-element-statistics>
                            </div>
                        </div>
                    </sp-basic-inner-panel>
                </div>
            </div>
        </div>
    </div>
</sp-basic-nav-tabs>
