<mat-toolbar>
    <div class="md-toolbar-tools">
        <h2>Save Dashboard</h2>
        <span fxFlex></span>
        <button mat-icon-button (click)="cancel()">
            <i class="material-icons">close</i>
        </button>
    </div>
</mat-toolbar>
<div mat-dialog-content class="md-dialog-content">
    <div flex="100" fxLayout="column">
        <h4>Dashboard Settings</h4>
        <div class="dialog-margin-bottom" fxLayout="column">
        <mat-form-field appearance="outline" class="dialog-margin-bottom">
            <mat-label>Dashboard Name</mat-label>
            <input matInput placeholder="Label" [(ngModel)]="dashboardName">
            <mat-hint>The name of your new asset dashboard</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Label" [(ngModel)]="dashboardDescription">
            <mat-hint>The description of your new asset dashboard</mat-hint>
        </mat-form-field>
        </div>

    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button mat-raised-button class="mat-basic" (click)="cancel()">
        Cancel
    </button>
    <button mat-button mat-raised-button color="primary" (click)="save()">
        Next
    </button>
</div>

