<!--<mat-form-field class="example-full-width">-->
<app-static-url-input *ngIf="isFreeTextStaticProperty(staticProperty) && staticPropertyUtil.asFreeTextStaticProperty(staticProperty).render && staticPropertyUtil.asFreeTextStaticProperty(staticProperty).requiredDomainProperty == xsService.SO_URL "
    (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-url-input>

<app-static-number-input *ngIf="isFreeTextStaticProperty(staticProperty) && staticPropertyUtil.asFreeTextStaticProperty(staticProperty).render && staticPropertyUtil.asFreeTextStaticProperty(staticProperty).requiredDomainProperty == xsService.XS_NUMBER"
    (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-number-input>

<app-static-text-input *ngIf="isFreeTextStaticProperty(staticProperty) && staticPropertyUtil.asFreeTextStaticProperty(staticProperty).render && staticPropertyUtil.asFreeTextStaticProperty (staticProperty).requiredDomainProperty == xsService.XS_STRING1"
    (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-text-input>

<app-static-free-input *ngIf="isFreeTextStaticProperty(staticProperty) && staticPropertyUtil.asFreeTextStaticProperty(staticProperty).render && (staticPropertyUtil.asFreeTextStaticProperty (staticProperty).requiredDomainProperty == '' || !staticPropertyUtil.asFreeTextStaticProperty (staticProperty).requiredDomainProperty) "
    (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-free-input>

<app-static-file-input *ngIf="isFileStaticProperty(staticProperty)"
    (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-file-input>


<app-static-any-input *ngIf="isAnyStaticProperty(staticProperty)"
                      (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty"></app-static-any-input>

<app-static-one-of-input *ngIf="isOneOfStaticProperty(staticProperty)"
                         (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-one-of-input>

<app-static-mapping-unary *ngIf="isMappingPropertyUnary(staticProperty)"
                         [eventSchema]="eventSchema" (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-mapping-unary>

<app-static-mapping-nary *ngIf="isMappingNaryProperty(staticProperty)"
                         (inputEmitter)="valueChange($event)" [staticProperty]="staticProperty">
</app-static-mapping-nary>



