<div *ngFor="let staticProperty of staticProperties">

    <mat-form-field *ngIf="isFreeTextStaticProperty(staticProperty)" class="example-full-width">
        <!--<mat-form-field class="example-full-width">-->
        <input class="example-full-width" matInput [placeholder]="staticProperty.label"
               [(ngModel)]="asFreeTextStaticProperty(staticProperty).value" [formControl]="freeTextFormControl">
    </mat-form-field>

    <mat-form-field *ngIf="isMappingPropertyUnary(staticProperty)" class="example-full-width">
        <!--<mat-form-field class="example-full-width">-->
        <mat-select [placeholder]="staticProperty.label" [formControl]="mappingFormControl">
            <mat-option *ngFor="let eventProperty of dataSet.eventSchema.eventProperties" [value]="{'a': staticProperty, 'b': eventProperty}">
                {{getName(eventProperty)}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>
