<form #propertyForm="ngForm">
  <div fxLayout="row" fxLayoutAlign="start">
    <div class="form-group" fxFlexAlign="center">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Label" class="form-control" name="label" id="label" [(ngModel)]="property.label" >
      </mat-form-field>
    </div>
    <div class="form-group" fxFlexAlign="center">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="RuntimeName" class="form-control" name="runtimename" id="runtimename" [(ngModel)]="property.runTimeName">
      </mat-form-field>
    </div>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Domain Property" class="form-control" name="domainproperty" id="domainproperty" [matAutocomplete]="auto" [(ngModel)]="property.domainProperty">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let propertyGuess of domainPropertyGuess.list" [value]="propertyGuess">
        {{ propertyGuess.domainProperty + propertyGuess.probability}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" class="form-control" name="description" id="description" [(ngModel)]="property.description">
    </mat-form-field>
  </div>

</form>
