<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<sp-basic-view [hideNavbar]="true" [padding]="true">
    <sp-page-header
        [title]="'Select Adapter' | translate"
        [backLinkTarget]="['connect']"
    ></sp-page-header>
    <sp-connect-filter-toolbar
        class="adapter-catalog__filter"
        (filterChangedEmitter)="applyFilter($event)"
    >
    </sp-connect-filter-toolbar>
    <div fxLayout="column" fxFlex="100">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start">
            @if (adapterLoadingError) {
                <div
                    class="container-fluid marketplace-container"
                    fxFlex="100"
                    fxLayoutAlign="center center"
                    fxLayout="row"
                >
                    <h4>
                        Available adapters could not be loaded. Did you start a
                        Connect worker node?
                    </h4>
                </div>
            }
            @if (adaptersLoading) {
                <div
                    class="container-fluid marketplace-container"
                    fxFlex="100"
                    fxLayoutAlign="center center"
                >
                    <sp-spinner
                        [diameter]="20"
                        layout="row"
                        gap="8px"
                        text="Searching for available adapters, please wait..."
                    ></sp-spinner>
                </div>
            }
            @if (!adaptersLoading && !adapterLoadingError) {
                <div class="container-fluid marketplace-container">
                    <div class="adapter-catalog__grid">
                        @for (
                            adapterDescription of adapterDescriptions
                                | adapterFilter: currentFilter;
                            track adapterDescription
                        ) {
                            <sp-adapter-catalog-item
                                attr.id="{{
                                    adapterDescription.name.replaceAll(' ', '_')
                                }}"
                                class="adapter-description"
                                [adapter]="adapterDescription"
                            ></sp-adapter-catalog-item>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</sp-basic-view>
