<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="node">
    @if (isExpandable()) {
        <button
            type="button"
            class="tw"
            (click)="toggle()"
            [attr.aria-expanded]="open()"
            title="Toggle"
        >
            <span class="chev" [class.open]="open()">▸</span>
        </button>
    }

    @if (!isExpandable()) {
        <span class="tw tw--spacer"></span>
    }

    @if (keyLabel !== null) {
        <span class="k">{{ keyLabel }}</span>
    }
    @if (keyLabel !== null) {
        <span class="colon">:</span>
    }

    @if (isExpandable()) {
        <span class="t">{{ typeLabel() }}</span>
        @if (open()) {
            <div class="children">
                @if (isArray()) {
                    @for (
                        item of arrayItems();
                        track trackByIndex(i, item);
                        let i = $index
                    ) {
                        <sp-adapter-event-preview-node
                            [keyLabel]="i"
                            [value]="item"
                            [expanded]="false"
                            [maxStringLength]="maxStringLength"
                            [sortKeys]="sortKeys"
                        />
                    }
                } @else {
                    @for (kv of objectEntries(); track trackByKey($index, kv)) {
                        <sp-adapter-event-preview-node
                            [keyLabel]="kv[0]"
                            [value]="kv[1]"
                            [expanded]="false"
                            [maxStringLength]="maxStringLength"
                            [sortKeys]="sortKeys"
                        />
                    }
                }
            </div>
        }
    } @else {
        <span class="v" [class]="valueClass()">{{ leafText() }}</span>
    }
</div>
