<div fxLayout="column" fxFlex="100" class="page-container-connect">
    <div fxLayout="row" style="padding:0px;background-color:#f6f6f6;">
        <div fxLayout="fill" style="line-height:24px;border-bottom:1px solid #ccc">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndexChange($event)">
                <mat-tab label="Camera Inbound">
                </mat-tab>
                <mat-tab label="Camera Outbound">
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="fixed-height page-container-padding-inner" fxLayout="column" fxFlex="100">
        <div style="width:1200px;height:800px;" #palletContainer id="pallet-container">

        </div>
    </div>
</div>