<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column">
    <div class="pipeline-assembly-options sp-blue-bg">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
            <button mat-button matTooltip="Save Pipeline" [matTooltipPosition]="'above'"
                    style="display:flex;align-items:center;"
                    [disabled]="!PipelineValidationService.pipelineValid"
                    (click)="submit()" type="submit">
                <mat-icon>save</mat-icon>&nbsp;<span>Save pipeline</span>
            </button>
            <button mat-button mat-icon-button matTooltip="Pan" [matTooltipPosition]="'above'"
                    [disabled]="!selectMode"
                    (click)="toggleSelectMode()">
                <i class="material-icons">open_with</i>
            </button>
            <button mat-button mat-icon-button matTooltip="Select" [matTooltipPosition]="'above'"
                    [disabled]="selectMode"
                    (click)="toggleSelectMode()">
                <i class="material-icons">mode_edit</i>
            </button>
            <button mat-button mat-icon-button matTooltip="Zoom In" [matTooltipPosition]="'above'"
                    [disabled]="currentZoomLevel == 1"
                    (click)="zoomIn()">
                <i class="material-icons">zoom_in</i>
            </button>
            <button mat-button mat-icon-button matTooltip="Zoom Out" [matTooltipPosition]="'above'"
                    [disabled]="currentZoomLevel == 0.5"
                    (click)="zoomOut()">
                <i class="material-icons">zoom_out</i>
            </button>
            <button mat-button mat-icon-button matTooltip="Auto Layout" [matTooltipPosition]="'above'"
                    (click)="autoLayout()">
                <i class="material-icons">settings_overscan</i>
            </button>
            <div fxLayout="column" fxLayoutAlign="start center" class="pipeline-cache-block">
                <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row" *ngIf="pipelineCached || pipelineCacheRunning">
                    <div *ngIf="pipelineCached" fxLayout="row" fxLayoutAlign="start center">
                        <mat-spinner [mode]="'indeterminate'" class="mat-spinner-color" [diameter]="15" *ngIf="pipelineCacheRunning"></mat-spinner>
                        <span>&nbsp;{{pipelineCacheRunning ? '&nbsp;Saving pipeline modifications' : 'All pipeline modifications saved.'}}</span>
                    </div>
                </div>
            </div>
            <span fxFlex></span>
            <div style="position:relative;">
                <div *ngIf="!isPipelineAssemblyEmpty()"
                     class="pipeline-validation-summary {{PipelineValidationService.errorMessages.length > 0 ? 'pipeline-validation-summary-error' : ''}}"
                     (click)="toggleErrorMessagesDisplayed()">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <i class="material-icons" *ngIf="PipelineValidationService.errorMessages.length > 0">notifications</i>
                            <i class="material-icons"
                               *ngIf="PipelineValidationService.errorMessages.length === 0">done</i>
                        </div>
                        <div>
                            <span *ngIf="PipelineValidationService.errorMessages.length === 0">Pipeline ok</span>
                            <span *ngIf="PipelineValidationService.errorMessages.length > 0">{{PipelineValidationService.errorMessages.length}} {{PipelineValidationService.errorMessages.length > 1 ? 'hints' : 'hint'}}</span>
                        </div>
                    </div>
                </div>
                <div class="editor-error-notifications"
                     *ngIf="PipelineValidationService.errorMessages.length > 0 && errorMessagesDisplayed">
                    <h5 style="color:darkred">
                        <b>{{PipelineValidationService.errorMessages.length}} {{PipelineValidationService.errorMessages.length == 1 ? "error" : "errors"}}
                            found.</b></h5>
                    <hr/>
                    <div *ngFor="let errorMessage of PipelineValidationService.errorMessages">
                        <b>{{errorMessage.title}}</b>
                        <div>{{errorMessage.content}}</div>
                        <hr/>
                    </div>
                </div>
            </div>
            <button mat-button mat-icon-button
                    [matTooltip]="pipelineCanvasMaximized ? 'Minimize' : 'Maximize'"
                    [matTooltipPosition]="'above'"
                    (click)="toggleCanvasMaximized()">
                <i class="material-icons" *ngIf="!pipelineCanvasMaximized">open_in_full</i>
                <i class="material-icons" *ngIf="pipelineCanvasMaximized">close_fullscreen</i>
            </button>
            <button mat-button mat-icon-button matTooltip="Clear Assembly Area"
                    [matTooltipPosition]="'above'"
                    [disabled]="EditorService.pipelineAssemblyEmpty"
                    (click)="showClearAssemblyConfirmDialog($event)">
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
    <div id="outerAssemblyArea" class="outerAssembly sp-blue-border-nopadding">
        <div id="assembly" class="canvas">
            <pipeline [pipelineValid]="pipelineValid"
                      [canvasId]="'assembly'"
                      [rawPipelineModel]="rawPipelineModel"
                      [allElements]="allElements"
                      [preview]="false"
                      [pipelineCached]="pipelineCached"
                      [pipelineCacheRunning]="pipelineCacheRunning"
                      (pipelineCachedChanged)="pipelineCached=$event"
                      (pipelineCacheRunningChanged)="pipelineCacheRunning=$event"
            ></pipeline>
        </div>
    </div>
</div>
