<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<sp-basic-view
    class="pipeline-assembly__view"
    [hideNavbar]="true"
    [padding]="true"
>
    <sp-page-header
        variant="workspace"
        [title]="originalPipeline?.name || ('New Pipeline' | translate)"
        icon="play_arrow"
        iconColor="var(--color-pipeline)"
        [backLinkTarget]="['pipelines']"
    >
        @if (cloneMode) {
            <sp-label
                pageMeta
                [labelText]="'Clone' | translate"
                tone="neutral"
                size="small"
            ></sp-label>
        }
        <div pageActions class="pipeline-assembly__actions">
            @if (originalPipeline && !!originalPipeline?.running) {
                <button
                    mat-flat-button
                    color="accent"
                    data-cy="sp-editor-save-pipeline"
                    [disabled]="!pipelineValidationService.pipelineValid"
                    (click)="submit({ startPipelineAfterStorage: true })"
                >
                    {{ 'Store and Restart' | translate }}
                </button>
            } @else {
                <sp-split-button
                    dataCy="sp-editor-save-pipeline"
                    [label]="'Store and Start' | translate"
                    icon="save"
                    [actions]="savePipelineActions"
                    [disabled]="!pipelineValidationService.pipelineValid"
                    [menuAriaLabel]="'Select action' | translate"
                    (primaryAction)="
                        submit({ startPipelineAfterStorage: true })
                    "
                    (actionSelected)="
                        submit({
                            startPipelineAfterStorage:
                                $event.action === 'store-and-start',
                        })
                    "
                ></sp-split-button>
            }
            @if (originalPipeline) {
                <button
                    type="button"
                    mat-icon-button
                    [matMenuTriggerFor]="pipelineOptionsMenu"
                    [attr.aria-label]="'Options' | translate"
                    data-cy="options-pipeline"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #pipelineOptionsMenu="matMenu">
                    <button
                        mat-menu-item
                        (click)="managePipeline()"
                        data-cy="manage-pipeline-btn"
                    >
                        <mat-icon>settings</mat-icon>
                        {{ 'Manage pipeline' | translate }}
                    </button>
                    <button
                        mat-menu-item
                        (click)="deletePipeline()"
                        data-cy="delete-pipeline-btn"
                    >
                        <mat-icon>delete</mat-icon>
                        {{ 'Delete pipeline' | translate }}
                    </button>
                </mat-menu>
            }
        </div>
    </sp-page-header>
    <sp-workspace-container>
        <sp-pipeline-assembly-options
            workspaceToolbar
            #assemblyOptionsComponent
            [rawPipelineModel]="rawPipelineModel"
            [pipelineCanvasMetadata]="pipelineCanvasMetadata"
            [allElements]="allElements"
            [jsplumbBridge]="jsplumbBridge"
            [previewModeActive]="previewModeActive"
            (clearAssemblyEmitter)="clearAssembly()"
            (togglePreviewEmitter)="togglePreview()"
            (displayPipelineTemplateEmitter)="displayPipelineTemplate($event)"
        >
            <ng-content select="[editorSearch]"></ng-content>
        </sp-pipeline-assembly-options>
        <div class="pipeline-assembly__workspace" fxLayout="row">
            <div class="pipeline-assembly__palette" fxLayout="column">
                <ng-content select="[editorPalette]"></ng-content>
            </div>
            <div id="outerAssemblyArea" class="outerAssembly">
                @if (rawPipelineModel) {
                    <sp-pipeline-assembly-drawing-area
                        #drawingAreaComponent
                        fxFlex="100"
                        class="pipeline-assembly__drawing"
                        (triggerPipelineCacheUpdateEmitter)="
                            triggerCacheUpdate()
                        "
                        [readonly]="readonly"
                        [allElements]="allElements"
                        [rawPipelineModel]="rawPipelineModel"
                        [pipelineCanvasMetadata]="pipelineCanvasMetadata"
                        [pipelineCanvasMetadataAvailable]="
                            pipelineCanvasMetadataAvailable
                        "
                        [jsplumbBridge]="jsplumbBridge"
                    >
                    </sp-pipeline-assembly-drawing-area>
                }
            </div>
        </div>
    </sp-workspace-container>
</sp-basic-view>
