<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column">
    <div class="pipeline-assembly-options page-container-nav">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
            <button
                mat-button
                mat-raised-button
                color="accent"
                matTooltip="Save Pipeline"
                [matTooltipPosition]="'above'"
                [disabled]="!pipelineValidationService.pipelineValid"
                (click)="submit()"
                type="submit"
                data-cy="sp-editor-save-pipeline"
            >
                <div fxLayoutAlign="start center" fxLayout="row">
                    <i class="material-icons">save</i>
                    <span>&nbsp;Save pipeline</span>
                </div>
            </button>
            <span class="assembly-options-divider"></span>
            <!-- TODO: Use this once copying of elements is supported -->
            <!--            <button mat-button mat-icon-button matTooltip="Pan" [matTooltipPosition]="'above'"-->
            <!--                    [disabled]="!selectMode"-->
            <!--                    (click)="toggleSelectMode()">-->
            <!--                <i class="material-icons">open_with</i>-->
            <!--            </button>-->
            <!--            <button mat-button mat-icon-button matTooltip="Select" [matTooltipPosition]="'above'"-->
            <!--                    [disabled]="selectMode"-->
            <!--                    (click)="toggleSelectMode()">-->
            <!--                <i class="material-icons">mode_edit</i>-->
            <!--            </button>-->
            <button
                mat-button
                color="accent"
                matTooltip="Data Preview"
                [matTooltipPosition]="'above'"
                (click)="triggerPipelinePreview()"
                [disabled]="isPipelineAssemblyEmpty()"
            >
                <div fxLayoutAlign="start center" fxLayout="row">
                    <i class="material-icons">visibility</i>
                    <span *ngIf="!pipelineComponent.previewModeActive"
                        >&nbsp;Enable live preview</span
                    >
                    <span *ngIf="pipelineComponent.previewModeActive"
                        >&nbsp;Disable live preview</span
                    >
                </div>
            </button>
            <span class="assembly-options-divider"></span>
            <button
                color="accent"
                mat-icon-button
                matTooltip="Auto Layout"
                [matTooltipPosition]="'above'"
                (click)="autoLayout()"
            >
                <i class="material-icons">settings_overscan</i>
            </button>
            <button
                color="accent"
                mat-icon-button
                matTooltip="Add pipeline element"
                [matTooltipPosition]="'above'"
                (click)="openDiscoverDialog()"
                data-cy="sp-editor-add-pipeline-element"
            >
                <i class="material-icons">add</i>
            </button>
            <div
                fxLayout="column"
                fxLayoutAlign="start center"
                class="pipeline-cache-block"
            >
                <div
                    fxFlex="100"
                    fxLayoutAlign="start center"
                    fxLayout="row"
                    *ngIf="pipelineCached || pipelineCacheRunning"
                >
                    <div
                        *ngIf="pipelineCached"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                    >
                        <mat-spinner
                            [mode]="'indeterminate'"
                            class="mat-spinner-color"
                            [diameter]="15"
                            *ngIf="pipelineCacheRunning"
                        ></mat-spinner>
                        <span
                            >&nbsp;{{
                                pipelineCacheRunning
                                    ? '&nbsp;Saving pipeline modifications'
                                    : 'All pipeline modifications saved.'
                            }}</span
                        >
                    </div>
                </div>
            </div>
            <span fxFlex></span>
            <button
                color="accent"
                mat-icon-button
                matTooltip="Clear Assembly Area"
                [matTooltipPosition]="'above'"
                [disabled]="editorService.pipelineAssemblyEmpty"
                (click)="showClearAssemblyConfirmDialog($event)"
            >
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
    <div id="outerAssemblyArea" class="outerAssembly assembly-border">
        <div class="pipeline-canvas-outer" #outerCanvas>
            <div class="pipeline-validation-hint">
                <sp-error-hint
                    [displayMessages]="!isPipelineAssemblyEmpty()"
                    [errorMessages]="pipelineValidationService.errorMessages"
                    [validationString]="'Pipeline'"
                >
                </sp-error-hint>
            </div>
            <div class="pan-control">
                <div class="pan-zoom-control-buttons">
                    <div class="pan-zoom-button pan-left" (click)="panLeft()">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </div>
                    <div class="pan-zoom-button pan-right" (click)="panRight()">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                    <div class="pan-zoom-button pan-home" (click)="panHome()">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="pan-zoom-button pan-up" (click)="panUp()">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </div>
                    <div class="pan-zoom-button pan-down" (click)="panDown()">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>
            <div class="zoom-control">
                <div class="pan-zoom-control-buttons">
                    <div class="pan-zoom-button zoom-in" (click)="zoomIn()">
                        <i class="material-icons">zoom_in</i>
                    </div>
                    <mat-divider class="zoom-divider"></mat-divider>
                    <div class="pan-zoom-button zoom-out" (click)="zoomOut()">
                        <i class="material-icons">zoom_out</i>
                    </div>
                </div>
            </div>
            <sp-pipeline
                class="canvas jtk-surface"
                id="assembly"
                #pipelineComponent
                [pipelineValid]="pipelineValid"
                [canvasId]="'assembly'"
                [rawPipelineModel]="rawPipelineModel"
                [allElements]="allElements"
                [preview]="false"
                [pipelineCached]="pipelineCached"
                [pipelineCanvasMetadata]="pipelineCanvasMetadata"
                [pipelineCacheRunning]="pipelineCacheRunning"
                (pipelineCachedChanged)="pipelineCached = $event"
                (pipelineCacheRunningChanged)="pipelineCacheRunning = $event"
                style="position: absolute"
            >
            </sp-pipeline>
        </div>
    </div>
</div>
