/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

ul {
    list-style-type: none;
}

.wrapper {
    display: table;
}
.container {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
}
.container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}
.container div,
.gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}
.container div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.error-message {
    background-color: black;
    color: white;
    padding: 10px;
    width: 95%;
}
:host ::ng-deep .tree-node {
    color: var(--color-default-text);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #000;
    border-radius: 0;
    background: transparent;
    margin: 0;
}
:host ::ng-deep tree-node-expander {
    display: none;
}
:host ::ng-deep .node-content-wrapper {
    flex: 1;
}
:host ::ng-deep .node-content-wrapper:hover {
    background-color: var(--color-bg-2);
}
:host ::ng-deep .node-content-wrapper-active,
.node-content-wrapper-focused {
    background: transparent;
}
:host ::ng-deep .node-drop-slot {
    position: relative;
    /*background: red;*/
    /* padding: 8px 0;*/
    height: 14px !important;
    margin: -7px 0;
    z-index: 1000;
}
:host ::ng-deep .node-drop-slot.is-dragging-over {
    background-color: rgb(27, 20, 100);
    border: none;
}
:host ::ng-deep .tree-node-expanded {
    border-left: 2px dashed black;
}
:host ::ng-deep tree-viewport {
    overflow: hidden;
}

:host ::ng-deep .tree-node-level-1 {
    border: none;
}

:host ::ng-deep .node-content-wrapper-focused,
.node-content-wrapper:hover,
.node-content-wrapper-active,
.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
    background: none !important;
}

.dimension-star {
    margin-left: -27px;
    margin-right: 3px;
}

:host ::ng-deep .node-content-wrapper .dimension-star {
    opacity: 0.2;
}

:host ::ng-deep .node-content-wrapper:hover .dimension-star {
    opacity: 1;
}

:host ::ng-deep .node-content-wrapper mat-checkbox {
    opacity: 0.2;
}

:host ::ng-deep .node-content-wrapper:hover mat-checkbox {
    opacity: 1;
}

.dimension-property {
    color: #ffa23b !important;
    opacity: 1 !important;
}

.historic {
    cursor: pointer;
    color: #ffa23b;
}
.real-time {
    cursor: pointer;
    color: #ffeb3b;
}

.new-adapter-title {
    margin-top: 5px;
}

.configuration-box {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #555;
    border: 1px solid gray;
    padding: 10px 10px 10px 60px;
    margin-left: 20px;
}

.padding {
    padding: 15px;
    margin-bottom: 2%;
}

.stepper-button {
    margin-left: 10px;
}

.disable-editing {
    pointer-events: none !important;
    opacity: 0.5;
}

.add-schema button:disabled {
    color: rgba(0, 0, 0, 0.26);
}

.mt-20 {
    margin-top: 20px;
}
