/*
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements.  See the NOTICE file distributed with
 *   this work for additional information regarding copyright ownership.
 *   The ASF licenses this file to You under the Apache License, Version 2.0
 *   (the "License"); you may not use this file except in compliance with
 *   the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

.h-100 {
    height: 100%;
}

.traffic-light-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.tl-container {
    height: 90%;
    aspect-ratio: 1 / 3;

    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background: #222;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.no-border-container {
    border-radius: 10px 10px 0 0;
}

.light {
    height: auto;
    flex: 0 0 auto;

    width: 96%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    background: #3d3535 repeating-linear-gradient(#333, #443 5px);
}

.light-red,
.light-yellow,
.light-green {
    box-shadow: 0 0 40px;
    z-index: 1;
}

.light-red {
    background: repeating-linear-gradient(#f00, #e00 5px);
    box-shadow: 0 0 40px #f00;
}

.light-yellow {
    background: repeating-linear-gradient(#fd0, #ec0 5px);
    box-shadow: 0 0 40px #fd0;
}

.light-green {
    background: repeating-linear-gradient(#0d0, #0c0 5px);
    box-shadow: 0 0 40px #0d0;
}

.light-value-container {
    background-color: #222;
    border-radius: 10px;
    width: 100%;
}

.light-value {
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #222;
    padding: 10px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
