<div flex layout-fill>
<div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
<div flex="none" layout-wrap layout="row" layout-align="start center" style="padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
<h5>IMPORT ELEMENTS </h5>
</div>
<div layout-fill>
	<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Marketplace" md-on-select="setSelectedTab('MARKETPLACE')"> </md-tab>
			<md-tab label="Import from Endpoint" md-on-select="setSelectedTab('ENDPOINT')"></md-tab> 
			<md-tab label="Import from URL" md-on-select="setSelectedTab('URL')"> </md-tab>
			<md-tab label="Import Pipelines" md-on-select="setSelectedTab('PIPELINES')"> </md-tab>			
	</md-tabs>
</div>
</div>

<div flex layout="row" layout-align="center center">
	<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50">
		<md-content class="md-padding">
		
		<div flex-sm="100" flex-gt-sm="80" layout-sm="column" ng-if="selectedTab === 'MARKETPLACE'">
			<marketplace/>
		</div>
		
		<div flex-sm="100" flex-gt-sm="80" layout-sm="column" ng-if="selectedTab === 'ENDPOINT'">
			<form name="addFromEndpointForm" ng-submit="addFromEndpoint()" role="form">
				<div flex layout="column">
					<md-input-container> <label>Endpoint URL</label> <input
						type="text" ng-model="$parent.endpointUrl" required></input> </md-input-container>
						<md-input-container flex> <md-checkbox 
						ng-model="$parent.marketplace"> Add elements to the marketplace (element will be available to other users) </md-checkbox>
					</md-input-container>
				</div>
				<div class="form-actions">
				<md-button class="md-accent md-raised" type="submit"
					ng-disabled="addFromEndpointForm.$pristine || addFromEndpointForm.$invalid || loading">Add Elements</md-button>
				<md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
				<div ng-show="loading"><h5>This may take up to two minutes.</h5></div>
				</div>
			</form>
		</div>

		<div flex-sm="100" flex-gt-sm="80" layout-sm="column" ng-if="selectedTab === 'URL'">
			<form name="addElementForm" ng-submit="add()" role="form">
				<div flex layout="column">
					<md-input-container> 
						<label>One or more URLs, seperated by blank space</label> <textarea
						columns="1" ng-model="$parent.elements" required></textarea>
					</md-input-container>
					<md-input-container flex> <md-checkbox 
						ng-model="$parent.marketplace"> Add element to the marketplace (element will be available to other users) </md-checkbox>
					</md-input-container>
				</div>
				<div class="form-actions">
				<md-button class="md-accent md-raised" type="submit"
					ng-disabled="addElementForm.$pristine || addElementForm.$invalid || loading">Add Element</md-button>
					<md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
					<div ng-show="loading"><h5>This may take up to two minutes.</h5></div>
				</div>
			</form>
		</div>
			
		<div flex-sm="100" flex-gt-sm="80" layout-sm="column" ng-if="selectedTab === 'PIPELINES'">
			<form name="addPipelineForm" ng-submit="addPipelines()" role="form">
				<div flex layout="column">
				  <md-input-container flex>
			        <label>Pipeline (JSON Array)</label>
			        <textarea ng-model="$parent.pipelines" columns="1" md-maxlength="2000"></textarea>
			      </md-input-container>
			     </div>
				<div class="form-actions">
				<md-button class="md-accent md-raised" type="submit"
					ng-disabled="addPipelineForm.$pristine || addPipelineForm.$invalid || loading">Add Pipelines</md-button>
					<div ng-show="loading"><h5>This may take up to two minutes.</h5></div>
				</div>
			</form>
		</div>
		</md-content>
	</div>
</div>
<div flex layout="row" layout-align="center center" ng-repeat = "result in results">
	<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
		class="md-whiteframe-z2">
		
		<md-content class="md-padding">
		<div flex layout="row"><h3>{{result.elementName}}</h3> <md-progress-circular class="md-accent" style="width:12px;height:12px;" md-mode="indeterminate" ng-show="result.loading"></md-progress-circular>
		<md-icon md-svg-icon="action:ic_done_24px" aria-label="Action" class="md-accent" ng-show="!result.loading && result.success"></md-icon>
		<md-icon md-svg-icon="alert:ic_error_24px" aria-label="Action" class="md-accent" ng-show="!result.loading && !(result.success)"></md-icon>
			    		
		</div>
		<div ng-repeat = "detail in result.details">
			<div ng-show="!result.loading">{{detail.title}}</div>
			<div ng-show="!result.loading">{{detail.description}}</div>
			<md-divider/>
		</div>
		
		</md-content>
	</div>
</div>
</div>
