<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-split-section
    [title]="'Terms' | translate"
    [subtitle]="'Terms acknowledgment after login' | translate"
    [formGroup]="parentForm"
>
    <mat-checkbox formControlName="requireTermsAcknowledgment"
        >{{ 'Require users to accept terms after login' | translate }}
    </mat-checkbox>

    @if (parentForm.get('requireTermsAcknowledgment').getRawValue()) {
        <sp-form-field [level]="3" [label]="'Dialog Title' | translate">
            <mat-form-field color="accent">
                <input
                    formControlName="termsAcknowledgmentTitle"
                    fxFlex
                    matInput
                />
            </mat-form-field>
        </sp-form-field>

        <sp-form-field [level]="3" [label]="'Terms' | translate">
            <quill-editor
                fxFlex="100"
                #textEditor
                formControlName="termsAcknowledgmentText"
                [modules]="quillConfig"
            ></quill-editor>
        </sp-form-field>
    }
</sp-split-section>
