<div fxLayout="row">
    <div fxFlex="1 1 auto" fxLayout="row">
        <b>
            {{ label }}
        </b>
        <mat-icon *ngIf="timestampProperty"
                  style="font-size: 15px; padding: 4px;">
            access_time</mat-icon>
        <p style="margin: 0px 10px 10px;" *ngIf="isList">[List]</p>
    </div>
    <!--
    <div fxFlex="15" *ngIf="isPrimitive">
        <mat-select [(value)]="node.data.propertyScope">
            <mat-option value="MEASUREMENT_PROPERTY">Measurement</mat-option>
            <mat-option value="DIMENSION_PROPERTY">Dimension</mat-option>
            <mat-option value="HEADER_PROPERTY">Header</mat-option>
        </mat-select>
    </div>
-->
    <div fxFlex="0 1 auto" fxLayoutAlign="center center"
         *ngIf="isNested">
        <button [disabled]="!isEditable" color="primary" mat-button (click)=addNestedProperty(node.data)>
            <mat-icon matTooltip="Add a Nested Property">queue</mat-icon>
        </button>
    </div>
    <div fxFlex="0 1 auto" fxLayoutAlign="center center"
         *ngIf="isNested || isPrimitive || isList">
        <button [disabled]="!isEditable" color="primary" mat-button
                (click)="openEditDialog(node.data)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div fxFlex="0 1 auto" fxLayoutAlign="center center">
        <mat-checkbox
                *ngIf="isNested || isPrimitive || isList"
                (click)="selectProperty(node.data.id, undefined)" [disabled]="!isEditable"
                [class.checkbox-selected]="node.data.selected" [checked]="node.data.selected">
        </mat-checkbox>
    </div>
</div>