<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxLayout="column" class="page-container">
    <div fxLayout="column" fxFlex="100" *ngIf="dashboardLoaded">
        <div class="data-explorer-options page-container-nav" fxLayout="row">
            <div
                class="data-explorer-options-item pl-10"
                fxLayout="row"
                fxLayoutAlign="start center"
                style="border-right: 2px solid var(--color-bg-2)"
            >
                <button
                    mat-icon-button
                    color="accent"
                    matTooltip="Back"
                    (click)="goBackToOverview()"
                    class="edit-menu-btn"
                    data-cy="save-data-explorer-go-back-to-overview"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div
                class="data-explorer-options-item"
                fxLayoutAlign="start center"
                fxLayout="row"
                *ngIf="editMode"
            >
                <button
                    mat-icon-button
                    color="accent"
                    matTooltip="Save"
                    class="edit-menu-btn"
                    (click)="persistDashboardChanges()"
                    data-cy="save-data-explorer-widget-btn"
                >
                    <mat-icon>save</mat-icon>
                </button>
                <button
                    mat-icon-button
                    color="accent"
                    matTooltip="Discard"
                    class="mat-basic mr-10 edit-menu-btn"
                    (click)="discardChanges()"
                >
                    <i class="material-icons">undo</i>
                </button>
                <button
                    mat-icon-button
                    matTooltip="Add widget"
                    color="accent"
                    class="edit-menu-btn"
                    (click)="createWidget()"
                    [disabled]="!editMode"
                    data-cy="add-new-widget"
                >
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div
                class="data-explorer-options-item"
                fxLayoutAlign="start center"
                fxLayout="row"
            >
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="View mode"
                    matTooltip="View mode"
                >
                    <mat-icon>{{
                        viewMode === 'grid' ? 'grid_view' : 'web_asset'
                    }}</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="viewMode = 'grid'">
                        <mat-icon>grid_view</mat-icon>
                        <span>Grid</span>
                    </button>
                    <button mat-menu-item (click)="viewMode = 'slide'">
                        <mat-icon>web_asset</mat-icon>
                        <span>Slides</span>
                    </button>
                </mat-menu>
            </div>
            <div
                class="data-explorer-options-item"
                style="margin-right: 0"
                fxLayoutAlign="end center"
                fxFlex
                fxLayout="row"
            >
                <sp-time-range-selector
                    *ngIf="editMode || timeRangeVisible"
                    (dateRangeEmitter)="updateDateRange($event)"
                    [dateRange]="timeSettings"
                >
                </sp-time-range-selector>

                <button
                    mat-icon-button
                    [matMenuTriggerFor]="optMenu"
                    aria-label="Options"
                    data-cy="options-data-explorer"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #optMenu="matMenu">
                    <button
                        mat-menu-item
                        (click)="triggerEditMode()"
                        *ngIf="!editMode && hasDataExplorerWritePrivileges"
                        data-cy="options-edit-dashboard"
                    >
                        <mat-icon>edit</mat-icon>
                        <span>Edit dashboard</span>
                    </button>
                    <button
                        mat-menu-item
                        (click)="timeRangeVisible = true"
                        *ngIf="!editMode && !timeRangeVisible"
                    >
                        <mat-icon>alarm_on</mat-icon>
                        <span>Show time range selector</span>
                    </button>
                    <button
                        mat-menu-item
                        (click)="timeRangeVisible = false"
                        *ngIf="!editMode && timeRangeVisible"
                    >
                        <mat-icon>alarm_off</mat-icon>
                        <span>Hide time range selector</span>
                    </button>
                    <button
                        mat-menu-item
                        *ngIf="hasDataExplorerDeletePrivileges"
                        (click)="deleteDashboard(dashboard)"
                    >
                        <mat-icon>clear</mat-icon>
                        <span>Delete dashboard</span>
                    </button>
                </mat-menu>
            </div>
        </div>

        <div fxFlex="100" fxLayout="column">
            <mat-drawer-container
                class="designer-panel-container h-100 dashboard-grid"
            >
                <mat-drawer
                    #designerDrawer
                    [opened]="showDesignerPanel"
                    (opened)="triggerResize()"
                    (closed)="triggerResize()"
                    mode="side"
                    position="end"
                    class="designer-panel"
                >
                    <div fxLayout="column" fxFlex="100">
                        <sp-data-explorer-designer-panel
                            #designerPanel
                            [currentlyConfiguredWidget]="
                                currentlyConfiguredWidget
                            "
                            [dataLakeMeasure]="dataLakeMeasure"
                            [newWidgetMode]="newWidgetMode"
                            (addWidgetEmitter)="addWidget($event)"
                            (closeDesignerPanelEmitter)="closeDesignerPanel()"
                            fxFlex="100"
                        >
                        </sp-data-explorer-designer-panel>
                    </div>
                </mat-drawer>
                <mat-drawer-content class="h-100 dashboard-grid">
                    <div
                        *ngIf="showEditingHelpInfo"
                        fxFlex="100"
                        fxLayout="column"
                        fxLayoutAlign="center center"
                    >
                        <h4>
                            This data view is empty and doesn't contain any
                            widgets.
                        </h4>
                        <button
                            mat-button
                            mat-raised-button
                            color="accent"
                            *ngIf="hasDataExplorerWritePrivileges"
                            (click)="triggerEditMode()"
                        >
                            <mat-icon>add</mat-icon>
                            Add widget
                        </button>
                    </div>
                    <sp-data-explorer-dashboard-grid
                        #dashboardGrid
                        *ngIf="!showEditingHelpInfo && viewMode === 'grid'"
                        [editMode]="editMode"
                        [dashboard]="dashboard"
                        [timeSettings]="timeSettings"
                        [currentlyConfiguredWidgetId]="
                            currentlyConfiguredWidgetId
                        "
                        (configureWidgetCallback)="
                            updateCurrentlyConfiguredWidget($event)
                        "
                        (updateCallback)="updateAndQueueItemForDeletion($event)"
                        (deleteCallback)="removeAndQueueItemForDeletion($event)"
                        (startEditModeEmitter)="startEditMode($event)"
                        class="h-100 dashboard-grid"
                    >
                    </sp-data-explorer-dashboard-grid>
                    <sp-data-explorer-dashboard-slide-view
                        class="h-100 dashboard-grid"
                        #dashboardSlide
                        [editMode]="editMode"
                        [dashboard]="dashboard"
                        [timeSettings]="timeSettings"
                        [currentlyConfiguredWidgetId]="
                            currentlyConfiguredWidgetId
                        "
                        (configureWidgetCallback)="
                            updateCurrentlyConfiguredWidget($event)
                        "
                        (updateCallback)="updateAndQueueItemForDeletion($event)"
                        (deleteCallback)="removeAndQueueItemForDeletion($event)"
                        (startEditModeEmitter)="startEditMode($event)"
                        *ngIf="!showEditingHelpInfo && viewMode === 'slide'"
                    >
                    </sp-data-explorer-dashboard-slide-view>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>
