<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div class="data-preview">
    <div
        *ngIf="!runtimeData"
        fxFlex="100"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <mat-spinner [diameter]="20" color="accent"></mat-spinner>
        <span class="preview-table mt-10">Waiting for live data...</span>
    </div>
    <table class="row-border hover preview-table" *ngIf="runtimeData">
        <tbody id="preview-data-rows-id">
            <tr
                *ngFor="let item of runtimeData | keyvalue: keyValueCompareFn"
                class="preview-row"
            >
                <td>
                    <b>{{ item.key }}</b>
                </td>
                <td>{{ item.value }}</td>
            </tr>
        </tbody>
    </table>
</div>
