<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

@if (configReady) {
    <sp-auth-box [linkSettings]="loginSettings.linkSettings">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start">
            <h1>{{ 'Login' | translate }}</h1>
        </div>
        <div fxFlex="100" fxLayout="column" class="mt-10">
            <form [formGroup]="parentForm" fxFlex="100" fxLayout="column">
                <sp-form-field [level]="3" [label]="'Email ' | translate">
                    <mat-form-field fxFlex color="accent">
                        <input
                            formControlName="username"
                            matInput
                            name="username"
                            class="sp"
                            required
                            data-cy="login-email"
                        />
                    </mat-form-field>
                </sp-form-field>
                <sp-form-field [level]="3" [label]="'Password ' | translate">
                    <mat-form-field fxFlex color="accent">
                        <input
                            formControlName="password"
                            matInput
                            name="password"
                            type="password"
                            class="sp"
                            required
                            data-cy="login-password"
                        />
                    </mat-form-field>
                </sp-form-field>
                <div class="form-actions mt-20">
                    <button
                        mat-flat-button
                        data-cy="login-button"
                        (click)="doLogin()"
                        [disabled]="!parentForm.valid || loading"
                    >
                        @if (loading) {
                            <span>{{ 'Logging in' | translate }}...</span>
                        }
                        @if (!loading) {
                            <span>{{ 'Login' | translate }}</span>
                        }
                    </button>
                    @if (loading) {
                        <mat-spinner
                            [mode]="'indeterminate'"
                            [diameter]="20"
                            style="margin-top: 10px"
                        ></mat-spinner>
                    }
                    @if (authenticationFailed) {
                        <sp-alert-banner
                            type="error"
                            [title]="'Please try again' | translate"
                            [description]="
                                'User not found or incorrect password provided.'
                                    | translate
                            "
                        >
                        </sp-alert-banner>
                    }
                    <div fxLayout="row" class="mt-10">
                        @if (loginSettings.allowPasswordRecovery) {
                            <div>
                                <a [routerLink]="['/restore-password']">{{
                                    'Forgot password?' | translate
                                }}</a>
                            </div>
                        }
                        @if (
                            loginSettings.allowSelfRegistration &&
                            loginSettings.allowPasswordRecovery
                        ) {
                            <span style="margin-left: 5px; margin-right: 5px">
                                |
                            </span>
                        }
                        @if (loginSettings.allowSelfRegistration) {
                            <div>
                                <a [routerLink]="['/register']">{{
                                    'Create new account' | translate
                                }}</a>
                            </div>
                        }
                    </div>
                    @if (loginSettings.oAuthSettings?.enabled) {
                        <div fxLayout="column" class="mt-10">
                            <div class="separator">
                                <span>{{ 'or' | translate }}</span>
                            </div>
                            @for (
                                provider of loginSettings.oAuthSettings
                                    .supportedProviders;
                                track provider
                            ) {
                                <div fxLayout="column" class="mt-10">
                                    <button
                                        mat-flat-button
                                        data-cy="login-button"
                                        (click)="
                                            doOAuthLogin(
                                                provider.registrationId
                                            )
                                        "
                                    >
                                        @if (!loading) {
                                            <span
                                                >{{ 'Login with' | translate }}
                                                {{ provider.name }}</span
                                            >
                                        }
                                    </button>
                                </div>
                            }
                        </div>
                    }
                </div>
            </form>
        </div>
    </sp-auth-box>
}
