<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div
    fxFlex="100"
    fxLayout="column"
    fxLayoutGap="12px"
    class="chart-selection-shell"
>
    <div fxLayout="column" fxLayoutGap="10px" class="chart-selection-toolbar">
        <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="12px"
        >
            <div fxLayout="column" class="chart-selection-heading">
                <span class="chart-selection-caption">
                    {{ filteredCharts.length }}
                    @if (filteredCharts.length === 1) {
                        {{ 'chart available' | translate }}
                    } @else {
                        {{ 'charts available' | translate }}
                    }
                </span>
            </div>

            <div
                fxLayout="row"
                fxLayoutAlign="end center"
                fxLayoutGap="4px"
                class="chart-selection-actions"
            >
                <button
                    mat-icon-button
                    type="button"
                    class="chart-selection-refresh"
                    data-cy="refresh-chart-button"
                    [disabled]="isRefreshing"
                    [matTooltip]="'Refresh charts' | translate"
                    (click)="refreshCharts()"
                >
                    <mat-icon>refresh</mat-icon>
                </button>

                @if (hasChartWritePrivileges) {
                    <button
                        mat-icon-button
                        type="button"
                        class="chart-selection-create"
                        data-cy="create-chart-button"
                        [matTooltip]="'Create chart in new tab' | translate"
                        (click)="navigateToDataViewCreation()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                }
            </div>
        </div>

        <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="chart-selection-search"
        >
            <mat-icon matPrefix>search</mat-icon>
            <input
                [placeholder]="'Search charts' | translate"
                matInput
                [value]="searchTerm"
                (input)="onSearchTermChanged($any($event.target).value)"
                data-cy="chart-selection-search"
            />
            @if (hasActiveSearch()) {
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="clearSearch()"
                    [attr.aria-label]="'Clear search' | translate"
                >
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
    </div>

    @if (charts.length > 0 && filteredCharts.length > 0) {
        <div
            fxFlexFill
            fxLayout="column"
            fxLayoutGap="8px"
            class="chart-selection-results"
        >
            @for (chart of filteredCharts; track chart.elementId) {
                <sp-chart-preview
                    [chart]="chart"
                    (addChartEmitter)="addChartEmitter.emit($event)"
                >
                </sp-chart-preview>
            }
        </div>
    } @else if (charts.length === 0) {
        <div fxLayoutAlign="center center" fxLayout="column" fxFlex="100">
            <span class="no-widget-hint">{{
                'No charts found - create a new chart first to add it to this dashboard.'
                    | translate
            }}</span>
        </div>
    } @else {
        <div
            fxLayoutAlign="center center"
            fxLayout="column"
            fxLayoutGap="8px"
            fxFlex="100"
            class="chart-selection-empty"
        >
            <mat-icon class="chart-selection-empty-icon">search_off</mat-icon>
            <span class="no-widget-hint">{{
                'No charts match your search.' | translate
            }}</span>
            <button
                mat-button
                type="button"
                class="chart-selection-reset"
                (click)="clearSearch()"
            >
                {{ 'Clear search' | translate }}
            </button>
        </div>
    }
</div>
