<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div style="height:100%;">
    <div class="box">
        <div class="assemblyOptions sp-blue-bg m-0 row header h-40" *ngIf="editMode">
            <div fxFlex="100" layout="row" fxLayoutAlign="end center">
                <button mat-button mat-icon-button color="white" (click)="editWidget()">
                    <i class="material-icons">settings</i>
                </button>
                <button mat-button mat-icon-button color="white" (click)="removeWidget()">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
        <div class="h-100 p-0 row content">
            <!--        <div *ngIf="widget."></div>-->
            <div *ngIf="widgetLoaded && pipelineNotRunning" class="h-100 pipeline-not-running" fxFlex="100"
                 fxLayout="column"
                 fxLayoutAlign="center center">
                <i class="material-icons disconnect-icon">block</i>
                <h5 style="text-align:center;">corresponding pipeline is not running</h5>
            </div>
            <div *ngIf="widgetLoaded && !pipelineNotRunning" class="h-100">
                <div *ngIf="widget.widgetType === 'number'" class="h-100 p-0">
                    <number-widget [gridsterItemComponent]="gridsterItemComponent" [gridsterItem]="item"
                                   [widget]="widget" [editMode]="editMode"
                                   [widgetConfig]="configuredWidget" [widgetDataConfig]="widgetDataConfig" class="h-100"></number-widget>
                </div>
                <div *ngIf="widget.widgetType === 'line'" class="h-100 p-0">
                    <line-widget [gridsterItemComponent]="gridsterItemComponent" [editMode]="editMode"
                                 [gridsterItem]="item" [widget]="widget" [widgetConfig]="configuredWidget"
                                 [widgetDataConfig]="widgetDataConfig" class="h-100"></line-widget>
                </div>
                <div *ngIf="widget.widgetType === 'area'" class="h-100 p-0">
                    <area-widget [gridsterItemComponent]="gridsterItemComponent" [editMode]="editMode"
                                 [gridsterItem]="item" [widget]="widget" [widgetConfig]="configuredWidget"
                                 [widgetDataConfig]="widgetDataConfig" class="h-100"></area-widget>
                </div>
                <div *ngIf="widget.widgetType === 'table'" class="h-100 p-0">
                    <table-widget [gridsterItemComponent]="gridsterItemComponent"
                                  [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                  [widgetConfig]="configuredWidget"
                                  [widgetDataConfig]="widgetDataConfig" class="h-100"></table-widget>
                </div>
                <div *ngIf="widget.widgetType === 'gauge'" class="h-100 p-0">
                    <gauge-widget [gridsterItemComponent]="gridsterItemComponent"
                                  [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                  [widgetConfig]="configuredWidget"
                                  [widgetDataConfig]="widgetDataConfig" class="h-100"></gauge-widget>
                </div>
                <div *ngIf="widget.widgetType === 'image'" class="h-100 p-0">
                    <image-widget [gridsterItemComponent]="gridsterItemComponent"
                                  [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                  [widgetConfig]="configuredWidget"
                                  [widgetDataConfig]="widgetDataConfig" class="h-100"></image-widget>
                </div>
                <div *ngIf="widget.widgetType === 'map'" class="h-100 p-0">
                    <map-widget [gridsterItemComponent]="gridsterItemComponent"
                                  [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                  [widgetConfig]="configuredWidget"
                                  [widgetDataConfig]="widgetDataConfig" class="h-100"></map-widget>
                </div>
                <div *ngIf="widget.widgetType === 'raw'" class="h-100 p-0">
                    <raw-widget [gridsterItemComponent]="gridsterItemComponent"
                                [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                [widgetConfig]="configuredWidget"
                                [widgetDataConfig]="widgetDataConfig" class="h-100"></raw-widget>
                </div>
                <div *ngIf="widget.widgetType === 'html'" class="h-100 p-0">
                    <html-widget [gridsterItemComponent]="gridsterItemComponent"
                                [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                [widgetConfig]="configuredWidget"
                                [widgetDataConfig]="widgetDataConfig" class="h-100"></html-widget>
                </div>
                <div *ngIf="widget.widgetType === 'trafficlight'" class="h-100 p-0">
                    <traffic-light-widget [gridsterItemComponent]="gridsterItemComponent"
                                 [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                 [widgetConfig]="configuredWidget"
                                 [widgetDataConfig]="widgetDataConfig" class="h-100"></traffic-light-widget>
                </div>
                <div *ngIf="widget.widgetType === 'pallet'" class="h-100 p-0">
                    <app-renderer [gridsterItemComponent]="gridsterItemComponent"
                                 [gridsterItem]="item" [widget]="widget" [editMode]="editMode"
                                 [widgetConfig]="configuredWidget"
                                 [widgetDataConfig]="widgetDataConfig" class="h-100"></app-renderer>
                </div>
            </div>
        </div>
    </div>
</div>