<h5>{{ctrl.selectedElement.inputStreams[0].name}}</h5>
<div ng-repeat="(index, property) in ctrl.collectedPropertiesFirstStream track by $index">
    <property-selection output-strategy="ctrl.outputStrategy" event-property="property"
                        layer="0"></property-selection>
</div>
<div ng-if="ctrl.collectedPropertiesSecondStream.length > 0">
    <h5>{{ctrl.selectedElement.inputStreams[1].name}}</h5>
    <div ng-repeat="(index, property) in ctrl.collectedPropertiesSecondStream track by $index">
        <property-selection output-strategy="ctrl.outputStrategy" event-property="property"
                            layer="0"></property-selection>
    </div>
</div>
