<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div class="sp-dialog-container">
    <div class="sp-dialog-content p-20">
        @if (healthStatus) {
            <div
                class="adapter-info"
                fxLayout="row"
                fxLayoutAlign="space-between start"
            >
                <div>
                    <h3>{{ healthStatus.adapterName || 'Adapter' }}</h3>
                    <p class="last-check">
                        Last checked:
                        {{
                            healthStatus.lastCheckTimestamp
                                | date: 'dd.MM.yyyy HH:mm:ss'
                        }}
                    </p>
                </div>
                <button
                    mat-icon-button
                    type="button"
                    matTooltip="Run check now"
                    (click)="triggerCheck()"
                    [disabled]="isTriggering"
                    color="primary"
                >
                    <mat-icon [ngClass]="{ spin: isTriggering }"
                        >refresh</mat-icon
                    >
                </button>
            </div>

            <div class="health-section">
                <div class="health-item">
                    <div
                        class="health-header"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="12px"
                    >
                        <div
                            class="light"
                            [ngClass]="
                                getLightClass(healthStatus.backendHealth)
                            "
                        ></div>
                        <span class="health-label">Backend Health</span>
                        <span
                            class="health-status"
                            [ngClass]="
                                getStatusClass(healthStatus.backendHealth)
                            "
                        >
                            {{ getStatusLabel(healthStatus.backendHealth) }}
                        </span>
                    </div>
                    @if (healthStatus.backendHealthMessage) {
                        <div class="health-message">
                            {{ healthStatus.backendHealthMessage }}
                        </div>
                    }
                </div>

                <mat-divider></mat-divider>

                <div class="health-item">
                    <div
                        class="health-header"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="12px"
                    >
                        <div
                            class="light"
                            [ngClass]="
                                getLightClass(healthStatus.dataSourceHealth)
                            "
                        ></div>
                        <span class="health-label">Data Source Health</span>
                        @if (healthStatus.dataSourceHealthSupported) {
                            <span
                                class="health-status"
                                [ngClass]="
                                    getStatusClass(
                                        healthStatus.dataSourceHealth
                                    )
                                "
                            >
                                {{
                                    getStatusLabel(
                                        healthStatus.dataSourceHealth
                                    )
                                }}
                            </span>
                        } @else {
                            <span class="health-status status-unknown"
                                >No support yet</span
                            >
                        }
                    </div>
                    @if (
                        healthStatus.dataSourceHealthSupported &&
                        healthStatus.dataSourceHealthMessage
                    ) {
                        <div class="health-message">
                            {{ healthStatus.dataSourceHealthMessage }}
                        </div>
                    } @else if (!healthStatus.dataSourceHealthSupported) {
                        <div class="health-message">
                            Data source health checks are not supported for this
                            adapter type yet.
                        </div>
                    }
                </div>
            </div>

            @if (
                healthStatus.dataSourceHealthDetails &&
                healthStatus.dataSourceHealth === HealthCheckStatus.UNHEALTHY
            ) {
                <div class="error-details-section">
                    <div
                        class="error-details-header"
                        (click)="showDetails = !showDetails"
                    >
                        <mat-icon>{{
                            showDetails ? 'expand_less' : 'expand_more'
                        }}</mat-icon>
                        <span
                            >{{ showDetails ? 'Hide' : 'Show' }} Full
                            Details</span
                        >
                    </div>
                    @if (showDetails) {
                        <div class="terminal-output">
                            <pre>{{
                                healthStatus.dataSourceHealthDetails
                            }}</pre>
                        </div>
                    }
                </div>
            }

            @if (healthStatus.consecutiveFailures > 0) {
                <div
                    class="retry-info"
                    fxLayout="row"
                    fxLayoutAlign="start start"
                    fxLayoutGap="12px"
                >
                    <mat-icon class="warning-icon">warning</mat-icon>
                    <span
                        >Consecutive failures:
                        {{ healthStatus.consecutiveFailures }}. Next check will
                        be delayed due to exponential backoff.
                        @if (healthStatus.nextCheckTimestamp) {
                            (Next check {{ timeUntilNextCheck }})
                        }
                    </span>
                </div>
            }
        } @else {
            <div class="no-data">
                <mat-icon>info_outline</mat-icon>
                <p>
                    Health status data is not available yet. The adapter may
                    have just started.
                </p>
            </div>
        }
    </div>
    <mat-divider></mat-divider>
    <div class="sp-dialog-actions actions-align-right" fxLayoutGap="10px">
        <button mat-flat-button class="mat-basic" (click)="close()">
            Close
        </button>
    </div>
</div>
