<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<md-list style="padding-top:0px;">
    <md-list-item class="md-1-line"
                  ng-class="{'sp-navbar-item-selected' : item.link === toolbarCtrl.activePage, 'sp-navbar-item': item.link !== toolbarCtrl.activePage}"
                  ng-repeat="item in toolbarCtrl.menu" role="link" style="min-width:0px;padding:0px;">
        <md-button class="md-icon-button button-margin-iconbar" ng-click="toolbarCtrl.go(item.link)">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"
                     ng-class="{'sp-navbar-icon-selected' : item.link === toolbarCtrl.activePage, 'sp-navbar-icon': item.link !== toolbarCtrl.activePage}"></md-icon>
            <md-tooltip md-direction="right">
                {{item.title}}
            </md-tooltip>
        </md-button>
    </md-list-item>
    <md-list-item class="md-1-line" role="link"
                  ng-class="{'sp-navbar-item-selected' : 'streampipes.notifications' === toolbarCtrl.activePage, 'sp-navbar-item': 'streampipes.notifications' !== toolbarCtrl.activePage}">
        <notification-icon count='toolbarCtrl.notificationCount'>
            <md-button class="md-icon-button button-margin-iconbar" ng-click="toolbarCtrl.go('streampipes.notifications')">
                <md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Notifications"
                         ng-class="{'sp-navbar-icon-selected' : 'streampipes.notifications' === toolbarCtrl.activePage, 'sp-navbar-icon': 'streampipes.notifications' !== toolbarCtrl.activePage}"></md-icon>
                <md-tooltip md-direction="right">
                    Notifications
                </md-tooltip>
            </md-button>
        </notification-icon>
    </md-list-item>
    <md-divider style="border-top-color:white;"></md-divider>
    <md-list-item class="md-1-line"
                  ng-class="{'sp-navbar-item-selected' : item.link === toolbarCtrl.activePage, 'sp-navbar-item': item.link !== toolbarCtrl.activePage}"
                  ng-repeat="item in toolbarCtrl.admin" role="link">
        <md-button class="md-icon-button button-margin-iconbar" ng-click="toolbarCtrl.go(item.link)">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"
                     ng-class="{'sp-navbar-icon-selected' : item.link === toolbarCtrl.activePage, 'sp-navbar-icon': item.link !== toolbarCtrl.activePage}"></md-icon>
            <md-tooltip md-direction="right">
                {{item.title}}
            </md-tooltip>
        </md-button>
        <md-divider ng-if="item.link=='streampipes.applinks'" style="border-top-color:white;"></md-divider>

    </md-list-item>
</md-list>