$sp-color-primary: rgb(57, 181, 74);
$sp-color-accent: rgb(27, 20, 100);
$sp-color-accent-light-blue: rgb(59, 92, 149);
$sp-color-accent-light: rgb(135,135,135);

$sp-color-stream: #FFEB3B;
$sp-color-set: #ffa23b;
$sp-color-processor: #009688;
$sp-color-sink: #3F51B5;