<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<div fxLayout="column" fxFlex="100" class="pipeline-editor-outer">
    @if (!allElementsLoaded || !allMetadataLoaded) {
        <div
            fxFlex="100"
            fxLayout="column"
            fxLayoutAlign="center center"
            role="status"
        >
            <sp-spinner
                [diameter]="30"
                [text]="'Preparing pipeline editor...' | translate"
            ></sp-spinner>
        </div>
    } @else {
        <sp-pipeline-assembly
            fxFlex="100"
            [rawPipelineModel]="rawPipelineModel"
            [allElements]="allElements"
            [originalPipeline]="originalPipeline"
            [cloneMode]="cloneMode"
            [pipelineCanvasMetadata]="pipelineCanvasMetadata"
            [pipelineCanvasMetadataAvailable]="pipelineCanvasMetadataAvailable"
        >
            <div editorSearch class="pipeline-editor__finder form-field-small">
                <mat-form-field class="w-100" appearance="outline">
                    <input
                        matInput
                        type="text"
                        [placeholder]="'Find element' | translate"
                        [attr.aria-label]="'Find element' | translate"
                        [(ngModel)]="elementFilter"
                    />
                    <mat-icon matPrefix>search</mat-icon>
                    @if (elementFilter) {
                        <button
                            type="button"
                            matSuffix
                            mat-icon-button
                            [attr.aria-label]="'Clear' | translate"
                            (click)="elementFilter = ''"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </mat-form-field>
            </div>
            <sp-pipeline-element-icon-stand
                editorPalette
                [elementFilter]="elementFilter"
                id="shepherd-test"
                [allElements]="allElements"
            ></sp-pipeline-element-icon-stand>
        </sp-pipeline-assembly>
    }
</div>
