<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div fxFlex="100" fxLayout="column">
    <div fxLayout="row" class="sp-tab-bg designer-panel-header">
        <div fxLayoutAlign="start center" class="designer-panel-title">Widget Configuration</div>
        <div fxFlex fxLayoutAlign="end end">
            <button mat-button mat-icon-button (click)="addWidget()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div fxFlex="100" fxLayout="column" class="designer-panel-content" *ngIf="currentlyConfiguredWidget">
        <div class="designer-panel-title">
            <h4 *ngIf="currentlyConfiguredWidget">{{ currentlyConfiguredWidget.baseAppearanceConfig.widgetTitle }}</h4>
        </div>
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectOptionsPanel($event)" color="accent"
                       class="small">
            <mat-tab label="Data"></mat-tab>
            <mat-tab label="Visualization"></mat-tab>
            <mat-tab label="Appearance"></mat-tab>
        </mat-tab-group>

        <div fxFlex="100" fxLayout="column">
            <div fxFlex fxLayout="column" class="designer-panel-config">

                <div *ngIf="selectedIndex == 0">
                    <sp-data-explorer-widget-data-settings [(dataLakeMeasure)]="dataLakeMeasure"
                                                           [dataConfig]="currentlyConfiguredWidget.dataConfig"
                                                           [newWidgetMode]="newWidgetMode"
                                                           (createWidgetEmitter)="createNewWidget($event)">

                    </sp-data-explorer-widget-data-settings>
                </div>
                <div *ngIf="selectedIndex == 1" class="p-5">
                    <div fxFlex="100" fxLayout="column">
                        <div fxFlex="100" fxLayout="column" class="data-explorer-options-panel">
                            <span class="data-explorer-header">Visualization Type</span>
                            <mat-form-field color="accent" fxFlex="100">
                                <mat-label>Select visualization</mat-label>
                                <mat-select [(value)]="currentlyConfiguredWidget.widgetType">
                                    <mat-option [value]="'density-chart'">
                                        <span class="pipeline-name">Density</span>
                                    </mat-option>
                                    <mat-option [value]="'histogram-chart'">
                                        <span class="pipeline-name">Histogram</span>
                                    </mat-option>
                                    <mat-option [value]="'indicator-chart'">
                                        <span class="pipeline-name">Indicator</span>
                                    </mat-option>
                                    <mat-option [value]="'line-chart'">
                                        <span class="pipeline-name">Line Chart</span>
                                    </mat-option>
                                    <mat-option [value]="'pie-chart'">
                                        <span class="pipeline-name">Pie Chart</span>
                                    </mat-option>
                                    <mat-option [value]="'table'">
                                        <span class="pipeline-name">Table</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxLayout="column" class="data-explorer-options-panel">
                            <span class="data-explorer-header">Configuration</span>
                            <div *ngIf="currentlyConfiguredWidget.widgetType === 'table'" class="h-100 p-0">
                                <sp-data-explorer-table-widget-config
                                        [currentlyConfiguredWidget]="currentlyConfiguredWidget">

                                </sp-data-explorer-table-widget-config>
                            </div>
                            <div *ngIf="currentlyConfiguredWidget.widgetType === 'line-chart'" class="h-100 p-0">
                                <sp-data-explorer-line-chart-widget-config
                                        [currentlyConfiguredWidget]="currentlyConfiguredWidget">

                                </sp-data-explorer-line-chart-widget-config>
                            </div>
                            <div *ngIf="currentlyConfiguredWidget.widgetType === 'histogram-chart'" class="h-100 p-0">
                                <sp-data-explorer-histogram-chart-widget-config
                                        [currentlyConfiguredWidget]="currentlyConfiguredWidget">
                                </sp-data-explorer-histogram-chart-widget-config>
                            </div>
                            <div *ngIf="currentlyConfiguredWidget.widgetType === 'indicator-chart'" class="h-100 p-0">
                                <sp-data-explorer-indicator-chart-widget-config
                                        [currentlyConfiguredWidget]="currentlyConfiguredWidget">
                                </sp-data-explorer-indicator-chart-widget-config>
                            </div>
                            <div *ngIf="currentlyConfiguredWidget.widgetType === 'density-chart'" class="h-100 p-0">
                                <sp-data-explorer-density-chart-widget-config
                                        [currentlyConfiguredWidget]="currentlyConfiguredWidget">
                                </sp-data-explorer-density-chart-widget-config>
                            </div>
                            <div *ngIf="currentlyConfiguredWidget.widgetType === 'pie-chart'" class="h-100 p-0">
                                <sp-data-explorer-pie-chart-widget-config
                                        [currentlyConfiguredWidget]="currentlyConfiguredWidget">
                                </sp-data-explorer-pie-chart-widget-config>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedIndex == 2" class="p-5">
                    <sp-data-explorer-widget-appearance-settings
                            [widgetId]="currentlyConfiguredWidget._id"
                            [baseAppearanceConfig]="currentlyConfiguredWidget.baseAppearanceConfig">

                    </sp-data-explorer-widget-appearance-settings>
                </div>
            </div>
            <mat-divider *ngIf="newWidgetMode"></mat-divider>
            <div fxLayout="row" fxLayoutAlign="center end" class="mt-10 actions-align-right p-15"
                 *ngIf="newWidgetMode">
                <button mat-button mat-raised-button color="accent" *ngIf="newWidgetMode && selectedIndex == 0"
                        (click)="selectedIndex = 1">
                    Next
                </button>
                <button *ngIf="newWidgetMode && selectedIndex == 1" mat-button mat-raised-button class="mat-basic mr-10"
                        (click)="selectedIndex = 0" style="margin-right: 10px;">
                    Back
                </button>
                <button *ngIf="newWidgetMode && selectedIndex == 1" mat-button mat-raised-button color="accent"
                        (click)="createNewWidget()">
                    Create
                </button>
            </div>
        </div>
    </div>
    <div class="designer-panel-config" *ngIf="!currentlyConfiguredWidget" fxFlex="100"
         fxLayoutAlign="center center" fxLayout="column">
        <span class="text-center">Select a widget to open configuration options or add a new widget.</span>
        <button mat-button color="accent" class="mt-10"
                (click)="addWidget()">
            <i class="material-icons">add</i><span>Add widget</span>
        </button>
    </div>
</div>
