dist
.angular

# Remove these in the future to lint additional modules
# Please also see .prettierignore
cypress
deployment
projects
src/app/_enums
src/app/_guards
src/app/_models
src/app/add
src/app/apidocs
src/app/app-asset-monitoring
src/app/app-overview
src/app/assets
src/app/configuration
src/app/connect
src/app/core
src/app/core-model
src/app/core-services
src/app/core-ui
src/app/CustomMaterial
src/app/dashboard
src/app/data-explorer
src/app/editor
src/app/files
src/app/info
src/app/login
src/app/notifications
src/app/NS
src/app/pipeline-details
src/app/pipelines
src/app/profile
src/app/services
src/scss