<!--
  ~  Licensed to the Apache Software Foundation (ASF) under one or more
  ~  contributor license agreements.  See the NOTICE file distributed with
  ~  this work for additional information regarding copyright ownership.
  ~  The ASF licenses this file to You under the Apache License, Version 2.0
  ~  (the "License"); you may not use this file except in compliance with
  ~  the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->

<ng-template matStepLabel>Select Format</ng-template>
<div>
    <h5>Download Format</h5>
    <mat-radio-group
        class="sp-radio-group"
        [(ngModel)]="formatExportConfig.exportFormat"
    >
        <mat-radio-button
            value="json"
            class="sp-radio-button"
            data-cy="download-configuration-json"
        >
            JSON
        </mat-radio-button>
        <mat-radio-button
            value="csv"
            class="sp-radio-button"
            data-cy="download-configuration-csv"
        >
            CSV
        </mat-radio-button>
    </mat-radio-group>
</div>
<div *ngIf="formatExportConfig.exportFormat === 'csv'" class="mt-10">
    <h5>Delimiter</h5>
    <mat-radio-group
        [(ngModel)]="formatExportConfig.delimiter"
        class="sp-radio-group"
    >
        <mat-radio-button
            value="comma"
            class="sp-radio-button"
            data-cy="download-configuration-delimiter-comma"
            >&nbsp;,</mat-radio-button
        >
        <mat-radio-button
            value="semicolon"
            class="sp-radio-button"
            data-cy="download-configuration-delimiter-semicolon"
            >&nbsp;;</mat-radio-button
        >
    </mat-radio-group>
</div>
