<div fxLayout="column" class="page-container">
    <div fxLayout="row" style="padding:0px;background-color:#f6f6f6;">
        <div fxLayout="fill" style="line-height:24px;border-bottom:1px solid #ccc">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectDashboard($event)">
                <mat-tab label="Start"></mat-tab>
                <mat-tab *ngFor="let dashboard of dashboards" label="{{dashboard.name}}"></mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="fixed-height page-container-padding-inner" fxLayout="column" fxFlex="100" *ngIf="dashboardsLoaded">
    <dashboard-panel fxLayout="column" [dashboard]="selectedDashboard"
                     style="height:100%;"></dashboard-panel>
    </div>
</div>
