<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<sp-basic-nav-tabs
    [spNavigationItems]="tabs"
    [activeLink]="'extensions-services'"
>
    <div fxLayout="row" class="page-container-padding">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
            <sp-split-section
                title="Registered services"
                subtitle="Inspect currently registered extensions services"
            >
                <sp-registered-extensions-services></sp-registered-extensions-services>
            </sp-split-section>
            <sp-split-section
                title="Service configurations"
                subtitle="Configure basic settings of core and extensions services"
            >
                <sp-extensions-service-configuration></sp-extensions-service-configuration>
            </sp-split-section>
        </div>
    </div>
</sp-basic-nav-tabs>
