<md-list-item layout="row" class="md-with-secondary">
    <md-button flex="10" ng-click="startPipeline(pipeline._id)" class="md-icon-button"
               ng-disabled="starting" ng-if="!pipeline.running">
        <md-icon md-svg-icon="av:ic_play_arrow_24px" aria-label="Start"
                 class="md-accent"></md-icon>
        <md-tooltip md-direction="top">
            Start Pipeline
        </md-tooltip>
    </md-button>
    <md-button flex="10" ng-click="stopPipeline(pipeline._id)" class="md-icon-button"
               ng-disabled="stopping" ng-if="pipeline.running">
        <md-icon md-svg-icon="av:ic_stop_24px" aria-label="Stop" class="md-accent"></md-icon>
        <md-tooltip md-direction="top">
            Stop Pipeline
        </md-tooltip>
    </md-button>
    <div class="md-list-item-text" flex="35" layout="column">
        <h4 style="margin-bottom:0px;">{{pipeline.name}}</h4>
        <h5>{{pipeline.description != '' ? pipeline.description : '-'}}</h5>
    </div>
    <div class="md-list-item-text" flex="20" layout="column">
        <h5>{{pipeline.createdAt | date:'dd.MM.yyyy HH:mm'}}</h5>
    </div>
    <div flex layout="row">
        <span flex flex-order="1" layout="row" layout-align="center center">
            <md-button ng-click="showPipelineDetails(pipeline._id)" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_search_24px" aria-label="Inspect"
                    class="md-accent"></md-icon>
            <md-tooltip md-direction="top">
                Show Pipeline
            </md-tooltip>
            </md-button>
        </span>
        <span flex flex-order="2" layout="row" layout-align="center center">
            <md-button ng-click="modifyPipeline(pipeline._id)" class="md-icon-button">
                <md-icon
                    md-svg-icon="editor:ic_mode_edit_24px" aria-label="Modify"
                    class="md-accent">
                </md-icon>
                <md-tooltip md-direction="top">
                Modify Pipeline
            </md-tooltip>
            </md-button>
        </span>
        <span flex flex-order="3" layout="row" layout-align="center center">
            <md-button ng-click="getPipelineStatus(pipeline)" class="md-icon-button">
                <i
                    class="material-icons md-accent"
                    style="color: rgb(255,64,129);">help</i>
                <md-tooltip md-direction="top">
                Details
            </md-tooltip>
            </md-button>
        </span>
        <span flex flex-order="4" layout="row" layout-align="center center">
            <md-button ng-click="deletePipeline($event, pipeline._id)" class="md-icon-button"><md-icon
                    md-svg-icon="action:ic_delete_24px"
                    aria-label="Delete"></md-icon>
                <md-tooltip md-direction="top">
                Delete Pipeline
            </md-tooltip>
            </md-button>
        </span>
    </div>


</md-list-item>
<md-divider ng-if="!$last"></md-divider>
<div layout="column" ng-show="pipeline.displayStatus"
     style="min-height:100px; background-color: #f6f6f6; padding:5px;padding-left:15px;">

    <div flex="100" layout="column" ng-repeat="status in pipelineStatus[pipeline._id]">
        <div flex="100" layout="row">
            <div flex="20"><h4>{{status.timestamp | date:'dd.MM.yyyy HH:mm'}}</h4></div>
            <div flex="20"><h4>{{status.messageType}}</h4></div>
            <div flex="60"><h4>{{status.message}}</h4></div>
        </div>
    </div>

</div>
<div layout="row" ng-show="pipeline.display"
     style="min-height:200px; background-color: #f6f6f6">
							<span flex flex-order="1" layout="column" layout-align="center start">
								<span class="stream pipeline-display-element md-whiteframe-z2 tt"
                                      ng-repeat="stream in pipeline.streams" my-stream-data-and-image-bind>
								</span>
							</span>
							<span flex flex-order="2" layout="row" layout-align="start center">
								<span class="sepa pipeline-display-element md-whiteframe-z2 tt"
                                      my-sepa-data-and-image-bind ng-repeat="sepa in pipeline.sepas">
								</span>
							</span>
							<span flex flex-order="3" layout="row" layout-align="start center">
								<span class="action pipeline-display-element md-whiteframe-z2 tt"
                                      my-action-data-and-image-bind ng-repeat="action in pipeline.actions">
								</span>
							</span>

</div>