<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div flex="100" layout="row" layout-align="start center" style="margin-bottom:20px;">
    <sp-button sp-button-blue sp-button-small-padding ng-click="ctrl.applyDefaultSchema()" ng-disabled="ctrl.restrictedEditMode">Use input schema
    </sp-button>&nbsp;&nbsp;
</div>

<div flex="100" layout="row" ng-repeat="ep in ctrl.outputStrategy.properties.eventProperties track by $index">
    <div layout="column" flex="30">
        <md-input-container flex="100">
            <label>Runtime name</label>
            <input ng-model="ep.properties.runtimeName" ng-disabled="ctrl.restrictedEditMode">
        </md-input-container>
    </div>
    <div layout="column" flex="30">
        <md-input-container>
            <label>Runtime type</label>
            <md-select ng-model="ep.properties.runtimeType" ng-disabled="ctrl.restrictedEditMode">
                <md-option ng-repeat="primitive in ctrl.primitiveClasses" ng-value="primitive.id">
                    {{primitive.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="column" flex="30">
        <md-input-container flex="100">
            <label>Semantic type</label>
            <input ng-model="ep.properties.domainProperties[0]" ng-disabled="ctrl.restrictedEditMode">
        </md-input-container>
    </div>
    <div layout="column" flex="10">
        <md-button class="md-icon-button" ng-click="ctrl.removeProperty(ep)" ng-disabled="ctrl.restrictedEditMode">
            <i class="material-icons">delete</i>
        </md-button>
    </div>
</div>
<md-button ng-click="ctrl.addProperty()" ng-disabled="ctrl.restrictedEditMode">
    Add Field
</md-button>
