.adapter-description {
  padding: 15px;
}
.data-marketplace-container {
  padding-bottom: 10px;
}

.marketplace-container {
  width:100%;
  padding: 20px;
}

.page-container-connect {
  min-height: calc(100vh - 70px);
}