.adapter-description {
  padding: 15px;
}
.data-marketplace-container {
  padding-bottom: 10px;
}

.marketplace-container {
  width:100%;
  padding: 20px;
}

.page-container-connect {
  min-height: calc(100vh - 70px);
}


.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  right: 5px; top: 5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #f5b53f;
  background: linear-gradient(#f5b53f 0%, #f5b53f 100%);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #f5b53f;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #f5b53f;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #f5b53f;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #f5b53f;
}

#categoryFilter {
  margin-top: 20px;
}

.fixed-height {
  height: 50px;
}

.form-style {
  margin: 0px 5px 0px 0px;
}

.icon-style {
  margin: 15px 4px 0px 0px;
  color:rgb(27, 20, 100);
}