<div fxLayout="column" fxFlex="100" class="page-container page-container-padding">
    <div fxFlex="100" fxLayout="row" style="padding:0px;background-color:#f6f6f6;">
        <div fxLayout="fill" style="line-height:24px;border-bottom:1px solid #ccc">
            <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
                <mat-tab label="Data Marketplace">
                </mat-tab>
                <mat-tab label="All Adapters">
                </mat-tab>
            </mat-tab-group>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center"
             style="padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
            <button mat-icon-button id="startAdapterTutorial1"(click)="startAdapterTutorial()" matTooltip="Tutorial">
                <i class="material-icons">
                    school
                </i> 1
            </button>
            <button mat-icon-button id="startAdapterTutorial2"(click)="startAdapterTutorial2()" matTooltip="Tutorial">
                <i class="material-icons">
                    school
                </i> 2
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div *ngIf="selectedIndex === 0">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="adapter-description-container">
                <sp-adapter-description  attr.id="{{adapterDescription.label.replace(' ', '_')}}" class="adapter-description" fxFlex="33"
                                        (click)="selectAdapter(adapterDescription)"
                                        *ngFor="let adapterDescription of adapterDescriptions"
                                        [adapter]="adapterDescription"></sp-adapter-description>
            </div>
        </div>
        <div *ngIf="selectedIndex === 1">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="adapter-container">
                <sp-adapter-description class="adapter-description" fxFlex="33" *ngFor="let adapter of adapters"
                                        [adapter]="adapter"
                                        (deleteAdapterEmitter)="deleteAdapter($event)"></sp-adapter-description>
            </div>
        </div>
    </div>
</div>