<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div ng-if="ctrl.staticProperty.input.properties.members[0].input.type == 'TextInput'">
	<div ng-repeat = "(index, property) in ctrl.staticProperty.input.properties.members">
		<div layout="row">
			<div flex="60">
				<md-input-container flex> <label>{{property.input.properties.description}}</label>
					<input name="{{property.input.properties.elementId}}" ng-model="property.input.properties.value"/> 
				</md-input-container>
			</div>
			<div flex="20">
				<md-button ng-click="ctrl.addTextInputRow(ctrl.staticProperty.input.properties.members)">Add Value</md-button>
			</div>
			<div flex="20">
				<md-button ng-show="index > 0" ng-click="ctrl.removeTextInputRow(ctrl.staticProperty.input.properties.members, property)">Remove</md-button>
			</div>
		</div>
	</div>
</div>
<div ng-if="ctrl.staticProperty.input.properties.members[0].input.type == 'DomainConceptInput'">
	<div ng-repeat = "(index, property) in ctrl.staticProperty.input.properties.members">
		<div layout="column">
			<div flex="60">
				<domain-concept-input static-property="property" auto-complete-static-property="ctrl.staticProperty.input.properties.members[0]"></domain-concept-input>
			</div>
			<div flex="20">
				<md-button ng-click="ctrl.addDomainConceptRow(ctrl.staticProperty.input.properties.members[0], ctrl.staticProperty.input.properties.members)">Add Value</md-button>
			</div>
			<div flex="20">
				<md-button ng-show="index > 0" ng-click="ctrl.removeDomainConceptRow(ctrl.staticProperty.input.properties.members, property)">Remove</md-button>
			</div>
		</div>
	</div>
</div>