<config-item flex="100" layout="row" element-title="Select columns">
    <div flex="100" layout="row">
        <sp-button sp-button-blue sp-button-small-padding id="select-all-button" ng-click="ctrl.selectAll()">Select all</sp-button>&nbsp;&nbsp;
        <sp-button sp-button-gray sp-button-small-padding ng-click="ctrl.deselectAll()">Select none</sp-button>
    </div>
    <p/>
    <div flex="100" layout="column">
    <md-checkbox ng-model="prop.isSelected" ng-repeat="prop in ctrl.wid.schema.eventProperties"
                 aria-label="{{prop.properties.runtimeName}}">
        {{prop.properties.runtimeName}}
    </md-checkbox>
    </div>
</config-item>