<md-dialog aria-label="Create {{ctrl.elementType}}" flex="80">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create {{ctrl.elementType}} </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex="100" class="md-dialog-content">
            <div ng-show="ctrl.conceptId != undefined"><h4>Create an instance of class {{ctrl.conceptId}}</h4></div>
            <div layout="column">
                <md-select ng-model="ctrl.elementData.namespace" placeholder="Select Namespace">
                    <md-option ng-repeat="ns in ctrl.namespaces" value="{{ns.namespaceId}}">
                        <b>{{ns.prefix}}</b><br/>
                        {{ns.namespaceId}}
                    </md-option>
                </md-select>

                <md-input-container><label>{{ctrl.elementType}} Name</label> <input
                        type="text" ng-model="elementData.elementName">
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <sp-button sp-button-gray ng-click="ctrl.hide()">
                Close
            </sp-button>
            <sp-button sp-button-blue ng-click="ctrl.add()">
                Add
            </sp-button>
        </div>
    </form>
</md-dialog>