<md-dialog aria-label="Manage Vocabularies" flex="80">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Manage Vocabularies</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <form>
            <div>
                <h4>Available Vocabularies</h4>
                <div ng-repeat="context in ctrl.contexts">
                    <md-list-item layout="row" class="md-with-secondary">
                        <div class="md-list-item-text" flex="80" layout="column">
                            {{context}}
                        </div>
                        <div class="md-list-item-text" flex="20" layout="column">
                            <md-button ng-click="ctrl.deleteContext(context)" class="md-icon-button">
                                <md-icon md-svg-icon="action:ic_delete_24px" aria-label="Delete"></md-icon>
                            </md-button>
                        </div>
                    </md-list-item>
                    <p/>
                </div>
                <div ng-if="ctrl.contexts.length === 0">
                    <i>(no vocabularies present)</i>
                </div>
                <div ng-show="ctrl.addSelected">
                    <md-divider></md-divider>
                    <h4>Add Vocabulary</h4>
                    <form name="form">
                        <md-input-container>
                            <label>Context Identifier</label>
                            <input type="text" ng-model="ctrl.newContext.contextId">
                        </md-input-container>
                        <md-input-container>
                            <label>Base Uri</label>
                            <input type="text" ng-model="ctrl.newContext.baseUri">
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="ctrl.newContext.rdfFormat" placeholder="Format">
                                <md-option ng-repeat="format in ctrl.availableFormats" value="{{format}}">
                                    <b>{{format}}</b><br/>
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <input type="file" ngf-select ng-model="ctrl.rdfFile" name="file" ngf-max-size="2MB"
                                   class="md-button">
                        </md-input-container>
                        <div class="form-actions">
                            <md-button ng-click="ctrl.submit(rdfFile)" class="md-accent">Upload Vocabulary</md-button>
                        </div>
                    </form>
                </div>
                <div style="margin-top:10px;">
                    <sp-button sp-button-blue ng-click="ctrl.showAddInput()" ng-show="!ctrl.addSelected">Add
                        Vocabulary
                    </sp-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <sp-button sp-button-gray ng-click="ctrl.hide()">
            Close
        </sp-button>
    </md-dialog-actions>
</md-dialog>