<md-list style="padding-top:0px;">
    <md-list-item class="md-1-line" style="background:{{appCtrl.isActivePage(item.link) ? 'white' : '#0A3F54'}};"
                  ng-repeat="item in appCtrl.menu" role="link" style="min-width:0px;padding:0px;">
        <md-button class="md-icon-button button-margin-iconbar" ng-click="appCtrl.go(item.link)">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"
                     style="color:{{appCtrl.isActivePage(item.link) ? '#0A3F54' : 'white'}};"></md-icon>
            <md-tooltip md-direction="right">
                {{item.title}}
            </md-tooltip>
        </md-button>
    </md-list-item>
    <md-list-item class="md-1-line" role="link"
                  style="background:{{appCtrl.isActivePage('streampipes.notifications') ? 'white' : '#0A3F54'}};">
        <notification-icon count='notificationCount'>
            <md-button class="md-icon-button button-margin-iconbar" ng-click="appCtrl.go('streampipes.notifications')">
                <md-icon md-svg-icon="communication:ic_chat_24px" aria-label="Notifications"
                         style="color:{{isActivePage('streampipes.notifications') ? '#0A3F54' : 'white'}};"></md-icon>
                <md-tooltip md-direction="right">
                    Notifications
                </md-tooltip>
            </md-button>
        </notification-icon>
    </md-list-item>
    <md-divider style="border-top-color:white;"></md-divider>
    <md-list-item class="md-1-line" style="background:{{appCtrl.isActivePage(item.link) ? 'white' : '#0A3F54'}};"
                  ng-repeat="item in appCtrl.admin" role="link">
        <md-button class="md-icon-button button-margin-iconbar" ng-click="appCtrl.go(item.link)">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"
                     style="color:{{isActivePage(item.link) ? '#0A3F54' : 'white'}};"></md-icon>
            <md-tooltip md-direction="right">
                {{item.title}}
            </md-tooltip>
        </md-button>
        <md-divider ng-if="item.link=='streampipes.applinks'" style="border-top-color:white;"></md-divider>

    </md-list-item>
</md-list>