<div class="md-padding logo-production" layout-xs="column" layout="row" layout-align="center center"
     style="min-height:100vh !important;" ng-controller="SetupCtrl as ctrl">
    <div flex="60" layout-align="center center">
        <!--<div layout="column" flex="60" layout-align="center center" style="position:relative;top:-25px;margin-left:auto;margin-right:auto;">-->
        <!--<div flex="60" layout-align="center center" layout="row"-->
        <!--style="padding:20px;color:white;" class="sp-darkblue"><img-->
        <!--alt="icon" src="assets/img/login/logo.png">-->
        <!--</div>-->
        <!--</div>-->
        <md-card class="card-100-center" style="padding:20px;overflow-y:auto;height:80vh;">
            <div layout="column" flex="60" layout-align="center center" style="margin-left:auto;margin-right:auto;margin-bottom:20px;">
                <div flex="60" layout-align="center center" layout="row"
                     style="color:white;"><img
                        style="margin-top:40px;width:400px;" alt="icon" src="assets/img/login/logo.png">
                </div>
            </div>
            <form name="ctrl.setupForm" role="form">
                <md-card-title>
                    <div flex="100" layout="column">

                        <h1>Welcome!</h1>
                        <h4>The setup of the system might take a minute. Create a user and you are ready to
                            go!</h4>
                    </div>
                </md-card-title>
                <div ng-show="!ctrl.installationRunning">


                    <h3>Initial User</h3>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Email</label>
                            <input name="email" type="email" ng-model="ctrl.setup.adminEmail" required>
                            <span ng-show="ctrl.setupForm.email.$touched && ctrl.setupForm.email.$error.required">The email field can't be blank.</span>
                            <span ng-show="ctrl.setupForm.email.$error.email">This is not a valid email.</span>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Password</label>
                            <input name="password" type="password" ng-model="ctrl.setup.adminPassword" required>
                            <span ng-show="ctrl.setupForm.password.$touched && ctrl.setupForm.password.$error.required">The password field can't be blank.</span>
                        </md-input-container>
                    </div>
                    <md-checkbox ng-model="ctrl.setup.installPipelineElements" aria-label="Install pipeline elements">
                        Also install available data streams, processors and sinks.
                    </md-checkbox>

                </div>
                <md-divider/>
                <div>
                    <div ng-show="ctrl.showAdvancedSettings && !ctrl.installationRunning">
                        <div flex layout="column">
                            <h3>Advanced Settings</h3>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>CouchDB Host</label>
                                    <input name="couchDbHost" ng-model="ctrl.setup.couchDbHost">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Sesame Host</label>
                                    <input name="sesameHost" ng-model="ctrl.setup.sesameHost">
                                </md-input-container>

                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Kafka Host</label>
                                    <input name="kafkaHost" ng-model="ctrl.setup.kafkaHost">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Zookeeper Host</label>
                                    <input name="zookeeperHost" ng-model="ctrl.setup.zookeeperHost">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>JMS Host</label>
                                    <input name="jmsHost" ng-model="ctrl.setup.jmsHost">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ctrl.installationRunning">
                        <h3>Installation Results</h3>
                        <div ng-repeat="msg in ctrl.installationResults">
                            <div flex layout layout-sm="row" style="width:80%" class="center center">
                                <div flex="80" style="width:50%"><h4>{{msg.properties.notifications[0].title}}</h4></div>
                                <div flex="20" style="width:50%">
                                    <md-icon md-svg-icon="action:ic_done_24px" aria-label="Action"
                                             class="md-accent" style="width: 36px; height: 36px"
                                             ng-show="msg.properties.success"></md-icon>
                                    <md-icon md-svg-icon="alert:ic_error_24px" aria-label="Action"
                                             class="md-accent" style="width: 36px; height: 36px"
                                             ng-show="!(msg.properties.success)"></md-icon>
                                </div>
                            </div>
                        </div>
                        <div flex layout layout-sm="row" style="width:80%" class="center center" ng-if="ctrl.nextTaskTitle != ''">
                            <div flex="80" style="width:50%"><h4>{{ctrl.nextTaskTitle}}</h4></div>
                            <div flex="20" style="width:50%">
                        <md-progress-circular class="md-accent" md-mode="indeterminate"
                                              ng-show="ctrl.loading"></md-progress-circular>
                            </div>
                        </div>
                        <div ng-show="ctrl.installationFinished">
                            <h3><a ui-sref="login" class="md-accent">
                                <md-icon md-svg-icon="navigation:ic_arrow_forward_24px" aria-label="Action"
                                         class="md-accent" style="width: 36px; height: 36px"></md-icon>
                                Go to login page</a></h3>
                        </div>
                    </div>

                    <md-card-actions layout="row" layout-align="center" ng-show="!ctrl.installationRunning">
                        <div flex layout="column">

                            <div layout layout-sm="column">
                                <sp-button sp-button-gray ng-show="!ctrl.showAdvancedSettings"
                                           ng-click="ctrl.showAdvancedSettings = !ctrl.showAdvancedSettings"
                                           ng-disabled="ctrl.installationFinished">Show Advanced Settings
                                </sp-button>
                                <sp-button sp-button-gray ng-show="ctrl.showAdvancedSettings"
                                           ng-click="ctrl.showAdvancedSettings = !ctrl.showAdvancedSettings"
                                           ng-disabled="ctrl.installationFinished">Hide Advanced Settings
                                </sp-button>
                                <sp-button sp-button-blue type="submit"
                                           ng-disabled="!(ctrl.setupForm.$valid) || ctrl.loading || ctrl.installationFinished"
                                           ng-click="ctrl.configure(0)">Install
                                </sp-button>
                            </div>

                        </div>
                    </md-card-actions>

                </div>
            </form>
        </md-card>
    </div>
</div>

