<div class="md-padding logo-production" layout-xs="column" layout="row" layout-align="center center"
     style="min-height:100vh !important;" ng-controller="SetupCtrl as ctrl">
    <div flex="60" layout-align="center center">
        <div layout="column" flex="60" layout-align="center center" style="position:relative;top:-25px;margin-left:auto;margin-right:auto;">
            <div flex="60" layout-align="center center" layout="row"
                 style="padding:20px;color:white;" class="sp-darkblue"><img
                    alt="icon" src="assets/img/login/logo.png">
            </div>
        </div>
        <md-card class="card-100-center" style="padding:20px;position:relative;top:-25px;">
            <form name="setupForm" role="form">
                <md-card-title>
                    <div flex="100" layout="column">

                        <h1>StreamPipes Setup</h1>

                        <h4><b>Welcome!</b><br/>From here, the installation takes just a few seconds.</h4>
                    </div>
                </md-card-title>
                <div ng-show="!ctrl.installationFinished">


                    <h3>Initial User</h3>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="ctrl.setup.adminEmail">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" ng-model="ctrl.setup.adminPassword">
                        </md-input-container>
                    </div>


                </div>
                <md-divider/>
                <div>
                    <div ng-show="ctrl.showAdvancedSettings">
                        <div flex layout="column">
                            <h3>Advanced Settings</h3>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>CouchDB Host</label>
                                    <input ng-model="ctrl.setup.couchDbHost">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Sesame Host</label>
                                    <input ng-model="ctrl.setup.sesameHost">
                                </md-input-container>

                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Kafka Host</label>
                                    <input ng-model="ctrl.setup.kafkaHost">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Zookeeper Host</label>
                                    <input ng-model="ctrl.setup.zookeeperHost">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>JMS Host</label>
                                    <input ng-model="ctrl.setup.jmsHost">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ctrl.installationFinished">
                        <h3>Installation Results</h3>
                        <div ng-repeat="msg in ctrl.installationResults">
                            <div flex layout layout-sm="row" style="width:80%" class="center center">
                                <div style="width:50%"><h4>{{msg.notifications[0].title}}</h4></div>
                                <div style="width:50%">
                                    <md-icon md-svg-icon="action:ic_done_24px" aria-label="Action"
                                             class="md-accent" style="width: 36px; height: 36px"
                                             ng-show="msg.success"></md-icon>
                                    <md-icon md-svg-icon="alert:ic_error_24px" aria-label="Action"
                                             class="md-accent" style="width: 36px; height: 36px"
                                             ng-show="!(msg.success)"></md-icon>
                                </div>
                            </div>
                        </div>
                        <p/>
                        <h3><a ui-sref="login" class="md-accent">
                            <md-icon md-svg-icon="navigation:ic_arrow_forward_24px" aria-label="Action"
                                     class="md-accent" style="width: 36px; height: 36px"></md-icon>
                            Go to login page</a></h3>
                    </div>

                    <md-card-actions layout="row" layout-align="center">
                        <div flex layout="column">

                            <div layout layout-sm="column">
                                <md-button ng-show="!ctrl.showAdvancedSettings"
                                           ng-click="ctrl.showAdvancedSettings = !ctrl.showAdvancedSettings"
                                           ng-disabled="ctrl.installationFinished"
                                           class="md-raised">Show Advanced Settings
                                </md-button>
                                <md-button ng-show="ctrl.showAdvancedSettings"
                                           ng-click="ctrl.showAdvancedSettings = !ctrl.showAdvancedSettings"
                                           ng-disabled="ctrl.installationFinished"
                                           class="md-raised">Hide Advanced Settings
                                </md-button>
                                <md-button class="md-accent md-raised" type="submit"
                                           ng-disabled="ctrl.setupForm.$pristine || ctrl.setupForm.$invalid || ctrl.loading || ctrl.installationFinished"
                                           ng-click="ctrl.configure()">Install
                                </md-button>
                                <md-progress-circular class="md-accent" md-mode="indeterminate"
                                                      ng-show="ctrl.loading"></md-progress-circular>

                            </div>
                        </div>
                    </md-card-actions>

                </div>
            </form>
        </md-card>
    </div>
</div>

