<md-dialog aria-label="Pipeline Status" flex="70">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Pipeline Status</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <div>
                <h4>
                    <md-icon md-svg-icon="action:ic_done_24px" aria-label="Action" class="md-accent"
                             ng-show="ctrl.data.success"></md-icon>
                    <md-icon md-svg-icon="alert:ic_warning_24px" aria-label="Action" class="md-accent"
                             ng-show="!ctrl.data.success"></md-icon>
                    {{ctrl.data.title}}
                </h4>
                <md-button ng-click="ctrl.toggleStatusDetailsVisible()" type="button" class="md-accent">
                    <div ng-if="!ctrl.statusDetailsVisible">Show Details</div>
                    <div ng-if="ctrl.statusDetailsVisible">Hide Details</div>
                </md-button>

                <div ng-if="ctrl.statusDetailsVisible" ng-repeat="msg in ctrl.data.elementStatus">
                    <div flex="100" class="md-whiteframe-z2">
                        <div flex layout="column" class="md-padding">
                            <div>
                                <b>{{msg.elementName}} </b> at URL <b> {{msg.elementId}}</b>
                                <md-icon md-svg-icon="action:ic_done_24px" aria-label="Action" class="md-accent"
                                         ng-show="msg.success"></md-icon>
                                <md-icon md-svg-icon="alert:ic_warning_24px" aria-label="Action" class="md-accent"
                                         ng-show="!msg.success"></md-icon>
                            </div>
                            <div>
                                <div flex layout="column" ng-show="msg.optionalMessage">
                                    <b>More Details:</b>
                                    <div class="md-padding">
                                        <pre nag-prism source="{{msg.optionalMessage}}"
                                             style="margin-top:0px;border-radius:0px;"></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <sp-button sp-button-gray ng-click="ctrl.hide()">
                Close
            </sp-button>
        </md-dialog-actions>
    </form>
</md-dialog>