/*
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements.  See the NOTICE file distributed with
 *   this work for additional information regarding copyright ownership.
 *   The ASF licenses this file to You under the Apache License, Version 2.0
 *   (the "License"); you may not use this file except in compliance with
 *   the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

.h-100 {
    height: 100%;
}

.tl-container {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.light {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.light-red {
    background-color: red;
    box-shadow: 0 0 20px 5px red;
}

.light-yellow {
    background-color: yellow;
    box-shadow: 0 0 20px 5px yellow;
}

.light-green {
    background-color: green;
    box-shadow: 0 0 20px 5px green;
}

.title-panel {
    font-size: 20px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
