<div flex layout-fill>
    <div flex="100" layout="row" style="padding:0px;background-color:#f6f6f6">
        <div flex="none" layout-wrap layout="row" layout-align="start center"
             style="padding-left:10px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc">
            <h5>PIPELINE ELEMENT GENERATION </h5>
        </div>
        <div layout-fill>
            <md-tabs md-border-bottom>
                <md-tab label="Data Sources" md-on-select="setSelectedTab('SOURCES')"></md-tab>
                <md-tab label="Processing Elements" md-on-select="setSelectedTab('EPAS')"></md-tab>
                <md-tab label="Data Sinks" md-on-select="setSelectedTab('SINKS')"></md-tab>
            </md-tabs>
        </div>
    </div>

    <div layout="column" flex="100" ng-if="selectedTab === 'SOURCES'">
        <ng-include src="'app/sensors/templates/sep-menu-bar.html'"></ng-include>
        <div flex="100" layout="row" layout-align="center center" class="md-padding">
            <div flex="100" layout="column" ng-if="sourceSelected">
                <div flex="none" layout-wrap layout="row">
                    <h4 class="md-display-1">{{selectedSource.name == '' ? 'Unnamed Element' :
                        selectedSource.name}}</h4>
                </div>

                <ng-include src="'app/sensors/templates/sep.html'"></ng-include>
                <md-divider></md-divider>

            </div>
        </div>
    </div>


    <div layout="column" flex="100" ng-if="selectedTab === 'EPAS'">
        <ng-include src="'app/sensors/templates/sepa-menu-bar.html'"></ng-include>
        <div flex="100" layout="row" layout-align="center center" class="md-padding">
            <div flex="100" layout="column" ng-if="sepaSelected">
                <div flex="none" layout-wrap layout="row">
                    <h4 class="md-display-1">{{selectedSepa.name == '' ? 'Unnamed Element' :
                        selectedSepa.name}}</h4>
                </div>

                <ng-include src="'app/sensors/templates/sepa.html'"></ng-include>
                <md-divider></md-divider>

            </div>
        </div>
    </div>


    <div layout="column" flex="100" ng-if="selectedTab === 'SINKS'">
        <ng-include src="'app/sensors/templates/sec-menu-bar.html'"></ng-include>
        <div flex="100" layout="row" layout-align="center center" class="md-padding">
            <div flex="100" layout="column" ng-if="actionSelected">
                <div flex="none" layout-wrap layout="row">
                    <h4 class="md-display-1">{{selectedAction.name == '' ? 'Unnamed Element' :
                        selectedAction.name}}</h4>
                </div>
                <md-content class="md-padding">
                    <ng-include src="'app/sensors/templates/sec.html'"></ng-include>
                    <md-divider></md-divider>
                </md-content>
            </div>
        </div>
    </div>
</div>

