com.clarkparsia.empire.annotation.RdfsClass=de.fzi.cep.sepa.model.impl.graph.SEP, de.fzi.cep.sepa.model.impl.graph.SEPA, de.fzi.cep.sepa.model.impl.output.OutputStrategy, de.fzi.cep.sepa.model.impl.output.RenameOutputStrategy,de.fzi.cep.sepa.model.impl.StaticProperty, de.fzi.cep.sepa.model.impl.OneOfStaticProperty, de.fzi.cep.sepa.model.impl.AnyStaticProperty, de.fzi.cep.sepa.model.impl.FreeTextStaticProperty, de.fzi.cep.sepa.model.impl.Option
javax.persistence.NamedQuery=
