com.clarkparsia.empire.annotation.RdfsClass=de.fzi.cep.sepa.model.impl.graph.SEC, de.fzi.cep.sepa.model.impl.graph.SEPAInvocationGraph, de.fzi.cep.sepa.model.impl.output.FixedOutputStrategy, de.fzi.cep.sepa.model.impl.output.AppendOutputStrategy, de.fzi.cep.sepa.model.impl.EventStream, de.fzi.cep.sepa.model.impl.EventGrounding, de.fzi.cep.sepa.model.impl.graph.SEP, de.fzi.cep.sepa.model.impl.graph.SEPA, de.fzi.cep.sepa.model.impl.output.OutputStrategy, de.fzi.cep.sepa.model.impl.output.RenameOutputStrategy,de.fzi.cep.sepa.model.impl.StaticProperty, de.fzi.cep.sepa.model.impl.OneOfStaticProperty, de.fzi.cep.sepa.model.impl.AnyStaticProperty, de.fzi.cep.sepa.model.impl.FreeTextStaticProperty, de.fzi.cep.sepa.model.impl.Option, de.fzi.cep.sepa.model.impl.MappingProperty
javax.persistence.NamedQuery=
