/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@import '../../../../scss/sp/sp-dialog.scss';

.element-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-radio-button {
    padding: 10px;
}

.pipeline-avatar {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.list-item:hover {
    background: var(--color-bg-1);
    cursor: pointer;
}

.list-item {
    border-bottom: 1px solid #bdbdbd;
}

.mr-10 {
    margin-right: 10px;
}

.mdc-list-item--with-leading-avatar .mat-mdc-list-item-avatar {
    border-radius: var(--mdc-list-list-item-leading-avatar-shape);
    background-color: var(--color-accent);
}
