
<div id="schema_reload_button" fxLayout="row wrap" fxLayoutAlign="end start" >
    <button color="primary" mat-button (click)=guessSchema()>
        <i class="material-icons">
           refresh
        </i>
        <!--<span style="font-weight: bold;" > Guess Schema </span>-->
    </button>
</div>

<div fxLayout="column"  *ngIf="isLoading">
    <div fxLayoutAlign="center" >
        <mat-spinner fxLayoutAlign="center" style="margin: 10px 0 5px 0" >Loading</mat-spinner>
    </div>
    <div fxLayoutAlign="center" >
        <h3>The system tries to guess the schema of the data</h3>
    </div>
</div>

<div fxLayout="column"  *ngIf="isError">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon style="margin-top: 10px" class="md-accent">warning</mat-icon>
        <span style="width: 10px;"></span>
        <h3>System error while guess the schema of the data</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" >
        <button mat-button class="md-accent">
            <div *ngIf="!showErrorMessage" (click)="showErrorMessage = true">Show Details</div>
            <div *ngIf="showErrorMessage" (click)="showErrorMessage = false">Hide Details</div>
        </button>
    </div>
    <div fxLayoutAlign="center center" *ngIf="showErrorMessage">
        <div class="error-message">
            {{errorMessage}}
        </div>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly stretched" >
    <app-event-property-bag [(eventProperties)]="eventSchema.eventProperties" [domainPropertyGuesses]="schemaGuess.eventProperties" [isEditable]="isEditable">
    </app-event-property-bag>
</div>


