ul {
  list-style-type: none;
}

.wrapper {
  display: table;
}
.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}
.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
.container div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.error-message {
  background-color: black;
  color: white;
  padding: 10px;
  width: 95%;
}
:host /deep/ .tree-node {
  color: #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #000;
  border-radius: 0;
  background: transparent;
  margin: 0;
}
:host /deep/ tree-node-expander {
  display: none;
}
:host /deep/ .node-content-wrapper {
  flex: 1;
}
:host /deep/ .node-content-wrapper:hover {
  background-color: darkgrey;
}
:host /deep/ .node-content-wrapper-active, .node-content-wrapper-focused {
  background: transparent;
}
:host /deep/ .node-drop-slot {
  position: relative;
  /*background: red;*/
  /* padding: 8px 0;*/
  height: 14px !important;
  margin: -7px 0;
  z-index: 1000;
}
:host /deep/ .node-drop-slot.is-dragging-over {
  background-color: green;
  border: none;
}
:host /deep/ .tree-node-expanded {
  border-left: 2px dashed black;
}
:host /deep/ tree-viewport {
  overflow: hidden;
}