# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: build-and-deploy-docker-dev

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - 'rel/**'
jobs:
  build-and-push-to-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'
          cache-dependency-path: ui/package-lock.json

      - name: Build with Maven
        run: mvn clean verify

      - name: Set env variables for Docker builds
        run: |
          echo "MVN_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
          echo "DOCKERHUB_APACHE_REPO=apachestreampipes" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-service-core
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/backend:${{ env.MVN_VERSION }}

      - name: Build and Push Docker Backend Nats Image
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-service-core-nats
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/backend-nats:${{ env.MVN_VERSION }}

      - name: Build UI
        working-directory: ./ui
        run: |
          npm install
          npm run build

      - name: Build and Push Docker UI Image
        uses: docker/build-push-action@v5
        with:
          context: ./ui
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/ui:${{ env.MVN_VERSION }}

      - name: Build and Push Docker Image connect-adapters
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-extensions/streampipes-connect-adapters
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/connect-adapters:${{ env.MVN_VERSION }}

      - name: Build and Push Docker Image connect-adapters-iiot
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-extensions/streampipes-connect-adapters-iiot
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/connect-adapters-iiot:${{ env.MVN_VERSION }}

      - name: Build and Push Docker Image extensions-all-jvm
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-extensions/streampipes-extensions-all-jvm
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/extensions-all-jvm:${{ env.MVN_VERSION }}

#      - name: Build and Push Docker Image pipeline-elements-experimental-flink
#        uses: docker/build-push-action@v5
#        with:
#          context: ./streampipes-extensions/streampipes-pipeline-elements-experimental-flink
#          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
#          push: true
#          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/pipeline-elements-experimental-flink:${{ env.MVN_VERSION }}

      - name: Build and Push Docker Image extensions-all-iiot
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-extensions/streampipes-extensions-all-iiot
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/extensions-all-iiot:${{ env.MVN_VERSION }}

      - name: Build and Push Docker Image pipeline-elements-all-jvm
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-extensions/streampipes-pipeline-elements-all-jvm
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/pipeline-elements-all-jvm:${{ env.MVN_VERSION }}

      - name: Build and Push Docker Image sources-watertank-simulator
        uses: docker/build-push-action@v5
        with:
          context: ./streampipes-extensions/streampipes-sources-watertank-simulator
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
          push: true
          tags: ${{ env.DOCKERHUB_APACHE_REPO }}/sources-watertank-simulator:${{ env.MVN_VERSION }}
