<div flex="100">
    <config-item flex="100" layout="row" element-title="Select value">
        <div flex="100" layout="column">
            <md-select ng-model="ctrl.wid.schema.selectedNumberProperty">
                <md-option ng-value="prop" ng-selected="index == 1"
                           ng-repeat="(index, prop) in ctrl.wid.schema.eventProperties | numberFilter">{{
                    prop.properties.runtimeName }}
                </md-option>
            </md-select>
        </div>
    </config-item>

    <config-item flex="100" layout="row" element-title="Vertical bar settings">
        <div flex="100" layout="column">
            <div layout="row" flex="100" layout-align="center center">
                <div flex="50">
                    <md-input-container>
                        <label>Minimum</label>
                        <input ng-model="ctrl.wid.config.min">
                    </md-input-container>
                </div>
                <div flex="50">
                    <md-input-container>
                        <label>Maximum</label>
                        <input ng-model="ctrl.wid.config.max">
                    </md-input-container>
                </div>
            </div>
        </div>
    </config-item>
</div>