<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div flex="100">
    <config-item flex="100" layout="row" element-title="Select value">
        <div flex="100" layout="column">
            <md-select ng-model="ctrl.wid.schema.selectedNumberProperty">
                <md-option ng-value="prop" ng-selected="index == 1"
                           ng-repeat="(index, prop) in ctrl.wid.schema.eventProperties | numberFilter">{{
                    prop.properties.runtimeName }}
                </md-option>
            </md-select>
        </div>
    </config-item>

    <config-item flex="100" layout="row" element-title="Vertical bar settings">
        <div flex="100" layout="column">
            <div layout="row" flex="100" layout-align="center center">
                <div flex="50">
                    <md-input-container>
                        <label>Minimum</label>
                        <input ng-model="ctrl.wid.config.min">
                    </md-input-container>
                </div>
                <div flex="50">
                    <md-input-container>
                        <label>Maximum</label>
                        <input ng-model="ctrl.wid.config.max">
                    </md-input-container>
                </div>
            </div>
        </div>
    </config-item>
</div>