<md-dialog aria-label="Pipeline Status" >
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add a new Widget</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<div style="width:800px;height:810px;">
			<!-- Select element to visualize -->
			<md-dialog-content ng-show="page == 'select-viz'">
				<md-input-container>
					<md-select-header>
						<span> Select Datastream</span>
					</md-select-header>
					<md-select ng-model="selectedVis">
						<md-option ng-value="opt.doc" ng-repeat="opt in possibleVisualizations">{{ opt.doc.name }}</md-option>
					</md-select>
				</md-input-container>
			</md-dialog-content>

			<!-- Select Type -->
			<md-dialog-content ng-show="page == 'select-type'">
				<md-input-container>
					<md-select-header>
						<span> Select Visualisation Type</span>
					</md-select-header>
					<md-select ng-model="selectedType">
						<md-option ng-value="opt" ng-repeat="opt in possibleVisTypes">{{ opt }}</md-option>
					</md-select>
				</md-input-container>
			</md-dialog-content>

			<!-- Select Scheme -->
			<md-dialog-content ng-show="page == 'select-scheme'">
				<md-input-container>
					<h3>Select Columns</h3>
					<md-checkbox ng-model="prop.isSelected" ng-repeat="prop in selectedVis.schema.eventProperties" aria-label="{{prop.properties.runtimeName}}">
						  {{prop.properties.runtimeName}}
						</md-checkbox>
				</md-input-container>
			</md-dialog-content>
		</div>

		<div class="md-actions" layout="row">
			<md-button ng-click="cancel()" style="margin-right:20px;" >
				Close
			</md-button>
			<md-button ng-click="next()" class="md-raised md-accent" style="margin-right:20px;" >
				Next	
			</md-button>
		</div>
	</form>
</md-dialog>
