<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<sp-basic-view [hideNavbar]="true" [padding]="true">
    @if (adapterNotFound) {
        <sp-page-header
            [variant]="'workspace'"
            [title]="'Adapter' | translate"
            icon="power"
            iconColor="var(--color-adapter)"
        ></sp-page-header>
        <div class="adapter-details-layout__message" role="status">
            {{ 'The desired adapter was not found!' | translate }}
        </div>
    } @else if (adapter) {
        <sp-page-header
            [variant]="'workspace'"
            [title]="adapter.name"
            [description]="adapter.description"
            icon="power"
            iconColor="var(--color-adapter)"
        >
            <div pageActions class="adapter-details-layout__actions">
                <div class="adapter-details-layout__meta" role="status">
                    <sp-label
                        [labelText]="
                            (adapter.running
                                ? 'Adapter running'
                                : 'Adapter stopped'
                            ) | translate
                        "
                        [tone]="adapter.running ? 'success' : 'neutral'"
                        size="small"
                    ></sp-label>
                    <sp-element-id [value]="adapter.elementId"></sp-element-id>
                </div>
                <ng-content select="[pageActions]"></ng-content>
            </div>
        </sp-page-header>

        <sp-page-nav-tabs
            [spNavigationItems]="tabs"
            [activeLink]="activeLink"
            ariaLabel="Details"
        ></sp-page-nav-tabs>

        <div class="adapter-details-layout__content">
            <ng-content></ng-content>
        </div>
    } @else {
        <div
            class="adapter-details-layout__loading"
            role="status"
            aria-live="polite"
        >
            <sp-spinner [text]="'Loading' | translate"></sp-spinner>
        </div>
    }
</sp-basic-view>
